[2022-04-15 07:43] tagliala commented on #5449
Hi @mateusleon

Yes, sorry. Sometimes I can miss duplicates because of poor search or synonyms I do not think about (broken vs corrupted, in this case)

The newer request has more upvotes, so in these cases it is preferable to go for the request with more upvotes

[2022-04-15 07:43] #5449 closed

[2022-04-15 07:44] #13482 closed

[2022-04-15 07:45] tagliala commented on #13003
I would prefer separate requests for this brand

Leaving this open as `HBO`

[2022-04-15 07:47] tagliala commented on #4373
Yes, let's move to the request with more upvotes

[2022-04-15 07:47] #4373 closed

[2022-04-15 07:48] #6141 closed

[2022-04-15 07:50] #15832 closed

[2022-04-15 07:51] #13062 closed

[2022-04-15 07:52] tagliala commented on #15472
Closing here

[2022-04-15 07:52] #15472 closed

[2022-04-15 07:53] #17545 closed

[2022-04-15 07:53] #18425 closed

[2022-04-15 07:58] tagliala commented on #17454
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application with FA Pro** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/2s78abqk/7/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fon

[2022-04-15 19:13] aethior commented on #9165
cc/ @tagliala

[2022-04-15 19:16] tagliala commented on #9165
Don't know what I should do. Rename to `tylertech`?

[2022-04-15 19:29] aethior commented on #3139
@tagliala `construction (category)` label for this request?

[2022-04-15 19:31] rdwnsjjd commented on #18903
I'm waiting...

[2022-04-15 19:32] aethior commented on #10332
@tagliala `household (category)` label for this request?

[2022-04-15 19:39] tagliala commented on #18903
Hi!

Thanks for being part of the Font Awesome Community and apologies for the late reply.

I think this is related to typescript and I can't help here. Also, there isn't a reproducible test case to play with

@robmadole @mlwilkerson, any thought ?

[2022-04-15 19:47] aethior commented on #16958
This icon is under discussion in #18831.
This request is older, but I think is better to solve the started discussion in the other issue.
The error was mine for not checking if the other request was a duplicate before to post.
Sorry.

cc/ @tagliala

[2022-04-15 19:51] robmadole commented on #18903
This looks like a documentation error. The correct version is what you figured out @rdwnsjjd 👍

[code]

We'll get the docs updated.

You said that it's not working. If you can provide a reproducible example we'll be happy to take a look.

[2022-04-15 19:52] rdwnsjjd commented on #18903
No I don't think that it related to ts because I had same problem in js, string types does not working for me nether in ts or js.

[2022-04-15 20:15] rdwnsjjd commented on #18903
Ok I will test it as soon as possible and give feedback

[2022-04-15 20:51] #17801 closed

[2022-04-15 21:27] robmadole commented on #18770
@NathanQ this is an expected behavior with aliases. We don't have an optimization for this yet.

Can you tell me how you are using the `library.definitions`? Are you storing that somewhere?

[2022-04-16 04:06] aethior commented on #8982
@tagliala `brand (category)` label for this request?

[2022-04-16 04:14] aethior commented on #12286
Hi @BTEK9,

- https://fontawesome.com/icons/gun
- https://fontawesome.com/icons/sword
- https://fontawesome.com/icons/swords
- https://fontawesome.com/icons/dagger
- https://fontawesome.com/icons/mace
- https://fontawesome.com/icons/bow-arrow
- https://fontawesome.com/icons/sword-laser
- https://fontawesome.com/icons/swords-laser
- https://fontawesome.com/icons/person-rifle
- https://fontawesome.c

[2022-04-16 04:16] aethior commented on #11571
@tagliala `users & people (category)` label for this request?

[2022-04-16 04:25] aethior commented on #17454
@tagliala I think it's a good idea to include `greenhouse` in the request title to help future searches.

`Icon request: fa-house-seedling (greenhouse)`

[2022-04-16 06:18] tagliala commented on #12286
Pack requests should be moved to the Pro repository, but I do not have the privileges

Since some icons were implemented, I'm considering this request fulfilled

If you want to request another pack or an extension of this pack, please open an issue in the Font Awesome Pro repository at https://github.com/FortAwesome/Font-Awesome-Pro?

If you don't have access to the above repository, please make s

[2022-04-16 06:18] #12286 closed

[2022-04-16 06:20] tagliala commented on #11571
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/114/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.c

[2022-04-16 06:42] aethior commented on #5030
Hi @juergenlink,

Something like https://fontawesome.com/icons/microphone-stand?

Regards.

[2022-04-16 06:48] aethior commented on #11327
*Related Unicode Emoji* #222
[🛝 U+1F6DD](https://emojipedia.org/emoji/%F0%9F%9B%9D/) Playground Slide

[2022-04-16 06:50] aethior commented on #11463
@tagliala I think you can close here. :)

[2022-04-16 06:53] aethior commented on #12459
@tagliala `nature (category)` label for this request?

[2022-04-16 07:09] aethior commented on #16621
Hi @createitcarlos,

Something like https://fontawesome.com/icons/person-breastfeeding?

Regards.

[2022-04-16 07:41] aethior commented on #1171
@tagliala `household (category)` label for this request?

[2022-04-16 07:54] aethior commented on #16226
Hi @mkstix6,

This icon was updated in the last version.
Check https://fontawesome.com/icons/file-pdf

Regards.

cc/ @tagliala

[2022-04-16 08:07] aethior commented on #17803
Hi,

`fa-reply`: https://fontawesome.com/icons/reply (*the atached image in the first post*)
`fa-share`: https://fontawesome.com/icons/share

Regards.

[2022-04-16 08:22] aethior commented on #3666
Hi @benbro,

✔️ `fa-paragraph-left` (rtl) (https://fontawesome.com/icons/paragraph-left) icon was added in v5.9.0.
❌ `fa-paragraph-right` (ltr) icon does not exist yet.

Regards.

cc/ @tagliala

[2022-04-16 08:36] aethior commented on #15587
*Related Unicode Emoji* https://github.com/FortAwesome/Font-Awesome/issues/222
🏋 [U+1F3CB](https://emojipedia.org/emoji/%F0%9F%8F%8B/) Person Lifting Weights
Also known as `Bodybuilder`, `Weightlifter` and `Weight Lifter`.

[2022-04-16 08:59] aethior commented on #14446
@tagliala `clothing-fashion (category)` label for this request?

[2022-04-16 10:05] tagliala commented on #1911
Can't fix

https://github.com/FortAwesome/Font-Awesome/blob/5.x/CHANGELOG.md#5150---2020-09-28

Closing here

[2022-04-16 10:05] #1911 closed

[2022-04-16 10:05] #16226 closed

[2022-04-16 10:08] tagliala commented on #3666
I do not know how this icon works on RTL languages, I guess that it is inverted and shows "Left to right" instead

I think that `fa-paragraph-right` is an addition that should have even if it has not been requested because of internationalization and inclusion of RTL languages

@sensibleworld any thoughts?

[2022-04-16 10:10] #17803 closed

[2022-04-16 10:10] tagliala commented on #16621
Given the examples, I would consider this request fulfilled

[2022-04-16 10:10] #16621 closed

[2022-04-16 10:12] tagliala commented on #11463
Not yet, I'm waiting for something else here

[2022-04-16 15:21] drewgeraets opened #18912 "Icon request: up-long-right, up-long-left, down-long-left, down-long-right"
Would be nice to have angled versions of the [up-long](https://fontawesome.com/icons/up-long?s=solid) and [down-long](https://fontawesome.com/icons/down-long?s=solid) arrows.

Here's my use case:

<img width="1091" alt="image" src="https://user-images.githubusercontent.com/1134233/163680620-3547426c-434c-4861-85e8-411a417b9535.png">

[2022-04-16 16:37] aethior commented on #15250
*Related Unicode Emoji* #222
📬 [U+1F4EC](https://emojipedia.org/emoji/%F0%9F%93%AC/) Open Mailbox with Raised Flag
Also known as `Open Mailbox`.

[2022-04-16 16:45] aethior commented on #1363
@tagliala `devices-hardware (category)` label for this request?

[2022-04-16 16:52] aethior commented on #784
I can't considerate duplicate of #2096 because the title is different but the requested icon is the same.
The other request has more upvotes.

@tagliala What do you think?

[2022-04-16 16:57] tagliala commented on #784
Yes, thanks, let's use #2096

[2022-04-16 16:57] #784 closed

[2022-04-16 17:01] aethior opened #18913 "Add 'fa-vest' and 'fa-vest-patches' to the 'clothing+fashion' category"
I think [fa-vest](https://fontawesome.com/icons/vest) and [fa-vest-patches](https://fontawesome.com/icons/vest-patches) icons should be part of the `clothing+fashion` category.

Regards.

[2022-04-16 17:10] aethior commented on #18913
I don't know if this can be considered a bug (maybe it's an expected behavior).
When the url contains the version number (e.g. `https://fontawesome.com/v6/icons/vest?s=solid`) the category label redirect to the homepage (click on `Maps` label in this case).

@tagliala If this is a bug, feel free to move this comment to a new issue.

[2022-04-16 17:26] aethior commented on #1618
Hi,

This icon was added in v6.0.0.
Check https://fontawesome.com/icons/airplay

Regards.

cc/ @tagliala

[2022-04-16 17:29] #1618 closed

[2022-04-16 18:52] #3666 closed

[2022-04-16 18:52] aethior commented on #14274
Hi @suzannehillman,

This icon has been added in v6.1.0.
Check https://fontawesome.com/icons/arrows-left-right-to-line

Regards.

cc/ @tagliala

[2022-04-16 18:57] aethior commented on #13948
Hi @li-tin,

We can considered this request solved with https://fontawesome.com/icons/house-lock?

Regards.

cc/ @tagliala

[2022-04-16 19:19] #13948 closed

[2022-04-16 19:19] #14274 closed

[2022-04-16 20:49] jxn-30 opened #18914 "Icon request: shield-user"
Shield with a user inside.

I understand, that it is already possible to achieve this icon/combination with the power transforms, masking, and layering features of the SVG Framework and Font Awesome Pro but still would love to see it as a single Icon within FontAwesome.

**What can it be used for?**
This icon could be used as an Icon for roles.

**Example image (optional)**
![example-discord](http

[2022-04-17 02:47] mitchdowney commented on #549
Pretty please?

[2022-04-17 04:12] aethior commented on #16204
Hi @deadmann,

This icon was added in v6.0.0.
Check: https://fontawesome.com/icons/trash-can-xmark

Regards.

cc/ @tagliala

[2022-04-17 04:18] aethior commented on #15941
Hi @gijsfijn,

This icon was added in v6.0.0.
Check https://fontawesome.com/icons/people

Regards.

cc/ @tagliala

[2022-04-17 04:59] aethior commented on #13458
Hi @ghuzhdij,

This icon has been added in v6.1.0.
Check https://fontawesome.com/icons/file-shield

Regards.

cc/ @tagliala

[2022-04-17 07:03] marcomontresor commented on #1363
remote control

[2022-04-17 08:48] #15941 closed

[2022-04-17 08:50] tagliala commented on #18914
Hi!

Thanks for being part of the Font Awesome Community.

As a reference:

https://jsfiddle.net/tagliala/bfa6uhse/115/

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.com/docs/web/style/mask
https://fontawesome.com/docs/web/style/layer

[2022-04-17 10:19] tagliala commented on #16204
This icon has been added to FA Pro

FA Free users, **in a web application**, can create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/116/

Ref:

https://fontawesome.com/how-to-use/on-the-web/styling/power-transform
https://fontawesome.com/how-to-use/on-the-web/styling/masking
https://fontawesome.

[2022-04-17 10:19] #16204 closed

[2022-04-17 10:21] #13458 closed

[2022-04-17 10:34] tiagozip opened #18915 "[deleted]"
[deleted]

[2022-04-17 13:22] cheezcharmer commented on #18423
this world really needs FA icon for opensea.

[2022-04-17 17:25] aethior commented on #9670
@tagliala `devices-hardware (category)` label for this request?

[2022-04-17 17:25] aethior commented on #9672
@tagliala `devices-hardware (category)` label for this request?

[2022-04-17 17:26] aethior commented on #9671
@tagliala `devices-hardware (category)` label for this request?

[2022-04-17 17:42] aethior commented on #9695
Hi @hgw734,

This issue is solved using [solid version (on)](https://fontawesome.com/icons/lightbulb?s=solid) and [regular version (off)](https://fontawesome.com/icons/lightbulb?s=regular), right?

Regards.

cc/ @tagliala

[2022-04-17 17:51] aethior commented on #8207
Hi @jklingen,

This icon was added in v5.3.0.
Check https://fontawesome.com/icons/file-spreadsheet

Regards.

cc/ @tagliala

[2022-04-17 17:56] aethior commented on #7687
I think so.

[2022-04-17 18:11] aethior commented on #7254
Also known as `image-xmark` according with the current icons name.

[2022-04-17 18:25] #8207 closed

[2022-04-17 18:26] tagliala commented on #9695
I would say so.

there is also https://fontawesome.com/icons/lightbulb-on?s=solid in FA Pro

[2022-04-17 18:26] #9695 closed

[2022-04-17 18:28] #7687 closed

[2022-04-17 18:34] aethior commented on #15437
@tagliala I think you can close here.

[2022-04-17 18:35] #15437 closed

[2022-04-17 18:44] aethior commented on #9380
And related or duplicated of #2997?

[2022-04-17 18:46] tagliala commented on #9380
Ah, yes. Let's use this one (more upvotes)

[2022-04-17 18:46] tagliala commented on #2997
Let's use #9380 (more upvotes)

[2022-04-17 18:46] #2997 closed

[2022-04-17 19:27] aethior commented on #10938
@tagliala construction (category) label for this request?

[2022-04-17 20:46] aethior commented on #17717
@tagliala `devices-hardware (category)` label for this request?

[2022-04-17 21:00] aethior commented on #1185
@tagliala `files (category)` label for this request?

`fa-file-compact-disc (iso image)` acording with the current icon names.

[2022-04-17 21:08] aethior commented on #4415
This icon is interesting for signage and maps.
Building floor maps use this icon to help people to find defibrillators and save lives.
Many businesses also put it at the entrance to warn that it is a cardioprotected space.

[2022-04-17 21:29] aethior commented on #2543
Hi @jsml,

Something like https://fontawesome.com/icons/user-pen?

Regards.

[2022-04-17 21:44] aethior commented on #2172
Hi,

You can use several icons:
- https://fontawesome.com/icons/shield
- https://fontawesome.com/icons/badge-sheriff
- https://fontawesome.com/icons/route-highway (in my opinion it can also be used as a police badge)
- https://fontawesome.com/icons/user-shield

Regards.

[2022-04-17 22:01] aethior commented on #16989
@tagliala `clothing-fashion (category)` label for this request?

[2022-04-17 22:13] aethior commented on #10691
Hi,

Something like https://fontawesome.com/icons/face-disguise?

Regards.

[2022-04-18 02:04] cschindlbeck commented on #14268
I tried to collect fonts for competitive programming here, such as Codeforces and Codechef
https://github.com/cschindlbeck/compcodicons

[2022-04-18 02:04] cschindlbeck commented on #14584
I tried to collect fonts for competitive programming here, such as Codeforces and Codechef
https://github.com/cschindlbeck/compcodicons

[2022-04-18 02:52] blairzhao111 commented on #13032
Can confirm this icon not scaling on zooming issue still occur in Safari 15.2

[2022-04-18 07:03] tagliala commented on #2172
Considering this closed. Feel free to open a new request by filling out the [new icon request template](https://github.com/FortAwesome/Font-Awesome/issues/new?title=Icon%20request:%20icon-name&template=icon-request.md)

[2022-04-18 07:03] #2172 closed

[2022-04-18 07:04] tagliala commented on #2543
Considering this resolved

[2022-04-18 07:04] #2543 closed

[2022-04-18 12:39] vadimpopa commented on #18662
Big disappointment. Now we have to tell to our clients too, that they cannot search anymore by terms. In enterprise world this is a big breaking change.

[2022-04-18 15:03] ziadsadek999 opened #18916 "Icon request: leetcode"
![leetcode_logo_icon_145113](https://user-images.githubusercontent.com/68449722/163828042-414b2a38-6d81-473c-9fd9-767a72187e26.png)

[2022-04-18 15:15] tagliala commented on #18916
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #15337 , please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/n

[2022-04-18 15:15] #18916 closed, assigned to nobody

[2022-04-18 16:08] Sampaguitas commented on #14717
Had the same problem: impossible to pass the variable to the .npmrc file on Azure DevOps... Solved it with a bash script that overwrites the content of file just before building and pushing my image to the container registry:

Here is the content of my <b>azure-pipelines.yml</b> (see task Bash@3):

[code]
Here is the content of my <b>.npmrc</b> file:

[code]
And content of my <b>DockerFile</b>, fo

[2022-04-18 16:38] admstr opened #18917 "icon request: icon-moneybag"
icon request: icon-moneybag
![image](https://user-images.githubusercontent.com/103953390/163842148-dbd9b03d-5cec-4de6-9f0d-102eb0ebead2.png)
![image](https://user-images.githubusercontent.com/103953390/163842182-f100decd-f1d1-448b-8d32-66ebbde3db62.png)

[2022-04-18 16:48] admstr commented on #17986
Could also be:
![image](https://user-images.githubusercontent.com/103953390/163842337-f2264851-4a39-481c-bec7-fadd336f49b2.png)

[2022-04-18 16:49] ggregoire commented on #4681
Having a logo for every mainstream phone brand would be great: Samsung, Motorola, LG, Huawei, Xiaomi, Oppo, Vivo, etc.

**Use case: web analytics.** It's like 99% of the mobile traffic.

I know there are already open issues for some of those big brands but since they all go in the same category, maybe having a single issue to track all those phone brands would be better?

Wondering if there are so

[2022-04-18 16:50] admstr opened #18918 "icon request: icon-schedule"
icon request: icon-schedule
![image](https://user-images.githubusercontent.com/103953390/163842555-924b283c-0ec9-4771-bf2d-f6e3e7cc8827.png)

[2022-04-18 17:08] tagliala commented on #18918
Hi!

Thanks for being part of the Font Awesome Community.

Duplicate of #8158, available in FA 6.0 Pro

Ref for FA Free: https://github.com/FortAwesome/Font-Awesome/issues/8158#issuecomment-1061704578

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

Closing here

[2022-04-18 17:08] #18918 closed, assigned to nobody

[2022-04-18 17:09] tagliala commented on #18917
Hi!

Thanks for being part of the Font Awesome Community.

Money bag icon is already available:
- https://fontawesome.com/icons/sack-dollar?style=solid&s=solid

If you have troubles in using or upgrading Font Awesome, please check our documentation

https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use

Hope it helps

Closing here, but feel free to comment and provide more info

[2022-04-18 17:09] #18917 closed, assigned to nobody

[2022-04-18 17:20] tagliala commented on #4681
Hi, please open individual requests for the missing brands

[2022-04-18 18:10] admstr commented on #18917
I'm sorry, I don't see it on this list.
https://fontawesome.com/v4/cheatsheet/

*Tracy L. Roberts | University Registrar*
*Office of the Registrar
<https://www.murraystate.edu/academics/RegistrarsOffice/index.aspx>, Murray
State University*
113 Sparks Hall, Murray, KY 42071
*phone *270.809.3380      |  *fax *270.809.3777
***@***.***

Check out *Racer One Stop Self-Service <https://murraystate.edu/

[2022-04-18 18:19] owo opened #18919 "Icon request: stroke-cap-*, stroke-join-*, stroke-align-* (45 icons)"
Font Awesome already has [a lot of useful icons](https://fontawesome.com/icons/categories/design) for developing vector/svg editors.

It would be useful to have icons conveying stroke properties of vector elements.

Specifically, I'm suggesting icons for stroke cap type (butt, round, square/projecting), stroke corner/join type (round, bevel, miter), and stroke alignment type (center, inside, outsi

[2022-04-18 19:04] tagliala commented on #18917
Hi, that is the cheatsheet for Font Awesome 4

The current version and minimum required version to use that icon is Font Awesome 6.1.0

https://fontawesome.com/docs/web/setup/upgrade/

[2022-04-18 20:32] aethior commented on #18859
According to the attached logo, thi is an Indian webshop: https://techieindia.in/

[2022-04-18 20:38] aethior commented on #18482
@tagliala I think you can close here. :)

[2022-04-18 20:43] aethior commented on #17959
I think we can consider this request duplicate of #4834.

[2022-04-18 20:46] aethior commented on #17925
Yes, the attached logo is the new logo for `www.olx.com`.

Regards.

![OLX-Logo-historia](https://user-images.githubusercontent.com/1769227/163875375-5d8519e5-3c35-418b-8a8e-6fea43749ee9.jpg)
Source: https://1000marcas.net/olx-logo/

[2022-04-18 20:57] aethior commented on #17716
@tagliala I think you can close here.

[2022-04-18 20:58] aethior commented on #17745
Duplicate of #3059?

[2022-04-18 21:00] aethior commented on #17656
I think this request can be legit.

Check https://emojipedia.org/judge/

[2022-04-18 21:04] aethior commented on #17137
@tagliala I think you can close here.

[2022-04-18 21:04] aethior commented on #17119
@tagliala I think you can close here.

[2022-04-18 21:09] aethior commented on #16797
In this case I think you can close here.

[2022-04-18 21:17] aethior commented on #16532
https://www.mixcloud.com/about/#brand
[MIX_Guidelines_AW_LowRes.pdf](https://github.com/FortAwesome/Font-Awesome/files/8508221/MIX_Guidelines_AW_LowRes.pdf) (page 16)

[2022-04-18 21:27] aethior commented on #16500
Hi @erd2119,

`fa-meter` icon was added in v6.0.0.
Check https://fontawesome.com/icons/meter

Variants:
- https://fontawesome.com/icons/meter-bolt
- https://fontawesome.com/icons/meter-droplet
- https://fontawesome.com/icons/meter-fire

Regards.

cc/ @tagliala

[2022-04-18 21:30] aethior commented on #16466
Duplicate of #13946.

[2022-04-18 21:32] aethior commented on #16455
This icon has been added in v6.1.0.
Check https://fontawesome.com/icons/heart-circle-check

Regards.

[2022-04-18 21:36] aethior commented on #16381
Hi,

You can use:
- https://fontawesome.com/icons/display-medical
- https://fontawesome.com/icons/laptop-medical

Regards.

[2022-04-18 21:37] aethior commented on #16381
Hi @Araw830,

You can use:
- https://fontawesome.com/icons/display-medical
- https://fontawesome.com/icons/laptop-medical

Regards.

[2022-04-18 21:38] aethior commented on #16247
@tagliala I think you can close here.

[2022-04-18 21:43] aethior commented on #15975
Related or duplicated of #16889?

[2022-04-18 21:45] aethior commented on #15931
@tagliala I think you can close here.

[2022-04-18 21:49] aethior commented on #15789
And duplicate of #14488.

[2022-04-18 21:50] doubledeej commented on #15931
I don't have an example, but I'd imagine it to be a series of horizontal bars (representing a list of items) with an arrow/triangle to the left pointing into the stack to show that something is being inserted into the middle of the list.

[2022-04-18 21:52] aethior commented on #15931
Hi @doubledeej,

Something like https://fontawesome.com/icons/indent?

Regards.

[2022-04-18 21:56] doubledeej commented on #15931
Similar, yes. But the horizontal lines would all be the same size.

[2022-04-18 21:58] jxn-30 opened #18920 "Icon Request: field-with-sun (farmland)"
An Icon representing a farmland or field that is ready for sowing.

It could be used for a new `Agriculture`-Category together with Icons such as [building-wheat](https://fontawesome.com/icons/building-wheat), [farm](https://fontawesome.com/icons/farm), [tractor](https://fontawesome.com/icons/tractor), [wheat](https://fontawesome.com/icons/wheat) and [wheat-awn](https://fontawesome.com/icons/wheat

[2022-04-18 21:59] aethior commented on #15704
I think this request can be considered a duplicate of #15275.

cc/ @tagliala

[2022-04-18 22:02] aethior commented on #15519
Duplicate of #5944.
Check https://fontawesome.com/icons/chart-network

Regards.

cc/ @tagliala

[2022-04-18 22:04] aethior commented on #15210
@tagliala I think this icon with regular version can be considered solved.

[2022-04-18 22:13] aethior commented on #14959
The requested icons are [**fa-arrows-from-line**](https://fontawesome.com/icons/arrows-from-line) and [**fa-arrows-to-line**](https://fontawesome.com/icons/arrows-to-line) in horizontal version.

cc/ @tagliala

[2022-04-18 22:19] aethior commented on #14929
Hi @ronitovi,

As update icon is usually used [**fa-rotate**](https://fontawesome.com/icons/rotate) icon.

Regards.

[2022-04-18 22:50] aethior commented on #13999
Tractor icon was add in v5.4.0.
Check https://fontawesome.com/icons/tractor

[2022-04-18 22:53] aethior commented on #13999
🚜

Tractor icon was added in v5.4.0.
Check https://fontawesome.com/icons/tractor

cc/ @tagliala

[2022-04-18 22:56] aethior commented on #14107
@tagliala `sport (category)` and `animals (category)` labels for this request?

[2022-04-18 23:04] 84403786 opened #18921 "37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld"
hello

[2022-04-18 23:05] 84403786 commented on #18921
1000

[2022-04-18 23:05] aethior commented on #13955
- 🦎 #14255
- 🦜 Parrot [missing request/icon]
- 🐍 https://fontawesome.com/icons/snake
- 🕷️ https://fontawesome.com/icons/spider
- 🕷️ https://fontawesome.com/icons/spider-black-widow
- 🐢 https://fontawesome.com/icons/turtle

[2022-04-18 23:06] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:06] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:06] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:06] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:06] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:06] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:06] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:07] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:07] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:07] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:08] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:08] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:08] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:08] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:08] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:09] 84403786 commented on #18921
37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld

[2022-04-18 23:10] 84403786 opened #18922 "37Gye1DPQwnRXVdCWN4wRagiiEVrWY47Ld"
1000

[2022-04-18 23:26] aethior commented on #5598
@tagliala `transportation (category)` label for this request?

[2022-04-18 23:34] aethior commented on #12690
@tagliala I think you can close here.

[2022-04-18 23:40] aethior commented on #12564
Related to #12060.
I think both requests can be solved with the same (or very similar) icon.

[2022-04-18 23:48] aethior commented on #12287
I think this is a Topor.

[2022-04-18 23:54] aethior commented on #11683
`Fuel nozzle` es de the correct name for this piece.

[2022-04-18 23:56] aethior commented on #11683
`Fuel nozzle` is the correct name for this piece.

[2022-04-19 06:22] ThatOneCalculator commented on #549
I will be committing manslaughter if we don't get an XMPP icon.

[2022-04-19 06:24] ThatOneCalculator commented on #18921
What the fuck

[2022-04-19 08:22] #12690 closed

[2022-04-19 08:35] #17716 closed

[2022-04-19 08:36] #18482 closed

[2022-04-19 08:37] #17925 closed

[2022-04-19 08:38] #14929 closed

[2022-04-19 08:38] #16247 closed

[2022-04-19 08:39] #16381 closed

[2022-04-19 08:39] #16797 closed

[2022-04-19 08:40] #17959 closed

[2022-04-19 09:21] rohitwise opened #18923 "Icon request: fa-clock-rotate"
Hi Team,

I needed reset virtual clock action icon, which will be perform reset the virtual clock for reference attaching the image

![Update-Time-512](https://user-images.githubusercontent.com/103996115/163972999-7f3483f6-6288-4c3b-83b6-c161b91b16ca.jpg)

[2022-04-19 09:49] mudit00 commented on #18859
Yes! The Company domain is techieindia.in and its online store is at
techiestore.in.

On Tue, 19 Apr 2022 at 02:02, Aethior ***@***.***> wrote:

[2022-04-19 10:07] tagliala commented on #14959
This request is legit, please consider the rotation feature, available in both CSS and SVG frameworks:

https://jsfiddle.net/tagliala/2s78abqk/11/

[2022-04-19 11:10] tagliala commented on #17745
yes, closing here

[2022-04-19 11:10] #17745 closed

[2022-04-19 11:10] #17137 closed

[2022-04-19 11:10] #17119 closed

[2022-04-19 11:11] #15210 closed

[2022-04-19 11:11] #16466 closed

[2022-04-19 11:12] #13999 closed

[2022-04-19 11:12] #15519 closed

[2022-04-19 11:12] #15704 closed

[2022-04-19 11:37] #16455 closed

[2022-04-19 12:29] dejavoodooo commented on #4599
+1

[2022-04-19 12:52] SAJUSJ commented on #11817
Thanks for adding the icon.
The original issue had to be soled via image with size-setting.
But the newer solution will be of good use

[2022-04-19 14:17] #14959 closed

[2022-04-19 14:48] jeanpylone-dh commented on #9523
+1

[2022-04-19 15:40] talbs commented on #18860
Thanks for pointing this out, @hellodaniel. It's much appreciated (as is the help triaging the issue, @tagliala). I've got a PR that should tackle this up.

I'll let you and this thread know when that fix is released.

[2022-04-19 15:40] talbs commented on #18851
Thanks for pointing this out, @rodnolan and apologies for the stinky linky.

I've got a PR up to fix this issue and will let you know when we release it to fontawesome.com.

[2022-04-19 15:44] talbs commented on #18842
Thanks for bringing this to our attention, @OmKakatkar and apologies for the confusion when trying to get brand icons working in your React project.

It looks like we already have this fix in place on fontawesome.com's docs - https://fontawesome.com/v6/docs/web/use-with/react/add-icons#add-icons-globally as a team member or customer may have caught it as well.

I'm going to close this with that in

[2022-04-19 15:44] #18842 closed, assigned to talbs

[2022-04-19 15:55] talbs commented on #18834
Sorry for the delay on this, @tagliala and thanks for bringing this up. I've got a PR up that should address this and handle the older Power Transform docs URL more gracefully.

[2022-04-19 17:40] tagliala commented on #18902
Hi!

Thanks for being part of the Font Awesome Community.

It is possible to add custom icons easily with the Pro Kit https://fontawesome.com/plans

There are other alternatives: https://github.com/FortAwesome/Font-Awesome/wiki/Customize-Font-Awesome

[2022-04-19 19:04] NathanQ commented on #18770
We're importing each icon we use from their sets then add to the library with library.add for use in our icon component. Where we noticed the repetition is by looping through the library.defs to display our set of icons in a styleguide component. I suppose they could be filtered by name. Thank you for your help.
[code]

[2022-04-20 02:02] aethior commented on #11233
`fa-shield-circuit (cybersecurity)` according with the current icon names.

[2022-04-20 13:47] talbs commented on #18692
Sorry for the radio silence on this thread, folks. As @sensibleworld mentioned, this was a later change when we released `6.0.0`. [Our renamed in v6 icon list](https://fontawesome.com/docs/web/setup/upgrade/whats-changed#icons-renamed-in-version-6) should now be accurate and note `building-columns` as the current nam.

Thanks much for bringing this to our attention, @nortonandreev.

[2022-04-20 13:47] #18692 closed, assigned to talbs

[2022-04-20 13:49] talbs commented on #18829
I can confirm that this is still happening and I can reproduce the issue through @tagliala's steps.

I'm going to assign @robmadole (and the Dev Team) as this is beyond my skillset to resolve in a proper way.

[2022-04-20 13:54] talbs commented on #18715
Thanks for noting this and apologies for letting it become frozen in carbonite, @tagliala.

I'm not able to reproduce these console errors nor the issue with search on the URLs you provided. A couple of questions:

- Are you still seeing this issue on fontawesome.com? If so, are those URLs still accurate?
- I'm assuming you're referring to our Docs search fields/form on those URLs. Is that a corre

[2022-04-20 15:00] nrauschcom opened #18924 "New Teamspeak Logo"
Hi there,

TeamSpeak recently contacted us, saying that they don't want their old logo be displayed on our website. Seems like the logo currently included in Font Awesome is no longer the official logo.

This is the current logo:
![ts_logo_vertical_rgb](https://user-images.githubusercontent.com/1051009/164260006-93965585-249e-4637-9f4f-9104f79e97cc.png)

Here is the official logo kit (including SV

[2022-04-20 15:21] TinaMnWhite opened #18925 "My account doesn't reflect my new license - I can't use FA Pro until you fix this."
I purchased the pro plan today.

Receipt number: XXXX
| Invoice number: XXXX

I did not realize that I already had an account with an expired plan (admin@blueridgepride.org).  Unfortunately, that account does not reflect my new purchase.
I would create a new acccount, but your confirmation email doesn't include any activation or download link.

I am therefore unable to download and use FontAwesome

[2022-04-20 15:26] sensibleworld commented on #18925
@TinaMnWhite I just updated this to remove details about your personal account. Can you send an email to hello@fontawesome.com with your info? We'll get it sorted. Thanks!

[2022-04-20 15:27] #18925 closed, assigned to nobody

[2022-04-20 17:54] tagliala commented on #18924
Hi!

Thanks for being part of the Font Awesome Community and thanks for reporting this.

I'm asking if there is a link to official brand guidelines together with an official single color version of the logo that can be used in Font Awesome, otherwise

[2022-04-20 17:56] tagliala commented on #18892
Hi!

Thanks for being part of the Font Awesome Community.

Is this a request for a mobile variation having both notch and button?

https://fontawesome.com/search?q=mobile&s=solid

[2022-04-20 18:04] tagliala commented on #18872
Hi!

Thanks for being part of the Font Awesome Community and sorry for the late reply.

I cannot confirm after following instructions at https://fontawesome.com/v6/docs/web/add-icons/pseudo-elements#set-pseudo-elements-to-display-to-none

https://jsfiddle.net/tagliala/3vhx0tn1/

<img width="586" alt="image" src="https://user-images.githubusercontent.com/556268/164294431-f8ed96a4-0b12-4baa-987f-4ee

[2022-04-20 18:04] #18872 closed, assigned to nobody

[2022-04-20 18:08] tagliala commented on #18873
Hi!

Thanks for being part of the Font Awesome Community and sorry for the late reply.

Sorry, I do not have a solution for this

@robmadole any thoughts?

[2022-04-20 18:10] tagliala commented on #13167
Closing here, please refer to #18869 for google chat

[2022-04-20 18:10] #13167 closed

[2022-04-20 18:14] tagliala commented on #18812
Hi!

Thanks for being part of the Font Awesome Community and sorry for the late reply.

Is this still an issue?

[2022-04-20 19:22] sehrun opened #18926 "url https://use.fontawesome.com is not responding. google chrome TLS issue?"
Today this page https://use.fontawesome.com/releases/v5.14.0/css/all.css won't load in chrome from my IP (I also cleared cookies)(no response)(err_connection_timed_out).
It's not an IP issue, because page loads instantly in firefox.
It's not a chrome issue because if I change IP it loads instantly in chrome.
I even tryed to simulate get request with same as chrome headers but page loads instantly.

[2022-04-20 19:59] sehrun commented on #18926
I've sent get requests with `user-agent: github issue #18926` for you to troubleshoot my IP.
[code]
seems to be TLS issue, as http request gets response
[code]

[2022-04-20 21:59] trebor commented on #2729
i'd like to chime in here, on a closed issue so perhaps i am shouting into the wind, but there REALLY should be an `fa-blank` or some such icon.  all these other solutions WORK, but require extra code and special logic.  and even in this one issue we see people choosing different solutions, and thus no standard approach.

`fa-blank` is a clean uniform way to solve this problem.  no one needs to ad

[2022-04-20 23:54] jed84 commented on #12843
I have had the same font applied on the website for a long-time and at some point, the Sort-down Icon stopped loading.

Instead, an unwanted character is displayed:
![obraz](https://user-images.githubusercontent.com/47121522/164343055-ffb66597-b27f-4ce0-a2eb-f3a90e45791e.png)

The code in the css is as follow:
#site-navigation ul li.menu-item-has-children > a:after{content:'\f0dd'; font-family: Fo

[2022-04-21 00:34] cBomb2 opened #18927 "glowing cube"
its like:  but adding little lines to make it glow

[2022-04-21 07:20] tagliala commented on #12843
@jed84 please fill out our [bug report template](https://github.com/FortAwesome/Font-Awesome/issues/new?template=bug_report.md) with all the information required and provide a reproducible test case, so we can help

[2022-04-21 08:11] medialogik opened #18928 "Icon request: fa-zaikio"
Zaikio ist a platform for connecting printing houses and their suppliers. They say: Backed by our parent company, Heidelberger Druckmaschinen AG, we also have the resources we need and decades of industry know-how, to build sustainable products that massively simplify the day-to-day work of print shops. Our task is to link all the partners in a print shop technically in order to pave the way for d

[2022-04-21 08:21] LevaCompany commented on #18892
@tagliala Thank you!

[2022-04-21 08:21] #18892 closed, assigned to nobody

[2022-04-21 08:51] RBDay opened #18929 "Icon request: icon-alergens"
Please, a list of icons for the alergens (milk-alergen, soy-alergen, etc)

Thx

[2022-04-21 08:51] LevaCompany opened #18930 "Icon request: melting-face"
Melting face icon in category [Emoji and Users + People](https://fontawesome.com/search?c=users-people%2Cemoji)

Preview: 🫠

Learn more: [Link](https://emojipedia.org/melting-face/)

Super idea! :wink:

[2022-04-21 09:07] LevaCompany opened #18931 "Some duotone icons are not displaying on the website"
Code: `<i class="fa-duotone fa-bluetooth"></i>`
Style: Duotone
Icon: Bluetooh (it's not a brand icon)
Full name: Duotone Bluetooh Icon

[2022-04-21 09:52] LevaCompany opened #18932 "Icon request: computer-speaker-keyboard-mouse"
PC,Speaker,Keyboard,Mouse icon in category [Devices + Hardware Icons](https://fontawesome.com/icons/categories/devices-hardware)

Code: `<i class="fa-solid fa-computer-speaker-keyboard-mouse"></i>`, `<i class="fa-regular fa-computer-speaker-keyboard-mouse"></i>`, `<i class="fa-light fa-computer-speaker-keyboard-mouse"></i>`,  `<i class="fa-thin fa-computer-speaker-keyboard-mouse"></i>`,  `<i class

[2022-04-21 10:16] aethior commented on #18930
Hi @LevaCompany,

This icon was added in v6.0.0 for [FA PRO](https://fontawesome.com/plans) version.
Check: https://fontawesome.com/icons/face-melting

Regards.

[2022-04-21 11:05] IgorIlgiyaev opened #18933 "Icon request: work-desk"

[2022-04-21 11:09] IgorIlgiyaev opened #18934 "Icon request: netflix"

[2022-04-21 11:14] IgorIlgiyaev opened #18935 "Icon request: balcony-sun-sea (balcony sea view)"
For example
https://wallpaperaccess.com/full/1166721.jpg

[2022-04-21 11:17] IgorIlgiyaev opened #18936 "Icon request: Patio-balcony"

[2022-04-21 12:03] coliff commented on #18481
This has been added now: https://fontawesome.com/icons/meta?s=brands

The strange thing is that it's a pro icon, unlike the 462 other brand icons which are free. is that a bug? (I don't personally mind much, I'm a Pro subscriber, but thought I'd mention)

[2022-04-21 12:32] LevaCompany commented on #18930
thank you!

[2022-04-21 12:33] LevaCompany commented on #18930
@aethior Please create for free version

[2022-04-21 12:35] #18930 closed, assigned to nobody

[2022-04-21 12:39] aethior commented on #18930
I'm not a FA team member. Sorry. :)

[2022-04-21 13:18] talbs commented on #18860
Thanks again for pointing out these broken links in our docs, @hellodaniel. They are now fixed on https://fontawesome.com/v5/docs/web/style/.

[2022-04-21 13:19] #18860 closed, assigned to talbs

[2022-04-21 13:20] talbs commented on #18851
Thanks again for letting us know about those broken links. They are now fixed on https://fontawesome.com/v5/docs/web/setup/upgrade-from-v4.

[2022-04-21 13:20] #18851 closed, assigned to talbs

[2022-04-21 13:21] talbs commented on #18834
Okay, @tagliala. We've pushed those redirect changes and the following older URLs should now resolve to their current docs counterparts...

- https://fontawesome.com/how-to-use/on-the-web/styling/power-transforms
- https://fontawesome.com/how-to-use/on-the-web/styling/masking
- https://fontawesome.com/how-to-use/on-the-web/styling/layering

[2022-04-21 13:21] #18834 closed, assigned to talbs

[2022-04-21 13:37] tagliala commented on #18715
Can't replicate anymore

[2022-04-21 13:37] #18715 closed, assigned to talbs

[2022-04-21 14:12] tagliala commented on #18931
Hi!

Thanks for reporting this.

I can confirm, I think that primary and secondary layers may be inverted

https://jsfiddle.net/tagliala/2s78abqk/14/

<img width="721" alt="image" src="https://user-images.githubusercontent.com/556268/164472566-cc1850de-5e5c-4ed5-bf2d-99a2bb29318b.png">

[2022-04-21 14:14] sensibleworld commented on #18931
Thanks for the report! We already have this tracked internally. It's mainly an issue with our website display (the icon should work fine in other cases. It's happening for all icons that have both classic styles (solid, regular, light, thin, duotone) AND a brand style.

[2022-04-21 14:15] tagliala commented on #18931
Oh, sorry, it's a presentation bug

Demo: https://jsfiddle.net/tagliala/2s78abqk/15/

[2022-04-21 14:47] tagliala commented on #18936
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #11347, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-04-21 14:47] #18936 closed, assigned to nobody

[2022-04-21 15:20] tagliala commented on #18934
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #1395, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-04-21 15:20] #18934 closed, assigned to nobody

[2022-04-21 15:21] tagliala commented on #18933
Hi!

Thanks for being part of the Font Awesome Community.

Could you please clarify this request? Is this a duplicate of #9495?

[2022-04-21 15:21] tagliala commented on #18935
Hi!

Thanks for being part of the Font Awesome Community.

Unfortunately, I cannot leave this request open because it doesn't meet our [Contributing Guidelines](https://github.com/FortAwesome/Font-Awesome/blob/master/CONTRIBUTING.md#contributing-to-font-awesome).

Please make sure that your request follows our [new icon request template](https://github.com/FortAwesome/Font-Awesome/issues/new?title

[2022-04-21 15:23] IgorIlgiyaev commented on #18933
Yes Something like this for a person to work on desk

[2022-04-21 15:23] #18933 closed, assigned to nobody

[2022-04-21 15:24] IgorIlgiyaev commented on #18934
Thanks

[2022-04-21 15:24] tagliala commented on #18933
Maybe a duplicate of #15143

[2022-04-21 15:24] tagliala commented on #18935
Sorry, templates are not working :\

[2022-04-21 15:24] tagliala commented on #18935
Please provide an example of the icon you are requesting

[2022-04-21 15:25] IgorIlgiyaev commented on #18933
The first one was more accurate

[2022-04-21 15:27] IgorIlgiyaev commented on #18935
Updated

[2022-04-21 15:27] tagliala commented on #18929
Hi!

Thanks for being part of the Font Awesome Community.

Managing this issue is a little bit hard to manage

Duplicate of #13383, we should check if in the meanwhile we added more icons and what are left

[2022-04-21 15:27] #18929 closed, assigned to nobody

[2022-04-21 15:29] tagliala commented on #18935
Thanks. Any single color example that works at 16px?

[2022-04-21 20:02] aethior commented on #15330
Duplicate or related? #15688

cc/ @tagliala

[2022-04-21 21:22] aethior commented on #3498
@tagliala `arrows (category)` label for this request?

[2022-04-21 21:29] rjbalsi opened #18937 "Icons show in the "wild" but not within your site"
FREE icons not available using "fa-solid" (some are free and work with "fas")

Using FontAware Kit 6.1.1 (free), and ALL.JS

•	&lt;i class="fa-solid fa-car-side"&gt;&lt;/i&gt; - doesn't display anything.
•	&lt;i class="fas fa-car-side"&gt; &lt;/i&gt; - works fine.

Browsing the free library of icons in the wild on my browser https://fontawesome.com/icons/car-side?s=solid shows me the icon, and the

[2022-04-21 21:30] aethior commented on #3907
Hi @Donaldini,

The current [**fa-input-text**](https://fontawesome.com/icons/input-text) icon solves this issue?

Regards.

cc/ @tagliala

[2022-04-21 21:33] aethior commented on #4460
@tagliala `automotive (category)` label for this request?

[2022-04-21 21:40] aethior commented on #4696
@tagliala `childhood (category)` label for this request?

[2022-04-21 21:41] aethior commented on #2030
@tagliala `childhood (category)` label for this request?

[2022-04-21 21:50] aethior commented on #12752
@tagliala `childhood (category)` label for this request?

[2022-04-21 21:51] aethior commented on #4722
@tagliala `childhood (category)` label for this request?

[2022-04-21 21:56] aethior commented on #5070
@tagliala `childhood (category)` label for this request?

[2022-04-21 22:12] aethior commented on #1787
@tagliala `brand (category)` label for this request?

[2022-04-21 22:18] aethior commented on #2015
cc/ @tagliala

[2022-04-21 22:51] aethior commented on #2629
The `www.lxw.fr` domain is currently for sale.

cc/ @tagliala

[2022-04-21 23:00] aethior commented on #15764
Duplicate of #3560.
Please add a 👍 reaction to that request.

cc/ @tagliala

[2022-04-21 23:12] aethior commented on #3013
@tagliala `accessibility (category)` label for this request?

[2022-04-21 23:29] aethior commented on #3704
@tagliala `clothing-fashion (category)` label for this request?

[2022-04-22 00:06] aethior commented on #4550
@tagliala `editors (category)` label for this request?

[2022-04-22 00:24] aethior commented on #4957
- https://github.com/FortAwesome/Font-Awesome/issues/4958

cc/ @tagliala

[2022-04-22 00:27] aethior commented on #4956
cc/ @tagliala

[2022-04-22 00:33] aethior commented on #4955
cc/ @tagliala

[2022-04-22 00:35] aethior commented on #5077
@tagliala `sport (category)` label for this request?

[2022-04-22 00:36] aethior commented on #5071
@tagliala `childhood (category)` label for this request?

[2022-04-22 00:52] aethior commented on #5002
I cant to find any information about this brand.
The `www.ipintoo.com` domain is down and I can't to find their social networks.

cc/ @tagliala

[2022-04-22 01:14] aethior commented on #5095
We hope you enjoyed our work in the past and hope, we'll see you soon with our new version. It was a big learning for all of us to see the development of ZWOOKY. ([more info](https://www.zwooky.com/))

The message is too ambiguous. In any case the social networks have not activity since 2019 ([twitter](https://twitter.com/ZWOOKY) and [instagram](https://www.instagram.com/ZWOOKY/)). The application

[2022-04-22 01:23] aethior commented on #5177
@tagliala `charts-diagrams (category)` label for this request?

[2022-04-22 01:35] aethior commented on #13250
Related (not duplicate):
- https://github.com/FortAwesome/Font-Awesome/issues/5308
- https://github.com/FortAwesome/Font-Awesome/issues/13250

[2022-04-22 01:35] aethior commented on #5308
Related (not duplicate):
- https://github.com/FortAwesome/Font-Awesome/issues/5308
- https://github.com/FortAwesome/Font-Awesome/issues/13250

@tagliala `devices-hardware (category)` label for this request?

[2022-04-22 01:40] aethior commented on #5305
@tagliala `construction (category)` and `transportation (category)` labels for this request?

[2022-04-22 01:45] aethior commented on #4084
@tagliala `construction (category)` and `transportation (category)` labels for this request?

[2022-04-22 02:01] aethior commented on #5305
What are the diferences between these requests? Are related or duplicate?
- https://github.com/FortAwesome/Font-Awesome/issues/4084
- https://github.com/FortAwesome/Font-Awesome/issues/5305
- https://github.com/FortAwesome/Font-Awesome/issues/9380

[2022-04-22 02:33] aethior commented on #5425
Hi @spacedevin,

Is this request solved using the [solid version](https://fontawesome.com/icons/location-arrow?s=solid) and the [regular version](https://fontawesome.com/icons/location-arrow?s=regular)?

Regards.

cc/ @tagliala

[2022-04-22 04:06] amva13 opened #18938 "Icon Request: fa-Algorand"
I'd like to link my algonameservice profile to my personal website and use the Algorand logo for that
![Algorand-1](https://user-images.githubusercontent.com/10442488/164596260-887ff91f-8810-4876-b65b-eb6074812c43.png)
.

https://algonameservice.com/

[2022-04-22 07:14] NielsHolt commented on #5308
Hi
The center button is in v6 as computer-mouse-scrollwheel
I would suggest to name the two new icons
computer-mouse-left
computer-mouse-right

@tagliala - I am not sure what label to add

[2022-04-22 07:26] ZWOOKY-Code commented on #5095
about 8 years later after the request.... that's just awesome - sorry, I had to write that.

[2022-04-22 08:13] #2629 closed

[2022-04-22 09:40] tagliala commented on #5305
https://en.wikipedia.org/wiki/Excavator

So Excavator = digger = mechanical showel. Will leave the one with most upvotes open and close the other as duplicates

[2022-04-22 09:41] tagliala commented on #9380
Duplicate of #5305

[2022-04-22 09:41] #9380 closed

[2022-04-22 10:01] bramleffers commented on #18908
I got the same issue with these calculations;

Using:

"sass": "^1.49.9",
"sass-loader": "^12.6.0",
"webpack": "^5.69.1",

The following does not compile in FontAwesome 6.1.1;

_variables.scss
line 10 `$fa-fw-width               : fa-divide(20em, 16);`
line 37 `$fa-li-margin              : $fa-li-width * fa-divide(5, 4) !default;`
line 45 `$fa-stack-width         : ($fa-fw-width * 2) !default;`

E

[2022-04-22 10:42] #5002 closed

[2022-04-22 11:05] tagliala commented on #4955
😢

[2022-04-22 11:05] #4955 closed

[2022-04-22 11:05] #4956 closed

[2022-04-22 11:13] #4957 closed

[2022-04-22 11:34] #15764 closed

[2022-04-22 11:39] tagliala commented on #3907
It's not the same thing, the request should represent a set of fields instead of an individual one with text type

Maybe https://fontawesome.com/icons/pen-field?s=solid

[2022-04-22 14:10] josephmarkus opened #18939 "React yarn installation instructions missing packages"
If you go to https://fontawesome.com/v5/docs/web/use-with/react#get-started

And click `yarn`

It says that you should install FontAwesome as `yarn add @fortawesome/fontawesome-free`

Instead, it should say `yarn add @fortawesome/fontawesome-svg-core @fortawesome/free-solid-svg-icons @fortawesome/react-fontawesome`

Without additional packages, it doesn't run

[2022-04-22 14:13] ralmanzar1108 opened #18940 "Icon request: icon-anime"

[2022-04-22 15:00] tagliala commented on #18939
Hi!

Thanks for being part of the Font Awesome Community and thanks for this report.

Let's assign @talbs

[2022-04-22 15:10] Venmore opened #18941 "Icon request: icon-google-mybusiness"
As Google+ has gone, more and more businesses want to link to their Google 'My Business' account and it would be good to have an icon in Font-Awesome to do this.
Thanks

[2022-04-22 15:37] Venmore commented on #18941
found example
https://ssl.gstatic.com/gb/images/a/ea554714e7.png
![ea554714e7](https://user-images.githubusercontent.com/19739442/164747835-320aebd4-89e0-465b-8dca-15da0e367bf2.png)

[2022-04-22 15:47] tagliala commented on #16947
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #2412, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-04-22 15:47] #16947 closed

[2022-04-22 15:47] tagliala commented on #18941
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #2412, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-04-22 15:47] #18941 closed, assigned to nobody

[2022-04-22 16:01] Venmore commented on #2412
another example of other sites doing it - many other icon sites already doing it...
please...
![Screen Shot 2022-04-22 at 16 59 51](https://user-images.githubusercontent.com/19739442/164751907-cd2cdac4-f604-4a86-8bbb-c1c9a72ffed8.png)

[2022-04-22 17:38] pedro-profile opened #18942 ""https://npm.fontawesome.com/@fortawesome%2ffontawesome-free: authentication required"."
When i run below command i get error.

root@wjd8:/mnt/c/xampp/htdocs/bedrock/web/app/themes/wraith# yarn add @fortawesome/fontawesome-free
yarn add v1.22.18
[1/5] Validating package.json...
[2/5] Resolving packages...
error An unexpected error occurred: "https://npm.fontawesome.com/@fortawesome%2ffontawesome-free: authentication required".
info If you think this is a bug, please open a bug report

[2022-04-22 18:03] tagliala commented on #18942
Hi, are you a Font Awesome Pro customer?

[2022-04-22 18:03] tagliala commented on #18940
Any example?

[2022-04-22 18:05] tagliala commented on #18927
<img width="125" alt="image" src="https://user-images.githubusercontent.com/556268/164770109-f6b4d1a9-d67c-4860-af9a-96a7d451f4b3.png">

Any example?

[2022-04-22 18:05] tagliala commented on #18932
Hi!

You mean PC,Speaker,Keyboard,Mouse in a single icon?

[2022-04-22 18:10] tagliala commented on #18937
Hi!

Thanks for being part of the Font Awesome Community.

Sorry, I cannot replicate:
- Kit: https://jsfiddle.net/tagliala/xc1u4yre/
- all.js: https://jsfiddle.net/tagliala/wr154e6x/12/

`fa-solid` is the new syntax available in FA6. I can only think that there is an older version of font Awesome loading and taking priority over the new one

Could you please provide a reproducible test case?

Mean

[2022-04-22 18:10] #18937 closed, assigned to nobody

[2022-04-22 18:12] tagliala commented on #18926
Hi!

Thanks for being part of the Font Awesome Community and thanks for reporting this.

Is this still an issue?

[2022-04-22 18:34] ghost opened #18943 "FontAwesome free v6.0 e3d6 did not show"
Fontawesome icon  arrow turn-down-right (e3d6 )did not show, just a red square showed.
code:
HmtL

[code]

css:
[code]

[2022-04-22 18:37] tagliala commented on #18943
Hi!

Thanks for being part of the Font Awesome Community.

fa-arrow-turn-down-right is a  Pro icon, so it will not show up in Font Awesome Free

Hope it helps

Closing here

Ref: https://fontawesome.com/v6/icons/arrow-turn-down-right?s=solid

[2022-04-22 18:37] #18943 closed, assigned to nobody

[2022-04-22 18:46] sehrun commented on #18926
Yes, it's still an issue. https url won't open in google chrome from for example this IP 94.181.73.64. But it works from firefox.

Could be google chrome issue. But other websites open without problems.

[2022-04-22 18:48] tagliala commented on #18943
In FA Free, it is possible to achieve `fa-arrow-turn-down-right` by using rotation on `fa-arrow-turn-up`.

Demo:
- https://jsfiddle.net/tagliala/bfa6uhse/118/

Ref:

https://fontawesome.com/docs/web/style/rotate

[2022-04-22 18:49] tagliala commented on #18926
@robmadole are you aware of any similar issue?

[2022-04-22 18:52] sehrun commented on #18926
I wonder if you can see any logs for this 94.181.73.64, maybe like TLS negotiation failed or something

[2022-04-22 20:38] tagliala commented on #18908
Could you please provide a reproducible test case?

Is there any chance that your application is using a custom `fontawesome.scss` which does not include `functions.scss` before `variables.scss`?

Correct, that is needed when upgrading custom scss from v5 to v6

[2022-04-23 02:01] rjbalsi commented on #18937
Hi  Tagliala I supplied the downloaded kit and issue to them directly but was told to use github.

Do I reply here or open a new issue or.send direct to their support email?

[2022-04-23 07:06] Bishwas-py commented on #5970
We also need Fiverr icon in Font Awesome. +1

[2022-04-23 07:07] Bishwas-py commented on #5970
Till now, I have been using `fab fa-fonticons-fi`

[2022-04-23 08:20] tagliala commented on #18937
Hi,

Kit are not supposed to be downloaded, it is a code with a javascript to use in the `head`

Please reply here with a reproducible test case. Please do not attach files or add screenshots, those won't help, just provide a link to a reproducible test case

[2022-04-23 08:45] IgorIlgiyaev commented on #18935
![D60F3F8F-A6D6-43D2-8729-1D19925B813C](https://user-images.githubusercontent.com/20319110/164887450-001c52b3-29ff-4e0a-8e55-f39bd4aaa5c6.jpeg)

[2022-04-23 10:39] fabswt commented on #1580
How long have dinosaurs been off the surface of the Earth? Well... It might take as long for this dino to spawn into life 😅

[2022-04-23 11:20] cosmicwanderer7 commented on #15964
npm config rm "@fortawesome:registry" https://npm.fontawesome.com/
npm config rm "//npm.fontawesome.com/:_authToken" FONT-AWESOME-PACKAGE-TOKEN

[2022-04-23 13:50] ywbird opened #18944 "Typo: fo"r"tawesome"
In many of documents in installing npm packages `fontawesome` is `fortawesome`.
![image](https://user-images.githubusercontent.com/83404333/164905153-3ba7133b-bc4d-4218-b9e7-f8f8ed0daffd.png)
![image](https://user-images.githubusercontent.com/83404333/164905841-c3a3c400-958f-4773-8f44-f007fbb0f7b5.png)

Its all over the whole documents I can't tell it one by one.
(It looks like every `fontawesome`

[2022-04-23 14:41] tagliala commented on #18944
Hi!

Thanks for being part of the Font Awesome Community and thanks for reporting this.

Apologies for the confusion, but this is not a typo, the organization name and the package scope on NPM is actually `foRtawesome`

https://twitter.com/fontawesome/status/420609150360375296

Hope it helps

Closing here

[2022-04-23 14:41] #18944 closed, assigned to nobody

[2022-04-23 15:23] aethior commented on #4709
cc/ @tagliala

[2022-04-23 15:26] #4709 closed

[2022-04-23 15:44] aethior commented on #18481
@davegandy Can you explain this please?  Thanks.

[2022-04-23 15:50] tagliala commented on #18481
Hi, thanks for the report

I think this is a mistake

Let's assign @sensibleworld

[2022-04-23 16:26] tagliala commented on #18908
@robmadole / @talbs

The SCSS upgrading guide at https://fontawesome.com/docs/web/setup/upgrade/scss-less#breaking-changes should include this change in the breaking changes.

Something like:

### What Changed
"Sass only: Added new `functions` partial"

### Why We Changed It
"To fix a Dart Sass deprecation and preserving compatibility with older Sass libraries"

### What You Should Do
"If you have

[2022-04-23 19:09] aethior commented on #18940
Duplicate of #16899.

[2022-04-23 19:47] tagliala commented on #18940
Dejavu. Same problem there. Closing here, please post an example on #16899

[2022-04-23 19:47] #18940 closed, assigned to nobody

[2022-04-23 20:12] diesl opened #18945 "Font awesome duotone icon broken"
It looks like the Font Awesome Duotone Icon is broken on the website
https://fontawesome.com/icons/font-awesome?s=duotone

![image](https://user-images.githubusercontent.com/3629547/164944595-e093091d-3486-46f4-a4d7-09e534f59ee0.png)

[2022-04-23 21:58] aethior opened #18946 "Add 'fa-knife' and 'fa-knife-kitchen' to the 'household' category"
I think [fa-knife](https://fontawesome.com/icons/knife) and [fa-knife-kitchen](https://fontawesome.com/icons/knife-kitchen) icons should be part of the `household` category.
Similar to [fa-fork](https://fontawesome.com/icons/fork), [fa-spoon](https://fontawesome.com/icons/spoon) or [fa-chopsticks](https://fontawesome.com/icons/chopsticks) icons.

Regards.

[2022-04-23 22:51] aethior opened #18947 "Icon request: fa-hands-heart"
![heart-hands_1faf6](https://user-images.githubusercontent.com/1769227/164948562-b992c633-3f9c-490d-938f-f6a62b157114.png)

*Related Unicode Emoji* #222
🫶 [U+1FAF6](https://emojipedia.org/emoji/%F0%9F%AB%B6/) Heart Hands

[2022-04-23 23:37] aethior commented on #18785
This is the icon proposed by OCHA (UN) ([link](https://brand.unocha.org/d/xEPytAUjC3sH/icons)) for social distancing (physical distancing).
Is it really necessary to create a new icon in FA?

![Physical-distancing](https://user-images.githubusercontent.com/1769227/164949044-90be25a2-a509-443c-8d1d-f272bc2a863a.png)

In any case, I think it's a good idea to add the alias `social distancing` to the

[2022-04-24 00:25] aethior commented on #8058
Shutting Dropshots down was a difficult decision but the market dynamics in the photo sharing space made it impossible to compete against the much larger sites. We truly appreciate your patronage over the years and hope to see you again somewhere else on the web. ([more info](https://www.dropshots.com/))

cc/ @tagliala

[2022-04-24 01:13] aethior commented on #8191
@tagliala `transportation (category)` and `maps (category)` labels for this request?

[2022-04-24 01:41] aethior commented on #8489
cc/ @tagliala

[2022-04-24 03:34] Vedbhagat opened #18948 "Icon request: c-sharp"
c-sharp is a programing language.
#18805

[2022-04-24 04:19] aethior commented on #7823
@tagliala `construction (category)` label for this request?

[2022-04-24 04:34] aethior commented on #8265
`affimity.com` domain is for sale and social networks have not activy since 2016 ([twitter](https://twitter.com/affimity) and [instagram](https://www.instagram.com/affimity/)).

cc/ @tagliala

[2022-04-24 04:40] aethior commented on #18948
Hi @nick,

Duplicate of #8365.
Please add a 👍 reaction to that request.

Regards.

cc/ @tagliala

[2022-04-24 04:40] aethior commented on #18948
Hi @Vedbhagat,

Duplicate of #8365.
Please add a 👍 reaction to that request.

Regards.

cc/ @tagliala

[2022-04-24 04:41] aethior commented on #17466
Hi @mohammad-hosein-shahpouri,

Duplicate of #8365.
Please add a 👍 reaction to that request.

Regards.

cc/ @tagliala

[2022-04-24 05:30] aethior opened #18949 "Enhancement: Differences between 'wine-glass' and 'wine-glass-empty'"
There is a small inconsistency (almost imperceptible) between the two glasses.
Check the base (floor) and the stem of the wine glasses.

The work of the FA team is wonderful.
These details only strive for perfection.

![wineglass](https://user-images.githubusercontent.com/1769227/164957793-c2f48db2-b438-468b-94b9-c4279370c4c2.gif)

[2022-04-24 07:41] #18948 closed, assigned to nobody

[2022-04-24 07:41] #17466 closed

[2022-04-24 07:42] #8265 closed

[2022-04-24 07:43] tagliala commented on #18945
Hi!

Thanks for being part of the Font Awesome Community and for reporting this.

This is a known issue, they are broken just in the documentation

http://jsfiddle.net/tagliala/2s78abqk/17/

Closing as a duplicate of #18931

[2022-04-24 07:43] #18945 closed, assigned to nobody

[2022-04-24 07:47] tagliala commented on #18785
Since `people-arrows-left-right` has been added to humanitarian icons, I think it is fine for this use case

Maybe just a search term

[2022-04-24 07:50] tagliala commented on #18949
Good find, thanks

Let's assign @sensibleworld

[2022-04-24 07:50] #8058 closed

[2022-04-24 07:55] tagliala opened #18950 "Bug: spider and spider-black-widow slightly different"
Similarly  to #18949

Fast switch between:
- https://fontawesome.com/icons/spider?s=solid
- https://fontawesome.com/icons/spider-black-widow?s=solid

At big sizes, you can notice that spider legs are a little bit different and spiders seem moving 😨😨😨 😱 😱 😱

[2022-04-24 13:35] aethior commented on #18950
![spider](https://user-images.githubusercontent.com/1769227/164979093-df126e8b-8ef8-441e-9ab9-6689c82e9079.gif)

[2022-04-24 14:05] aethior opened #18951 "Enhancement: Differences between 'martini-glass' and 'martini-glass-empty'"
Similarly to #18949 and #18950

There is a small inconsistency (almost imperceptible) between the two glasses.
Check the stem of the martini glasses.

![martini](https://user-images.githubusercontent.com/1769227/164980291-9e0cfff8-0835-46be-b463-98a9d530a1dd.gif)

[2022-04-24 14:13] aethior commented on #8489
@tagliala check here please. :)

[2022-04-24 14:15] #8489 closed

[2022-04-24 14:19] aethior commented on #16532
@tagliala `bug (category)` label for this request?

[2022-04-24 14:36] pedro-profile commented on #18942
I am developing a Sage based theme for a company.
Should i ask them about the Font Awesome Pro login details?

What is necessary to run "yarn" inside the theme without that error?

[2022-04-24 16:43] tagliala commented on #18942
Hi, sorry I do not know this theme and this repository is not intended to report third-party issues

Uninstall `@fortawesome/fontawesome-free` and installing it back, after making sure that `.npmrc` does not contain a configuration that points `@fortawesome/fontawesome-free` to the private npm repository `https://npm.fontawesome.com`

You may want to take a look at #15964

[2022-04-24 21:08] aethior opened #18952 "Enhancement: Differences between 'glass-empty' and 'glass-water'"
To be honest I don't know if this is a bug or expected behavior for `glass-water` and `glass-water-droplet` icons.
There are also differences between the `solid` and the `duotone` versions (this is unusual).

![glass](https://user-images.githubusercontent.com/1769227/164996637-a252b746-0e0e-44fd-9d9b-358090c6eb3d.gif)
![duotone](https://user-images.githubusercontent.com/1769227/164996639-51f778f5-

[2022-04-24 22:42] Spatchy opened #18953 "Icon request: localised electrical outlets"
There is currently only one `outlet` icon, depicting a US outlet. It would be useful to have outlets from other regions e.g. UK, EU, etc.

**Potential Uses**
- Electrical/Electronics suppliers that need to differentiate compatibility
- Smart home devices
- Any app/site intended for a specific region that generally wants to use that region's outlet

[2022-04-24 22:49] aethior commented on #8486
I think this issue is solved with the current `THIN` version.
Check https://fontawesome.com/icons/magnifying-glass?s=thin

Regards.

cc/ @tagliala

[2022-04-24 22:53] aethior commented on #8495
`redeadslegacy.com` domain is shut down.
The instagram account not have activity since 2016 ([link](https://www.instagram.com/readerslegacy/)).

cc/ @tagliala

[2022-04-24 23:05] aethior commented on #8594
*Related Unicode Emoji* #222
🐆 [U+1F406](https://emojipedia.org/emoji/%F0%9F%90%86/) Leopard
 Also known as `African Leopard` and `Jaguar`.

[2022-04-24 23:22] aethior commented on #8595
*Related Unicode Emoji* #222
◀ [U+25C0, ️U+FE0F](https://emojipedia.org/emoji/%E2%97%80/) Reverse Button
Also known as `Left Triangle`, `Left-Pointing Triangle` and `Black Left-Pointing Triangle`.

[2022-04-24 23:24] aethior commented on #8660
cc/ @tagliala

[2022-04-24 23:39] aethior commented on #8849
`www.edelight.de` domain is shut down.
The twitter account has no activity since 2016. ([link](https://twitter.com/edelight))

[2022-04-24 23:40] aethior commented on #8849
`edelight.de` domain is shut down.
The twitter account has no activity since 2016. ([link](https://twitter.com/edelight))

cc/ @tagliala

[2022-04-24 23:51] aethior commented on #8924
Related #8867

[2022-04-24 23:57] aethior commented on #8988
This domain is parked free of charge with NameSilo.com. NameSilo offers the cheapest domains on the Internet as well as (...) ([more info](http://www.digibyte.co/))

cc/ @tagliala

[2022-04-25 00:02] aethior commented on #9059
cc/ @tagliala

[2022-04-25 00:15] aethior commented on #9170
cc/ @tagliala

[2022-04-25 00:20] aethior commented on #8717
Hi @Cenute,

Something like https://fontawesome.com/icons/crosshairs?

Regards.

[2022-04-25 07:24] #8486 closed

[2022-04-25 10:03] jinying-che commented on #9727
why not man!

[2022-04-25 11:04] tagliala commented on #8717
I'm going to close here for the moment

[2022-04-25 11:04] #8717 closed

[2022-04-25 11:07] #9059 closed

[2022-04-25 11:07] #8988 closed

[2022-04-25 11:08] #8849 closed

[2022-04-25 11:08] #8660 closed

[2022-04-25 11:09] #8495 closed

[2022-04-25 11:12] tagliala commented on #18953
Hi!

Thanks for being part of the Font Awesome Community.

I think this request is legit, but the word "etc." is usually a red flag that a request is hard to manage

Is there any wikipedia page to show a list of the most common outlets, in order to make a comprehensive list of the icons that should be implemented?

[2022-04-25 11:42] Spatchy commented on #18953
There is [this Wikipedia page](https://en.wikipedia.org/wiki/AC_power_plugs_and_sockets#Types_in_present_use) However, it seems overly verbose. A better source is the [IEC](https://www.iec.ch/world-plugs) (The organisation responsible for publishing electrical standards) which has a list of the 15 currently used outlets labelled A-O. These can be better seen visually on [this worldstandards.eu pag

[2022-04-25 11:50] tagliala commented on #18953
Thanks. I can see 15 types at the moment. Given that Type B is already here, 14 * 5 styles, this is a request for 70 icons

[2022-04-25 11:57] GashyDev commented on #18872
Hey thanks for the reply

The CSS and safari version
<img width="702" alt="image" src="https://user-images.githubusercontent.com/34476863/165083839-24ea146e-a53d-45d1-80ff-d51742b1c4fb.png">

OS version
![image](https://user-images.githubusercontent.com/34476863/165084329-0ba73660-0975-40c8-a6be-f531a6dd707a.png)

This is using a FA6 kit that is using SVGs and not the webfont.
The render (the same

[2022-04-25 13:02] nrauschcom commented on #18924
Unfortunately I cannot find any Brand Guide for the new Logo.
I asked my sponsoring manager at TeamSpeak and will provide you with info once I have it.

[2022-04-25 13:08] tagliala commented on #18872
Hi,

I've tried with an svg based Pro Kit and I'm not able to replicate

Can you see pseudoelements at  https://jsfiddle.net/tagliala/2s78abqk/19/ ?

Please double check instructions at https://fontawesome.com/v6/docs/web/add-icons/pseudo-elements#set-pseudo-elements-to-display-to-none and provide a reproducible test case (screenshots don't help)

[2022-04-25 13:09] SamEdwards-1 commented on #18942
I am having the same issue. I am a pro customer, my company uses yarn, and i have an .npmrc file in the correct place as described in https://fontawesome.com/docs/web/setup/packages.

What is unclear is the mechanism by which that registry setting with authToken is applied to yarn. The .npmrc approach didnt work, nor did using npm config variables.

[2022-04-25 13:19] tagliala commented on #18942
Hi, which version of yarn?

In yarn 1, you can use `yarn config list --verbose` to check how `.npmrc` logic applies to yarn and if Font Awesome configuration is correct

PS: as a pro customer, you can ask for dedicated support at hello@fontawesome.com

[2022-04-25 13:20] talbs commented on #18939
Thanks for letting us know about this issue with v5's React set up docs, @josephmarkus. We've got a fix with your good suggestions going and should have that on fontawesome.com shortly.

[2022-04-25 13:41] talbs commented on #18908
Thanks for the good suggestion, @tagliala. I've got a PR to add that breaking change to our Sass (SCSS) upgrading docs. We should have that live on fontawesome.com shortly.

[2022-04-25 14:51] lenamtl opened #18954 "Keep one icon from v5 and use v6 (for dashboard icon)"
Hi,

I'm in process to migrate from v5 to v6
I'm using tachometer / gauge and the icon is very different since v6 this is now completely round.
So is there a way to use Fontawesome v6 and use the v5 icon only for this icon?

https://fontawesome.com/v5/icons/tachometer-alt?s=solid
https://fontawesome.com/v6/icons/gauge-high?s=solid

Hope you will readd the shape as an extra icon alternative.

[2022-04-25 16:13] GashyDev commented on #18872
That resolved the issue, thank you I was missing the data attribute on the script tag, I think the main reason why I missed this is because I was looking here originally - https://fontawesome.com/v6/docs/web/setup/upgrade/pseudo-elements

Thank you for the help, you're a star!

[2022-04-25 17:34] aethior opened #18955 "Enhancement: Differences between 'shield' and 'shield-*'"
All `shield-*` icons need a revision.
There are a little differences between `6.0.0` and `6.1.0` icons.

![shield-01](https://user-images.githubusercontent.com/1769227/165142484-7df0d15e-77cd-47f0-89e2-871f04721462.gif)

![shield-02](https://user-images.githubusercontent.com/1769227/165142493-2ba9dd67-30ec-4339-9c1a-400c38ce988d.gif)

[2022-04-25 17:46] salohman opened #18956 "more icons about pop culture ( TV shows , Movies)"
I really wanted an Icon for Heisenberg from breaking bad , I see there's some icons for star wars which is cool but there's none for any tv show

[2022-04-25 17:46] aethior opened #18957 "Enhancement: Differences between 'clipboard' and 'clipboard-question'"
![clipboard-01](https://user-images.githubusercontent.com/1769227/165144674-1493c162-268b-4e17-9fa2-a46c22b050a3.gif)

![clipboard-02](https://user-images.githubusercontent.com/1769227/165144682-7dcf7b71-0282-469b-97cf-7b68cc8249a0.gif)

[2022-04-25 18:21] tagliala commented on #18954
Hi!

Thanks for being part of the Font Awesome Community.

With a Pro Kit, you can customize it and add the version from V5

If you are using the SVG Framework, customization is still easy and possible: https://github.com/FortAwesome/Font-Awesome/wiki/Customize-Font-Awesome

[2022-04-25 21:01] SamEdwards-1 commented on #18942
Yeah, this was to the top result in a google search though....

Anyway, long story short, in my case it turned out to be a Docker thing, the .npmrc approach for yarn worked once the containers were removed and rebuilt.

/shrug

[2022-04-26 01:36] aethior opened #18958 "Enhancement: Differences between 'battery-empty' and 'battery-slash'"
Check the positive terminal of the battery.

![battery-solid](https://user-images.githubusercontent.com/1769227/165201481-96a0afe0-8fc5-446f-9588-a4bedeb86fde.gif)

![battery-light](https://user-images.githubusercontent.com/1769227/165201494-af66e45e-b947-4722-a155-36d709dce532.gif)

[2022-04-26 01:53] aethior opened #18959 "Enhancement: Differences between 'diamond', 'diamond-exclamation' and 'diamond-turn-right'"
![diamond](https://user-images.githubusercontent.com/1769227/165203478-42458ff4-88c8-43cf-9776-40f1422556a2.gif)

[2022-04-26 08:43] rene0899 commented on #18423
Agreed!

[2022-04-26 10:49] ChazUK opened #18960 "Bug: Error on build for incompatible type"
I'm not really sure what's happening here as my project was working correctly but now I'm getting this error.

[code]

package.json
[code]

[2022-04-26 10:52] elbec opened #18961 "Icon request: fa-codeco"
Hello

Please add our brand icon to font-awesome. We develop software solutions in IoT, digitization and artificial intelligence. We want to be one of the leads in this technology in Europe.

Thank you
![only_logo_1100x1270](https://user-images.githubusercontent.com/45513949/165284556-223142b8-cab0-4de7-99c1-ceeee4a06ea6.png)

[2022-04-26 12:43] sehrun commented on #18926
I've asked in google chrome, so it's "Use secure DNS" issue, most likely not font-awesome problem, so closing

[2022-04-26 12:43] #18926 closed, assigned to nobody

[2022-04-26 14:47] ChazUK commented on #18960
Looks like an incompatility between 1.3.0+ and some other package I'm using

[2022-04-26 14:47] #18960 closed, assigned to nobody

[2022-04-26 15:12] talbs commented on #18908
Okay, gang. We've got that additional `functions` partial noted as a breaking change. in our Sass (SCSS) Upgrading Docs at https://fontawesome.com/docs/web/setup/upgrade/scss-less#breaking-changes.

[2022-04-26 15:14] talbs commented on #18939
Okay, folks. We've got those docs updated with the great suggestions. I've also added `yarn` specific instructions for how to add additional styles on that page as well - https://fontawesome.com/v5/docs/web/use-with/react#get-started.

Thanks again for the help and please shout if anything else seems out of place on fontawesome.com

[2022-04-26 15:14] #18939 closed, assigned to talbs

[2022-04-26 17:04] srabouin commented on #3819
+1
You can rotate -90 code-fork, but squares would be better than circles

[2022-04-26 19:22] jirkadev commented on #16495
@robmadole @tagliala we recently bought the pro version. And we see the same problem. If we switch to pro icons in the kit settings. Pseudo element :before is not "vertically centered" Could you reproduce this issue? I think this should be fixed!

For us, this issue is present in WebKit browsers (Chrome, Safari, Opera). This issue is not present in Firefox.

free icons (webfont)
<img width="452" a

[2022-04-26 19:50] jirkadev commented on #17871
alright this is known issue for two years..

[2022-04-26 22:19] YNedderhoff opened #18963 "Icon request: counter.social"
https://counter.social/

[2022-04-27 03:35] aethior opened #18964 "Enhancement: Differences between 'cart-flatbed' and 'cart-flatbed-empty'"
The `cart-flatbed` icon needs a revision.

![cart-flatbed](https://user-images.githubusercontent.com/1769227/165435433-da960ff0-bcd0-4fa3-acac-439f273cbd7c.gif)

[2022-04-27 03:55] aethior opened #18965 "Enhancement: Differences between 'file' and 'file-*'"
![file_01](https://user-images.githubusercontent.com/1769227/165436753-2b8169ad-a0e5-424e-b3d3-02f27b2cb44e.gif)
![file_02](https://user-images.githubusercontent.com/1769227/165436756-253d8942-9cad-4873-be35-12d0456c6ae7.gif)
![file_03](https://user-images.githubusercontent.com/1769227/165436758-d64150af-d77a-4006-b316-08f66295fe0d.gif)

[2022-04-27 04:19] Alkoptantech commented on #671
Not many problems can be fixed but it looks good at first
https://www.alkoptantech.com

[2022-04-27 08:21] katielola opened #18966 "Confused newbie - please help :)"
I'm having a slight problem - please see screenshots. I'm trying to add an icon next to 'Confidence' but it just isn't working. 'Training' and 'Community' were fine, but I just can't get this to work, even when I create a brand new block.

I'm using Elementor inside WP.

Please could you advise?

![Screen Shot 2022-04-25 at 3 01 29 pm](https://user-images.githubusercontent.com/104492316/165474274-

[2022-04-27 09:50] diesl commented on #18945
Ah, sorry for the duplicate. My previous search did not show appropriate results...

[2022-04-27 11:36] pixiekat commented on #18966
Are you using Font Awesome Free or do you have a licence for Font Awesome Pro? To use icons from the pro pack, you need a pro licence.

[2022-04-27 11:46] katielola commented on #18966
Oh fantastic - that makes sense now thank you! I use Free, but didn't realise I was trying to use  a Pro icon. Thank you :)

[2022-04-27 11:54] tagliala commented on #18966
Hi!

Thanks for being part of the Font Awesome Community.

Glad you solved

Closing here

[2022-04-27 11:54] #18966 closed, assigned to nobody

[2022-04-27 12:23] m-charchit opened #18967 "Icon request: instagram-share"
Hi,
Please add the instagram share icon.

Thank You

![image](https://user-images.githubusercontent.com/77086901/165516813-53a2ac1d-6804-41f0-92e4-4320cd4f116f.png)

[2022-04-27 14:22] lenamtl commented on #18954
Hi,

I'm still using v4 for my application.
I do have v5 pro license but never had the time to switch, at the moment I'm a template migration process.
I'm not using the SVG framework at the moment but your solution seems viable.

Other question about font compatibily & look and feel font size / font weight migration.
For example I'm using v4 and the font size was set to `font-size: inherit;`  almo

[2022-04-27 17:56] pinappllife commented on #3526
+1 for Kik

[2022-04-27 18:19] tagliala commented on #18961
Hi!

Thanks for being part of the Font Awesome Community.

Could you please provide more information about this brand? An official website and why other Font Awesome users can take advantage of this brand in their projects

[2022-04-27 18:55] markusweb opened #18968 "Paypal icon two color duotone"
Hi,

Is there a way to have a two colored paypal icon (dark and light blue)?
i know there is a brand icon for paypal but this only comes in one color.

markus

[2022-04-27 19:23] elbec commented on #18961
Hello

Thank you for your quick answer.

Here is the link to the offiziellen website: www.codeco.at

Why other Font Awesome users can take advantage of this Brand?
In the next time we will provide a new ai technology tool witch will be
very important for other users to embed on there websites. So we think this
icon shold be available in Font Awesome.

Thank you very much

Geremia Taglialatela ***@

[2022-04-27 19:31] tagliala commented on #16060
As an update,

https://www.patreon.com/brand

(image upload does not work)

[2022-04-27 19:32] tagliala commented on #18968
Hi!

Thanks for being part of the Font Awesome Community.

This is not possible at the moment, Font Awesome only supports single color brands

Please refer to #16060 for more information

[2022-04-27 19:32] #18968 closed, assigned to nobody

[2022-04-27 20:48] irinrudko commented on #12299
yes, please do!

[2022-04-28 01:01] MarcusTheSmith commented on #16060
Haha, I guess eventually all logo decisions are old logo decisions. The irony is that their favicon still has the dual tone. I'm sure there was some big discussion in their branding department about how they could better represent the ethos of their company with a slight adjustment... again. haha
Thanks for the update!

[2022-04-28 08:03] tomours commented on #18707
We are switching our app to V6, and we also found that this new eye is really awful.
We were going to upload the old V5 eye into our kits and change all our far to fak.
Can you tell us if you intend to rollback the eye style ? (so we won't have to change 2 times our icons)

Except that eye change, thanks for all you're doing, we really appreciate these icons ! :+1:

[2022-04-28 11:20] sensibleworld commented on #18953
What are the most common outlet types? I imagine starting with a list of those typically included in "universal adaptor" kits could be a good starting point.

[2022-04-28 20:55] aethior opened #18969 "Enhancement: Differences between 'spray-can' and 'spray-can-sparkles'"
![spray-can](https://user-images.githubusercontent.com/1769227/165844120-b216ef3f-06b6-4212-9cf3-36aa14c5d93d.gif)

[2022-04-28 21:02] aethior opened #18970 "Enhancement: Differences between 'sensor-fire', 'sensor-cloud' and 'sensor-triangle-exclamation'"
![sensor](https://user-images.githubusercontent.com/1769227/165845268-bb7ae3a8-9dc3-4edb-a53d-07a852d8cff1.gif)

[2022-04-28 21:14] aethior opened #18971 "Enhancement: Differences between 'map-location' and 'map-location-dot'"
![map-location](https://user-images.githubusercontent.com/1769227/165846961-1851302f-cc21-4a47-9674-9c019c7d81a4.gif)

[2022-04-28 21:22] aethior opened #18972 "Enhancement: Differences between 'lungs' and 'lungs-virus'"
![lungs](https://user-images.githubusercontent.com/1769227/165848063-2588f82c-13fd-4702-a677-4e1e2d507ebb.gif)

[2022-04-28 23:09] Mtn-View opened #18973 "Icon request: rotate-slash"
I would like an icon like fa-rotate, but with a slash through it. The general idea is that I'd have fa-rotate for an item that was synced, fa-rotate-exclamation for an item that had a sync error, and fa-rotate-slash for an item that has not been synced yet.
![37214828-8336b55e-23b6-11e8-8f29-4f8626018963](https://user-images.githubusercontent.com/4822773/165862002-cbd3dad8-326b-4de4-8145-ec8382442

[2022-04-29 10:10] aethior opened #18974 "Enhancement: Differences between 'bread-slice' and 'bread-slice-butter'"
![bread-slice](https://user-images.githubusercontent.com/1769227/165925747-2d73dd54-9d19-4aae-902e-fb773f85c41d.gif)

[2022-04-29 10:17] aethior opened #18975 "Enhancement: Differences between 'bowl-chopsticks' and 'bowl-chopsticks-noodles'"
Check also the little differences between the `SOLID` and `DUOTONE` versions.

![bowl-chopsticks](https://user-images.githubusercontent.com/1769227/165926564-6e6a941c-e609-43c4-8808-004e2a8ce488.gif)

![solid-duotone](https://user-images.githubusercontent.com/1769227/165928143-006391ed-faf7-47a5-8cc2-b36acd0b1eac.gif)

[2022-04-29 16:54] drewgeraets commented on #16469
Something like this would be great:
<img width="222" alt="image" src="https://user-images.githubusercontent.com/1134233/165989099-07e685b1-e45d-4eee-9e45-a850bb1229ac.png">

Our use case is showing sales pipelines.

Potentially related to [#16260](https://github.com/FortAwesome/Font-Awesome/issues/16260)

[2022-04-29 19:04] avduo opened #18976 "Icons in 4,7 changed?"
I know these are old, but have been using these of these for a project,

Search and window close icons seem to be not correct?

[See site here](https://fontawesome.com/v4/icons/)

Also noticed search minus, search plus, sign in, sign out, seem to have all been changed to currencies?

Thanks

[2022-04-29 19:18] tagliala commented on #18976
Hi!

Thanks for being part of the Font Awesome Community.

Sorry, I didn't get this question

![image](https://user-images.githubusercontent.com/556268/166038879-1f8b74d7-a192-4c6a-8ef6-01c231aa62d3.png)

Do you see something different?

[2022-04-29 22:32] bubba-123 commented on #323
35

[2022-04-29 22:34] Tragen opened #18977 "Icon Request: file-pen-alt"
I used v5 icons of this icons
file-pen, file-minus, file-xmark, file-plus
Now, they don't fit together as file-pen has the pen on the side and not inside the file anymore.
As the icons have a maximum size of 32x32 pixels in our software, the file-pen is smaller in the height as the size is used by the width of the icon.  Could you add a file icon with the pen inside?

Thanks.

[2022-04-30 07:00] tagliala commented on #18977
Hi!

Thanks for being part of the Font Awesome Community.

@sensibleworld should this be considered a bug or have priority?

[2022-04-30 07:01] tagliala commented on #18973
Hi!

Thanks for being part of the Font Awesome Community.

Is this a request for two icons?

[2022-04-30 07:03] Mtn-View commented on #18973
It is not. I'm requesting an icon like fa-rotate, but with a slash through it, similar to the center icon in the attached image.

[2022-04-30 07:05] tagliala commented on #18967
Hi!

Thanks for being part of the Font Awesome Community.

We already have https://fontawesome.com/icons/paper-plane?s=solid and https://fontawesome.com/icons/paper-plane-top?s=solid for Pro users

Given that the regular style is just one of the possible styles and this icon will look like a rotated version of `paper-plane-top`,  could you please clarify the use case for this icon?

[2022-04-30 07:08] tagliala commented on #18973
Thanks for the clarification.

Please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/120/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.com/docs/web/style/mask
https://fontawesome.com/docs/web

[2022-04-30 07:10] Mtn-View commented on #18973
Oh that's neat, thanks. I'll have to try that on Monday.

[2022-04-30 10:14] avduo commented on #18976
That's interesting if you're on 4.7

mine shows [link to screenshot](https://mega.nz/file/VKIT3AhR#vPK6IuVVdwdSowulabfQhqQBoXF9Yl2sASyWUBF4Ngc)

[2022-04-30 10:20] tagliala commented on #18976
Can't replicate.

Could you please check:
- in incognito, without extensions enabled
- if on your system there is a different version of Font Awesome installed having priority. In this case, uninstall it
- that there are no errors in the development console of your browser (except for `Failed to find a valid digest in the 'integrity' attribute for resource 'https://cdn.jsdelivr.net/jsdelivr-rum/1.

[2022-04-30 10:22] tagliala opened #18978 "Resource integrity error on v4 docs"
How to replicate

1. Go to https://fontawesome.com/v4/
2. Check development console

[code]

[2022-04-30 10:39] avduo commented on #18976
Ok seems to work in incognito without changing anything, tried clearing cookies.

I've not installed any version of Font awesome in windows 10  21h2 using chrome Version 100.0.4896.127 (Official Build) (64-bit)

So what are the next steps to resolve this.
Thanks for your help with this.

[2022-04-30 11:23] tagliala commented on #18976
If it works in incognito, please check that there aren't third party browser extensions or settings that may cause this issue

[2022-04-30 11:56] babakfp opened #18979 "Icon Request: arrow-right-arrow-left-alt (smaller arrowheads)"
![Screenshot 2022-04-30 045205](https://user-images.githubusercontent.com/44144724/166104446-e51f075f-7b4a-45e1-b4ca-d29b92bf8750.png)

Currently, there are similar icons but I like these more.

[2022-04-30 12:30] avduo commented on #18976
Thanks for the response looks like it's a conflict with => File Converter - By Online-Convert.com...

[2022-04-30 12:50] tagliala commented on #18976
Is it possible that that extension uses its own version of Font Awesome?

[2022-04-30 12:50] #18976 closed, assigned to nobody

[2022-04-30 17:25] aethior opened #18980 "Enhancement: Differences between 'virus-covid' and 'virus-covid-slash'"
![covid](https://user-images.githubusercontent.com/1769227/166115919-8454c139-3894-49b5-90f9-f9f9d091ded5.gif)

[2022-04-30 17:25] aethior opened #18981 "Enhancement: Differences between 'utensils' and 'utensils-slash'"
![utensils](https://user-images.githubusercontent.com/1769227/166115940-4117fddc-f854-418f-a5a5-90549780ca42.gif)

[2022-04-30 17:36] aethior opened #18982 "Enhancement: Differences between 'virus' and 'virus-slash'"
![virus](https://user-images.githubusercontent.com/1769227/166116262-9bdfdfee-0384-4deb-bd11-ca9adcd0754c.gif)

[2022-04-30 19:22] m-charchit commented on #18967
Thanks for the the paper-plane icon. I was looking for the same. No need to add this icon.

[2022-04-30 19:22] #18967 closed, assigned to nobody

[2022-04-30 19:32] #15817 closed

[2022-04-30 20:51] aethior opened #18983 "Enhancement: Differences between 'bowl-scoop' and 'bowl-scoops'"
![bowl](https://user-images.githubusercontent.com/1769227/166122229-86e91929-16cd-4ecf-b23e-32e2f8a90420.gif)

[2022-04-30 21:40] aethior opened #18984 "Enhancement: Differences between 'burger-glass' and 'burger-fries'"
![burger](https://user-images.githubusercontent.com/1769227/166123531-c4485e60-2ecf-49be-a254-442f51c1b666.gif)

[2022-04-30 21:54] aethior opened #18985 "Enhancement: Differences between 'head-side-cough' and 'head-side-cough-slash'"
![cough](https://user-images.githubusercontent.com/1769227/166123864-584c8780-2cb9-4b31-af4b-2213eaf1d29b.gif)

![cought-duotone](https://user-images.githubusercontent.com/1769227/166123867-8e14e7ab-355e-455a-9ff4-c36bd3b9c0de.gif)

[2022-05-01 14:03] WilliamGeo opened #18986 "Icon request: codecademy"
I request this to be added to the index.

![Codecademy](https://upload.wikimedia.org/wikipedia/commons/6/6c/Codecademy.svg)
![Alt](https://avatars.githubusercontent.com/u/1463944)

[2022-05-01 14:23] tagliala commented on #18986
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #3320, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-05-01 14:23] #18986 closed, assigned to nobody

[2022-05-01 16:05] JacobDB commented on #2356
I'd also like to see this, a generic icon kind of like this one:

![image](https://user-images.githubusercontent.com/1123997/166154241-dfea3416-4fc3-4421-9386-ac62515a2ff6.png)

[2022-05-01 20:58] lt-kraken commented on #16336
bump

[2022-05-01 22:36] lclarkg18 commented on #14021
+1

[2022-05-02 00:07] Tragen opened #18987 "Bug in ttf with file-plus?"
I have tested a lot of icons from the ttf file with font size 24 and everything looks sharp and good, except file-plus

![image](https://user-images.githubusercontent.com/1700241/166170250-a8f8f60f-b507-458c-baca-9030e7a84276.png)

Perhaps the line is 1 or 0.5 pixels off?

[2022-05-02 05:56] shukrp opened #18988 "Icon request: phone-message-asterisks (OTP)"
While writing code for OTP request at my site thought to use fa-fa icon for OTP (One time password) to verify email and/or cell phone number. Unfortunately couldn't find any fa icon for OTP so requesting font awesome team to create fa-fa icon for OTP.

[2022-05-02 07:28] tagliala commented on #18988
Hi!

Thanks for being part of the Font Awesome Community.

Any example of how an OTP icon should look like?

[2022-05-02 07:30] tagliala commented on #18987
Hi!

Thanks for being part of the Font Awesome Community.

Is this related to Font Awesome Pro 6.1.1 Thin style?

[2022-05-02 07:31] Tragen commented on #18987
Oh sorry. Yes, it's Pro 6.1.1 Thin. I can try light also if you want

[2022-05-02 08:01] YNedderhoff commented on #7467
Is there any chance at all that this might ever be considered?

EDIT:

It is worth pointing out that the logo has changed in the meantime:

![e3520345-0a28-449b-8485-23082ade0c1f-1623869503506](https://user-images.githubusercontent.com/8149019/166203710-737d477f-c325-4417-8518-7b378918d1f1.png)

[2022-05-02 08:26] shukrp commented on #18988
Hi,

Added reference pics which I have downloaded from Google. You can create
anything similar to this.

On Mon, 2 May, 2022, 12:58 pm Geremia Taglialatela, <
***@***.***> wrote:

[2022-05-02 08:29] tagliala commented on #18988
Hi, email attachments don't work, please edit the opening post at https://github.com/FortAwesome/Font-Awesome/issues/18988

[2022-05-02 09:35] shukrp commented on #18988
Added link for your reference where you can find images :

https://www.google.com/url?sa=i&url=https%3A%2F%2Fuxwing.com%2Fotp-icon%2F&psig=AOvVaw1FR2HlOUe5g1MbMOv7kToE&ust=1651570432029000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCJjLmLvBwPcCFQAAAAAdAAAAABAD

https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.alamy.com%2Fmockup-phone-with-encrypted-password-authentication-two-factor-authentication

[2022-05-02 11:12] tagliala commented on #18870
Hi!

Thanks for being part of the Font Awesome Community.

This request is legit, but it is possible to use the current `fa-flip-horizontal` helper in both CSS and SVG frameworks to get an icon for the same use case.

Of course the clock hangs will be flipped too

Demo: https://jsfiddle.net/tagliala/bfa6uhse/125/

Ref: https://fontawesome.com/v6/docs/web/style/rotate#contentHeader

[2022-05-02 11:21] tagliala commented on #18979
Hi!

We cannot use the same names of existing icons.

I think that `arrow-right-arrow-left` is a request for `right-long-left-long`

Demo: https://jsfiddle.net/tagliala/bfa6uhse/133/

As per the "time saving icon", I'm going to consider it a duplicate of #18870

[2022-05-02 13:17] babakfp commented on #18979
Hi
Thank you for your response.

The shape of the arrow isn't actually like the [`caret` icon](https://fontawesome.com/icons/caret-right?s=solid). It's the same as the `arrow-right-arrow-left` **but shorter**. Name suggestion: `arrow-right-arrow-left-short`

![166104446-e51f075f-7b4a-45e1d-b4ca-d29b92bf8750](https://user-images.githubusercontent.com/44144724/166239885-21e5bea9-89e1-49a5-af19-73393

[2022-05-02 13:28] Kemyke opened #18989 "Icon request: border-crossing (boom gate, boom barrier)"
#### What can it be used for?

We would like to use it during visualizing routes on a map and indicate border crossing on the route polygon.

#### Example image (optional)

- https://iconscout.com/icon/border-control-3796535

- https://www.vectorstock.com/royalty-free-vector/land-border-checkpoint-rgb-color-icon-vector-41075839

#### Icon request checklist

- [x] This is a single icon or matched p

[2022-05-02 13:29] babakfp commented on #18912
Name change request:

- `caret-long-up-right`
- `caret-long-up-left`
- `caret-long-down-right`
- `caret-long-down-left`

Also needed:

- `caret-long-up`
- `caret-long-down`
- `caret-long-right`
- `caret-long-left`

[2022-05-02 13:52] mikhail-talkshoplive commented on #4266
+ even in pro version :(

[2022-05-02 14:17] tagliala commented on #18979
Hi,

Hi, so it is exactly the same as https://fontawesome.com/icons/arrow-right-arrow-left?s=solid but with smaller arrowheads. Will add an `alt`.

Preferring a style over another is legit of course, but this could apply to every existing icon in Font Awesome. Is there any reason why this could be a more objective criticism? Like "arrow heads are too big", or "the dashed circled line adds context"

[2022-05-02 16:24] aethior commented on #2353
@tagliala `users & people (category)` and `security (category)` labels for this request?

[2022-05-02 16:26] aethior commented on #9126
@tagliala `users & people (category)` label for this request?

[2022-05-02 17:57] aethior commented on #2076
*Related Unicode Emoji* #222
💪 [U+1F4AA](https://emojipedia.org/emoji/%F0%9F%92%AA/) Flexed Biceps

[2022-05-02 20:09] MontagueWebWorks opened #18990 "Icon request: Parkbench (brand)"
We have a social link bar on our sites and some of our customers would like to link to some of these less popular services:

    Alignable
    AngiesList (Angie?)
    BBB
    ParkBench

There are others, like Houzz etc.

Would FontAwesome consider adding these?

[2022-05-02 23:22] aethior commented on #14335
*Related Unicode Emoji* #222
🖲 [U+1F5B2, U+FE0F](https://emojipedia.org/emoji/%F0%9F%96%B2/) Trackball

[2022-05-02 23:30] aethior opened #18991 "Enhancement: 'cup-straw' and 'cup-straw-swoosh'"
![cup-straw](https://user-images.githubusercontent.com/1769227/166471375-069ed8b3-0cab-4b24-9398-5e82a2c4e8b8.png)

[2022-05-02 23:33] aethior opened #18992 "Enhancement: Differences between 'podium' and 'podium-star'"
![podium](https://user-images.githubusercontent.com/1769227/166342545-e878693e-f480-4cf1-8896-a83756e2235a.gif)

[2022-05-02 23:38] aethior opened #18993 "Enhancement: Differences between 'wheat-awn' and 'wheat-awn-slash'"
![wheat-awn](https://user-images.githubusercontent.com/1769227/166342890-9081168d-ad3a-43a4-a957-029e5b407eed.gif)

[2022-05-02 23:46] aethior opened #18994 "Enhancement: Differences between 'engine' and 'engine-warning'"
![engine](https://user-images.githubusercontent.com/1769227/166343483-548b4499-93b1-43dd-8f68-9784d1ce56da.gif)

[2022-05-02 23:56] aethior opened #18995 "Enhancement: Differences between 'microphone' and 'microphone-slash'"
![microphone](https://user-images.githubusercontent.com/1769227/166344252-b8e96cd2-d4e9-42c1-8787-97adbd5f7b5f.gif)

[2022-05-03 07:03] tagliala commented on #18990
Hi!

Thanks for being part of the Font Awesome Community.

Alignable is a duplicate of #11602, please add a 👍 reaction to that request.
Angi is a duplicate of #6716, please add a 👍 reaction to that request.
BBB is a duplicate of #5797, please add a 👍 reaction to that request.

Leaving this open as `Parkbench`

Please open new individual request for each brand

Please make sure you [search existing

[2022-05-03 08:28] PeterNSkovgaard opened #18996 "Timeline and cloud-arrow-down missing from angular library"
Hi,

I am trying to use the two icons displayed in the title in an Angular project. I am successfully able to use other icons such as clone and square like so: **<fa-icon [icon]="['far', 'clone']">**.

For the others however (eg. <fa-icon [icon]="['far', 'cloud-arrow-down']">, I just get Icon not found even though it seems that the icons are in the free version?! Is it because the angular project

[2022-05-03 12:27] aethior opened #18997 "Enhancement: Differences between 'display' and 'display-slash'"
![display](https://user-images.githubusercontent.com/1769227/166452657-4e7629aa-4016-46b2-883a-3d84a55d478b.gif)

[2022-05-03 14:14] tagliala commented on #18996
Hi!

Thanks for being part of the Font Awesome Community.

`cloud-arrow-down` in regular style is a Pro icon. `clone` and `square` are available in the Free Set too

Ref: https://fontawesome.com/icons/cloud-arrow-down?s=regular (in he yellow button)

I guess this is because your application is using Font Awesome Free, am I correct?

[2022-05-03 14:21] PeterNSkovgaard commented on #18996
Ah, yes, sorry I did not notice that the regular versions were Pro only. My
mistake.

guess I'll buy pro then :)

\Peter

On Tue, May 3, 2022 at 4:14 PM Geremia Taglialatela <
***@***.***> wrote:

--

*Med venlig hilsen / Best regards,*

*  Peter Nicolai Skovgaard*  Partner and Consultant | Aim Right

  +45 27 12 28 72 | ***@***.***
  Stationsvej 1, 2791 Dragør

[2022-05-03 14:31] giovanidevfullstack commented on #15893
I'd love it

[2022-05-03 14:34] tagliala commented on #18996
Thanks for the feedback, closing here

[2022-05-03 14:34] #18996 closed, assigned to nobody

[2022-05-03 14:36] giovanidevfullstack opened #18998 "Icon Request - Capacitor JS Icon"
https://capacitorjs.com/

I saw a icon request for Ionic and I didn't found one for capacitor.

It would be awesome have those two icons.

[2022-05-03 18:00] IanVS commented on #16439
Hi, has there been any decision made on use of `.js` vs `.mjs` extensions, @robmadole?

[2022-05-03 18:08] ljharb commented on #16439
`.mjs` remains the proper file extension for ESM.

node has type:module to override `.js` (which is supposed to mean Script/CJS) to mean ESM, but `.mjs` is the proper universal extension for this. File extensions are only at the end - `.es.js` is just `.js`, and thus is not reliably distinguishable from any other `.js` file.

[2022-05-03 18:55] Ollie-Anderson opened #19000 "Icon request: sketchfab logo"
it would be very useful fo r3d artists to be able to link to sketchfab for their personal pages or next to embedded models. i would greatly apprec iate this icon being added.

here's a link to the site: https://sketchfab.com/

thanks

[2022-05-03 19:09] tagliala commented on #19000
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #2757, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-05-03 19:09] #19000 closed, assigned to nobody

[2022-05-03 20:18] mlwilkerson commented on #16495
We're taking another look at this. I have previously confirmed and reproduced it. What I have seen is that when `unicode-ranges` are used in a `@font-face` rule, the wobble problem occurs. A similar situation (same font, same glyphs) without a `unicode-range` does not have the wobble.

We use `unicode-range` in our Pro Webfont/CSS and not Free. The reason is that we have some additional optimizati

[2022-05-03 20:25] Mtn-View commented on #18973
Looks like I won't be able to use that feature in my project after all. Thanks for the tip, though!

[2022-05-03 20:54] babakfp commented on #18979
Yes.

True.

I never really liked `arrow-right-arrow-left` because the head of the arrows is too big (in my opinion) and I tried to find another icon to use instead. I guess it will be nice to have a smaller version too.

Cool, it makes sense.

Sure. Thank you so much

[2022-05-03 21:24] babakfp opened #19001 "Icon Request: `clock-rotate-left-alt`, `clock-rotate-right-alt`"
![166104446-e51f075f-7b4a-45e1-b4ca-d29b92bf8750](https://user-images.githubusercontent.com/44144724/166568112-18e5252c-b7ce-43b6-a79e-6b0c582e3cfa.png)

`clock-rotate-left` means time goes back and `clock-rotate-right` means time goes forward. This icon means `time-fast`, `time-saving`, `time-catching-up` or `a-few-minutes-later` or something like that.

When https://github.com/FortAwesome/Font-A

[2022-05-03 21:27] fncll opened #19002 "Icon request: hypothes.is"
It would be great to have an icon for [hypothes.is](https://hypothes.is) which is an excellent, open service for annotating web pages and PDFs. Thanks!

[2022-05-04 04:18] #13205 closed

[2022-05-04 05:20] kanadadada commented on #17141
upvoted.

[2022-05-04 06:59] JulianGlueck commented on #3487
+1

[2022-05-04 07:05] Jony01 commented on #18772
16x16 Pixels icon:
![image](https://user-images.githubusercontent.com/15888762/166635238-89dcd8e7-d011-45f9-9658-699dbfa5b995.png)
SVG files with icons
![engraved](https://user-images.githubusercontent.com/15888762/166635868-bcf073cf-45ff-463c-bda8-1eea5b8315bb.svg)
![raised](https://user-images.githubusercontent.com/15888762/166635871-02f2606f-804c-4c99-bce2-b699e112523e.svg)

[2022-05-04 07:12] illyr opened #19003 "CSV light/regular icons borders are missing"
![image](https://user-images.githubusercontent.com/1568756/166636652-03b3e363-98b0-4f46-888d-f09d6bcc729f.png)

Pb with:

![image](https://user-images.githubusercontent.com/1568756/166636745-2e53bf32-02d8-407f-a81b-5311af6ba0cf.png)

(regular and light)

[2022-05-04 07:27] tagliala commented on #19003
Hi!

Thanks for being part of the Font Awesome Community.

I think this is a design choice to. It is the same for `PDF` and probably will be the same for any file with full extensions, because otherwise there wouldn't be the space

@sensibleworld could you please confirm?

[2022-05-04 08:46] schtorch commented on #18976
Hi there, thank you for your report, we have fixed the issue. A new release of our Chrome extension is available.

[2022-05-04 10:02] myosotisgit commented on #14962
I upvote this one.

In the Netherlands this icon is used to 'categorize' movies (like the american rating system) and they use icons

<img width="934" alt="image" src="https://user-images.githubusercontent.com/10197201/166661447-9a5f357d-14ff-47d1-810e-8f83152f2716.png">

[2022-05-04 10:43] aethior opened #19004 "Enhancement: Differences between 'handshake' and 'handshake-slash'"
![handshake](https://user-images.githubusercontent.com/1769227/166666886-a55580a4-f923-4763-9820-f1ab002e56d3.gif)

[2022-05-04 11:24] NeverFearAThing commented on #10704
+1

[2022-05-04 12:08] rdela commented on #18514
See also https://github.com/FortAwesome/Font-Awesome/issues/18075, https://github.com/FortAwesome/Font-Awesome/issues/18677

[2022-05-04 19:10] ModRabbit opened #19005 "Icon request: eBlu Solutions"
![eblulogosvg-01](https://user-images.githubusercontent.com/104935994/166808351-a490a7f1-00b0-4bae-9825-9af1d1aa8509.svg)
Hi! Would like to see - since we are a tech company and we use font awesome for EVERYTHING! - I would like to request a brand logo if possible?

Thank you!
Joanna Davis

[2022-05-04 19:12] tagliala commented on #19005
Hi!

Thanks for being part of the Font Awesome Community.

Could you please provide more details about this brand? An official website and how this brand can be used by other Font Awesome users would help

[2022-05-04 19:19] ModRabbit commented on #19005
Absolutely! Here is our website:
https://eblusolutions.com/
We work with the healthcare industry to streamline the Prior Authorization process. We are a healthcare tech company based in Louisville, KY. We have recently rebranded our company and we are beginning to invest in customer-facing marketing to get people familiar with our brand. I would have a lot of uses for a font-awesome icon within ou

[2022-05-05 00:52] GwynethLlewelyn commented on #9431
FA is now out of Beta for a while, and the Go logo is there.
_Not_ the Gopher mascot, though; I guess this has to do with the rights to the mascot belonging to Renée French

Note the new link: https://fontawesome.com/v6/icons/golang
<img width="983" alt="Go icon at Font Awesome" src="https://user-images.githubusercontent.com/304404/166849472-126b1fa5-aeb8-40de-8d91-f85aaf44cdc8.png">

[2022-05-05 07:24] Grzesiek23 opened #19006 "Changed order in the name: user-house circle-info"
It doesn't work me for 6.1.1 free version.

Works: house-user and info-circle

[2022-05-05 08:31] JshGrn commented on #13615
+1

[2022-05-05 08:48] romualdkola opened #19007 "explosion"

[2022-05-05 10:13] aethior commented on #19007
Hi @romualdkola,

Check `fa-explosion` (https://fontawesome.com/icons/explosion) and `fa-burst` (https://fontawesome.com/icons/burst) icons.

Regards.

[2022-05-05 11:20] shukrp commented on #18988
Any update on this?

[2022-05-05 12:02] tagliala commented on #18988
You may be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new#faqs), they contain a lot of information about how requests work

[2022-05-05 12:17] JulienNDKgroup opened #19008 "Icon request: trash-bin-lid-open"
Hi there!

Is it possible to have a icon with a trash bin and the lid that is open and rotated on a side? This can be used when a customer hovers a trash to animate it.

Thank you!

[2022-05-05 14:58] JacobAGTyler commented on #12040
Kafka is a popular and open source technology. Would be great to get an icon to use! :)

[2022-05-05 16:28] gregveres commented on #4552
Another 2 years later and still no table operation icons. :(

[2022-05-05 16:41] moliver-hemasystems commented on #10749
The pushed state for pin and thumbtack may be difficult to identify properly, especially at smaller sizes.  It might be more fitting to have a slash variant instead (or in addition to), as was mentioned in a later post on Issue #13542.  That would also fit with other icons that also have a slash variant, such as bell, volume, user, location-pin, etc.

[2022-05-05 19:51] ReshmiCode opened #19009 "Bug: v6 Less Files Have Compile Issues"
I downloaded the fontawesome files from v6.1.1 from the FontAwesome web version and put in all the files from the webfonts and less directory into my project to replace an older version of FontAwesome we use. When trying to compile the less files, there are build issues. I found at least two, but there is probably more. I thought it could have something to do with our setup, but when I put these s

[2022-05-05 21:16] tagliala commented on #19009
Hi!

Thanks for being part of the Font Awesome Community and thanks for reporting this.

We are already aware of compilation issues in Less, they will be hopefully solved in the next release

Ref: #18835, #18867, #18874

Closing here, please follow #18835

[2022-05-05 21:16] #19009 closed, assigned to nobody

[2022-05-05 21:18] LaureRC commented on #15579
Hello! Asking for news on this one, as I'd be interested too in a treadmill icon but the labels seem pretty outdated on this issue (I would suggest a "sport (category)" label for it!). Thank you!

[2022-05-06 10:47] jtylrr commented on #15443
I think sort = change order. Reorder = manually change positions. Would also like a reorder icon (though simple enough to make one)

[2022-05-06 13:31] AFSHEEN0898 opened #19010 "Icon request: icon-cicx"
Hai........
We, from the Indonesian blockchain community, cicoin/cicx like bitcoin icon. would like to request to add our icon to make our website more attractive.  you can see it through our website. https://explorer.cicx.io/
[![image](https://explorer.cicx.io/images/logo.png)
](url)
Thank you

[2022-05-06 13:47] aethior commented on #307
cc/ @tagliala

[2022-05-06 13:49] aethior commented on #1122
@tagliala `animals (category)` label for this request?

[2022-05-06 14:00] aethior commented on #10824
`hand-holding-star` according with the current icon names.

[2022-05-06 14:03] aethior commented on #10952
@tagliala `clothing-fashion (category)` label for this request?

[2022-05-06 14:21] #307 closed

[2022-05-06 14:21] aethior commented on #11299
`snupps.com` domain is down but the app is available on Google Play ([link](https://play.google.com/store/apps/details?id=com.snupps.snuppsdroid)).

[2022-05-06 14:23] philipamour commented on #11299
LMAO, way too late, mate. Thanks for the effort tho.

[2022-05-06 14:53] sensibleworld commented on #19006
@GrzesiekPasko For the `house-user` icon, you can use both that name and `home-user`. I do not believe there was ever a version that worked using the name `user-house`? And both `circle-info` and `info-circle` should be working. Could you supply an example of where it's breaking for you?

[2022-05-06 15:02] nrauschcom commented on #18924
Here's the answer:

[2022-05-06 15:27] tagliala commented on #18924
Ok thanks

I'm pasting here the logo as a reference

<img width="111" alt="image" src="https://user-images.githubusercontent.com/556268/167163748-c80567f1-3ef9-4eef-b536-73ecf8412258.png">

[2022-05-06 17:46] tagliala commented on #19007
If you have something different in mind, please provide an example and I will consider reopening

[2022-05-06 17:46] #19007 closed, assigned to nobody

[2022-05-06 18:29] DesignCapn opened #19012 "Icon request: icon-mjolnir"
Heathenry is an ancient and global religion reconstructed in the last 40 years as an inclusive belief system. Please consider adding the religion's common icon, Mjolnir, to the list of available religious symbols. If the Jedi and Pastafarians can have theirs, I would argue we Heathens should be able to have theirs.

Attached is a file of outline and filled versions for consideration.

![fa-mjolnir

[2022-05-06 20:42] aethior commented on #2228
Currently there is the `fa-reel` (https://fontawesome.com/icons/reel) icon that can be used in the `clothing-fashion` and  `construction` categories.

Regards.

[2022-05-06 20:50] aethior commented on #3042
@tagliala `files (category)` label for this request?

[2022-05-06 20:53] aethior commented on #3842
@tagliala `files (category)` label for this request?

[2022-05-06 20:54] aethior commented on #4037
@tagliala `brand (category)` label for this request?

[2022-05-06 21:05] aethior commented on #5858
Hi @jmpellizzer,

This icon was added in v5.4.0.
Check https://fontawesome.com/icons/pig

Regards.

[2022-05-06 21:12] aethior commented on #6302
@tagliala `brand (category)` label for this request?

[2022-05-06 21:13] aethior commented on #6345
@tagliala `brand (category)` label for this request?

[2022-05-06 21:14] aethior commented on #6352
@tagliala `sport (category)` label for this request?

[2022-05-06 21:16] aethior commented on #4461
@tagliala `automotive (category)` label for this request?

[2022-05-06 21:23] bryc commented on #15443
Have you seen [`sort`](https://fontawesome.com/icons/sort?s=solid)? It's just showing up and down arrows. It's vague and multi-purpose, what's not to love. There are [dedicated sorting](https://fontawesome.com/icons/arrow-down-wide-short?s=solid) icons that imply a predefined order which I agree wouldn't help indicate to the user that sorting can be done manually.

But there are other dual-arrow i

[2022-05-06 21:23] tagliala commented on #2228
Given that the 3D approach does not fit Font Awesome general style of design, I will consider this fixed by fa-reel

[2022-05-06 21:23] #2228 closed

[2022-05-06 21:25] aethior commented on #6226
@tagliala `household (category)` and `food (category)` labels for this request?

[2022-05-06 21:29] aethior commented on #7744
@tagliala `users & people (category)` and `science fiction (category)` labels for this request?

[2022-05-06 21:29] tagliala commented on #5858
Thanks, but I'm closing here because properly titled and labeled requests are available at #14057 #13404

[2022-05-06 21:29] #5858 closed

[2022-05-06 21:36] aethior commented on #8332
Hi @isifun,

`fa-roller-coaster` icon was added in v6.0.0.
Check https://fontawesome.com/icons/roller-coaster

Regards.

[2022-05-06 21:36] jssmtmmns opened #19013 "Icon request: tree-freshener"
A sort of combo of 'tree' and 'sparkles' with a hang string or hole at the top and a rectangular label at the bottom.
Use case: keepin it fresh.

![image](https://user-images.githubusercontent.com/105083254/167219378-91c8deb2-f9a8-479e-b72b-e45c7c07c3c6.png)

[2022-05-06 21:38] tagliala commented on #4037
I don't know 🤷🏼‍♂️

[2022-05-06 21:39] aethior commented on #4000
@tagliala `files (category)` label for this request?

[2022-05-06 21:41] tagliala commented on #3042
I think that

- https://fontawesome.com/icons/file-circle-minus?s=solid
- https://fontawesome.com/icons/file-circle-xmark?s=solid

may fit the use case

I'm going to rename this to `file-ban`, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.ne

[2022-05-06 21:42] tagliala commented on #19013
Hi!

Thanks for being part of the Font Awesome Community.

Sorry, we can't use this design

Ref: https://github.com/FortAwesome/Font-Awesome/blob/5.x/CHANGELOG.md#5153---2021-03-16

[2022-05-06 21:42] #19013 closed, assigned to nobody

[2022-05-06 21:43] tagliala commented on #8332
Ref: #17073

[2022-05-06 21:43] #8332 closed

[2022-05-06 21:55] aethior commented on #8288
@tagliala `household (category)` label for this request?

[2022-05-06 21:57] aethior commented on #11147
Duplicate of #8643?

cc/ @tagliala

[2022-05-06 22:02] aethior commented on #4225
*Related Unicode Emoji* #222
🦻 [U+1F9BB](https://emojipedia.org/emoji/%F0%9F%A6%BB/) Ear with Hearing Aid

[2022-05-06 22:18] aethior commented on #9559
Something like https://fontawesome.com/icons/hand-holding-seedling?

Regards.

[2022-05-06 22:29] aethior commented on #6856
This request is very generic.
I think it's better to use separate requests.

- https://github.com/FortAwesome/Font-Awesome/issues/12876
- https://github.com/FortAwesome/Font-Awesome/issues/6216
- https://github.com/FortAwesome/Font-Awesome/issues/6215
- https://github.com/FortAwesome/Font-Awesome/issues/6214
- https://github.com/FortAwesome/Font-Awesome/issues/6213

cc/ @tagliala

[2022-05-06 22:41] aethior commented on #9095
- https://fontawesome.com/icons/notes has been added in v6.0.0.
- https://github.com/FortAwesome/Font-Awesome/issues/9940 plural request for `fa-text-file-o` icon.

cc/ @tagliala

[2022-05-06 22:42] aethior commented on #9940
`files-lines` according with the current icon names.

@tagliala `files (category)` label for this request?

[2022-05-06 22:55] aethior commented on #10032
@tagliala `construction (category)` label for this request?

[2022-05-06 22:56] aethior commented on #10018
Related? Duplicate? #11845

cc/ @tagliala

[2022-05-06 22:58] aethior commented on #2932
cc/ @tagliala

[2022-05-06 23:10] aethior commented on #10416
@tagliala `devices-hardware (category)` label for this request?

[2022-05-06 23:12] aethior commented on #10445
*Related Unicode Emoji* #222
🪂 [U+1FA82](https://emojipedia.org/emoji/%F0%9F%AA%82/) Parachute

[2022-05-06 23:13] sbarclay01 opened #19014 "Icon request: B&N, Smashwords, and Kobo Brand Icons"
A lot of authors sell books through stores like Barnes & Noble Nook, Smashwords, and Kobo, and they all need website icons. Can you include these in the Brands section?

[2022-05-06 23:13] aethior commented on #10452
@tagliala `construction (category)` label for this request?

[2022-05-06 23:16] aethior commented on #10654
Hi @nick,

Duplicate of #10032.
Please add a 👍 reaction to that request.

Regards.

cc/ @tagliala

[2022-05-06 23:20] aethior commented on #10707
@tagliala `brand (category)` label for this request?

[2022-05-06 23:30] aethior commented on #15866
@tagliala `household (category)` label for this request?

[2022-05-06 23:51] aethior commented on #6644
Duplicate of #6448.

cc/ @tagliala

[2022-05-06 23:52] aethior commented on #11933
@tagliala `time (category)` label for this request?

[2022-05-07 00:00] aethior commented on #12194
`fanmiles.com` domain is shut down and the social profiles has no activity since 2018 ([twitter](https://www.twitter.com/fanmiles/) and [instagram](https://www.instagram.com/fanmiles/)).

cc/ @tagliala

[2022-05-07 00:01] aethior commented on #12196
@tagliala I think you can close here. :)

[2022-05-07 00:06] aethior commented on #6314
Hi @mediabeastnz,

`fa-oven` was added in v5.12.0.
Check https://fontawesome.com/icons/oven

I am not sure if this is the requested icon.

cc/ @tagliala

[2022-05-07 00:16] aethior commented on #11153
Related? Duplicate? #8432

cc/ @tagliala

[2022-05-07 00:20] aethior commented on #12416
Duplicate of #12415.

cc/ @tagliala

[2022-05-07 07:39] ghost commented on #2988
same fa bars not showing

[2022-05-07 09:25] tagliala commented on #2988
@7365945878 please create a new issue and provide a reproducible test case

[2022-05-07 09:26] #12416 closed

[2022-05-07 09:28] tagliala commented on #11153
Just related

[2022-05-07 09:30] tagliala commented on #12403
I would also like to know how other users of Font Awesome can use this brand in their applications

[2022-05-07 09:32] tagliala commented on #6314
Nope, I should change the title to `stove` probably, but stove also indicates #11666

[2022-05-07 10:36] tagliala commented on #11147
I would say that #8643 is a request for two icons, one of which is this one

Can't say exactly which one, I would say that this is icon-axis-center

[2022-05-07 10:39] tagliala commented on #6856
@aethior thanks

Yes, closing here in favor of individual requests (which meet our new contributing guidelines, probably at the time we didn't have restrictions)

Also

Those are unrelated to dental care, and in the meantime we implemented a lot of new calendar related icons, both in the Free and the Pro sets

https://fontawesome.com/search?q=calendar&s=solid%2Cbrands

[2022-05-07 10:39] #6856 closed

[2022-05-07 10:40] tagliala commented on #9559
Considering this fulfilled by hand-holding-seedling, it should convey the message.

If it is not the case, I would ask for a clarification of why current design does not fit this use case (I understand that the soil is missing from the implemented icon, but we should also consider icon complexity and rendering at small sizes)

[2022-05-07 10:40] #9559 closed

[2022-05-07 10:53] tagliala commented on #9940
I think this request has been fulfilled by https://fontawesome.com/icons/file-lines?s=solid in different styles, introduced in FA5

Closing here, feel free to comment if I'm wrong

[2022-05-07 10:53] #9940 closed

[2022-05-07 10:54] tagliala commented on #9095
Considering this closed. Feel free to open a new request for `files-lines`

[2022-05-07 10:54] #9095 closed

[2022-05-07 10:55] #2932 closed

[2022-05-07 10:59] #10654 closed

[2022-05-07 11:01] tagliala commented on #10018
I'm going to leave this open for the second request. I will not consider `fa-hand-holding-house` and `fa-hand-holding-house-xmark` strongly related,  because otherwise I should also consider `fa-hand-holding-house-check`, and maybe `fa-hand-holding-plus`, `fa-hand-holding-minus`...

[2022-05-07 11:01] #12194 closed

[2022-05-07 11:03] tagliala commented on #6644
Let's use #6448. It has more upvotes. Will change the title by adding synonyms

[2022-05-07 11:03] #6644 closed

[2022-05-07 11:05] tagliala commented on #19014
Hi!

Thanks for being part of the Font Awesome Community.

Please open individual requests, one for each brand, having care of:
- search for existing requests before (kobo: #13659), including extended names. Search here: https://github.com/FortAwesome/Font-Awesome/issues?q=is%3Aissue+is%3Aopen+label%3A%22brand+icon%22
- add the official website of the requested brand

[2022-05-07 11:05] #19014 closed, assigned to nobody

[2022-05-07 12:02] aethior commented on #12100
`meetvibe.com` domain is for sale.
Social profiles have no activity since 2019 ([twitter](https://twitter.com/meetvibe) and [instagram](https://www.instagram.com/meetvibe/)).

cc/ @tagliala

[2022-05-07 12:04] aethior commented on #12138
cc/ @tagliala

[2022-05-07 12:22] aethior commented on #11176
cc/ @tagliala

[2022-05-07 12:31] aethior commented on #1235
cc/ @tagliala

[2022-05-07 12:36] aethior commented on #1723
`scriptogr.am` now redirects to `pdfbear.com`.

cc/ @tagliala

[2022-05-07 12:51] #12100 closed

[2022-05-07 12:51] #12138 closed

[2022-05-07 12:53] tagliala commented on #11176
I prefer to close here. If there is interest in CodeSignal, please open a new request

[2022-05-07 12:53] #11176 closed

[2022-05-07 12:53] #1235 closed

[2022-05-07 12:53] tagliala commented on #1723
Closing here

[2022-05-07 12:53] #1723 closed

[2022-05-07 13:00] aethior commented on #10921
Wikia is now Fandom.

cc/ @tagliala

[2022-05-07 13:04] tagliala commented on #10921
Let's use #12585

[2022-05-07 13:04] #10921 closed

[2022-05-07 13:06] aethior commented on #10501
cc/ @tagliala

[2022-05-07 13:11] aethior commented on #10134
VictorOps was adquired by Splunk.

cc/ @tagliala

[2022-05-07 13:15] aethior commented on #9846
`Incloud.io` was closed in 2017.

cc/ @tagliala

[2022-05-07 13:17] aethior commented on #10251
cc/ @tagliala

[2022-05-07 13:20] aethior commented on #9853
`aashir.academy` domain is down and social profiles has no activity since 2015 ([twitter](https://twitter.com/aashiracademy)).

cc/ @tagliala

[2022-05-07 13:23] #9853 closed

[2022-05-07 13:24] #10251 closed

[2022-05-07 13:24] #9846 closed

[2022-05-07 13:24] tagliala commented on #10134
Let's use #16726

[2022-05-07 13:24] #10134 closed

[2022-05-07 13:29] tagliala commented on #10501
I'm confused by this. It does not look like a request for Apple Music as in #10500, and may be a request for "Apple Music 1"

I'm going to close this request. If anyone is interested in Apple Music 1, feel free to open a new request (and please clarify what is the brand to implement and the official website of the brand)

[2022-05-07 13:29] #10501 closed

[2022-05-07 13:37] aethior commented on #9415
cc/ @tagliala

[2022-05-07 13:39] #9415 closed

[2022-05-07 13:43] aethior commented on #9626
Tapastic is now Tapas.

cc/ @tagliala

[2022-05-07 14:01] aethior commented on #5005
`owloo.com` domain is for sale.

cc/ @tagliala

[2022-05-07 14:03] aethior commented on #12825
@tagliala `brand (category)` label for this request?

[2022-05-07 14:08] aethior commented on #13074
Currently there are these icons:
- https://fontawesome.com/icons/car-bolt
- https://fontawesome.com/icons/car-circle-bolt

[2022-05-07 14:17] aethior commented on #13367
@tagliala `devices-hardware (category)` label for this request?

[2022-05-07 14:21] aethior commented on #6792
`fa-cash-register` solves this request?
Check https://fontawesome.com/icons/cash-register

Regards.

[2022-05-07 14:22] aethior commented on #7326
@tagliala add aslo `devices-hardware (category)` label for this request?

[2022-05-07 14:25] aethior commented on #13603
@tagliala `automotive (category)` label for this request?

[2022-05-07 14:25] aethior commented on #13604
@tagliala `automotive (category)` label for this request?

[2022-05-07 14:35] tagliala commented on #6792
I would say yes

Duplicate of #3467

For a POS terminal, please use #7326

[2022-05-07 14:35] #6792 closed

[2022-05-07 14:38] aethior commented on #13830
@tagliala I think you can close here.

[2022-05-07 14:40] tagliala commented on #13074
Considering this fulfilled by `car-bolt`

If it is not the case, feel free to open a new request with a single color example suitable for 16px icon size

[2022-05-07 14:40] #13074 closed

[2022-05-07 14:41] #5005 closed

[2022-05-07 14:41] #13830 closed

[2022-05-07 14:42] aethior commented on #13942
@tagliala `clothing-fashion (category)` label for this request?

[2022-05-07 14:57] aethior commented on #14260
- https://github.com/FortAwesome/Font-Awesome/issues/12250
- https://github.com/FortAwesome/Font-Awesome/issues/8938
- https://github.com/FortAwesome/Font-Awesome/issues/4494
- Yandex.Money (now YooMoney) is missing.

cc/ @tagliala

[2022-05-07 15:13] aethior commented on #5020
cc/ @tagliala

[2022-05-07 15:23] aethior commented on #14527
OPSkins was closed by Valve (cease and desist).
The domain (`opskins.com`) is closed and social profiles have no activity ([twitter](https://twitter.com/opskinsgo)).

cc/ @tagliala

[2022-05-07 15:39] LeeviHalme commented on #14527
Yes this could have been useful 3 years ago...

[2022-05-07 15:39] #14527 closed

[2022-05-07 16:46] #5020 closed

[2022-05-07 16:58] aethior commented on #4059
cc/ @tagliala

[2022-05-07 17:00] aethior commented on #12892
Hi @nick,

Duplicate of #6204.
Please add a 👍 reaction to that request.

Regards.

cc/ @tagliala

[2022-05-07 17:02] aethior commented on #12941
cc/ @tagliala

[2022-05-07 17:34] aethior commented on #14762
Hi @jhil,

This icon has been added in v6.0.0.
Check https://fontawesome.com/icons/scribble

Regards.

cc/ @tagliala

[2022-05-07 17:36] aethior commented on #14765
@tagliala `medical / health (category)` label for this request?

[2022-05-07 17:50] #14762 closed

[2022-05-07 17:50] #12941 closed

[2022-05-07 17:52] #12892 closed

[2022-05-07 17:53] #4059 closed

[2022-05-07 17:54] aethior commented on #5783
@tagliala I'm confused. Is this a brand icon? Sure? (check label)

[2022-05-07 18:01] tagliala commented on #5783
@aethior probably an error on my side

https://fontawesome.com/icons/campfire?s=solid

Added in 6.0 Pro

[2022-05-07 18:01] #5783 closed

[2022-05-07 18:06] aethior commented on #8375
@tagliala `maritime (category)`, `nature (category)` and `food (category)` labels for this request?

[2022-05-07 18:06] tagliala commented on #5783
@aethior confirming that it is a mistake,

actually Campfire was the old name of Basecamp, and there was an old request for this brand

Ref:
- https://basecamp.com/retired/campfire
- #292

[2022-05-07 18:10] aethior commented on #12247
`tatavo.com` domain is down and the twitter profile ([link](https://twitter.com/TATAVO_Art)) have no activity since 2018.

cc/ @tagliala

[2022-05-07 18:11] #12247 closed

[2022-05-07 18:11] aethior commented on #10744
I think so.

[2022-05-07 18:14] aethior commented on #11004
@tagliala I think you can close here.

In any case, the most commonly used icon for `deployment` is `fa-rocket`.

[2022-05-07 18:15] #10744 closed

[2022-05-07 18:15] #11004 closed

[2022-05-07 18:17] aethior commented on #12282
`shippertag.com` domain is down.
I can't to find social profiles.

cc/ @tagliala

[2022-05-07 18:31] aethior commented on #10246
@tagliala `devices-hardware (category)` label for this request?

[2022-05-07 18:33] aethior commented on #3642
@tagliala `transportation (category)` label for this request?

[2022-05-07 18:38] aethior commented on #11012
Hi @jitendrapc,

This icon has been added in v6.0.0.
Check https://fontawesome.com/icons/table-pivot

Regards.

cc/ @tagliala

[2022-05-07 18:42] aethior commented on #9577
@tagliala `household (category)` and `hotel (category)` label for this request?

[2022-05-07 18:44] aethior commented on #14326
@tagliala `construction (category)` label for this request?

[2022-05-07 18:54] aethior commented on #18743
@tagliala `maritime (category)` and `transportation (category)` labels for this request?

[2022-05-07 18:56] aethior commented on #12990
@tagliala `devices-hardware (category)` label for this request?

[2022-05-07 19:02] #12282 closed

[2022-05-07 19:06] aethior commented on #3139
@tagliala Check here please. :)

[2022-05-07 19:10] tagliala commented on #5216
I think that https://fontawesome.com/icons/oil-well?s=solid fits this use case

Feel free to open a new request if it doesn't

[2022-05-07 19:10] #5216 closed

[2022-05-07 19:21] stormvisions commented on #13074
Does the job. Thanks.

[2022-05-07 19:25] aethior commented on #9508
`spedeus.com` domain is for sale.
Twitter account has no activity since 2016 ([link](https://twitter.com/8spedeus/status/757614639110840321)).

cc/ @tagliala

[2022-05-07 19:32] #9508 closed

[2022-05-07 19:45] aethior commented on #11029
Currently there are:
- https://fontawesome.com/icons/solar-system
- https://fontawesome.com/icons/planet-moon
- https://fontawesome.com/icons/planet-ringed

Related (not duplicate)
- https://github.com/FortAwesome/Font-Awesome/issues/10200

@tagliala `astronomy (category)` label for this request?

[2022-05-07 19:49] aethior commented on #10177
@tagliala `transportation (category)` label for this request?

[2022-05-07 19:49] aethior commented on #11375
@tagliala `automotive (category)` label for this request?

[2022-05-07 20:04] aethior commented on #17251
@tagliala I think you can close here.

[2022-05-07 20:28] aethior commented on #16618
Hi @15735107240,

Duplicate of #9485.
Please add a 👍 reaction to that request.

Regards.

cc/ @tagliala

[2022-05-07 20:40] #17251 closed

[2022-05-07 23:05] aethior commented on #10551
@tagliala `automotive (category)` label for this request?

[2022-05-07 23:09] aethior commented on #14207
@tagliala `nature (category)` label for this request?

[2022-05-07 23:19] aethior commented on #14724
@tagliala `time (category)` label for this request?

[2022-05-08 05:14] ArnaudLier opened #19015 "Icon request: gitlab (update)"
GitLab's branding has been updated: https://about.gitlab.com/press/press-kit/
Seems like they don't provide outlines anymore:
![New icon](https://about.gitlab.com/images/press/logo/svg/gitlab-icon-1-color-black-rgb.svg)

[2022-05-08 07:32] wznmickey opened #19016 "Icon request: icon-Fediverse"
Now mastodon is added. Mastodon is one kind of service in Fediverse. Why not add Fediverse so that other services can use it rather than using Mastodon icon to imply other services in Fediverse.

[2022-05-08 08:13] tagliala commented on #19015
Hi!

Thanks for the heads-up.

We were already working on this, the new icon will be part of the next release

[2022-05-08 08:13] tagliala commented on #19016
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #16252, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-05-08 08:13] #19016 closed, assigned to nobody

[2022-05-08 08:17] wznmickey commented on #16252
+1

[2022-05-08 14:25] aethior commented on #3000
@tagliala `household (category)` label for this request?

[2022-05-08 14:36] aethior commented on #3845
@tagliala `sport (category)` label for this request?

[2022-05-08 14:44] aethior commented on #7755
`tofo.me` is currently a parked domain.

cc/ @tagliala

[2022-05-08 14:45] aethior commented on #7698
`pixieme.org` is currently a parked domain.

cc/ @tagliala

[2022-05-08 14:51] aethior commented on #6807
cc/ @tagliala

[2022-05-08 14:54] aethior commented on #6834
cc/ @tagliala

[2022-05-08 14:54] arbaz0198 opened #19017 "can someone help css content icon not show"
hi, I'm using a first-time CSS content icon but it's not working.
I'm using at this site http://rafi.nka-consult.com/

[2022-05-08 14:59] aethior commented on #7134
cc/ @tagliala

[2022-05-08 15:13] aethior commented on #6434
`getjumbucks.com` is currently a parked domain.

cc/ @tagliala

[2022-05-08 15:15] aethior commented on #6333
cc/ @tagliala

[2022-05-08 15:19] #6333 closed

[2022-05-08 15:19] #6434 closed

[2022-05-08 15:20] tagliala commented on #7134
As an Adobe brand, we can't include this in FA

Ref: https://github.com/FortAwesome/Font-Awesome/blob/5.x/CHANGELOG.md#5140---2020-07-15

[2022-05-08 15:20] #7134 closed

[2022-05-08 15:24] tagliala commented on #19017
Hi!

Thanks for being part of the Font Awesome Community.

I can't find occurrences of Font Awesome, because the website appears to use font icons processed by icomoon

We do not provide support for third party libraries / plugins, but if you have an issue with Font Awesome feel free to provide more information (and a reduced reproducible test case using Font Awesome)

[2022-05-08 15:24] #19017 closed, assigned to nobody

[2022-05-08 15:25] #6834 closed

[2022-05-08 15:25] #7698 closed

[2022-05-08 15:25] #7755 closed

[2022-05-08 15:34] aethior commented on #3667
@tagliala I think you can close here.

[2022-05-08 15:53] aethior commented on #7060
Buddha was the initial logo of Zendesk.
In 2016 the brand was completely redesigned.

More info:
1. https://medium.com/@WebdesignerDepot/zendesk-releases-a-new-logo-74d1e35b860e
2. https://www.fastcompany.com/3064874/zendesk-unveils-a-dynamic-new-brand-inspired-by-classic-danish-design

@tagliala I think you can close here.

[2022-05-08 19:19] #7060 closed

[2022-05-08 21:01] aethior commented on #3039
cc/ @tagliala

[2022-05-08 21:07] aethior commented on #4891
The domain shows a 502 Bad Gateway error.
Twitter profile has no activity since 2014 ([link](https://twitter.com/PenflipApp)).

cc/ @tagliala

[2022-05-08 21:11] aethior commented on #4847
@tagliala Are you sure this is a brand?

[2022-05-08 21:17] aethior commented on #4925
The domain is down.
The social profiles have no activity since 2015 ([facebook](https://www.facebook.com/Culturepreneur-Invention-888107091209103/) and [twitter](https://twitter.com/CPinvention)).

cc/ @tagliala

[2022-05-08 21:19] aethior commented on #4919
`bgeko.com` domain is down.
I can't to find social profiles.

cc/ @tagliala

[2022-05-08 21:47] abtheprogrammer commented on #17622
I read #17622 comment and solve my error in 2 mins
Tysm!

[2022-05-09 00:13] aethior commented on #16469
Duplicate or related? #2998

cc/ @tagliala

[2022-05-09 00:49] sbarclay01 opened #19018 "Icon Request: Barnes&Noble"
I'd like to request Barnes&Noble be added to the Brands icons. A lot of authors sell books through B&N, and they often request buttons be created for this and other stores.

Thank you!

[2022-05-09 00:49] sbarclay01 commented on #19018
Here are a couple options:
![Barnes   Noble-logo](https://user-images.githubusercontent.com/98122410/167323298-373507c6-17d9-4f3f-9a37-518c4b7dc001.svg)
![355e9c22ee7a62467bb2d7b8f3800907](https://user-images.githubusercontent.com/98122410/167323320-53159979-947e-4f36-bbe8-1f7d22715c1d.svg)

[2022-05-09 00:54] sbarclay01 opened #19019 "Icon Request: Kobo"
I'd like to request Kobo be added to the Brands icons. Kobo is another store widely requested by authors for use on websites to sell books.

Here's a sample:

![NicePng_kobo-logo-png_9227572](https://user-images.githubusercontent.com/98122410/167323534-d8b29a92-2f17-46b2-a5a3-65877b0fda3d.png)

[2022-05-09 00:59] sbarclay01 opened #19020 "Icon Request: Smashwords"
I'd like to request that Smashwords be added as an icon to the Brands set. Smashwords is another store often requested for buttons and icons.

Thank you!

Here are a couple options:

![NicePng_kobo-logo-png_3578312](https://user-images.githubusercontent.com/98122410/167323779-d3d89677-5ea2-41c8-a4da-69689f568214.png)

![sw hand](https://user-images.githubusercontent.com/98122410/167323794-572a577a

[2022-05-09 03:10] ronhill commented on #18701
We have experienced the same behavior - when using toggleClass to change color only.

We are able to change the svg icon by directly changing the data-icon attribute without the data-prefix changing.

As a workaround, since we primarily use fad [duotone] icons, is there harm in changing line 17621 [Pro 6.1.0]
  styleDefault:  'solid',  to 'duotone'?

[2022-05-09 07:38] ssougnez commented on #13413
Any update about this? It is indeed a pretty popular IDE, it's surprising that it still isn't part of the library.

Cheers

[2022-05-09 08:11] tagliala commented on #19019
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #13659, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-05-09 08:11] #19019 closed, assigned to nobody

[2022-05-09 08:11] tagliala commented on #19018
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #12992, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-05-09 08:11] #19018 closed, assigned to nobody

[2022-05-09 08:14] #3039 closed

[2022-05-09 08:14] bbolcsa opened #19022 "Icon Request: icon-wagon"
Please create this icon for us!
We would like to use it on csempe-shop.hu as a material icon for our tiles.

![noun-wagon-2373643](https://user-images.githubusercontent.com/105200693/167368516-c6ee728e-9d1f-4b98-a69a-475e93f375e3.svg)

[2022-05-09 08:16] bbolcsa opened #19023 "Icon Request: fa-big-size-tiles"
Please create an icon for us with the attached graphics.
We would like to use it on csempe-shop.hu as an infographic icon fro big size tiles.

![noun-standing-man-1457391](https://user-images.githubusercontent.com/105200693/167368746-643b9549-5427-46e4-ab55-944d1b4e0fc5.svg)

[2022-05-09 08:19] bbolcsa opened #19024 "Icon Request: fa-footprint"
Please create an icon for us with the attached graphics.
We would like to use it on csempe-shop.hu as an icon for "non slippery"

![noun-footprint-1013396](https://user-images.githubusercontent.com/105200693/167369295-42558f07-7a20-4447-9ad6-9e8d5e0accdf.svg)

[2022-05-09 08:35] #4891 closed

[2022-05-09 08:42] tagliala commented on #19024
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #2140, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-05-09 08:42] #19024 closed, assigned to nobody

[2022-05-09 08:43] tagliala commented on #16469
I would say so, closing here

[2022-05-09 08:43] #16469 closed

[2022-05-09 08:44] #4925 closed

[2022-05-09 10:51] lonix1 commented on #17621
Hi @tagliala

I'm upgrading to v6 and it's much lighter - it only includes `woff2` and `ttf`. Very nice!

I was wondering:
- why did you drop `woff`?
- ...but kept the [older `ttf`](https://stackoverflow.com/a/11002874/9971404) format? (it is ~203KiB)

[2022-05-09 16:45] #10391 closed

[2022-05-09 16:48] #11539 closed

[2022-05-09 16:49] #18613 closed, assigned to sensibleworld

[2022-05-09 16:50] #18813 closed, assigned to sensibleworld

[2022-05-09 16:51] #6248 closed

[2022-05-09 16:56] sensibleworld commented on #800
In version 6, we've renamed the old `save` icon to be more descriptive as just `floppy-disk` as we don't want to be prescriptive about how an icon is used.

[2022-05-09 16:56] #800 closed

[2022-05-09 16:57] #1261 closed

[2022-05-09 16:58] #1873 closed, assigned to nobody

[2022-05-09 16:59] #3182 closed

[2022-05-09 17:00] #3218 closed, assigned to nobody

[2022-05-09 17:00] #3846 closed, assigned to nobody

[2022-05-09 17:01] #2185 closed, assigned to nobody

[2022-05-09 17:02] #1523 closed

[2022-05-09 17:03] sensibleworld commented on #1809
This has been fixed in all of our recent versions :)

[2022-05-09 17:03] #1809 closed

[2022-05-09 17:50] dlufrano opened #19025 "Icon request: arrow-rotate-right"
https://fontawesome.com/icons/arrow-rotate-right?s=solid

[2022-05-09 17:53] aethior commented on #19022
Hi @bbolcsa,

Duplicate of #8867.
Please add a 👍 reaction to that request.

Regards.

cc/ @tagliala

[2022-05-09 18:39] wsgdandy opened #19026 "Icon request: replit"
https://www.google.com/search?q=replit&sxsrf=ALiCzsbpXiimtq4VHVzrJKb0Xu8wp4EHQQ:1652121496425&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjZ762XiNP3AhURkmoFHW1HChsQ_AUoBHoECAIQBg&biw=1366&bih=649&dpr=1

heres some examples. i've been waiting for this for a while, it makes sense to add this,

[2022-05-09 18:45] wsgdandy commented on #14758
+1

[2022-05-09 19:37] BenHoffmanYes commented on #4847
Sorry, I submitted a tomoe image years ago. Is this what this is about????

On Sun, May 8, 2022 at 5:11 PM Aethior ***@***.***> wrote:

[2022-05-09 20:38] handotdev commented on #5139
+1

[2022-05-09 23:20] bhubbard opened #19027 "Icon request: industrial oven"
I would like to request a large industrial oven.

Ideas:
https://www.google.com/search?q=industrial+oven+icon&tbm=isch&ved=2ahUKEwjB3vaZx9P3AhXuADQIHQLECJsQ2-cCegQIABAA&oq=industrial+oven+icon&gs_lcp=CgNpbWcQAzIFCAAQgAQ6BwgjEO8DECc6BAgAEEM6BggAEAgQHjoECAAQGFDkC1jhFGDEFmgAcAB4AIABWIgB5AOSAQE2mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=raF5YoHUDu6B0PEPgoij2Ak&bih=1336&biw=1964&hl=en

[2022-05-09 23:22] bhubbard opened #19028 "Icon request: Autoclave"
I would like to request icons for autoclave.

Ideas:
https://www.google.com/search?q=autoclave+icon&tbm=isch&ved=2ahUKEwiFzaKqx9P3AhXSI30KHWinDocQ2-cCegQIABAA&oq=autoclave+icon&gs_lcp=CgNpbWcQAzIFCAAQgAQyBQgAEIAEMgYIABAIEB4yBggAEAgQHjoHCCMQ7wMQJzoECAAQQzoECAAQHlDEBFihEWDVEmgAcAB4AIABW4gBgASSAQE2mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=z6F5YsWpH9LH9APozrq4CA&bih=1336&biw=1964&hl=en

[2022-05-10 00:20] bhubbard opened #19029 "Icon request: Concrete"
Would like to see icons for concrete. Here are some examples:

https://www.vectorstock.com/royalty-free-vector/reinforced-concrete-icon-vector-30415088
https://www.vectorstock.com/royalty-free-vector/reinforced-concrete-icon-vector-3173638
![reinforced-concrete-icon-vector-31736383](https://user-images.githubusercontent.com/3837/167518699-36b8a8c7-4d3c-4e59-8bc7-f20b15b408c2.png)
![reinforced-conc

[2022-05-10 00:26] bhubbard opened #19030 "Icon request: Nuclear Reactor"
I would like to see a nuclear reactor icon, here are some examples:

https://www.google.com/search?q=nuclear+reactor+icon&sxsrf=ALiCzsbBCcXrJVEOF6tykgEl2CHKG7MwNQ:1652142313849&source=lnms&tbm=isch&sa=X&ved=2ahUKEwju4vDd1dP3AhWpH0QIHVXMD0oQ_AUoAXoECAEQAw&biw=1860&bih=1279&dpr=1

[2022-05-10 09:23] alonsomoya commented on #10704
+1

[2022-05-10 13:18] comi91 opened #19031 "Disable Compatibility with Older Versions on Latest 6 version kit"
Hi,

I would like to disable default adding styles for older versions when using latest 6x kit.
When using older kit, with latest 5x, there is an option under settings > features, but in new there is not.

How can we fix this?

[2022-05-10 17:46] themightydaisy opened #19032 "Icon request: icon-name"
Bring us the mullet icon! I've never hear of a more brilliant icon idea!

[2022-05-11 11:29] hilmarhalldors opened #19033 "Icon request: transmission"
Car rental transmission
![image](https://user-images.githubusercontent.com/46356245/167839014-b3ddddd6-3b1b-417c-b7ba-a5a6229113fd.png)

[2022-05-11 13:03] sensibleworld commented on #19032
Ha! Thanks... it's part of Font Awesome Pro: https://fontawesome.com/icons/user-hair-mullet?s=solid

[2022-05-11 13:03] #19032 closed, assigned to nobody

[2022-05-11 13:05] sensibleworld commented on #19025
@dlufrano I'm confused by this icon request. The icon you asked for already exists in Font Awesome.

[2022-05-11 13:43] Leoningel commented on #541
How has this request from 2012 still not been granted?

[2022-05-11 16:56] alancnet commented on #4325
+1

[2022-05-11 16:56] zhaho commented on #4843
+1

[2022-05-11 21:10] Martmists-GH opened #19034 "Icon Request: Kotlin"
Kotlin is a programming language developed by Jetbrains, and should be included as a brand icon.

[2022-05-12 10:00] xizirerdi commented on #4598
![sewingM](https://user-images.githubusercontent.com/22810850/168045450-a82038c7-8be7-43dd-b8ee-b7153ffb5337.svg)

[2022-05-12 10:01] xizirerdi commented on #4598
![sewingM](https://user-images.githubusercontent.com/22810850/168045801-69551069-d331-4589-89da-00be1de0dc5b.svg)

[2022-05-12 10:04] xizirerdi commented on #4598
![sewingM](https://user-images.githubusercontent.com/22810850/168046300-95ab1fd3-3555-4397-931a-cf89bcf0a8af.svg)

[2022-05-12 10:04] tagliala commented on #19034
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #13450, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-05-12 10:05] #19034 closed, assigned to nobody

[2022-05-12 12:08] tagliala commented on #19033
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #3141, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-05-12 12:08] #19033 closed, assigned to nobody

[2022-05-12 12:14] tagliala commented on #4847
Hi @BenHoffmanYes , apologies for the unexpected notification. We are sorting out old requests and this one was miscategorized at that time

Actually I can't find the proper category for this request

[2022-05-12 14:00] unikitty37 opened #19035 "Package manager documentation only covers npm and yarn v1, not yarn v2"
The documentation at https://fontawesome.com/v5/docs/web/setup/use-package-managers states

but the docs for Yarn 2 at https://yarnpkg.com/getting-started/migration#update-your-configuration-to-the-new-settings state

There is no documentation on what the `.yarnrc.yml` equivalents are of the given `.npmrc` values. (This is also true for the current v6 documentation.)

As this is only needed for th

[2022-05-12 14:05] unikitty37 commented on #19035
This appears to be a duplicate of #16156. Mind, that _is_ two years old and the docs _still_ don't cover Yarn 2!

[2022-05-12 14:05] #19035 closed, assigned to nobody

[2022-05-12 14:39] epignatelli commented on #541
@tagliala @talbs Would you have any feedback?

[2022-05-12 14:54] tagliala commented on #541
Sure!

This is for sure the most requested icon and it is at the [top of the leaderboard](https://fontawesome.com/community/leaderboard/brands), but...

From this hidden comment in this thread: https://github.com/FortAwesome/Font-Awesome/issues/541#issuecomment-446348271

If you can find any official resource with a single color version of the official google scholar icon we would definitely consi

[2022-05-12 15:32] jhned commented on #2623
+1 to both Zillow and Realtor.com

[2022-05-12 19:59] tagliala commented on #19026
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #14758, please add a 👍 reaction to that request.

Will add replit to the title to simplify search

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new#faqs), they contain a lot of information about how requests work

Closing here

[2022-05-12 19:59] #19026 closed, assigned to nobody

[2022-05-12 20:20] aethior commented on #5265
Social profiles have no activity since 2019 ([twitter](https://mobile.twitter.com/tlmdfans) and [instagram](https://www.instagram.com/TLMDFans/)).

cc/ @tagliala

[2022-05-12 20:33] aethior commented on #2600
Hi @cambridgemike,

This icon was added in v4.5.0.
Check https://fontawesome.com/icons/circle-stop

Regards.

cc/ @tagliala

[2022-05-12 20:42] #5265 closed

[2022-05-12 20:45] aethior commented on #5734
@tagliala `construction (category)` label for this request?

[2022-05-12 20:46] tagliala commented on #19025
I'm going to close here, waiting for some clarification

We will reopen if it will be the case

[2022-05-12 20:46] #19025 closed, assigned to nobody

[2022-05-12 20:57] aethior commented on #11614
@tagliala `music (category)` label for this request?

[2022-05-12 21:04] aethior commented on #12256
@tagliala `brand (category)` label for this request?

[2022-05-12 21:07] aethior commented on #5494
Hi @sentanilesh,

This icon was added in v4.1.0.
Check https://fontawesome.com/icons/cube

Regards.

cc/ @tagliala

[2022-05-13 03:38] study4you opened #19036 "Icon request: icon-name"
please add kakaotalk brand icon

[2022-05-13 07:03] tagliala commented on #19036
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #3688, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-05-13 07:03] #19036 closed, assigned to nobody

[2022-05-13 08:57] epignatelli commented on #541
Thanks @tagliala for the update!

Google does not have any official public source for this specific icon. Official Google logos are at this link:
https://about.google/brand-resource-center/logos-list/.
This can actually also help address https://github.com/FortAwesome/Font-Awesome/issues/4655 by providing an official logo for Gmail.

The Google-scholar icon closest to officiality might be the late

[2022-05-13 15:01] jillianadriana opened #19037 "Icon request: ltk"
Would love to see the LTK icon, which is popularly used by many style bloggers.

https://www.shopltk.com/home

[2022-05-13 15:18] tagliala commented on #19037
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #11155, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-05-13 15:18] #19037 closed, assigned to nobody

[2022-05-13 17:34] mtachaudhary opened #19038 "Icon Request: fa-repeat-slash"
![image](https://user-images.githubusercontent.com/22431578/168336499-d8290dba-a549-4abb-9fe9-6d058f41fd7e.png)

Please add the "No Repeat" icon, opposite of `fa-repeat`. My suggestion is to draw a single diagonal line on the **repeat icon** and give it the name `fa-no-repeat`. Both repeat and no-repeat icons mat used for recurring and non-recurring events, respectively.

What is your opinion?

[2022-05-13 18:20] tagliala commented on #19038
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/139/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.c

[2022-05-13 19:14] ChosenSilver opened #19039 "Checksums for the webfont downloads (free)"
Is there any way that anyone knows of to get the checksums for the zipped files? I need to bring these files into a secured environment and I am not able to do that without being able to validate that the checksum on the zip file matches what FontAwesome says it should be. I already emailed support and they sent me here.

[2022-05-13 20:22] tagliala commented on #19039
Hi!

Thanks for being part of the Font Awesome Community.

You mean zip files available at https://fontawesome.com/download and https://github.com/FortAwesome/Font-Awesome/releases/tag/6.1.1 ?

[2022-05-13 21:20] aethior commented on #2766
@tagliala `energy (category)` label for this request?

[2022-05-13 21:22] aethior commented on #2953
@tagliala `travel-hotel (category)` label for this request?

[2022-05-13 21:29] aethior commented on #6477
@tagliala `gaming (category)` label for this request?

[2022-05-13 21:31] aethior commented on #3929
@tagliala `brand (category)` label for this request?

[2022-05-14 00:01] SillyBilly10 commented on #14194
I also need Roblox Studio icon

[2022-05-14 00:08] Tormentous opened #19040 "Icon request: Roblox Studio"
I need a Roblox Studio icon for my wm

[2022-05-14 06:00] j4nw opened #19042 "Icon request: steam-deck"
Steam Deck brand icon, e.g. to show off that a game is Steam Deck Verified on a game landing page.

https://en.wikipedia.org/wiki/Steam_Deck
https://commons.wikimedia.org/wiki/File:Steam_Deck_logo_(blue_background).svg
https://partner.steamgames.com/doc/marketing/branding

[2022-05-14 07:57] Vedbhagat opened #19043 "new icon"
Stone or rock

[2022-05-14 09:27] tagliala commented on #19043
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #11435, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-05-14 09:27] #19043 closed, assigned to nobody

[2022-05-14 09:29] tagliala commented on #19040
Related but as far as I can tell not the same as #14194

[2022-05-14 09:34] tagliala commented on #2953
I would also like to give this some priority because of inclusiveness. A single color, 16px size suitable example of this icon should look like would be appreciated

@sensibleworld any thoughts?

[2022-05-14 15:27] elvirafimansyah opened #19044 "Icon request: fa-brands fa-tailwind"
request tailwind icon

[2022-05-14 15:56] tagliala commented on #19044
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #17012, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-05-14 15:56] #19044 closed, assigned to nobody

[2022-05-14 19:48] kerry-tarrant commented on #10999
@claudiofantacci I agree. This would be a welcomed addition.

@tdehaeze I love this!

[2022-05-14 21:58] meri commented on #18361
Has this been fixed? I'm trying to do exactly the same thing. I've fallen back to using FA5, but I love the glyphs in 6.

Thank you! :)

[2022-05-15 14:28] viajarencholas commented on #4771
Hello, it's important to me too.

Thanks

[2022-05-15 20:43] netmcgill commented on #8850
+1 on TIDAL please! pretty please

[2022-05-16 02:18] Lexy2 commented on #17048
Wanted to chime in here, folks. If you could update the license field in the package.json to what npm suggests (`SEE LICENSE IN LICENSE.TXT`) rather than `UNLICENSED`, that would be fort-awesome!

[2022-05-16 08:00] mage2learn commented on #4340
@tagliala : I can only repeat the question from Hans-101, since 2014 open and how hard is it to add a new icon?
Please answer

[2022-05-16 09:25] tagliala commented on #4340
Hi @mage2learn, you may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/brands#faqs), they contain a lot of information about how requests work

[2022-05-16 11:07] ChosenSilver commented on #19039
Yes, exactly. Specifically, it is fontawesome-free-5.10.1-web I am looking for

[2022-05-16 21:01] kevenages commented on #2412
+1

[2022-05-16 21:07] SteveSingh commented on #2412
+1

[2022-05-17 11:02] ghost opened #19045 "Both icons have the same SVG code"
Icon triangle-exclamation(solid) and icon bug(solid) have same SVG code.

Link on triangle-exclamation(solid): https://fontawesome.com/icons/triangle-exclamation?s=solid
Link on bug: https://fontawesome.com/icons/bug?s=solid

You get the same SVG code if you press to copy SVG code in icon (bug) and (triangle-exclamation).
<img width="1440" alt="Снимок экрана 2022-05-17 в 13 57 32" src="https://use

[2022-05-17 11:30] tagliala commented on #19045
Hi!

Thanks for being part of the Font Awesome Community.

[code]

Sorry, can't confirm.

Could you please retry?

If it doesn't work,  could you please check your browser's development console to see if there are errors after you copy an SVG?

If you still have issues, please provide more information like browser, version, os

Meanwhile, closing here

[2022-05-17 11:30] #19045 closed, assigned to nobody

[2022-05-18 01:04] brandon14 opened #19046 "Icon request: bio.link"
bio.link is a linking site much like linktr.ee and lnk. It looks like they already have an SVG icon they use on their website.

Website: [bio.link](https://bio.link/)

[2022-05-18 08:17] bzi-pro opened #19047 "Icon request: fa-filter-floppy-disk"
A filter icon with a floppy disk for save

[2022-05-18 08:29] alxbrnhrd opened #19048 "fa-corresponds-to"
Basically the fa-equals with a ^ atop of it

[2022-05-18 09:16] zach1007 opened #19049 "Icon Request: policecar"
I'd like to request a police car icon please.

[2022-05-18 09:20] tagliala commented on #19049
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #10135, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-05-18 09:20] #19049 closed, assigned to nobody

[2022-05-18 09:21] zach1007 commented on #10135
+1

[2022-05-18 12:01] jkgarner commented on #8807
I concur about the scout Fleur-de-Lis as an icon. It is used world-wide
![fleur-de-lis](https://user-images.githubusercontent.com/3368943/169033852-3dde1084-51e3-4095-9bf0-f9f0e2fee596.svg)

.

[2022-05-18 12:03] jkgarner opened #19050 "scout fleur-de-lis"
Some of the symbols of the world-wide scouting movement have been requested, like the scout hand sign.
The scout fleur-de-lis should also be included as an icon sa_scout_fleur would be a good name
![fleur-de-lis](https://user-images.githubusercontent.com/3368943/169034202-0a45af7b-5535-4654-83a2-b1f153020c62.svg)

[2022-05-18 12:07] tagliala commented on #19050
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #6843, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-05-18 12:07] #19050 closed, assigned to nobody

[2022-05-18 13:30] phtmgt commented on #17147
For anyone still facing issues and using yarn, try:

`yarn config delete @fortawesome:registry`

[2022-05-18 18:00] mlwilkerson commented on #16495
We've recently learned that some browsers determine the line height for their layout algorithms based on the metrics of the `space` character in the font (unicode `0x20`). Because our `unicode-range` values in the CSS for these webfont chunks don't specify `U+20` as one of the characters in the range, these browsers seem to be falling back to whatever font they next find that maps a space characte

[2022-05-18 19:32] jaketrimble commented on #18942
For anyone searching for a solution. I hope this helps.

**Locally**
Replace `YOUR_FONT_AWESOME_NPM_TOKEN` with your own found [here](https://fontawesome.com/account#pro-package-tokens).
[code]

**CircleCI example**
This assumes you have `YOUR_FONT_AWESOME_NPM_TOKEN` in your CircleCI project's Environment Variables
[code]

[2022-05-18 22:15] morgunder opened #19051 "nine dot icon to open ecosystem widget like on facebook and google"
is there a nine dot icon like the one that facebook and google use to open their ecosystem widget?  i couldn't find it in the icon search bar.  would like to use it in a current project.

[2022-05-19 07:38] tagliala commented on #19051
Hi!

Are you looking for https://fontawesome.com/icons/grid?s=solid ?

Or there is a request for a circled version of that icon at #15452, so in this case I'm closing here as a duplicate

[2022-05-19 07:38] #19051 closed, assigned to nobody

[2022-05-19 16:33] one1973 opened #19052 "Icon request: odometer"
Odometer
![Counter48](https://user-images.githubusercontent.com/24562284/169351873-0bd4c56b-dbc3-48d9-bb9c-3184f30ab584.png)

[2022-05-19 16:35] one1973 commented on #19052
![images](https://user-images.githubusercontent.com/24562284/169352285-14f53226-757a-4b86-a761-cda889f430d2.png)
![odometer](https://user-images.githubusercontent.com/24562284/169352291-262eecca-456c-476f-9595-348c475208b1.png)

[2022-05-19 16:58] mattdell commented on #18387
Did you get anywhere with this @alexandruana? I am having a similar issue with version 6.

[code]

EDIT: I upgraded my version of node from 14.5 to 14.19 and that resolved my issue for some reason.

[2022-05-19 18:32] timothyblue opened #19053 "icon request: number pad / keypad"
Looking for a number pad icon, similar to the keyboard icon but for a keypad.

[2022-05-19 21:47] robmadole commented on #17048
I've updated the `license` field in `package.json` to what @Lexy2 mentioned. That's much better. It will be out in the next 6 release.

[2022-05-19 23:31] TarekNajem04 opened #19054 "[suggest] [autoReplaceSvg] As tag attribute"
**SVG+JS** does not work well with **Stacking**, or sometimes we find that using the CSS-Font is more beautiful.
But with the set the property '**autoReplaceSvg**' for the **FontAwesomeConfig** object , this means all or nothing
But I would like to suggest to you if you can make it easy to set this property via the tag attributes of an element.
For example:
[code]

[2022-05-19 23:40] besho12 opened #19055 "Icon request: icon-name"
Can you please add a thumbtack icon from the top view
![thumbtack](https://user-images.githubusercontent.com/40858313/169421032-dfdd6fe8-4045-465c-b188-c940fe14d5e5.PNG)

[2022-05-20 01:16] aethior opened #19056 "Enhancement: Differences between 'microphone-lines' and 'microphone-lines-slash'"
![microphone-lines](https://user-images.githubusercontent.com/1769227/169429268-fc92f025-a180-40a8-8874-92e3297dab03.gif)

[2022-05-20 01:18] aethior commented on #16099
@tagliala `gaming (category)` label for this request?

[2022-05-20 01:19] aethior commented on #15375
@tagliala `gaming (category)` label for this request?

[2022-05-20 01:22] aethior commented on #2442
@tagliala `construction (category)` label for this request?

[2022-05-20 01:29] aethior commented on #10623
Duplicate of #5071?

cc/ @tagliala

[2022-05-20 01:30] aethior commented on #10294
@tagliala `automotive (category)` label for this request?

[2022-05-20 01:31] aethior commented on #10330
@tagliala `transportation (category)` label for this request?

[2022-05-20 01:36] aethior commented on #6892
@tagliala `devices-hardware (category)` label for this request?

[2022-05-20 01:38] aethior commented on #5987
@tagliala `film-video (category)` label for this request?

[2022-05-20 01:41] aethior commented on #19030
@tagliala `energy (category)` label for this request?

[2022-05-20 01:43] aethior commented on #5046
@tagliala `mathematics (category)` label for this request?

[2022-05-20 01:51] aethior commented on #11614
Duplicate of #2134?

cc/ @tagliala

[2022-05-20 01:52] aethior commented on #1947
@tagliala `buildings (category)` label for this request?

[2022-05-20 01:56] aethior commented on #1282
@tagliala `gaming (category)` label for this request?

[2022-05-20 01:58] aethior commented on #6616
@tagliala `gaming (category)` label for this request?

[2022-05-20 02:07] aethior opened #19057 "Enhancement: Differences between 'nfc' and 'nfc-slash'"
![nfc](https://user-images.githubusercontent.com/1769227/169434283-0ea47635-6ea3-49f0-8723-65b8b970a0a8.gif)

[2022-05-20 07:49] TerryDieckmann commented on #5139
+1

[2022-05-20 07:52] TerryDieckmann commented on #14895
+1

[2022-05-20 09:33] tagliala commented on #11614
Yes :(

Thanks, let's use this one (more +1s)

[2022-05-20 09:33] tagliala commented on #2134
Closing in favor of #11614, with more upvotes

[2022-05-20 09:33] #2134 closed

[2022-05-20 09:47] tagliala commented on #19053
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #6266, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-05-20 09:47] #19053 closed, assigned to nobody

[2022-05-20 09:50] tagliala commented on #10623
Thanks

[2022-05-20 09:50] #10623 closed

[2022-05-20 09:51] tagliala commented on #10623
We should investigate the effort to build a bot to search for duplicates, including synonyms

[2022-05-20 12:44] aethior commented on #18681
@tagliala `users & people (category)` label for this request?

[2022-05-20 12:51] aethior commented on #16216
@tagliala `nature (category)` label for this request?

[2022-05-20 13:08] aethior commented on #17563
`fa-earth-antarctic` and `fa-earth-arctic` according with the current icon names.

[2022-05-20 13:13] aethior commented on #18660
@tagliala `energy (category)` label for this request?

[2022-05-20 13:14] aethior commented on #18621
@tagliala `energy (category)` label for this request?

[2022-05-20 13:30] aethior commented on #9385
@tagliala `nature (category)` label for this request?

[2022-05-20 13:33] aethior commented on #3519
@tagliala `household (category)` label for this request?

[2022-05-20 13:34] aethior commented on #17861
@tagliala `communication (category)` label for this request?

[2022-05-20 14:05] sensibleworld commented on #19057
What's happening here is that exported SVG paths are redrawn when we import into our build-system, and they'll always be slightly different depending on an icon's composition. In the case of this icon, because there's a "slash" element in it, the way the paths are drawn is different than the standard non-slash version. What's more is that an icon may have a slightly different path depending on imp

[2022-05-20 14:06] #19057 closed, assigned to sensibleworld

[2022-05-20 14:08] sensibleworld commented on #19056
This icon is getting an update when we release our first sharp icons, so going to close here.

[2022-05-20 14:08] #19056 closed, assigned to sensibleworld

[2022-05-20 14:08] sensibleworld commented on #19004
This will be updated in one of our next releases.

[2022-05-20 14:08] #19004 closed, assigned to sensibleworld

[2022-05-20 14:08] #18997 closed, assigned to sensibleworld

[2022-05-20 14:08] #18995 closed, assigned to sensibleworld

[2022-05-20 14:11] sensibleworld commented on #18950
I have a fix in the works for our next release.

[2022-05-20 14:11] #18950 closed, assigned to sensibleworld

[2022-05-20 14:11] #18951 closed, assigned to sensibleworld

[2022-05-20 14:12] #18958 closed, assigned to sensibleworld

[2022-05-20 14:13] #18964 closed, assigned to sensibleworld

[2022-05-20 14:13] #18971 closed, assigned to sensibleworld

[2022-05-20 14:13] #18974 closed, assigned to sensibleworld

[2022-05-20 14:14] #18980 closed, assigned to sensibleworld

[2022-05-20 14:14] #18981 closed, assigned to sensibleworld

[2022-05-20 14:14] #18983 closed, assigned to sensibleworld

[2022-05-20 14:14] #18984 closed, assigned to sensibleworld

[2022-05-20 14:14] #18992 closed, assigned to sensibleworld

[2022-05-20 14:24] tagliala commented on #19052
I remember this is a duplicate, but at the moment I can't find the original request, so I'm leaving this open.

I've also searched for synonyms, @aethior you may have success :)

[2022-05-20 14:28] tagliala commented on #19039
Thanks for the clarification

@robmadole I think this is a legit request and a good practice for "binary" files.

I see that the release description is used for checksums, and in the future we may upload the checksums as part of the release itself ([example](https://github.com/wkhtmltopdf/wkhtmltopdf/releases)) and as per the website we have full control.

Can't tell which is the effort to automat

[2022-05-20 15:12] robmadole commented on #19039
Yeah this is a great idea. I don't have an ETA on this but we'll get it on the todo list.

[2022-05-20 15:44] ChosenSilver commented on #19039
In the meanwhile, is there any way I can be provided with what the hash is supposed to be for the version I mentioned? I just need to be able to prove that the hash on the file I have matches what the source says it should be.

[2022-05-20 17:22] aethior commented on #9083
I think this icon is an interesting `shape` icon.
A similar emoji is used as `Emoji Modifier Fitzpatrick` (🏻, 🏼, 🏽, 🏾, 🏿) but I don't know what is his Unicode character name.

cc/ @tagliala

[2022-05-20 19:13] aethior commented on #10540
@tagliala `building (category)` label for this request?

[2022-05-20 19:17] aethior commented on #15789
@tagliala check here please.

[2022-05-20 19:24] aethior commented on #19052
Maybe #11089?

[2022-05-20 21:43] #15789 closed

[2022-05-20 21:44] tagliala commented on #19052
Yes, that one :)

The example in the opening post is almost identical, but I think it is not the same thing

Anyway, closing here as a duplicate of #11089

[2022-05-20 21:44] #19052 closed, assigned to nobody

[2022-05-21 00:54] aethior commented on #16789
@tagliala `medical-health (category)` label for this request?

[2022-05-21 00:56] aethior commented on #16384
@tagliala `building (category)` label for this request?

[2022-05-21 00:59] aethior commented on #18644
@tagliala `devices-hardware (category)` label for this request?

[2022-05-21 01:13] aethior commented on #1590
Currently there are many [Music & Audio](https://fontawesome.com/icons/categories/music-audio) icons.
Isn't it better to use individual suggestions?

cc/ @tagliala

[2022-05-21 01:15] aethior commented on #1347
Duplicate of #8627? _(more upvotes)_

[2022-05-21 01:17] aethior commented on #5296
@tagliala `brand (category)` label for this request?

[2022-05-21 01:19] billshannon commented on #1590
Wow, six years ago, nice! Yes some have been added. How about clefs also - treble and bass. Bass instruments - bass guitar - p or j bass and double bass would be welcome in the collection. Thanks!

[2022-05-21 01:20] aethior commented on #5417
@tagliala `brand (category)` label for this request?

[2022-05-21 01:22] aethior commented on #17485
Duplicate of #5392?

cc/ @tagliala

[2022-05-21 01:29] aethior commented on #6172
https://www.qt.io/

[2022-05-21 01:30] aethior commented on #7963
@tagliala `brand (category)` label for this request?

[2022-05-21 01:34] aethior commented on #11233
@tagliala `security (category)` and `code (category)` labels for this request?

[2022-05-21 01:34] aethior commented on #11205
@tagliala `brand (category)` label for this request?

[2022-05-21 01:36] aethior commented on #10902
Something like https://fontawesome.com/icons/arrow-down-wide-short?

Regards.

cc/ @tagliala

[2022-05-21 01:38] aethior commented on #10890
http://www.ucweb.com/

[2022-05-21 01:44] aethior commented on #12745
Company launches new brand identity to chart path forward as one of world’s largest cloud companies
([more info](https://www.ukg.com/en-GB/about-us/newsroom/kronos-ultimate-software-unveil-plans-rebrand-ukg))

cc/ @tagliala

[2022-05-21 01:46] aethior commented on #13119
https://www.craftsy.com/

@tagliala `brand (category)` label for this request?

[2022-05-21 01:50] aethior commented on #17934
@tagliala `transportation (category)` label for this request?

[2022-05-21 01:55] aethior commented on #17375
https://www.firebirdsql.org/

[2022-05-21 01:56] aethior commented on #17244
https://graphql.org/

@tagliala `brand (category)` label for this request?

[2022-05-21 02:05] aethior commented on #17249
https://www.alelo.com.br/

[2022-05-21 02:05] aethior commented on #17047
@tagliala `clothing-fashion (category)` label for this request?

[2022-05-21 02:07] aethior commented on #13942
@tagliala `clothing-fashion (category)` label for this request?

[2022-05-21 02:11] aethior commented on #15963
Hi @brennvs,

[**fa-sidebar**](https://fontawesome.com/icons/sidebar) and [**fa-sidebar-flip**](https://fontawesome.com/icons/sidebar-flip) icons were added in v6.0.0.

Regards.

cc/ @tagliala

[2022-05-21 02:13] aethior commented on #15546
@tagliala `coding (category)` label for this request?

[2022-05-21 02:17] aethior commented on #15220
It’s the number 1 online crowdfunding platform devoted to Creation in Europe. ([more info](https://en.tipeee.com/about/team))
https://en.tipeee.com/

[2022-05-21 02:19] aethior commented on #14449
https://www.americanas.com.br/

[2022-05-21 02:20] aethior commented on #14435
https://www.aseprite.org/

[2022-05-21 02:21] aethior commented on #13970
@tagliala `brand (category)` label for this request?

[2022-05-21 07:22] #15963 closed

[2022-05-21 07:39] tagliala commented on #17244
This request is a duplicate of #12048, please add a 👍 reaction to that request.

[2022-05-21 07:39] #17244 closed

[2022-05-21 07:41] tagliala commented on #13119
This request is a duplicate of #10685, please add a 👍 reaction to that request.

[2022-05-21 07:41] #13119 closed

[2022-05-21 07:43] tagliala commented on #12745
Closing here, we have a fancy new template to request brands: https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=brand+icon&template=001_brand_request.yml&title=Brand+request%3A+

Feel free to create a new request if this brand is still needed

[2022-05-21 07:43] #12745 closed

[2022-05-21 07:46] tagliala commented on #10902
Pretty confident that `arrow-down-wide-short` was already present at the moment of this request

I'm going to close here, feel free to open a new request if this icon is still needed. Please also provide a use case and clarify why the existing icon cannot be used

[2022-05-21 07:46] #10902 closed

[2022-05-21 07:50] tagliala commented on #17485
Yes, I think this is a duplicate

[2022-05-21 07:50] #17485 closed

[2022-05-21 07:52] tagliala commented on #1590
Absolutely!

This is an ancient request, a lot of icons have been implemented in this category. New icons should be individually requested for better tracking

We have a fancy new template here: https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+

Closing here

[2022-05-21 07:52] #1590 closed

[2022-05-21 07:57] tagliala commented on #1347
Yes, let's use that one

[2022-05-21 07:57] #1347 closed

[2022-05-22 05:51] elmar001 opened #19059 "Bug: wind-turbine icon is not recognized on Flutter package"
### Bug description

https://fontawesome.com/icons/wind-turbine - this icon is not recognized on Flutter package. I know naming of the icons is a bit different for Flutter. For example, icon solar-panel is like solarPanel in Flutter. But wind-turbine icon does not work even that style naming. None of them working below:

IconButton(
                                icon: FaIcon(FontAwesomeIcons.win

[2022-05-22 06:14] SaabK commented on #5970
i really need it

[2022-05-22 08:17] tagliala commented on #19059
Hi!

Thanks for being part of the Font Awesome Community.

font_awesome_flutter is a third-party library not maintained by Font Awesome, please report your issues to https://github.com/fluttercommunity/font_awesome_flutter

Closing here, but feel free to comment and provide more information if I didn't get this request

[2022-05-22 08:17] #19059 closed, assigned to nobody

[2022-05-22 08:41] tagliala commented on #19055
Hi!

Thanks for being part of the Font Awesome Community.

Could you please clarify why https://fontawesome.com/icons/thumbtack?s=solid does not fit the use case?

[2022-05-22 09:23] tanimtoo opened #19060 "Icon request: fa-brands fa-pronouns-page"
logo of pronouns page: https://en.pronouns.page
![new-logo](https://user-images.githubusercontent.com/106012147/169688475-c35744d4-6c3a-4e53-a591-0ecee8b58380.png)
/

[2022-05-22 13:21] tagliala commented on #19054
Hi!

Thanks for being part of the Font Awesome Community.

This is correct. Actually stack is an old implementation to allow icon stacking on webfonts

Did you try Layering instead of stacking with SVG+JS?

Docs: https://fontawesome.com/v6/docs/web/style/layer#contentHeader

[2022-05-22 16:03] tinwe commented on #10600
+1
Would really love a ruin option

[2022-05-22 17:59] GeminiDev1 commented on #6537
How is this still not included..

[2022-05-22 20:56] Wh1terat opened #19061 "Icon Request: fa-pet-bowl"
Hi,

Quite a corner case request, but I'd like to request an icon of a pet bowl - ideally 2 showing empty or full.

Something like:
![image](https://user-images.githubusercontent.com/1288525/169715413-b6e6a586-d591-4bd7-a17d-92a567394a8f.png)

The request stems from having a smart pet feeder in Home Assistant which utilises FA.

Thanks.

[2022-05-22 22:12] itsRealMarshall opened #19062 "Brand request: session-messenger"
### Description

Session Messager, secure end to end encrypted messaging platform.

### Official website

https://getsession.org/

### Brand guidelines

Can't find one, may need to contact.

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existing issues](https://github.com/FortAwesome/Font-Awesome/issues

[2022-05-22 22:39] TarekNajem04 commented on #19054
Hi,

First I would like to thank you for the reply.

Yes, I have used most of the capabilities that the Fontawesome offer, and I am busy to create a component for the Blazor that covers all the possibilities that the Fontawesome offer.
_**Here is an example of how to use the FontAwesome.Blazor components:**_
![image](https://user-images.githubusercontent.com/22658741/169718958-e8dfbd27-a6d7-4014-8

[2022-05-23 02:44] ShuhaoZQGG opened #19063 "Bug: React TS2322: Type '"fa-regular fa-arrow-down"' is not assignable to type 'IconProp'."
### Bug description

(property) FontAwesomeIconProps.icon: IconProp
Type '"fa-regular fa-arrow-down"' is not assignable to type 'IconProp'.ts(2322)
index.d.ts(25, 3): The expected type comes from property 'icon' which is declared here on type 'IntrinsicAttributes & FontAwesomeIconProps'

My code:
`
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
`
`<FontAwesomeIcon icon="fa-regula

[2022-05-23 08:41] adurmus opened #19064 "Icon request: e-sim-card"
### Use case

All physical sim cards(pSIM) will be replaced by electronic sim cards (eSIM) in near future. There will be a need to differentiate whether the sim card is p or e sim card. Having an icon for each would be helpful.

### Example image

![image](https://user-images.githubusercontent.com/47557218/169779227-f0be9b88-2356-49b0-80d7-1303655db40e.png)

### Icon request checklist

- [X] The t

[2022-05-23 15:17] Shaz3e commented on #16096
Is there any plan for this icon?

[2022-05-23 18:52] aidenguinnip opened #19065 "Icon request: fa-gameplan"
### Use case

Description/Background: The X and O drawings used to depict the play that is being planned, usually for a sports game, such as football or soccer.

Sports use-case: The offensive or defensive game plan/play
Business/other use-case: The plan of action for a scenario

Example keywords: planning, plan, scenario, strategy

### Example image

![image](https://user-images.githubusercontent

[2022-05-23 19:58] tagliala commented on #19065
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #9659, please add a 👍 reaction to that request.

Closing here

[2022-05-23 19:58] #19065 closed, assigned to nobody

[2022-05-23 20:57] ezaquarii commented on #5345
@robmadole @tagliala I'd like to you bring your attention to this issue. It would be awesome to have this icon.
Are there any issues preventing FrontAwesome from importing this icon?

[2022-05-23 21:05] kstencell commented on #14021
+1

[2022-05-24 05:45] craigbutcher commented on #5345
Holy moly! It has been 7 years since this was requested. Surely it will be a _finally_ for 2022? 😀

[2022-05-24 05:54] koendeschacht commented on #18841
We also experience this issue in a Nuxt application, using @fortawesome/fontawesome-svg-core version 6.1.1

[2022-05-24 07:58] aethior commented on #2369
I think this request can be considered solved.

cc/ @tagliala

[2022-05-24 08:01] aethior commented on #5961
@tagliala `food (category)` and `beverage (category)` labels for this request?

[2022-05-24 08:08] aethior commented on #5067
- https://fontawesome.com/icons/weight-scale
- https://fontawesome.com/icons/dumbbell
- https://fontawesome.com/icons/person-running
- https://github.com/FortAwesome/Font-Awesome/issues/8437

cc/ @tagliala

[2022-05-24 08:12] aethior commented on #7159
Duplicate or related of  #4084, #5305, #10032?

cc/ @tagliala

[2022-05-24 08:15] aethior commented on #5334
@tagliala `brand (category)` label for this request?

[2022-05-24 09:05] EzenewuDev opened #19066 "Great"

[2022-05-24 10:55] swelly-ian commented on #18844
Yep only occurs in v6

[2022-05-24 11:07] leonnicklas opened #19067 "Icon request: cube-dimensions"
### Use case

... to display the dimensions of cubes/layouts in a dashboard or 3D viewer.

### Example image

<img width="200" alt="Bildschirmfoto 2022-05-24 um 13 04 11" src="https://user-images.githubusercontent.com/58478294/170020617-39dda234-411b-40dd-8517-348f9ccd2d08.png">

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [

[2022-05-24 11:41] #14547 closed

[2022-05-24 11:41] tagliala commented on #19066
Thanks!

[2022-05-24 11:41] #19066 closed, assigned to nobody

[2022-05-24 14:53] luantran1311 opened #19068 "Bug: Could not resolve dependencies in React Native"
### Bug description

I have this error when running **npm install** in my React Native project

![image](https://user-images.githubusercontent.com/19511189/170065495-9412b32d-5993-4dc2-83a9-cbdf1f3f07dd.png)

My **package.json**
<pre>
{
  "name": "reactnative05_shoesapp_nhom3",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-nati

[2022-05-24 15:00] tagliala commented on #19068
Hi!

Thanks for being part of the Font Awesome Community.

I think that react-native-fontawesome is not yet ready for FA6

Ref: FortAwesome/react-native-fontawesome#110

[2022-05-24 15:01] tagliala commented on #19068
@robmadole could you please take a look here?

[2022-05-24 15:31] alvarobenavidescom commented on #4352
bump

[2022-05-24 16:01] bugzPDX commented on #5345
Wouldn't that be amazing!?

[2022-05-24 17:40] ArtemFrontendACTUM opened #19069 "401 Unauthorized"
@stuartcusackie if you have different projects and just some of them uses FA Pro, you can use per-project `.npmrc` instead of a global one

You can do the opposite if you need FA Free in just some of them

ie:
[code]

should reset the registry to the default one (registry.npmjs.org for npm, registry.yarnpkg.com for yarn). Please also delete your lockfile before running npm install or yarn install

[2022-05-24 17:57] MaraLanz opened #19070 "Icon request: fa-brands fa-tidal"
Hi I'm looking to have the icon for **https://www.Tidal.com** added to the brands category.
![tidal](https://user-images.githubusercontent.com/106180211/170100933-fb0999bf-b905-4316-9e45-cacca6906cc5.png)

Thanks!

[2022-05-24 18:03] tagliala commented on #19070
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #8850, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-05-24 18:03] #19070 closed, assigned to nobody

[2022-05-24 18:09] arfathyahiya commented on #6537
Oh man seriously it's still not here I read through this thread just to know it's not yet added......

[2022-05-24 19:31] MaraLanz commented on #19070
My Apologies,
I did a quick search and didn't see it. Thanks!

[2022-05-24 19:41] MaraLanz commented on #8850
+1 on TIDAL too. How long until we see this icon in the "in progress" board?

[2022-05-24 22:30] leonnicklas commented on #19067
+1

[2022-05-25 09:17] MMana76 commented on #18803
I have same problem with my Gitlab pipeline.
My Docker logs
[code]

[2022-05-25 10:56] MustafaHossaini commented on #12928
localhost is fine . but `127.0.0.1` is not

[2022-05-25 11:29] Kelvez opened #19071 "Icon request: icon-name"
I think we should add a scorpion logo

[2022-05-25 12:13] PereDima commented on #3688
+1

[2022-05-25 12:28] tagliala commented on #19069
Hi!

Thanks for being part of the Font Awesome Community.

Sorry, I do not understand this issue

Could you please fill out our bug report template at https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=bug%2Cneeds-triage&template=100_web_bug_report.yml&title=Bug%3A+ ?

[2022-05-25 12:29] tagliala commented on #19071
Hi!

Thanks for being part of the Font Awesome Community.

Could you please access GitHub from a mobile or desktop browser at https://github.com/FortAwesome/Font-Awesome/issues/new/choose and fill out the proper request template?

[2022-05-25 13:57] stuartcusackie commented on #19069
Hi. My problem is sorted. I wrote that  comment about 3 years ago but I haven't had any problems since.

Thanks for checking!

[2022-05-25 16:05] blalan05 opened #19072 "Icon request: calendar-rotate"
Just the arrows rotate inside of calendar icon.

For repeated events.

I know these could be stacked but in Vue/Vuetify I don't have that option.

[2022-05-25 16:12] blalan05 opened #19073 "Icon request: Calendar-dollar"
### Use case

icon for bill due date.

### Example image

![calendar-dollar](https://user-images.githubusercontent.com/42892508/170308579-de497eb8-38b0-4cab-a353-7a9854789450.png)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or matched pair (Ex: `lock` / `u

[2022-05-25 16:35] jonnyhoff commented on #16764
Would be great to have this framework's icon.

[2022-05-25 21:40] wesdevpro commented on #18666
Why does this workaround work? and has anyone identified the actual problem?

[2022-05-26 14:35] ZekeriyaAY commented on #17079
UP+

[2022-05-26 14:55] thepra opened #19074 "Bug: animation-delay should have always the value in seconds units, no a simple 0"
### Bug description

Instead of `animation-delay:var(--fa-animation-delay,0)` it should be `animation-delay:var(--fa-animation-delay,0s)`

### Reproducible test case

_No response_

### Screenshots

_No response_

### Font Awesome version

v6.0.0

### Serving

Self-hosted

### Implementation

CSS

### Browser and Operating System

Firefox 101

### Web bug report checklist

- [ ] I have included a

[2022-05-26 16:04] tagliala commented on #19074
Hi!

Thanks for being part of the Font Awesome Community.

Could you please provide more details about this issue?

Is there a linter that reports an issue? Is this related to some calculations? Is this to adhere to the standard https://www.w3.org/TR/css-animations-1/#animation-duration initial value ?

[2022-05-26 18:48] tagliala opened #19075 "Add calendar-star to Time category"
Hi Jory,

I've found that this is the only calendar icon that does not belong to the Time category:
https://fontawesome.com/icons/calendar-star?s=solid

[2022-05-26 21:17] silverkorn commented on #5345
It would be <sub><sup>Font</sup></sub> Awesome!

[2022-05-27 00:53] koi-hime opened #19076 "Bug: Font Awesome CSS stylesheet "blocked by CORS policy" on Brave Browser"
### Bug description

I'm getting this error on my web app on Brave Browser when trying to use FA Icons. This is a recent issue that I've only noticed happening a month or so ago, since that's the last time I worked on it.

This is the error:
[code]

![2022-05-26 20_49_52-Window](https://user-images.githubusercontent.com/30669509/170606858-1e9d2a7a-7348-4e9e-ae3f-868d7c658b4e.png)

I do not get thi

[2022-05-27 02:18] casually-creative opened #19077 "Icon request: sniper-rifle, assault-rifle, shotgun, machine-gun, submachine-gun"
### Use case

There are quite a bunch of melee weapon icons, but not of firearms. This would be beneficial for anything covering shooter games.

Thinking of sniper rifles (also requested by #3560), assault rifles, shotguns, machine gun, submachine gun, ..

Here is a list of all different firearms. Don't think we need them all, just the most popular ones, or the most used ones in video games: https

[2022-05-27 04:46] johnbaro commented on #17789
+++1 for this (a year later) @rlueder.

The instructions mentioned (https://fontawesome.com/how-to-use/on-the-web/setup/using-the-npm-download) say to download the npm package (even if subscription is expired), this does not seem to be possible anymore, is it the same for you?

As an FYI re private NPM, Azure Devops provides free private NPM registries. [Instructions](https://limelightmarketing.co

[2022-05-27 11:59] anthonypwinning opened #19078 "Bug: scss/_list.scss throws error on compilation"
### Bug description

When I attempt to compile FontAwsome as a yarn package with Sass, _scss/_list.scss_ appears to be the source of an error that prevents compilation.

I believe:

`  left: calc(var(--#{$fa-css-prefix}-li-width, #{$fa-li-width}) * -1);`

Should be:

`  left: var(--#{$fa-css-prefix}-li-width, calc(#{$fa-li-width} * -1));`

Everything works fine after changing that one line. I'll a

[2022-05-27 12:32] tagliala commented on #19078
Hi!

Thanks for being part of the Font Awesome Community.

As far as I can see, they are not the same thing

[code]

compiles to

[code]

Demo: https://jsfiddle.net/tagliala/uz7b1wha/3/

Are you using a custom value for $fa-li-width? Could you please provide more details about the error you are getting?

[2022-05-27 14:28] tanluongann commented on #13773
This would be extremely useful!!

[2022-05-27 14:36] lucholalev commented on #6266
is there no icon for that yet?
would be nice to make a set of login options: dial pad for pin code, face for face recognition... etc
:)

[2022-05-27 14:44] tagliala commented on #19076
Hi, is this affecting a website in development on a local machine?

[2022-05-27 14:46] tagliala commented on #19069
Sorry, I'm going to close here

@ArtemFrontendACTUM feel free to open a new issue with a step to step guide to reproduce, with as many details as possible (except for sensitive ones like email or Font Awesome Pro token) so we can understand the issue and try to help

Please also note that as Font Awesome Pro developer you can ask for custom support at hello@fontawesome.com

[2022-05-27 14:46] #19069 closed, assigned to nobody

[2022-05-27 18:07] adamjimenez commented on #13205
It says completed but I can't find it on the font awesome website?

[2022-05-27 19:01] tagliala commented on #13205
This request has been closed by the author, feel free to open a new request

[2022-05-27 23:41] aethior commented on #14321
Duplicate or related of #12774?

cc/ @tagliala

[2022-05-28 00:06] aethior commented on #3666
I think this should not be forgotten.
Maybe it's a good idea to open a new related request?

[2022-05-28 02:14] besho12 commented on #19055
Hi
mmm, yup it's looks good. Thanks

[2022-05-28 03:10] lichuang commented on #1841
+1

[2022-05-28 11:33] gul7979879 opened #19080 "Icon request: komoot"
There is no icon for the hiking platform komoot

[2022-05-28 11:58] tagliala commented on #19080
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #15242, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-05-28 11:58] #19080 closed, assigned to nobody

[2022-05-28 15:12] Qsheep opened #19081 "Icon request: icon-name"
Hi, I think a lot of us who are making a CV need the icon of Matlab. Please.

[2022-05-28 15:19] Dudeardo opened #19082 "Icon request: Mobile-Plus"
### Use case

Please add an icon of an mobile phone with a plus sign on the side

### Example image

![unknown](https://user-images.githubusercontent.com/106441481/170831631-ceaa6282-a646-4133-8251-e2e3f33b08ac.png)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single i

[2022-05-28 15:22] tagliala commented on #19082
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/141/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.c

[2022-05-28 15:23] tagliala commented on #19081
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #10999, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-05-28 15:23] #19081 closed, assigned to nobody

[2022-05-28 15:24] tagliala commented on #19047
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/143/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.c