[2022-08-26 13:11] #5324 closed

[2022-08-26 16:04] Eonasdan opened #19289 "Feature request: Stream Deck Icon Pack(s)"
### Is your feature request related to a problem?

No problem

### Feature description

Can I (or you) create a [stream deck icon pack](https://developer.elgato.com/documentation/stream-deck/icon-packs/create-your-icon-pack/)?

I'm looking for permission to create an icon pack for stream deck using the one or more of the free icon sets.

Or for FA to provide that. If you'd be interested in somethi

[2022-08-27 03:07] Barathwaja commented on #541
Is there an ETA when this will be published ? 🤔

[2022-08-27 21:44] #17692 closed

[2022-08-28 14:55] ohemilyy commented on #13450
4 years and still no updates....

[2022-08-28 21:48] zagarskas commented on #16172
Got good news for ya, little hack, but works well.

Anyway: the following seem to work great to reduce wobble:
- Set `font-size: 3.3333em;` (which is 53.3328px in my case)
- Set `font-size: 5em;` (which is 80px in my case)
-  `line-height: 1;` add on `fw fa-spin-pulse`
-  worked well with `fa-duotone`

I figured the wobble has something to do with "uneven numbers" or irrational numbers?
Maybe has

[2022-08-28 21:53] zagarskas commented on #16495
I've been using the following to "reduce" the wobble...
Seems only "certain magic numbers" work. lol
- Set `font-size: 3.3333em;` (which is 53.3328px in my case)
- Set `font-size: 5em;` (which is 80px in my case)
-  `line-height: 1;` add on `fw fa-spin-pulse`
-  worked well with `fa-duotone`
- results very as per icon used
- tried **_lotsastuff_** im just not going to list here. lol. prob could ha

[2022-08-29 10:21] csett86 commented on #15882
Current path to codeberg icon: https://codeberg.org/Codeberg-Infrastructure/build-deploy-gitea/src/branch/codeberg-1.17/codeberg.svg

[2022-08-30 00:07] alindzon opened #19290 "Icon request: call-transfer"
### Use case

Communication app where a call can be transferred to a different device.  I was surprised it was not already there as there are so many.

### Example image

[https://icons8.com/icon/11414/call-transfer](url)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a si

[2022-08-30 01:49] zheung opened #19291 "Bug: The requested module does not provide an export named 'IconLookup'"
### Bug description

When I try to import `IconLookup` or `IconDef` from the Fontaweseome packages, receive an error `The requested module does not provide an export named 'IconLookup'`.
[code]

Maybe I should use `@fortawesome/fontawesome-common-types`. But I still found the export definition from `index.d.ts`. So I think to continue to open the issue :)
![image](https://user-images.githubusercon

[2022-08-30 06:18] DhvanilPatel commented on #12191
I'd second this request as well!

[2022-08-30 06:26] bash83 commented on #4561
+1

[2022-08-30 07:45] sandermarechal commented on #19194
This appears to be a bug specific to the node 10 and npm 6 versions shipped with Ubuntu 20.04 focal

[2022-08-30 07:46] tagliala commented on #19194
Thanks, closing here for the moment

[2022-08-30 07:46] #19194 closed, assigned to robmadole

[2022-08-30 10:20] julesmorel commented on #14700
I am also interested

[2022-08-30 11:11] tagliala commented on #19285
Hi!

Thanks for being part of the Font Awesome Community.

Sorry, I can't help on Jest

Leaving this open for feedback from the community or someone else in the Pro team

@robmadole @mlwilkerson any suggestion?

[2022-08-30 12:44] ash-wicket opened #19292 "Bug: Icons appears where fonts should be"
### Bug description

We're currently using FA and occasionally we get weird glyphs where the icons should be. We've seen several postings about this and tried the solutions but to no avail. We were hoping someone could see if they could spot what we're missing.
Thanks

Here's the dev url https://authorsguild-website-wordpress.ind.ninja/

### Reproducible test case

_No response_

### Screenshots

[2022-08-30 12:46] timmeade opened #19293 "Icon request: icon-repository"
Icon to be used for a code repository.

[2022-08-30 12:46] #19293 closed, assigned to nobody

[2022-08-30 12:50] memorabilien opened #19294 "Missing Icon"
### Bug description

I am on version 6.1.2, and I am using the web font with font-weight 400.
I noticed that the external link icon is missing.

`<i class="fa-solid fa-arrow-up-right-from-square"></i>`

It just shows a crossed out square. With font weight 900 it works perfectly fine.

### Reproducible test case

https://codepen.io/memorabilien/pen/rNdXJPB

### Screenshots

_No response_

### Font

[2022-08-30 15:59] aidenguinnip opened #19295 ""album-collection" not aligned correctly"
The shapes within the regular weight icon for "album-collection" isn't properly aligned—the other weights look correct.

The "disc" shape isn't centered horizontally with the "rectangles" around it. However, the inside "hole" does seem to be centered.

https://fontawesome.com/icons/album-collection?s=regular

Image attached shows the misalignment. White is current, red is where it should be.

![im

[2022-08-30 18:46] sensibleworld commented on #19294
Hey @memorabilien! The majority of our 1,388 free icons are in the 900 weight, Font Awesome Solid. There are a handful (163) that are also in our Regular style, 400 weight, to have parity with some of the old -o style icons we had in earlier versions. So the behavior above is expected, if you need the regular weight of that particular icon, you'll want to use Font Awesome Pro.

[2022-08-30 18:46] #19294 closed, assigned to nobody

[2022-08-30 18:47] sensibleworld commented on #19295
Thanks for the report!

[2022-08-30 19:27] tagliala commented on #19292
Hi!

Thanks for being part of the Font Awesome Community.

I can see that the website is using Font Awesome 6 Pro with a self-hosted CSS and a slightly custom implementation, through a third party theme

We do not provide support for third party libraries/themes/plugin, so if you are not the developer of the theme this is not the proper place to report an issue.

I can see that the output css is n

[2022-08-30 19:27] #19292 closed, assigned to nobody

[2022-08-30 22:24] davidkingham commented on #12758
How is there still no icon for Vero? The platform is growing like crazy right now...

[2022-08-30 22:44] behind24proxies opened #19297 "Feature request:"

[2022-08-31 10:40] Annsuree commented on #12989
0xCEd59A1919f8864Ecda650D2C253C239D83647A3

[2022-08-31 10:42] Annsuree opened #19298 ".."
https://github.com/FortAwesome/Font-Awesome/blob/master/.github/PULL_REQUEST_TEMPLATE.md

[2022-08-31 10:44] tagliala commented on #19298
Hi @Annsuree,

Thanks for being part of the Font Awesome Community

If you need help in using GitHub to open issue, please take a look at https://docs.github.com/en/issues/tracking-your-work-with-issues/creating-an-issue

Closing here

[2022-08-31 10:44] #19298 closed

[2022-08-31 13:30] saransh-malik commented on #19272
Facing the same issue, v5 works well but upgrade to v6 makes build times insanely long.
Tried deep import as well as library.add way but no difference.

[2022-08-31 13:48] a-znk commented on #17553
Hello,

Was this ever resolved? I would also like to use a kit with NextJS to make use of several custom uploaded icons. I was told by a representative that kits do not work with npm, but I'm curious if there is another reliable way to integrate with my project. Otherwise, I will be forced to stop using Font Awesome. Thank you

[2022-08-31 15:42] FauzanEdris opened #19299 "Bug: Issue with Elementor Editor - WordPress"
### Bug description

Hello, can you check this issue?

https://github.com/elementor/elementor/issues/14918

After looking, I think it's a mistake to write unicode in the v4 migration file.

https://fontawesome.com/v4/icon/facebook
https://fontawesome.com/search?p=1&q=facebook&s=solid%2Cbrands

![image](https://user-images.githubusercontent.com/30016486/187719209-3725988f-4843-4c26-8869-9e53c3cfb51

[2022-08-31 16:01] Jeffrey-Polansky commented on #2934
In simple terms, agreeing with marcospeebles, I just flip the copyright symbol.

[2022-08-31 18:26] tagliala commented on #19299
Hi!

Thanks for being part of the Font Awesome Community.

I think I did not get this issue

Can't understand this too

`f39e` in the shim file looks correct. It means that `fa fa-facebook` (as per FA4 syntax) should behave like `fab fa-facebook-f` (FA5 syntax)

FA4 compatibility should not be used when using Font Awesome 4.x, but when using Font Awesome v5+ with FA4 syntax.

Could you please prov

[2022-08-31 18:32] tagliala commented on #19272
@mlwilkerson any ideas?

[2022-08-31 19:56] lscarneiro commented on #17914
Sorry to "up" this, but it's not clear if this is moving forward or not, are there any updates regarding the inclusion of this icon?

Thanks!

[2022-08-31 21:03] esviza opened #19300 "Icon request: dam"
### Use case

There are different energy generation types. Fontawesome already has icons for several.
We need one for a dam or hyrdroelectric

### Example image

_No response_

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or matched pair (Ex: `lock` / `unloc

[2022-09-01 07:04] Climax777 commented on #18498
This issue renders CSP moot for kits. Thanks for the workaround @jsonjuri and @carlbradwell17.

[2022-09-01 15:26] reitzig commented on #15218
FWIW, when you download the SVG of a free Icon, e.g. [circle-question](https://fontawesome.com/icons/circle-question?s=solid&f=classic), the file links to the pro license:

[code]

That's a little confusing.

[2022-09-01 18:26] tagliala commented on #15218
Hi @reitzig, thanks for the report. This is an issue tracked in #19191

[2022-09-01 20:36] jogibear9988 commented on #18759
I've the same issue:
<img width="380" alt="image" src="https://user-images.githubusercontent.com/364896/188007574-794003e5-ce3e-45e1-a4f1-f19aaa1bae4c.png">

[2022-09-02 02:46] geoffdavis92 commented on #14544
+1

[2022-09-02 02:52] jnyheim opened #19303 "Copy SVG Code on fontawesome.com not working"
icon-action-svg-copy (Copy SVG Code ) on fontawesome.com is not working for brand icons.
this issue persists on all brand icons i tested

https://fontawesome.com/icons/facebook?f=brands

Issue: the svg code is not copied when clicking the "Copy SVG Code" button
Expected behavior: the svg code should be copied to the clipboard when clicking the "Copy SVG Code" button

webbrowser: Mozilla/5.0 (Macin

[2022-09-02 06:38] dbwodlf3 commented on #3688
not yet i can't use this?

[2022-09-02 07:44] HanbitGaram commented on #3688
I solved this problem using fontawesome pro.
I don't think this request will be accepted.
If you need an icon, try using a custom icon from the fontawesome pro.

[2022-09-02 08:09] tagliala commented on #18759
Probably fixed by #15639

[2022-09-02 12:06] jogibear9988 commented on #18759
@tagliala this would fix it, but it's open for over 3 years...

[2022-09-02 14:18] aagparekh opened #19304 "Icon request: fa-mongodb"
mogoDB icon

[2022-09-02 16:37] tagliala commented on #19304
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #2725 , please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons

[2022-09-02 16:37] #19304 closed, assigned to nobody

[2022-09-02 20:03] StevenInc opened #19305 "Bug: npm install pro-solid-svg-icon error"
### Bug description

Set Up with Vue JS errors
In following the directions for setting up Fontawesome for vuejs:
https://fontawesome.com/docs/web/use-with/vue/

The following npm installation fails:
npm i --save @fortawesome/pro-solid-svg-icons

Yields:
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@fortawesome%2fpro-solid-svg-icon

### Reproducible test case

npm i --

[2022-09-02 21:24] StevenInc commented on #19305
Same is true for:
@fortawesome/pro-regular-svg-icons
@fortawesome/pro-light-svg-icons
@fortawesome/pro-thin-svg-icons
@fortawesome/pro-duotone-svg-icons

[2022-09-02 21:53] StevenInc commented on #19305
This was an issue with our token being incorrect configured.
I didn't realize this was a link with the examples:
(See screenshot:A) Because the page redirect was broken.
See screenshot: B

[2022-09-02 21:56] StevenInc commented on #19305
B: <img width="709" alt="Screen Shot 2022-09-02 at 2 50 54 PM" src="https://user-images.githubusercontent.com/791500/188240055-5bb6b463-6573-41bd-9d6f-984199933278.png">
A:
<img width="1042" alt="Screen Shot 2022-09-02 at 2 50 46 PM" src="https://user-images.githubusercontent.com/791500/188240233-c53cccf4-e3cc-4af1-88f0-ebfeed527d42.png">

[2022-09-03 02:02] StevenInc opened #19306 "Bug: vueJS fontawesome needs a complete re-write."
### Bug description

Honestly, I don't know what you are doing with the licensing fee you collected from me
I pay that fee so that I can quickly integrate your library, but instead I spend a complete day reading your source code and figuring out how to use paid libraries in a vueJS 2.x application.

For example:
When importing the bars from the pro-regular-svg-icons library:
import { faBars as far

[2022-09-03 02:22] RyanPrintup commented on #6687
+1

[2022-09-03 02:23] RyanPrintup commented on #2871
+1

[2022-09-03 07:23] tagliala commented on #19306
@mlwilkerson @jasonlundien any chance to move this issue to https://github.com/FortAwesome/vue-fontawesome and provide an answer? thanks!

[2022-09-03 07:24] tagliala commented on #19305
So I assume this is not an issue anymore

Closing here

[2022-09-03 07:24] #19305 closed, assigned to nobody

[2022-09-03 07:26] tagliala commented on #18788
I can see it fixed in 6.2.0

https://github.com/FortAwesome/Font-Awesome/blob/d3a7818c253fcbafff9ebd1d4abb2866c192e1d7/js-packages/%40fortawesome/fontawesome-svg-core/index.d.ts#L22-L38

[2022-09-03 07:26] #18788 closed, assigned to robmadole, mlwilkerson

[2022-09-03 22:27] iGerman00 commented on #5569
+1 for fa-newgrounds

[2022-09-04 00:05] Annsuree opened #19307 "2022-09-04-07-04-guarda-multiwallet-backup.txt"
U2FsdGVkX185UxsDMiCl06d7k1ZpIl7xLzYzOk3K6QIkUpzzqMC1QIU4icZx2sWTRGAWVx+Ckr5GbREP6fXPoaoi591NWA+o52RQErv85nP5oyDMAyi5U38ij2Ind1eHdPMGuJTymvS+pG5W/OHCMH7BaucHpDLr0mAeMh86fQx4FUFfjVJ7yAQY/YkrCFrWQGFtCV2Mdp1ZiZu+m485ax6WQ3mOXBQyUbkjj8ENiI17Mueigsr+SvFhxQeyn7A18rIlY91keHq/Bg5bwFIJNRjqLmcSc16JQRPj1ibseqarDDZie2fODOkEFWfwF6sONtzcQAnWpHtJMX2GErT046vAQ74VEe4SxPXjSJhxd9MeztbJpk6nhwEXz7pieQxQQdU32qZgV7FdJBs6

[2022-09-04 00:14] Annsuree opened #19308 "2022-09-04-07-12-guarda-backup (1).txt"

[2022-09-04 07:27] #19308 closed

[2022-09-04 07:27] tagliala commented on #19307
@Annsuree is there any sensitive information in this post? Please check and take action

[2022-09-04 07:27] #19307 closed

[2022-09-04 08:44] jnyheim commented on #19303
Issue has been fixed.

[2022-09-04 08:44] #19303 closed, assigned to robmadole

[2022-09-04 13:30] shehi opened #19309 "Brand request: Square Enix"
### Description

https://www.square-enix-games.com/home/public/favicon.ico

![image](https://user-images.githubusercontent.com/653569/188315805-6e46edfa-2bd8-43e6-9ecb-fc3812f40600.png)

### Official website

https://www.square-enix-games.com

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X

[2022-09-04 13:35] shehi opened #19310 "Brand request: Zenimax Online"
### Description

https://www.crunchbase.com/organization/zenimax-online-studios

![image](https://user-images.githubusercontent.com/653569/188316264-0c90bef4-fb96-4d0c-bb95-9dedfd91f3d1.png)

### Official website

http://www.zenimaxonline.com/

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [

[2022-09-04 13:49] shehi opened #19311 "Brand request: ArenaNet"
### Description

https://www.guildwars2.com/en/media/asset-kit/

![image](https://user-images.githubusercontent.com/653569/188316769-7e892dc2-7190-45d1-8701-2e73a51cdfa9.png)

### Official website

https://www.arena.net/en

### Brand guidelines

https://www.guildwars2.com/en/media/asset-kit/

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested br

[2022-09-04 18:49] MaanavS16 commented on #15337
+1

[2022-09-05 03:22] barackbrobama opened #19312 "Bug: Cannot import brand icons after 6.2.0"
### Bug description

After updating to 6.2.0 brand icons seem to... not work for me when importing using the import macro.

`import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'`
`import { solid, brands } from '@fortawesome/fontawesome-svg-core/import.macro'`
`<FontAwesomeIcon icon={brands("facebook")} />`
results in
`Module not found: Error: Can't resolve '@fortawesome/pro-brands-svg-

[2022-09-05 08:18] #16734 closed

[2022-09-05 19:50] fiLLLip commented on #8920
+1 for this👍

[2022-09-06 06:27] Annsuree opened #19313 "27EpCcqR6Yy1b634PepH5Zt4p26BxQoam3ZLzEnuU25N"
27EpCcqR6Yy1b634PepH5Zt4p26BxQoam3ZLzEnuU25N

[2022-09-06 06:28] Annsuree opened #19314 "bc1qrradc9vum9r0ntthjnc49ywakuuy72gtgwje6l"
bc1qrradc9vum9r0ntthjnc49ywakuuy72gtgwje6l

[2022-09-06 07:30] KrusoUser commented on #19276
Same opinion here...

Is it possible to add the life ring from v4 or v5 to v6 on a react project?

[2022-09-06 07:50] KrusoUser commented on #19276
Same opinion here...

EDIT:

For those who wants this icon back, I just used the same logic as FA uses and create my own with the v5 svg:

`export const faLifeRingV5 = {
  prefix: 'fas',
  iconName: 'life-ring-v5',
  icon: [
    512,
    512,
    [],
    'f1cd',
    'M256 504c136.967 0 248-111.033 248-248S392.967 8 256 8 8 119.033 8 256s111.033 248 248 248zm-103.398-76.72l53.411-53.411c31.806 13.5

[2022-09-06 07:50] dmoKruso commented on #19276
Same opinion here...

EDIT:

For those who wants this icon back, I just used the same logic as FA uses and create my own with the v5 svg:

`export const faLifeRingV5 = {
  prefix: 'fas',
  iconName: 'life-ring-v5',
  icon: [
    512,
    512,
    [],
    'f1cd',
    'M256 504c136.967 0 248-111.033 248-248S392.967 8 256 8 8 119.033 8 256s111.033 248 248 248zm-103.398-76.72l53.411-53.411c31.806 13.5

[2022-09-06 13:10] andyoknen opened #19315 "Brand request: Bastyon"
### Description

[Bastyon](https://pocketnet.app/about) is a decentralized social network based on the blockchain. The cryptocurrency used by this blockchain is Pocketcoin (PKOIN).

There is no central authority or corporation behind Bastyon. The platform is run by equal nodes on a blockchain with no centralized server. All the revenue generated by the nodes is split between node operators and con

[2022-09-06 13:53] robbinjanssen commented on #19312
I am having the same error, using the same technique:

`Module not found: Error: Can't resolve '@fortawesome/pro-brands-svg-icons/faGithub' in '/home/dev/.../components'
resolve '@fortawesome/pro-brands-svg-icons/faGithub' in '/home/dev/.../components'`

[2022-09-06 14:53] tagliala commented on #19312
Hi!

Thanks for being part of the Font Awesome Community and thanks for this report.

`pro-brands-svg-icons` does not look correct, so there is an issue in the resolver.

I can see that this issue is already known, will update this tracker when it is fixed

[2022-09-06 15:34] talbs commented on #19253
Thanks for the heads up on this and sorry for the confusion. https://fontawesome.com/v5/docs/web/use-with/react should be a lot less confusing now.

[2022-09-06 15:34] #19253 closed, assigned to talbs

[2022-09-06 15:34] talbs commented on #19203
Thanks for the heads up about these typos, they should all be resolved now on fontawesome.com at https://fontawesome.com/docs/web/dig-deeper/accessibility.

[2022-09-06 15:34] #19203 closed, assigned to talbs

[2022-09-06 15:37] talbs commented on #19074
Thanks for the heads up on this issue, folks. We've added units to our `animation-delay` default values in v6.2.0.

[2022-09-06 15:37] #19074 closed, assigned to talbs

[2022-09-06 18:54] ChrisPlease opened #19316 "Bug: SVG + JS not reactive"
### Bug description

Swapping class names on svg + js icons do not update the icon instance. Given an icon with class `fa-plus`, when the class changes to `fa-times` for example, the `plus` icon is still shown. (See reproducible link).

Marked as self hosted because that's how I discovered it, but using the CDN for the repro link.

I've troubleshooted this and found this only happens when using sv

[2022-09-06 19:01] tagliala commented on #19316
Hi!

Thanks for being part of the Font Awesome Community.

I think this is because of Svelte

As mentioned at https://github.com/FortAwesome/Font-Awesome/issues/18611#issuecomment-1052562796, I think this needs  a specific component

@robmadole can you please confirm?

[2022-09-06 19:03] robmadole commented on #19316
We have a new Svelte component. Can you give it a try? https://github.com/FortAwesome/svelte-fontawesome

We'll re-open if this is still an issue.

[2022-09-06 19:03] #19316 closed, assigned to nobody

[2022-09-06 19:06] tagliala commented on #18611
Has this been fixed by https://github.com/FortAwesome/svelte-fontawesome ?

[2022-09-06 19:47] cbracco opened #19317 "Feature request: Add !default to $fa-icons and $fa-brand-icons"
### Is your feature request related to a problem?

Hi there! Love the library, we @muckrack are long-time users, and now happy FA6 Pro users 😄.

I noticed the other day that the `!default` keyword is missing from both the `$fa-icons` and `$fa-brand-icons` Sass maps in `_variables.scss`. This makes it impossible to override these values without having to maintain our own "vendored" copy of this fil

[2022-09-06 21:06] robmadole commented on #19213
@lynchem this looks like a bug for sure. The mutation observer and the way that icons render went through a major overhaul for version 6. I'd recommend using version 5 until we can get this fixed. I don't have an ETA as we don't know what the root cause is yet.

[2022-09-07 03:29] kimurakoki opened #19318 "Brand request: visa"
### Description

Update Visa Logo per Brand Specifications
Simple update - Visa has changed its branding specifications for July 2021.

Is this icon compliant? If compliant, please close this issue.

### Official website

https://usa.visa.com/about-visa/newsroom/press-releases.releaseId.18156.html

### Brand guidelines

https://www.merchantsignage.visa.com/brand_guidelines

### Icon request checkl

[2022-09-07 06:24] robbinjanssen commented on #19312
@tagliala can you point me to the issue? Then I can track it myself as well :-)

[2022-09-07 07:11] tagliala commented on #19312
Keep track of this one, the other one is in a private upstream repository

[2022-09-07 07:58] lynchem commented on #19213
Thanks for having a look @robmadole. Do you have other users having issues with this? Is it related to Meteor  ?

[2022-09-07 08:14] fostira commented on #12769
+1

[2022-09-07 08:14] fostira commented on #4340
+1

[2022-09-07 09:50] tarreislam commented on #12769
I don't get why this should be so hard to implement. What is the requirement to get an icon implemented?!?!

The equivalent of 3.6 billion dollars has been transferred via swish in August 2022.

Sweden have 11 million citizens and 7 million active Swish users. Roughly 63% of our population uses swish as their daily payment method. 90% of swedish business uses swish as an payment option.

[2022-09-07 09:53] tagliala commented on #12769
Hi!

You may be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons), they contain a lot of information about how requests work

Another useful resource is our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new)

[2022-09-07 14:36] ChrisPlease commented on #19316
Installed @fortawesome/svelte-fontawesome, issue is still present. I can't update/fork codesandbox because I can't find the dependency in the deps list. Attached a screenshot and a trivial icon component

![dropdown](https://user-images.githubusercontent.com/2982692/188904561-01766978-b60a-4f2a-b3d9-425e77038175.gif)

[code]

[code]

[code]

**Edit**: `flip` prop also doesn't seem to work.

[code]

[2022-09-07 15:53] GETTTA opened #19322 "Icon Request: fa-rumble"
an icon for rumble.com, act similar to youtube icon.
![rumble](https://user-images.githubusercontent.com/113046787/188923484-660560b0-b816-422a-91a3-f4364eb913f3.jpg)

[2022-09-07 15:56] tagliala commented on #19322
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #17327, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons

[2022-09-07 15:56] #19322 closed, assigned to nobody

[2022-09-07 17:43] Sanket-Gawande opened #19323 "Icon request: tailwindcss icon"
tailwindcss is on peak nowdays  , while searching icons for react nodejs i found that there isn't this one .

[2022-09-07 17:43] Sanket-Gawande commented on #19323
-

[2022-09-07 23:00] ChrisPlease commented on #19316
Additionally, I did see the originally referenced svelte ticket, but imho, this bug doesn't seem related to svelte.

As I mentioned in the original ticket, this is only reproduced when using SVG+JS. When using web fonts+CSS, icons update as expected.

[2022-09-08 04:54] devendrapoonia commented on #1776
+1

[2022-09-08 05:07] hannah23280 opened #19325 "Bug: Telegram plane without background"
### Bug description

In v5,
   Telegram-plane is able to render just the plane , without any background.
    https://fontawesome.com/v5/icons/telegram-plane?s=solid&f=brands

In v6,
   Such is not the case.  Whether i use telegram-plane or telegram, there is no way to achieve the above.

Suspect this could be missing in v6.

### Reproducible test case

_No response_

### Screenshots

_No response_

[2022-09-08 08:40] tagliala commented on #19323
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #15389, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons

[2022-09-08 08:40] #19323 closed, assigned to nobody

[2022-09-08 11:01] cascading-jox commented on #18514
I tried using the "[All The Things](https://fontawesome.com/v6/docs/web/setup/packages)" installation method and imported the js using the esm import syntax (`import '@fortawesome/fontawesome-pro/js/solid.js';`) and I still get that error on 6.2.0 using sveltekit. Am I importing the .js correctly?

The error:
`@fortawesome/fontawesome-pro doesn't appear to be written in CJS, but also doesn't appea

[2022-09-08 11:18] tagliala commented on #18514
I may be wrong, but using svelte and other JS frameworks with the Font Awesome JS+SVG implementation should require a different approach

There is a quite new svelte component that should be used for this use case. You may find more information at https://github.com/FortAwesome/svelte-fontawesome and examples

[2022-09-08 12:39] ChrisPlease commented on #19316
for posterity: here's a reproduction link of the bug with vanilla JS. https://codesandbox.io/s/reverent-almeida-7ghqlj?file=/index.html

[2022-09-08 13:18] tagliala commented on #19316
I'm getting an error:

[code]

Anyway, I think that the documentation about jQuery can also help here

https://fontawesome.com/docs/web/use-with/jquery

The problem is that with SVG+JS, the original element is removed from the DOM and converted to an SVG

If you inspect the DOM you will see

<img width="504" alt="image" src="https://user-images.githubusercontent.com/556268/189127751-56cfa8b0-f230-

[2022-09-08 14:12] treac1e opened #19326 "Icon request: pedestrian crosswalk (zebra crossing)"
### Use case

Used for representing pedastrian crosswalks e.g. in maps. It could look like the [person-walking icon](https://fontawesome.com/icons/person-walking?s=solid&f=classic) but with some added bars or stripes underneath.

### Example image

![crosswalk-example](https://user-images.githubusercontent.com/36190088/189143817-631b3d0d-febf-4a07-8302-037555f2dcbe.jpg)

### Icon request checklist

[2022-09-08 15:24] sensibleworld commented on #18723
Interesting! We recently added "large" variants, and I could see the benefit of added small ones, too. https://fontawesome.com/icons/plus-large?s=solid&f=classic

[2022-09-08 15:25] sensibleworld commented on #2528
We have a bunch of new animation options now! https://fontawesome.com/docs/web/style/animate#fade

[2022-09-08 15:25] #2528 closed

[2022-09-08 15:28] sensibleworld commented on #5941
A little late to this thread, but we have some options now: https://fontawesome.com/search?q=arrow%20diagonal&o=r

[2022-09-08 15:28] #5941 closed

[2022-09-08 15:29] #4703 closed, assigned to nobody

[2022-09-08 15:47] thierrybucco commented on #12758
+1111111

[2022-09-08 15:54] ChrisPlease commented on #19316
Thanks @tagliala , I was able to get it working with vanilla js by targeting `[data-fa-i2svg]` as noted in the jQuery docs. Still having issues with svelte-fontawesome, but at least I have options now.

[2022-09-08 16:07] Kalus commented on #15830
I would like to second this request please!

[2022-09-08 19:32] rdela commented on #18514
think you can import normally (no workaround needed) now since #19041
https://github.com/FortAwesome/Font-Awesome/pull/19041#issuecomment-1232025150

[2022-09-08 21:57] RouatbiH opened #19327 "Icon request: flag-ps 🇵🇸"
### Use case

Please add the Palestine flag, thank you.

### Example image

![image](https://upload.wikimedia.org/wikipedia/commons/3/36/Flag_of_Palestine_%283-2%29.svg)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or matched pair (Ex: `lock` / `unlock`)
-

[2022-09-09 03:14] audn opened #19328 "Brand request: Filled Snapchat icon"
### Description

Snapchat is already added to FontAwesome, but it's lacking a filled version.

Example with current solid on the left vs filled:
![Example](https://i.imgur.com/zlbQYg3.png)

### Official website

https://www.snapchat.com/

### Brand guidelines

https://snap.com/en-US/brand-guidelines

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requ

[2022-09-09 08:05] #18514 closed

[2022-09-09 08:15] tagliala commented on #19328
Hi,

Thanks for being part of the Font Awesome Community.

We try our best to meet the brand guidelines of third party services

We are also accepting request for unofficial brands, but can you clarify if there is a filled-in official version of the snapchat logo? I've downloaded the zip file and I couldn't find that (they are all outlines)

[2022-09-09 08:22] tagliala commented on #19325
Hi!

Thanks for being part of the Font Awesome Community.

We try our best to meet the guidelines of third party brands

I do not exactly recall the history of the Telegram icon. I've tried to retrieve it from GitHub issues but it is time consuming on my side

My best guess is that `telegram-plane` was an unofficial logo, and when Telegram released the official brand guidelines, we added the offic

[2022-09-09 08:57] andrconstruction commented on #19312
have the same problem
brands( icon )  trying to import from pro-brands instead free-brands

[2022-09-09 10:11] buhtz opened #19329 "Use Font-Awesome font file in FOSS projects?"
### Is your feature request related to a problem?

Can I use a Font-Awesome as a stand alone font-file in a FOSS project?

I don't want my users to access your servers everytime they use your font. I need the font file local.

### Feature description

Can I use a Font-Awesome as a stand alone font-file in a FOSS project?

I don't want my users to access your servers everytime they use your font. I

[2022-09-09 11:01] xb1itz opened #19330 "Icon request: icon-muzli"
Icon for Muzli products in brands category
![muzli](https://user-images.githubusercontent.com/4376230/189335741-71c27aa3-f385-4b7c-903f-9a75f6bce49e.svg)

[2022-09-09 14:14] hannah23280 commented on #19325
Noted.  However the  'telegram' does not look the same as 'telegram-plane'. The former has a background, whereas the latter does not have.

Facebook  has **fa-facebook-f** to display the "F" without any background, and **fa-facebook-square** has a square background.   So i thought telegram should also have equivalent 2 displays - one that show a plane without background, and another with plane wit

[2022-09-10 14:55] sparconoob opened #19331 "Bug: Crash when importing icon from library with FontAwesome 6.2.0 and NextJS 12.3"
### Bug description

I just started a new project with NextJS 12.2 and fontawesome 6.2.0.

I created a library in the _app.tsx file as simple as `library.add(faUser)`.
Calling the fontawesome component `<FontAwesomeIcon icon={["fas", "user"]} />` and it seems that the server can't find the icons but they do work client side.

The app finally crashes with this error message :

![image](https://user

[2022-09-10 14:58] tarreislam commented on #12769
Thanks

[2022-09-10 15:03] tagliala commented on #19331
Hi!

Thanks for being part of the Font Awesome Community.

I can't see the issue. Is there something that I should click?

![image](https://user-images.githubusercontent.com/556268/189489223-bf8889fb-5619-4809-95e6-2d17b11641fe.png)

[2022-09-10 17:54] sparconoob commented on #19331
I don't know why but sometimes codesandbox initialize the project with next 9.5...

Try updating NextJS to the latest version by clicking on the highlighted button on the screenshot below and check the console.

![image](https://user-images.githubusercontent.com/31992071/189495730-647c0736-9829-4bee-9232-71b8a8621b10.png)

I thought that codesandbox would ease the reproduction but not that much..

[2022-09-10 19:24] tagliala commented on #19331
@sparconoob thanks, I've got the error now

@robmadole any idea?

[2022-09-11 16:54] Shreyanth07 commented on #16382
How about this if we can use by resizing the image?
![accredible-removebg-preview](https://user-images.githubusercontent.com/70295717/189539585-5660d600-42b5-45bd-8ba0-5978d9fb4497.png)

[2022-09-11 21:19] BenTen695 commented on #8365
+1

[2022-09-12 16:49] MontoyaTech commented on #18461
I was just about to post a request for this. Would love to have this icon in the FontAwesome icon set!

[2022-09-12 16:56] tagliala commented on #18461
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/166/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.c

[2022-09-12 17:55] MontoyaTech commented on #18461
@tagliala Thanks for the reply! While that does work and I agree the transform system built into FontAwesome is great, it doesn't look quite as well as the native location-slash icon and it doesn't allow me to inject an icon like this into the content of a pseudo element.

Keep up the great work, hopefully an icon like this can exist natively someday!

Thanks.

[2022-09-12 19:08] sensibleworld commented on #6707
We now have a fingerprint icon: https://fontawesome.com/icons/fingerprint?s=solid&f=classic

[2022-09-12 19:08] #6707 closed

[2022-09-12 19:13] sensibleworld commented on #18201
You could try using our Pro subsetter to create smaller JS files: http://fontawesome.com/download

(Sorry for the super long delay in reply!)

[2022-09-12 19:13] #18201 closed

[2022-09-12 19:14] #2910 closed

[2022-09-12 19:15] #17186 closed

[2022-09-12 19:17] sensibleworld commented on #14456
Thanks for the feedback! I, too, feel this pain. We'll have to see if something like this is possible, but the likelyhood is that we'll need to keep naming as-is for our current versions.

[2022-09-12 19:17] #14456 closed

[2022-09-12 19:19] sensibleworld commented on #19206
This looks about as official as we'll get: https://fonts.google.com/icons?selected=Material%20Symbols%20Outlined%3Awallet%3AFILL%400%3Bwght%40400%3BGRAD%400%3Bopsz%4048

[2022-09-12 19:26] #8395 closed

[2022-09-12 19:33] sensibleworld commented on #11490
Hey @NBLFCK doing some Github cleanup and came across this issue, but the link is no longer valid. Feel free to re-open if you have a new preview for us! Thanks!

[2022-09-12 19:33] #11490 closed

[2022-09-12 19:34] sensibleworld commented on #12182
We have a lot more chart options now! https://fontawesome.com/icons/chart-simple?s=solid&f=classic

[2022-09-12 19:34] #12182 closed

[2022-09-12 19:38] sensibleworld commented on #19184
Hey @septatrix. Thanks so much for the feedback. We'll certainly consider a different default search, or perhaps even saving preferences per user.

In the meantime, my suggestion would be to bookmark your preferred filters and use those. For instance, if you use the following link, it'll default to only searching free icons: https://fontawesome.com/search?o=r&m=free

[2022-09-12 19:38] #19184 closed, assigned to nobody

[2022-09-12 19:38] #2614 closed

[2022-09-12 19:39] sensibleworld commented on #6026
We don't yet have a `mobile-flip` but we do now have a `mobile-retro`: https://fontawesome.com/icons/mobile-retro?s=solid&f=classic

[2022-09-12 19:43] sensibleworld commented on #18044
Hey @nielsnl68! Thanks so much for the request. We're always happy to consider updating icons, but we're unlikely to move an icon from Pro to Free unless there's overwhelming support to do so. I will say that you can gain access and a license to the Pro icons by paying the upgrade fee (currently only $79!) and then canceling the subscription. You'll still have lifetime access to the icons, but won

[2022-09-12 19:43] #18044 closed

[2022-09-12 19:44] sensibleworld commented on #10829
Hi there! What plugin is this you're referencing?

[2022-09-12 19:44] #10829 closed

[2022-09-12 19:45] sensibleworld commented on #9910
Hi there! Apologies for missing this issue. I'm going to close it because the links are no longer valid. If you still have the need, feel free to reopen it! Thanks.

[2022-09-12 19:45] #9910 closed

[2022-09-12 19:46] sensibleworld commented on #15370
These icons should now be available: https://fontawesome.com/search?q=angle&o=r&s=solid

[2022-09-12 19:46] #15370 closed

[2022-09-12 19:46] sensibleworld commented on #13106
We have a few sword options now! https://fontawesome.com/search?q=sword&o=r&s=solid

[2022-09-12 19:46] #13106 closed

[2022-09-12 19:47] sensibleworld commented on #9063
We have a few options for this now: https://fontawesome.com/search?q=star-half&o=r

[2022-09-12 19:47] #9063 closed

[2022-09-12 19:48] sensibleworld commented on #4859
We have a few options now:

https://fontawesome.com/icons/rings-wedding?s=solid&f=classic
https://fontawesome.com/icons/ring-diamond?s=solid&f=classic
https://fontawesome.com/icons/ring?s=solid&f=classic

[2022-09-12 19:48] #4859 closed

[2022-09-12 19:49] sensibleworld commented on #10167
We have a few options for this now: https://fontawesome.com/search?q=square-caret-down&o=r

[2022-09-12 19:49] #10167 closed

[2022-09-12 19:51] sensibleworld commented on #11189
You can now select the "cheatsheet" filter from any search view.

<img width="1580" alt="CleanShot 2022-09-12 at 15 51 01@2x" src="https://user-images.githubusercontent.com/529604/189743086-f9bf0c47-b47b-4b47-83de-07722731a6c2.png">

[2022-09-12 19:51] #11189 closed

[2022-09-12 19:52] sensibleworld commented on #11660
We have these icons now:

https://fontawesome.com/icons/mountain?s=solid&f=classic
https://fontawesome.com/icons/mountains?s=solid&f=classic

[2022-09-12 19:52] #11660 closed

[2022-09-12 20:08] sensibleworld commented on #5114
We have this icon now, if it helps: https://fontawesome.com/icons/wifi-exclamation?s=solid&f=classic and https://fontawesome.com/icons/wifi-slash?s=solid&f=classic

[2022-09-12 20:08] #5114 closed

[2022-09-12 20:08] sensibleworld commented on #6398
We now have an official Font Awesome Subsetter: https://fontawesome.com/v6/docs/web/dig-deeper/subsetter#contentHeader

[2022-09-12 20:08] #6398 closed

[2022-09-12 20:09] #13282 closed

[2022-09-12 20:11] sensibleworld commented on #8116
We now have a few different options for "times" including `xmark` and `xmark-large` https://fontawesome.com/search?q=xmark&o=r&f=classic

[2022-09-12 20:11] #8116 closed

[2022-09-12 20:14] sensibleworld commented on #7501
This is now a reality with our new thin icons: https://fontawesome.com/icons/circle?s=thin&f=classic

[2022-09-12 20:14] #7501 closed

[2022-09-12 20:15] sensibleworld commented on #1351
https://fontawesome.com/icons/cards-blank?s=solid&f=classic

[2022-09-12 20:15] #1351 closed

[2022-09-12 20:16] sensibleworld commented on #16917
https://fontawesome.com/icons/water?s=solid&f=classic

[2022-09-12 20:16] #16917 closed

[2022-09-12 20:22] septatrix commented on #19184
Do you perform some internal bookkeeping of issues like these? Otherwise I would prefer to have this this open until it is really completed.

[2022-09-13 04:47] thatJame opened #19332 "Icon request: fa-bubble-tea"
A bubble tea or boba icon would be awesome!

Example:
![boba](https://user-images.githubusercontent.com/80473625/189811096-35ef195f-dbed-458a-8dde-5dfb17e3f801.png)

(Icon by [iconeverywhere](https://www.flaticon.com/free-icon/boba_6565373?related_id=6565373&origin=search))

[2022-09-13 10:54] LizziePrimer commented on #11649
+1

[2022-09-13 10:57] moshikcode commented on #7770
what about another solution. You can convert your web application to the native app via https://appmyweb.net/

[2022-09-13 20:40] iamflorencejay commented on #17320
any updates?

[2022-09-13 22:08] jruiz94 commented on #1799
I'm having the same issue, how does the renaming work? Thanks in advance

[2022-09-14 11:54] sensibleworld commented on #942
Doing some repo clean-up, so closing potentially outdated issues. We can re-open if this is still an issue.

[2022-09-14 11:54] #942 closed

[2022-09-14 11:56] sensibleworld commented on #2447
I know this is an old issue, but we now have commissions: https://blog.fontawesome.com/commission-a-font-awesome-icon/

[2022-09-14 11:56] #2447 closed

[2022-09-14 11:56] #2415 closed

[2022-09-14 11:58] #2369 closed

[2022-09-14 11:59] sensibleworld commented on #2352
I know this is a super late reply, but in general, we try not to change an icon's unicode unless there are extenuating circumstances. And if/when we do, it will always be noted in a new version's changelog.

[2022-09-14 11:59] #2352 closed

[2022-09-14 12:01] sensibleworld commented on #2350
9 years late on this, but you can now add your own icons to Font Awesome: https://fontawesome.com/v6/docs/web/add-icons/upload-icons/#contentHeader

[2022-09-14 12:01] #2350 closed

[2022-09-14 12:02] #1889 closed

[2022-09-14 12:29] dzhuang commented on #6398
Or, you can use https://github.com/dzhuang/subset-iconfont .

[2022-09-14 14:16] shaheryarkhan2021 opened #19333 "Couldn't find package "@fortawesome/pro-duotone-svg-icons@^6.2.0" required by "module-name version" on the "npm" registry."
Description:
FontAwesome is added to a node module and was working fine till version 5. I updated the version to 6 due to some requirements and when I try to compile it inside the created package it works fine. But when I add the package and run `yarn install` to install that package I start receiving errors
Note: I already have a pro license and font-awesome dependencies get installed without an

[2022-09-14 14:55] tagliala commented on #19333
~Sorry, this is a duplicate of #19312~

~Please try with 6.1.2 instead of 6.2.0, it should work~

~Please follow #19312 to be updated when the bug will be fixed~

[2022-09-14 14:55] #19333 closed, assigned to nobody

[2022-09-14 14:56] tagliala commented on #19333
Sorry, misread the bug.

Please fill out our [bug report template for web applications](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=bug%2Cneeds-triage&template=100_web_bug_report.yml&title=Bug%3A+)

[2022-09-14 14:57] shaheryarkhan2021 commented on #19333
sure

[2022-09-14 17:40] shaheryarkhan2021 commented on #19333
@tagliala  issue resolved. I added the token in the parent repo and it started working.
Thanks for your time

[2022-09-14 18:21] sonovice opened #19334 "Bug: Faulty SVG for tower-broadcast (sharp)"
### Bug description

https://fontawesome.com/icons/tower-broadcast?s=solid&f=sharp

See here:
![image](https://user-images.githubusercontent.com/8217108/190232466-1559b2f4-376b-4f48-8c7b-5b794acb2505.png)

### Font Awesome version

v6.2.0

### Application and Operating System

n/a

### Web bug report checklist

- [ ] I have included a test case because my odds go _way_ up that the team can fix thi

[2022-09-14 18:40] tagliala commented on #19334
Hi!

Thanks for being part of the Font Awesome Community and thanks for reporting this.

@sensibleworld I've assigned you, but if you prefer someone else for Sharp icons let me know

[2022-09-14 18:41] sensibleworld commented on #19334
@tagliala Thanks, assigning them to me is just fine.

[2022-09-15 01:54] Smexhy commented on #11347
+1

[2022-09-15 06:32] kanyshaiosmonova opened #19335 "Icon request: tailwind-css"
I wanted to add the icon of Tailwind CSS to my portfolio page but I couldn't find it. Could you make one, please? I really need it

[2022-09-15 07:23] tagliala commented on #19335
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #17012, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons

[2022-09-15 07:23] #19335 closed, assigned to nobody

[2022-09-15 08:02] chrise86 commented on #15692
![icons8-natural-user-interface-2-100](https://user-images.githubusercontent.com/616956/190349427-2fb9ded5-6032-4369-ba03-55fd9624155a.png)

This would be great! I really like this sort of design.

[2022-09-15 10:51] shaheryarkhan2021 opened #19336 "Bug: Couldn't find package "@fortawesome/pro-duotone-svg-icons@^6.2.0" required by "child-repo-name version" on the "npm" registry"
### Bug description

There is a parent repository and a child repository. Font-Awesome is self hosted in child repo and license in added in the child repo in .npmrc file. When I run `yarn install` in child repo everything installs successfully.
Child repo is added to the parent repo like this
[code]
when I run yarn install in the parent repo  I receive this error
Bug: Couldn't find package "@forta

[2022-09-15 10:53] shaheryarkhan2021 commented on #19333
@tagliala I still believe this is a bug or I am making some mistake because is my application get's used as a third-party I will not be sending them my fontAwesome license key. Please have a look I have reported it as a bug
 https://github.com/FortAwesome/Font-Awesome/issues/19336

[2022-09-15 11:32] tagliala commented on #19336
I'm getting the following:

There is a "Project A", with its own directory and `package.json`

"Project A" has a dependency on "Project B", which is listed into Project A's package.json

"Project B" has a dependency on Font Awesome Pro, and you expect that Project A can use Project B's Font Awesome license without configuration

In my understanding of node/npm, the `.npmrc` with the Font Awesome P

[2022-09-15 12:01] sensibleworld commented on #10116
We a few options for these now:

https://fontawesome.com/icons/circle-three-quarters?f=classic&s=solid
https://fontawesome.com/icons/circle-quarter?s=solid&f=classic
https://fontawesome.com/icons/circle-half?s=solid&f=classic
https://fontawesome.com/icons/circle-half-stroke?s=solid&f=classic

https://fontawesome.com/icons/chart-pie?s=solid&f=classic
https://fontawesome.com/icons/chart-pie-simple?s

[2022-09-15 12:01] #10116 closed

[2022-09-15 12:03] sensibleworld commented on #8285
We have a few options that might work for this now:

https://fontawesome.com/icons/pen-field?s=solid&f=classic
https://fontawesome.com/search?q=input%20&o=r

[2022-09-15 12:03] #8285 closed

[2022-09-15 12:03] sensibleworld commented on #4733
We have a lot more building options now: https://fontawesome.com/search?o=r&c=buildings&s=solid&f=classic

[2022-09-15 12:03] #4733 closed

[2022-09-15 12:06] sensibleworld commented on #5947
We have some more "heart" options now:

https://fontawesome.com/icons/heart-circle-plus?s=solid&f=classic
https://fontawesome.com/icons/heart-circle-minus?s=solid&f=classic

[2022-09-15 12:06] #5947 closed

[2022-09-15 12:07] sensibleworld commented on #13858
We have these now!

https://fontawesome.com/icons/person-biking?s=solid&f=classic
https://fontawesome.com/icons/fork-knife?s=solid&f=classic

[2022-09-15 12:07] #13858 closed

[2022-09-15 12:11] sensibleworld commented on #4633
We have a lot of new options for "money" icons: https://fontawesome.com/search?q=money&o=r&s=solid&f=classic

[2022-09-15 12:11] #4633 closed

[2022-09-15 12:12] #8625 closed

[2022-09-15 12:13] sensibleworld commented on #6446
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:15] sensibleworld commented on #6512
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:15] #6512 closed

[2022-09-15 12:16] sensibleworld commented on #6370
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:16] #6370 closed

[2022-09-15 12:16] sensibleworld commented on #5784
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:16] #5784 closed

[2022-09-15 12:16] sensibleworld commented on #5766
These might work: https://fontawesome.com/search?q=sack&o=r&s=solid&f=classic

[2022-09-15 12:16] #5766 closed

[2022-09-15 12:17] sensibleworld commented on #5720
Perhaps these can work:

https://fontawesome.com/icons/arrow-up-from-arc?s=solid&f=classic
https://fontawesome.com/icons/arrow-down-to-arc?s=solid&f=classic

[2022-09-15 12:17] #5720 closed

[2022-09-15 12:17] #5719 closed

[2022-09-15 12:18] #5693 closed

[2022-09-15 12:18] sensibleworld commented on #5675
Perhaps this can work: https://fontawesome.com/icons/message-middle-top?s=solid&f=classic

[2022-09-15 12:18] #5675 closed

[2022-09-15 12:20] sensibleworld commented on #5548
We have these icons now, which may work:

https://fontawesome.com/icons/bars-staggered?s=solid&f=classic
https://fontawesome.com/icons/list-tree?s=solid&f=classic

[2022-09-15 12:20] #5548 closed

[2022-09-15 12:20] #4920 closed

[2022-09-15 12:20] #4864 closed

[2022-09-15 12:20] sensibleworld commented on #4864
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:21] #4374 closed

[2022-09-15 12:21] sensibleworld commented on #4374
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:28] sensibleworld commented on #9758
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:28] #9758 closed

[2022-09-15 12:28] sensibleworld commented on #9516
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:28] #9516 closed

[2022-09-15 12:32] sensibleworld commented on #8482
You can hack something together with:

https://fontawesome.com/icons/circle?s=solid&f=classic
https://fontawesome.com/icons/circle-three-quarters?s=solid&f=classic (rotated 45º)
and https://fontawesome.com/icons/ghost?s=solid&f=classic

[2022-09-15 12:32] #8482 closed

[2022-09-15 12:33] sensibleworld commented on #8416
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:33] #8416 closed

[2022-09-15 12:33] sensibleworld commented on #8195
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:33] #8195 closed

[2022-09-15 12:34] sensibleworld commented on #7630
https://fontawesome.com/icons/person-chalkboard?s=solid&f=classic

[2022-09-15 12:34] #7630 closed

[2022-09-15 12:34] sensibleworld commented on #7550
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:34] #7550 closed

[2022-09-15 12:35] sensibleworld commented on #7512
https://fontawesome.com/icons/head-side?s=solid&f=classic

[2022-09-15 12:35] sensibleworld commented on #6901
We have a handful of icons that might work for this now: https://fontawesome.com/search?q=money&o=r&s=solid&f=classic

[2022-09-15 12:35] #6901 closed

[2022-09-15 12:39] sensibleworld commented on #11071
https://fontawesome.com/search?q=brick&o=r&f=classic

[2022-09-15 12:40] sensibleworld commented on #11566
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:40] #11566 closed

[2022-09-15 12:40] sensibleworld commented on #13889
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:40] #13889 closed

[2022-09-15 12:40] #15723 closed

[2022-09-15 12:41] sensibleworld commented on #15975
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:41] #15975 closed

[2022-09-15 12:41] sensibleworld commented on #15980
Doing some repo clean-up and am closing issues where we've asked for some further follow-up/feedback on icon requests, but haven't received it. If these requests are still valid (and more detail can be added), please let us know! Thanks!

[2022-09-15 12:41] #15980 closed

[2022-09-15 13:28] tagliala commented on #5693
This request was not clear.

Feel free to open a [new brand request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=brand+icon&template=001_brand_request.yml&title=Brand+request%3A+) if it is the case

[2022-09-15 14:09] shaheryarkhan2021 commented on #19336
@tagliala @robmadole  I am curious because when we were using the previous version "5.15.4" we didn't need to add `.npmrc` in "Project A" but now we need to.

[2022-09-15 14:26] psopacua commented on #4817
+1

[2022-09-15 21:47] hinds44 commented on #11434
Yes!
I would live my “dev logs” button to be a log

[2022-09-16 14:57] qnhtrn commented on #8942
+1

[2022-09-16 21:10] Burnett01 commented on #1799
You can rename the icon class name in the css and html

[2022-09-17 09:35] mdxwzl commented on #15054
Same for me I really need more clothing icons

[2022-09-17 09:49] aethior commented on #11434
*Related Unicode Emoji* #222
🪵 [U+1FAB5](https://emojipedia.org/emoji/%F0%9F%AA%B5/) Wood

[2022-09-17 14:39] Johnefsh commented on #10155
Same here 2022 and still the bug the same!

[2022-09-17 14:46] tagliala commented on #10155
Hi, this is an old, beta service

Can you switch to the new Font Awesome Kits? https://fontawesome.com/start

[2022-09-17 17:45] aethior commented on #15499
@tagliala `brand (category)` label for this request?

[2022-09-17 19:46] R2022T opened #19337 "Using fixed width icons (fa-fw) on I.E?"
I'm using fa-fw to have a fixed width icon which works perfectly fine as per the documentation on Edge (https://fontawesome.com/docs/web/style/fixed-width) however when i use this same example in I.E it doesn't work.  See screenshot below.

Can anyone assist?  Thank you.

<img width="958" alt="image" src="https://user-images.githubusercontent.com/102698121/190874033-8c95cfab-114c-4d10-850e-6d7c6dc

[2022-09-17 20:06] tagliala commented on #19337
Hi!

Thanks for being part of the Font Awesome Community.

Please notice that IE is not supported by FA6: https://fontawesome.com/v6/docs/web/dig-deeper/browser-support#contentHeader

It is not clear if the kit is using FA5 or 6, so please also:
- restrict your kit's allowed domains (`https://fontawesome.com/kits/YOUR_KIT_ID/settings`) and share its id, so we can take a look at how it is configure

[2022-09-18 11:04] harryqt commented on #18514
As of FA 6.2.0 and Vite, I still have the warning.

[2022-09-18 21:04] makemagik commented on #8850
6 years later I still need the Tidal icon. Lets go! +1

[2022-09-19 00:22] jrgleason commented on #6799
Anyone able to link me to where I would put this in my project? Would the XML just be an SVG file? How would I add it to font awesome so I could use it with the icon attribute?

[2022-09-19 01:10] Eonasdan commented on #19289
Hi there @robmadole @tagliala I gave this a shot. You can find [my repo over here](https://github.com/Eonasdan/fa6-stream-deck-icon-pack-generator).  There's a bit of clean up to do but the proof of concept is there. I wish the meta file had the search terms that work on the website. As it is, I'm only populating the search with the icon label. Can I get permission to publish this to the [Elagto s

[2022-09-19 07:10] tagliala commented on #6799
Hi, I think I have to close this request because as far as I can understand, pokemon is a trademark of Nintendo

https://github.com/FortAwesome/Font-Awesome/blob/master/UPGRADING.md#582-to-590

[2022-09-19 07:10] #6799 closed

[2022-09-19 10:17] denny99 opened #19339 "Feature request: Add Search Terms back to the .yml and json metadata"
### Is your feature request related to a problem?

We tried to construct our own UI Element to select and style fontawesome icons. For that we used the metadata files and especially the search terms inside to provide the same search functionality as the fontawesome homepage.

This works fine with v5 but in v6 the search terms are removed from the meta data file.
https://github.com/FortAwesome/Font

[2022-09-19 10:19] #19339 closed, assigned to nobody

[2022-09-19 10:39] denny99 commented on #18662
We tried to implement our own icon picker and stumbled upon this issue too.

The graphql API works and we could use that for the search functionality, but this would require our application to always have a connection to the outside world.
Most of our customers reject such a situation due to security reasons, so our application will always run in internal networks and therefore cannot access the g

[2022-09-19 12:40] tagliala opened #19340 "Bug: N and M have some issues"
### Bug description

I've updated my windows installation to 6.2.0 but I've noticed that in the preview something is weird.

![image](https://user-images.githubusercontent.com/556268/190855498-0a4cb730-9f27-4c8d-99fa-23b92e1ba501.png)

![image](https://user-images.githubusercontent.com/556268/190855485-d7384060-4db0-4f3c-ab9b-981b017617db.png)

The bug is also (slightly) visible at https://fontawe

[2022-09-19 15:05] maxresnikoff opened #19341 "Icon request: phone-pause"
### Use case

Would love to see a phone with a pause button alongside.
Much like phone-plus: [](https://fontawesome.com/icons/phone-plus?s=solid&f=classic), but with a pause icon.

Used for VOIP systems to put someone on hold

### Example image

_No response_

### Icon request checklist

- [x] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does no

[2022-09-19 21:15] keith-aa opened #19342 "Icon request: faChevron* icons missing from free-regular-svg-icons."
### Use case

The faChevron* icons are provided in free-solid-svg-icons but are missing in free-regular-svg-icons. Can you please add them?

Here is a list of missing icons:
faChevronCircleDown
faChevronCircleLeft
faChevronCircleRight
faChevronCircleUp
faChevronDown
faChevronLeft
faChevronRight
faChevronUp
faCircleChevronDown
faCircleChevronLeft
faCircleChevronRight
faCircleChevronUp

### Example

[2022-09-20 07:49] knitzie2 commented on #11478
+1

[2022-09-20 09:32] tagliala commented on #19342
Hi!

Thanks for being part of the Font Awesome Community.

A subset of regular icons is available in the free version mostly because they were outlined icons of FA4 or for other use cases like switching from empty heart/star to filled heart/start

Example:
- V4: https://fontawesome.com/v4/icon/star-o
- V5+: https://fontawesome.com/icons/star?s=regular&f=classic

If you are interested in regular ic

[2022-09-20 09:32] #19342 closed, assigned to nobody

[2022-09-20 11:20] omkarpawar2001 opened #19343 "Icon request: windows icons"
Can you add windows icons in library such as calculator, file explorer etc?

[2022-09-20 11:48] tagliala commented on #19343
Hi!

Thanks for being part of the Font Awesome Community.

Quoting from our [new icon request form](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+):

Sorry, requests for icon sets are not allowed by our contributing guidelines.

Feel free to open individual requests for the icons you want to request, having car

[2022-09-20 11:48] #19343 closed, assigned to nobody

[2022-09-20 13:10] keith-aa commented on #19342
Thanks for the quick response and clarification! Keep up the great work!

[2022-09-20 19:54] robmadole commented on #19289
Hey @Eonasdan . The free version of Font Awesome is MIT / CC BY 4.0 / SIL OFL 1.1. If you are abiding by those licenses for the asset type that _is_ our permission. In other words: our licenses already state what you can and cannot do.

If you have further questions I can re-open this. Cheers!

[2022-09-20 19:54] #19289 closed, assigned to nobody

[2022-09-20 20:31] robmadole commented on #19312
I can confirm this is a bug. We've got it fixed and will get it released in the next version. No ETA yet on a release date.

[2022-09-20 20:41] robmadole commented on #19331
No immediate ideas. I'll take a look as soon as I can.

[2022-09-20 20:49] robmadole commented on #19336
@shaheryarkhan2021 the general setup of our NPM packages hasn't changed. Can you provide a reproducible example of what you are dealing with? I understand the basics but without seeing this work I'm not sure we'll be able to move forward.

[2022-09-21 07:19] Darq90 opened #19344 "Bug: font-awesome-layer-text in documentation"
### Bug description

Layer:

// Using Vue 3.x
import { createApp } from 'vue'
import App from './App.vue'
import { FontAwesomeIcon, FontAwesomeLayers, FontAwesomeLayersText } from '@fortawesome/vue-fontawesome'

createApp(App)
.component('font-awesome-icon', FontAwesomeIcon)
.component('font-awesome-layers', FontAwesomeLayers)
.component('font-awesome-layer-text', FontAwesomeLayersText)
.mount('#a

[2022-09-21 09:00] fstark commented on #14592
It is clearly something that is low on the radar of whomever manages FontAwesome, so trying to push that up.

Data point: with deployment of ipv6 on mobile (and probably some defect on management of ipv6 "network unreachable" from mobile/software vendors), sites that use use.fontawesome.com are now stuck in an infinite loading loop on most mobile devices in France.

[2022-09-21 09:05] PhilETaylor commented on #14592
I think you will find its been silently implemented. It now appears that `pro.fontawesome.com` is using Cloudflare and therefore has ipv6 as a simple `dig` command for the `aaaa` records now show. The same is also true with `kit.fontawesome.com` which is also resolving to Cloudflare IPv6.

This issue should be closed as its clear its now implemented and being used.

<img width="1002" alt="Screen S

[2022-09-21 09:07] PhilETaylor commented on #14592
Same is true for the domain originally opening this issue the `use` hostname is also now routing through CloudFlare

[code]

[2022-09-21 10:30] dxnxk-0 commented on #14592
On a mobile network, I confirm `pro.fontawesome.com` works perfectly fine using ipv6.

However, it is not the case for `use.fontawesome.com` (despite it does have a routed ipv6 address). It fails after hanging some time:
[code]

The site works well on ipv4: `curl -4 https://use.fontawesome.com/releases/v5.15.0/css/fontawesome.css`.

[2022-09-21 10:40] PhilETaylor commented on #14592
Unfortunately my 2 mobile providers do not give me ipv6 so I cannot confirm or reject your findings.

As its using Cloudflare now though, and not StackCDN I would not think this is a FontAwesome specific issue, have you tried other ipv6 urls when on a mobile network? For example:

[code]

[2022-09-21 12:10] dxnxk-0 commented on #14592
Works like a charm. The issue seems really specific to `use.fontawesome.com` (SSL part). Maybe a misconfiguration on server side ?

[code]

[2022-09-21 12:25] Gera-G-Guiles opened #19345 "Bug: duotone album-collection problem"
Hello, i find this problem with duotone album-collection icon. Also Duotone font-awesome icon have a problem (this one is visible in font awesome web.)
<img width="351" alt="Captura de Pantalla 2022-09-21 a las 14 26 20" src="https://user-images.githubusercontent.com/57091288/191503371-3c74fd28-8e2d-4a22-8114-b5acd3cc0ffa.png">

[2022-09-21 13:05] akScript commented on #7326
+1

[2022-09-21 13:34] dxnxk-0 commented on #14592
I have just enabled ipv6 on my standard fiber internet connection (only ipv4 was enabled so far) and tested again:
[code]

It still works correctly if I force ipv4. So any ipv6 internet connection should allow you to reproduce the issue.

[2022-09-21 13:38] PhilETaylor commented on #14592
Unfortunately I can replicate that.

This issue originally opened was because the CDN did not support ipv6

Now the CDN has changed to Cloudflare which DOES resolve the domain to an IP6 address

But it still doesn't load like you say... :-(

I can confirm that the USE.fontawesome.com hostname is not loading for me over ipv6 at the moment and just hangs.

mtr report

[code]

[code]

[2022-09-22 05:25] 1008k commented on #2892
+1
Hatena bookmark official generator that can create social buttons
https://b.hatena.ne.jp/guide/bbutton

[2022-09-22 10:15] itsRealMarshall commented on #9336
+1

[2022-09-22 13:48] b-sik opened #19346 "Bug: Icons imported from pro sharp package don't render due to incorrect data prefix"
### Bug description

When icons are imported from `@fortawesome/sharp-solid-svg-icons` the `data-prefix` attribute on the rendered icon is 'fas' instead of 'fass', causing the icons to error.

Reproduction:
1. Import functionality -  `import { config, library, dom } from "@fortawesome/fontawesome-svg-core";`
2. Import icon - `import { faChevronsRight } from "@fortawesome/sharp-solid-svg-icons";`
3

[2022-09-22 13:55] Eonasdan commented on #19289
To follow on this, the repo is updated and much cleaner now. I did provide a way for people with a pro license to be able to generate an icon pack to use locally if they want.

Both the [Solid](https://apps.elgato.com/icons/com.fortawsome.solid.free) and [Regular](https://apps.elgato.com/icons/com.fortawsome.regular.free) (free) sets are published to the store.

If you guys decide that something d

[2022-09-22 14:09] paaljoachim commented on #18819
I have a followup here.
I am recreating another tutorial.
Went to https://fontawesome.com/docs/web/use-with/wordpress/install-manually

**Setup a Kit**
Added the Font Awesome Kit Setup code into the functions.php file of the child theme.

Next step it mentions setting up a kit token. To where one has to log into ones account and go to Kit settings.
---> I really want to skip setting up a kit token

[2022-09-22 14:25] b-sik commented on #19346
Solved by updating the svg core package to 6.2.0, had an embarrassingly outdated version.

[2022-09-22 14:28] #19346 closed, assigned to nobody

[2022-09-22 16:09] sudofox commented on #2892
Hatena's logo has changed last year so my old link is dead, this is a new link https://www.hatena.ne.jp/p/images/Hatena-logomark-dark.svg

[2022-09-23 06:53] rion0710 opened #19347 "Bug: Gateway Not Found Error"
### Bug description

hi! i'm using fontawesome with macros.
and i use regular note icon like this.
[code]

but, my web server is down with this error code
![스크린샷 2022-09-23 오후 2 14 26](https://user-images.githubusercontent.com/87791553/191905398-c6d12868-4fa2-4b31-876d-4837a63acc12.png)

### Font Awesome version

v6.1.2

### Application and Operating System

- mac / node 16

### Web bug re

[2022-09-23 16:13] GuillaumeDelahaye commented on #14700
Same request, please!

[2022-09-23 22:02] tm1000 commented on #19193
I have this same issue in NextJS and notice it more now with React 18 since the SSR portion gets `Could not find icon` but the Client version gets the icon. This makes the rendering wrong between server and client

[2022-09-23 22:32] tm1000 opened #19348 "Bug: NextJS and svg-core cause server and client hydration errors"
### Bug description

This is actually similar to #19193 and it might entirely be the same issue (or related). After following https://fontawesome.com/v6/docs/web/dig-deeper/svg-core and https://fontawesome.com/v6/docs/web/use-with/react/use-with I continue to get hydration errors since upgrading to react 18. I've narrowed this down to svg-core not working properly in SSR mode and I've attached a r

[2022-09-23 22:38] EchoNBounce opened #19349 "Icon request: display-arrow-up"
For screen share etc to match the iconography used by e.g. Zoom and Teams.

[2022-09-24 09:33] tagliala commented on #15050
I would like to consider #18566 as a duplicate of this and extend the concept of "desktop sharing" to other screens, so we can have a single icon to represent sharing of screens for any device

What do you think?

[2022-09-24 09:34] tagliala commented on #19349
Hi!

Thanks for being part of the Font Awesome Community.

I would consider this a duplicate of #18566 or #15050, please add a 👍🏼 reaction to those requests

I would also provide a single icon to represent screen sharing across multiple devices

[2022-09-24 09:34] #19349 closed, assigned to nobody

[2022-09-24 09:36] acelaya commented on #18678
This issue was fixed with v6.1.1, but it's back again on v6.2.0

[2022-09-24 09:38] tagliala commented on #18678
@robmadole could you please take a look? Apparently there was a regression

[2022-09-24 11:25] aethior commented on #15872
*Related Unicode Emoji* #222
🪮 [U+1FAAE](https://emojipedia.org/emoji/%F0%9F%AA%AE/) Hair Pick

[2022-09-24 15:47] #15905 closed

[2022-09-24 16:11] Cryptoyumm opened #19350 "Removing the whitespace after icons"
I don't know how to remove the whitespace after icons. Please help me. :)

[2022-09-24 16:38] tagliala commented on #19350
Hi!

Thanks for being part of the Font Awesome Community.

If this is a support request, please consider using [Stack Overflow](https://stackoverflow.com/questions/tagged/font-awesome)

If you think there is an issue with Font Awesome, please fill out our [bug report template for web applications](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=bug%2Cneeds-triage&template=

[2022-09-24 16:38] #19350 closed, assigned to nobody

[2022-09-26 04:47] Nitaya opened #19351 "Icon request: instagram-reels"
In FontAwesome Brands, an icon for Instagram Reels. Looks like a film clap board with a play button in it.

[2022-09-26 09:03] mpcooke3 commented on #16005
Hi - I am trying it out but running into some issues with next.js where I need to use it with SSR. My issue is I need autoAddCss:false, as documented here: https://fontawesome.com/docs/web/use-with/react/use-with

The only way to override the default conf i can see when using plugins currently seems to be by putting a FontAwesomeConfig  object on the window object, which I don't have during SSR. I

[2022-09-26 16:09] sensibleworld commented on #18839
The duotone bookmark icon how includes two layers: https://fontawesome.com/icons/bookmark?s=duotone&f=classic

[2022-09-26 16:09] #18839 closed, assigned to sensibleworld

[2022-09-26 22:54] dewyze commented on #18701
I can confirm this behavior as well in 6

[2022-09-27 00:04] dmaa-47 opened #19352 "Icon request: Pavilion/Gazebo Icon"

[2022-09-27 05:38] yz-xlame opened #19353 "Bug: use macros but"
### Bug description

config:
`babel-plugin-macros.config.js`:
[code]
`.babelrc`:
[code]
---
build result:
[code]
if chang webpack config:
[code]
error:
Module not found: Error: Can't resolve '@babel/helper-module-imports'

run `npm i @babel/helper-module-imports`
build success, but `@fortawesome/fontawesome-svg-core/import.macro` icon return undefined

### Reproducible test case

_No response_

##

[2022-09-27 05:40] yz-xlame commented on #19353
i think code maybe has error, but i use:
[code]
result:
[code]

[2022-09-27 05:52] turneye commented on #18732
Hi @sva71

Had the same issue and it was solved by updating the .browserslistrc file.

Just generate a new angular project and copy the contents of the .browserslistrc generated there into the one in your existing project.

Hope that helps.

[2022-09-27 06:49] yz-xlame commented on #19353
[code]
result:

[2022-09-27 07:24] tagliala commented on #19353
@robmadole any thoughts?

[2022-09-27 07:25] #18732 closed, assigned to nobody

[2022-09-27 07:29] yz-xlame commented on #19353
import icon(macroIcon) is undefined
[code]

[2022-09-27 08:12] MrUpsidown opened #19354 "Feature request: improve Font Awesome Pro Subsetter usability"
### Is your feature request related to a problem?

The Font Awesome Pro Subsetter is barely usable. Please improve UX in your product.

### Feature description

* When searching for an icon and selecting it from the results, why show Solid THEN Regular THEN Light, etc. ? Why not simply show the solid version and let us select the various versions once the icon has been selected?
* When checking wh

[2022-09-27 10:02] vincenzo-caserta commented on #1906
Ok, problem solved guys, check it out:
https://vincenzocaserta.it/
If you need help, please don't write me on here, contact me through my website.
Long story short you need to edit css file and more important edit .ttf and .woff2 files.
Since it was doubled,
I replaced fa-js  \f3b8 with  fa-duolingo \f3b8, then with an editor I imported the svg duolingo icon and replaced in .ttf and .woff2

[2022-09-27 13:26] MrUpsidown commented on #14817
Maybe take this icon request as an opportunity to redesign the fa-egg icon that **really** doesn't look like an egg...

[2022-09-27 13:47] tagliala commented on #14817
Hi @MrUpsidown feel free to open a new request, you can use our [bug report template for any other issue](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=bug%2Cneeds-triage&template=101_other_bug_report.yml&title=Bug%3A+)

Please also provide feedback on why do you think the current design is wrong and how it could be implemented (I guess it's the upper part that should be

[2022-09-27 13:55] tagliala commented on #19354
Hi @MrUpsidown, do you have access to the Pro repository at https://github.com/fortawesome/Font-Awesome-Pro?

If you don't have access, please make sure you have linked your Font Awesome Account to your GitHub account at the very bottom of https://fontawesome.com/account

Please just confirm that you have access, I would like to move there this issue

[2022-09-27 14:00] sensibleworld commented on #19345
Thanks, @Gera-IC. We've got a fix in the works for it already. Hoping to get it released soon. Also, if I may ask, where is that screenshot from? I don't recognize the interface.

[2022-09-27 14:11] MrUpsidown commented on #19354
That github link you provided leads to a 404. I can't seem to see any way to link my FontAwesome account with my Github account :/

[2022-09-27 14:15] tagliala commented on #19354
Ok apologies, I now see that it is no longer necessary.

So I will not move this request to the other repo and I've already asked who better knows the Pro Subsetter to share their thoughts here

[2022-09-27 14:18] GameCharmer commented on #17644
@tagliala I updated from 6.0.0 to 6.2.0 with no luck using the previous fix. Swapping the function results in no icons at all (not even the broken squares), and updating the variables results in the F132 string being displayed as plain text.  Any ideas?  I'm still running the same SCSS compiler.

[2022-09-27 14:24] tagliala commented on #17644
which is scssphp?

Please let's continue on #18775 and please retry https://github.com/FortAwesome/Font-Awesome/issues/18775#issuecomment-1070853882

I need an updated version of https://github.com/FortAwesome/Font-Awesome/issues/18775#issuecomment-1070882454

[2022-09-27 14:25] tagliala commented on #18775
Reopening because of https://github.com/FortAwesome/Font-Awesome/issues/17644#issuecomment-1259578128

[2022-09-27 14:54] GameCharmer commented on #17644
scssphp/scssphp v1.10.1

18775 is still locked for me.

with option false
[code]

with option true
[code]

Update: Updated to v1.11.0, identical output as above

[2022-09-27 17:02] tagliala commented on #17644
@GameCharmer the output looks ok and I do not see any possible issue with that specific compiler

I cannot reproduce the issue, my previous use case works good with 6.2.0 and the output CSS is fine

Steps to manually fix are described in the ~comment~ individual commit messages. You should redo the work with 6.2.0 files, otherwise new icons will not be available

https://github.com/diowa/ruby3-rai

[2022-09-27 17:12] OscarBeiro commented on #14895
+1

[2022-09-27 17:13] OscarBeiro commented on #5134
+1

[2022-09-27 17:13] OscarBeiro commented on #10913
+4

[2022-09-27 17:14] OscarBeiro commented on #11088
+1

[2022-09-27 20:17] viniciusdeliz commented on #17644
Any luck with the 1.54.0 update in sass? The change appears to be the same of the 1.39.0 that was supposed to fix this, but maybe it works this time? https://github.com/sass/dart-sass/blob/main/CHANGELOG.md#1540

[2022-09-27 20:57] tagliala commented on #17644
There is a partial fix in 1.38.0, as per https://github.com/FortAwesome/Font-Awesome/issues/17644#issuecomment-1071144856

I can confirm that in 1.55.0 this issue has been partially fixed, in the meaning that codes in the private area are correctly escaped, letters and numbers aren't (would this be a problem? 🤷🏻‍♂️), and I can't see unescaped unicode characters in the output CSS, so the `@charset`

[2022-09-27 21:03] tagliala commented on #18775
@GameCharmer unlocked, please report here scssphp specific issues, I will then move to the other thread if they are relevant

[2022-09-28 00:33] ghost commented on #17644
@viniciusdeliz I updated sass to version 1.54.0 on July 30th (currently my version is 1.55.0), and since then I've already encountered the weird characters on refresh, several times, randomly. So, on my side, the issue is still not fixed, but it seems that the problem occurs less often than before (maybe it's just an impression).

@tagliala I agree with you: a Font Awesome's fix is still needed fo

[2022-09-28 01:58] kyle3s opened #19355 "Pro Subsetter 6.2.0 doesn't work with sharp icons"
The subsetter shows you the new Sharp Solid icons but doesn't actually let you load them or use them.

Very simple test, I created a YAML file -

[code]

I load the YAML file -

![image](https://user-images.githubusercontent.com/90719100/192670213-6ba759a6-5ca9-47ae-9356-e0dce974b1ec.png)

Using non-sharp icons works fine.

[2022-09-28 03:22] GameCharmer commented on #18775
@tagliala It looks like I got something wrong between fontawesome versions when rewriting the config file.  Previously, I had something like this

[code]
Upon changing `$line = str_replace('\\','"',$line);` to `$line = str_replace('\\','"\\',$line);` for 6.2, we're good to go again.

[2022-09-28 03:39] GameCharmer commented on #18775
Ahh crap, dev and production didn't line up, jumped the gun on the response.

When applying the same set of fixes as last time, I wind up with resulting classes like so

[code]

but the rendered output results in this
![image](https://user-images.githubusercontent.com/1208565/192681882-bcb334a1-67a8-489b-b2d6-de5bfb604a67.png)

I've swapped out the fa-content function in _functions.scss to the bel

[2022-09-28 03:54] GameCharmer commented on #18775
Interesting enough, this time around, if I avoid scss entirely and just load in `all.css` and run a simple str_replace, I'm golden.

[code]

That works perfect.  Sometimes the simplest option is the best option.

[2022-09-28 03:54] #18775 closed, assigned to nobody

[2022-09-28 05:17] #19353 closed, assigned to nobody

[2022-09-28 05:18] yz-xlame commented on #19353
I was able to get results using create react app, I think the webpack configuration may not be right, I have to try it

[2022-09-28 11:10] MrUpsidown commented on #14817
Indeed, it's the upper part or say, the overall shape that is IMO too _triangular_. Thanks.

[2022-09-28 12:41] rmachado-studocu commented on #19193
Hey @tm1000 and @Stephcraft !

What happens if you change the code to this:

[code]

(Yes I know I'm using `require`, but bear with me on that one 😉 )

(And here's a codesandbox to play around with: https://codesandbox.io/s/zen-chihiro-ku0do2?file=/pages/index.js)

[2022-09-28 15:46] robmadole commented on #19354
Thanks @MrUpsidown . Appreciate you taking the time to send this in. We'll put this on the list to think through.

[2022-09-28 21:27] abertaa opened #19356 "Subsetter linux version"
We have been using **Font Awesome** for several years.

We are using **version v5.15.4**, and are interested in upgrading to **v6**, but would like to keep the size of the file to a minimum. To do so, we are considering using the _Subsetter app_.

Unfortunately, by policy, we are limited to using _Linux_ software exclusively.

¿Is there a **Linux version** development being considered in the near

[2022-09-29 06:13] schlichtanders commented on #18514
I am also on 6.2.0 and seeing the same warning. Please reopen this issue

[2022-09-29 07:44] tagliala commented on #18514
Any chance to provide a reproducible test case?

Please provide as many information as possible (version of FA, how it is imported, version of Vite). Even better if it is possible to provide a reduced test case hosted on github

[2022-09-29 07:44] #18075 closed

[2022-09-29 07:45] #18677 closed, assigned to jasonlundien

[2022-09-29 07:45] #16439 closed

[2022-09-29 10:11] mankarsandesh commented on #13414
@tagliala  what you share link is not found. can you check once?

[2022-09-29 10:32] tagliala commented on #13414
Hi @mankarsandesh, things have changed in those years. Feel free to open issues related to the pro packages in this repo

[2022-09-29 11:20] johndalvik commented on #19348
I had the same error, and what I did is to change the import to require js, like this:

`const { library, config } = require('@fortawesome/fontawesome-svg-core');`

[2022-09-29 11:42] tagliala commented on #19193
Sorry, I do not know NextJS. As far as I can tell, it is a framework based on React

If this is the case, then the [react-fontawesome component](https://fontawesome.com/v6/docs/web/use-with/react/) component is required to make font awesome work

So I'm asking if there is there, by any chance, an answer to this issue on the react-fontawesome repository at https://github.com/FortAwesome/react-fonta

[2022-09-29 11:42] tagliala commented on #19348
Sorry, I do not know NextJS. As far as I can tell, it is a framework based on React

If this is the case, then the [react-fontawesome component](https://fontawesome.com/v6/docs/web/use-with/react/) component is required to make font awesome work

So I'm asking if there is there, by any chance, an answer to this issue on the react-fontawesome repository at https://github.com/FortAwesome/react-fonta

[2022-10-01 06:42] lowpixel commented on #10293
I think this will suit: https://fontawesome.com/v6/icons/hand-holding-heart

[2022-10-01 08:04] Vincz commented on #19348
Same problem here. The `require` fix worked for me.

[2022-10-01 08:11] tagliala commented on #19348
Any chance to have a test case with the minimum amount of code and dependencies to reproduce this issue hosted on a publicly accessible GitHub repo?

edit: ok sorry it's in the first post

[2022-10-01 08:13] tagliala commented on #19348
@robmadole could you please take a look or reassign to the most suitable person?

[2022-10-02 16:14] svkgit opened #19357 "Icon request: filter-circle-plus"
### Use case

Used for add/create filter actions.

### Example image

![image](https://user-images.githubusercontent.com/3697576/193464875-aa76cfd8-d1cb-4a8d-a7a2-bdc1413698f4.png)

Like filter-circle-xmark but a + instead of an x.

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] Th

[2022-10-02 19:38] tagliala commented on #19357
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/171/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.c

[2022-10-03 13:40] sm3dev opened #19358 "Icon request: fa-bereal fa-brand"
Requesting a **BeReal** brand icon for the social media platform [Bereal](https://bere.al/en).

Proposed class name: **fa-bereal**

[2022-10-03 13:42] sm3dev commented on #7625
🙌

[2022-10-03 15:26] robmadole commented on #19348
Ok. I think this is related to https://github.com/FortAwesome/react-fontawesome/issues/525. My guess is that the Library singleton is not working correctly with SSR.

We'd need to involve the Next.js folks in order to figure this out probably.

I'd recommend the workaround of avoiding the `Library` altogether. Import the icon directly and use it like this:

[code]

[2022-10-03 15:27] robmadole commented on #19193
My guess is that the Library singleton is not working correctly with SSR.

We'd need to involve the Next.js folks in order to figure this out probably.

I'd recommend the workaround of avoiding the `Library` altogether. Import the icon directly and use it like this:

[code]

[2022-10-03 15:28] tm1000 commented on #19348
@robmadole yeah that's just a lot of work for an already existing codebase!

I'm going to try the require way a bit later and report back if it works

Thank you for your input! Much appreciated

[2022-10-03 15:52] robmadole commented on #19348
@tm1000 yeah that `require` hack realllly makes me suspicious of the SSR rendering pipeline. That screams isolation/sandboxing stuff where the Library singleton is not really working.

[2022-10-03 15:53] robmadole commented on #18678
@acelaya can you provide a reproduction? I set up a quick project locally with 6.2.0 and didn't have any issues.

[2022-10-03 15:55] mariano-chomicki-sf commented on #7261
pretty please?

[2022-10-03 16:08] robmadole commented on #18701
We'll put this on the list to investigate.

[2022-10-03 17:00] KinslayerCaine opened #19359 "issue swapping icons for minus-circle minus-plus backwards compatibility"
I have a backwards compatibility issue in swapping icons for:  `fa-minus-circle` and `fa-minus-plus` backwards compatibility between v5 and v6.  the new icon is `fa-circle-minus` and `fa-circle-plus`.    When swapping these icons it shows initially, but swapping the icons show the fa ?! missing icon.  Swapping other icons it works perfectly fine - its these 2 icons (so far) that have issues.  The

[2022-10-03 18:12] acelaya commented on #18678
Sure! You can see it in this build https://github.com/shlinkio/shlink-web-client/actions/runs/3176381181/jobs/5175609430

I was trying to update from `@fortawesome/fontawesome` 6.0 and `@fortawesome/react-fontawesome` 0.1.17 to `@fortawesome/fontawesome` 6.2 and `@fortawesome/react-fontawesome` 0.2, and then the error occured.

I faced the same error some time ago on a different project, when tryi

[2022-10-04 07:12] bobvandevijver commented on #18371
A sample PR was already submitted quite a while back (https://github.com/FortAwesome/Font-Awesome/pull/19117), it looks like support for 5.x has been dropped completely.

[2022-10-04 08:05] alokkumar121 commented on #19143
Please add this logo to the brands category!
#leofinance

[2022-10-04 08:06] iFarmGirl commented on #19143
Kindly add the Leo Finance logo on the brands category. Thank you lots!

[2022-10-04 08:18] tengolotodo commented on #19143
This would be great to see the Leo Finance logo added in the brands category.

[2022-10-04 08:19] wiwa32 opened #19360 "Icon request: icon-dentist"
please make icon for the dentist

[2022-10-04 08:26] tagliala commented on #18371
FA6 has been a priority, but there are some fixes that should be backported to FA5 and as far as I know the support has not been dropped. Unfortunately we cannot merge here and the fix must be backward-compatible with other Sass implementation

@robmadole any ETA on when FA5 can receive these fixes?

[2022-10-04 08:34] muratkbesiroglu commented on #19143
Seeing the Leo Finance logo in the 'brands' category will be great.

[2022-10-04 08:42] tagliala commented on #19360
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #12876, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons

[2022-10-04 08:42] #19360 closed, assigned to nobody

[2022-10-04 08:53] wiwa32 commented on #12876
+1

[2022-10-04 08:54] onemoretea commented on #19143
Hi github, add the **Leo Finance** icon to the brands category please. **Leo Finance** is a social media platform like Medium or Hive. The **Leo Finance Logo** belongs to https://leofinance.io

🖖🏼😎🤙🏼

[2022-10-04 08:55] onemoretea commented on #19143
This! ☝🏽 Please, githubbies 🖖🏼☀️🤙🏼

[2022-10-04 08:57] Johnjayy commented on #19143
This would really be great
Add!!
👍  ❤️

[2022-10-04 10:01] goofyy-badbitch commented on #19143
🐱‍🏍🐱‍🏍🐱‍🏍🐱‍🏍🐱‍🏍🐱‍🏍

[2022-10-04 10:07] kam5iz commented on #19143
Future belongs to real n decentralized social medias like Leo Finance.
4sure Github community knows that. Let's build together

[2022-10-04 10:11] tagliala commented on #19143
Hi,

Thanks for your interest in this request

If someone requested on a social media to upvote this request, please remember that reactions should be used to upvote.

Comments will provide unnecessary notifications and do not meet our contributing guidelines

### ~Locking temporarily: Will unlock in 24hours~

[2022-10-04 10:28] bitpandummy commented on #19143
Oh yes I want that for sure! 🔥🔥🔥
Please add the logo! Thanks a lot!

[2022-10-04 10:38] guibranco commented on #16080
Any news on this issue ?

[2022-10-04 11:19] xfocus3 commented on #19143
this is an awesome community thanks

[2022-10-04 19:01] wsbinette opened #19361 "Pro npm packages cannot be found"
# Pro Packages Cannot be Found in NPM Registry.

Tried looking up the packages in the npm registry but there's nothing related to pro from the docs. Is there maintenance?

<img width="767" alt="image" src="https://user-images.githubusercontent.com/66435871/193903560-d8fc89b2-2c78-47cc-8daa-b8b3c707c043.png">

[2022-10-04 19:04] #19361 closed, assigned to nobody

[2022-10-04 20:50] robmadole commented on #18678
@acelaya try upgrade `@fortawesome/fontawesome-svg-core` to 6.2.0 as well!

Ref: https://github.com/shlinkio/shlink-web-client/commit/755ae23fdb1f6c2c0825b6925312b4caf816a167#diff-053150b640a7ce75eff69d1a22cae7f0f94ad64ce9a855db544dda0929316519R11

[2022-10-04 21:03] acelaya commented on #18678
That did the trick. Thanks!

[2022-10-04 21:25] #18678 closed, assigned to nobody

[2022-10-05 05:10] #19347 closed, assigned to nobody

[2022-10-05 05:10] rion0710 commented on #19347
it works now...but i don't know why working

[2022-10-05 08:04] Schlumpf9 commented on #19331
+1
For me 6.1.0 produces the same error

[2022-10-05 10:41] ghost commented on #19312
Just tagging on here; I'm also facing the same issue. Any news on a possible patch?

[2022-10-05 10:48] ghost commented on #12284
Expressing Interest.

[2022-10-05 10:49] ghost commented on #12510
Expressing Intrest.

[2022-10-05 11:35] GashyDev opened #19362 "Feature request: A11Y Pill Option"
### Is your feature request related to a problem?

_No response_

### Feature description

Hey guys, been a user of FA for many years.

After delving into A11Y a lot more in the past year, I was wondering if there could be another pill option when copying the icon html snippet - something called "A11Y", and inside this would have the mark up in an accessible friendly manner such as `<span aria-hid

[2022-10-05 20:30] thisIsTheFoxe commented on #16525
Closing this as Sourcerer shut down: 😔
- https://github.com/sourcerer-io/sourcerer-app/issues/632

cc: @abhishekv5055

[2022-10-05 20:30] #16525 closed

[2022-10-06 01:29] giyeonkwon commented on #3688
+1

[2022-10-06 04:24] chintan0513 opened #19363 "Bug: Slow Loading Website's main page"
### Bug description

Slow Loading Website's main page

### Reproducible test case

_No response_

### Screenshots

_No response_

### Font Awesome version

6.x

### Serving

Other (as specified in the bug description)

### Implementation

SVG+JS

### Browser and Operating System

Latest Chrome and Windows 11

### Web bug report checklist

- [ ] I have included a test case because my odds go _way_

[2022-10-06 06:12] tagliala commented on #19363
Hi!

Thanks for being part of the Font Awesome Community.

Sorry, do you mean fontawesome.com?

[2022-10-06 06:14] chintan0513 commented on #19363
yes a few hours ago it was slow in my region.

[2022-10-06 06:31] tagliala commented on #19363
Is it now solved?

[2022-10-06 10:06] maewCP commented on #14895
+1

[2022-10-06 10:19] bahusafoo opened #19364 "Discord Icon"
Add Discord icon

[2022-10-06 11:18] chintan0513 commented on #19363
yes sir :)

[2022-10-06 11:45] tagliala commented on #19363
Thanks, closing here

[2022-10-06 11:45] #19363 closed, assigned to nobody

[2022-10-06 11:45] tagliala commented on #19364
Hi!

Thanks for being part of the Font Awesome Community.

discord icon has been added to FontAwesome in version 5.0:
- https://fontawesome.com/icons/discord?f=brands

If you have troubles in using or upgrading Font Awesome, please check our documentation

https://fontawesome.com/docs/web/add-icons/how-to

Hope it helps

Closing here, but feel free to comment and provide more information if I didn

[2022-10-06 11:45] #19364 closed, assigned to nobody

[2022-10-06 13:19] muuvmuuv opened #19365 "Bug: Minified bundle contains unminified CSS"
### Bug description

Just discovered while serving everything fa related in a different Vite bundle, that fa contains unminified CSS. I guess its coming from SVG-Core and https://github.com/FortAwesome/Font-Awesome/blob/d3a7818c253fcbafff9ebd1d4abb2866c192e1d7/js-packages/%40fortawesome/fontawesome-svg-core/styles.css.

### Reproducible test case

https://replit.com/@muuvmuuv/Vite-Font-Awesome#dis

[2022-10-06 14:42] amineRemmache commented on #13331
i was shocked to not find kubernetes among all the icons :ooo

[2022-10-07 02:04] BraianS commented on #2725
+1 mongodb

[2022-10-07 09:14] WilliamStam opened #19366 "Feature request: Allow custom aliasing in the javascript imports"
### Is your feature request related to a problem?

want to use an icon with a custom alias so that should the icon ever change the icon in the code base remains the same. no more find and replace and have a bad time of things

### Feature description

[code]

and usage

[code]

### Alternatives

Considered a custom component for font awesome. if the icon matches a pre populated list then use those

[2022-10-07 09:33] WilliamStam commented on #19366
for vue my "workaround" is as follows:

[code]

[code]

[code]

the `import {FontAwesomeIcon} from '@/icons';` just imports it normally like the vue docs on font-awesome say. im just adding a wrapper around the fa component and changing the 1 prop

please note that this just feels "wrong", im only including it in-case someone else needs a solution. so please consider allowing custom aliasing as pe

[2022-10-07 09:49] Freccia commented on #14700
Also interested !

[2022-10-07 09:56] camaleo commented on #12758
I also need this icon!
Vero is becoming more and more used, but all revolutions need people support.
Let people on VERO know about this page, please share this post, it will hopefully help:
https://vero.co/ugrandolini/n1h-xKvVSCV68vqs98nkJv1q

Thank you!

[2022-10-07 13:57] sajalkmr commented on #4114
Still nothing?

[2022-10-07 14:21] VhalennnG commented on #15337
Is it can be used now??

[2022-10-07 15:29] Hopestylist commented on #19143
The single color logo looks good but I wonder why it has just a single color, I prefer it having more colors.

Please I'm new here and I will be needing all the support and information I can get, thank you in anticipation 🥰🙏.

[2022-10-07 20:13] TylerMWise opened #19367 "Brand request: TruthSocial"
### Description

Hi there,
I am requesting a TruthSocial brand icon for the social media platform [TruthSocial](https://truthsocial.com/).

Proposed class name: fa-truthsocial

![image](https://user-images.githubusercontent.com/74430503/194645338-3d8c49e7-247e-439c-a4ba-826a9581495f.png)

![image](https://user-images.githubusercontent.com/74430503/194645358-779fb540-57c8-4960-ba27-89f7d78643bf.png

[2022-10-07 20:14] TylerMWise commented on #19367
1+

[2022-10-07 20:14] TylerMWise commented on #19351
+1

![image](https://user-images.githubusercontent.com/74430503/194645762-add49df5-1bc9-4a04-801f-2b32bcb79df3.png)

[2022-10-07 21:12] soporte-pido commented on #13946
Very useful for e-commerce apps

[2022-10-08 01:38] yz-xlame commented on #19212
Is there any progress and when will we be able to use variables? My application uses thousands of places that I don't want to replace with hard coding.

[2022-10-08 11:57] hexandcube commented on #1033
Why is this icon pro only? What happened to "Always free" for the basic set of icons? I'm not a company, I'm a hobbyist. I can't afford to pay $99 for icons for my personal website.

[2022-10-08 20:14] creativevoice commented on #19143
Let this happen ASAP.

[2022-10-09 09:07] harryqt commented on #18514
@tagliala you can clone this repo [Dibbyo456/fa-bug-report](https://github.com/Dibbyo456/fa-bug-report) to reproduce.

[2022-10-09 09:11] tagliala commented on #19366
Hi!

Thanks for being part of the Font Awesome Community.

I don't know how this could possibly be implemented, because it should infer the name of the icon from the variable name itself, which is subject to changes after minification

Anyway, a simpler workaround using a non-public API (so this will be subject to changes) could be to edit the list of aliases like

[code]

I'm not a fan of magic n

[2022-10-09 09:23] kamaslau commented on #1125
Please do deliver the Debian logo, it's one of the best Linux operation system distributions and the best community-maintained opensource one.

[2022-10-09 17:53] Nels-J opened #19368 "Icon request: icon-scratch"
Hi, I've seen an old request from 2016 so I will create a fresh one.

My goal is to be able to use for our association(charity) website.
Our goal is to educate children from 8 to 12 years on coding software skills using Scratch platform as a first tool.

Could you please try to create an Awesome icon 👍🏽 related on Scratch programming language 🙏🏽

Reference:
Favicon https://scratch.mit.edu/favicon.

[2022-10-09 17:58] tagliala commented on #19368
Hi!

Thanks for being part of the Font Awesome Community.

Please add a 👍 reaction to #9336

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons), they contain a lot of information about how requests work

Another useful resource is our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new)

Closing here

[2022-10-09 17:58] #19368 closed, assigned to nobody

[2022-10-09 18:58] Cryt12 opened #19369 "Icon Request: fa- issuu"
https://issuu.com/

[2022-10-09 19:05] tagliala commented on #19369
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #1993, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons)

[2022-10-09 19:05] #19369 closed, assigned to nobody

[2022-10-09 22:33] Nels-J commented on #19368
@tagliala thanks for your answer.
Apologies for my request.
I find a way to add a 👍🏽  reaction on to #9336
Ciao

[2022-10-10 02:15] dzlandis commented on #12808
+1 please add :)

[2022-10-10 06:17] Pyvonix commented on #3356
+1

Solid version:
![image](https://user-images.githubusercontent.com/18658299/194807276-f4de7f06-bbd8-44ac-96a9-0e3af18e486c.png)

Light version:
![image](https://user-images.githubusercontent.com/18658299/194807497-14f7aae7-96ae-4bcb-8646-86444e8bf4b4.png)

[2022-10-10 08:15] m-gallesio commented on #1696
+1
This should be easy to implement as a combination of `sim-card` and `credit-card`.
Related issue: https://github.com/FortAwesome/Font-Awesome/issues/16837

[2022-10-10 09:47] rikdeakin commented on #5212
👍🏻

[2022-10-10 09:48] rikdeakin commented on #13331
👍🏻

[2022-10-10 11:28] paaljoachim opened #19370 "Bug: Not able to get Fontawesome icon working with Full Site Editing in WordPress (in tutorial)"
### Bug description

Hi

I have this tutorial. (Linked to the site Full Site Editing part.)
https://easywebdesigntutorials.com/adding-icons-to-your-menus/#site-editor

Adding Font Awesome to the regular classic themes in WordPress works fine, but it is not working correctly with Full Site Editing.I added this issue to Gutenberg but it was closed because it is outside the editor.
https://github.com

[2022-10-10 12:24] LevaCompany opened #19371 "Icon request: animate-loader"
### Use case

Tags: `<i class="fa-solid fa-animate-loader fa-spin-pulse"></i>`

### Example image

![Animated Loader](https://exampleicons.com/animate-loader.svg)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [x] This is a single icon or matched pair (Ex: `lock` / `unlock`)
- [x] The

[2022-10-10 12:54] tagliala commented on #19370
Hi!

Thanks for being part of the Font Awesome Community.

I do not think this is a bug, because `fa-solid fa-icon` classes have been added to the external `<li>` and the CSS is honoring that behavior.

There correct approach would be to have a `span` element inside the menu, and the classes should be applied to the aforementioned element.

If this is not possible with the Full Side Editor, then p

[2022-10-10 17:10] Noichiboy commented on #3356
+1

[2022-10-10 18:30] sensibleworld commented on #3356
We've got this in the works, and it should be in our next release!

[2022-10-10 19:40] sensibleworld commented on #19362
@GashyDev Thanks so much for the suggestion! This is something we've been thinking a lot about and hope to implement something along these lines at some point (hopefully soon)!

[2022-10-10 20:01] g-berthiaume commented on #6843
+1 ⚜️

[2022-10-10 23:40] Stephcraft commented on #19193
I found the solution:
[code]

Make sure all these packages are up to date, you can do so with `npm update <package> --save` or `npm update --save` to update every package in your `package.json`
Source: https://stackoverflow.com/questions/16525430/npm-check-and-update-package-if-needed
[code]
My problem I believe was that I did not have the `@fortawesome/fontawesome-svg-core` package, or at least p

[2022-10-10 23:41] #19193 closed, assigned to nobody

[2022-10-11 07:21] ire4444 commented on #10251
Thanks for looking into this ticket – 5 years later.

From: Geremia Taglialatela ***@***.***>
Sent: Saturday, May 7, 2022 8:24 AM
To: FortAwesome/Font-Awesome ***@***.***>
Cc: Divergent CIO ***@***.***>; Mention ***@***.***>
Subject: Re: [FortAwesome/Font-Awesome] icon request: social site Branded.me (#10251)

Closed #10251 <https://github.com/FortAwesome/Font-Awesome/issues/10251> .

—
Reply to t

[2022-10-11 07:34] cseymour commented on #3644
Hi Jory, sorry to come back to you so late but I got feedback from the
office and they say the icon needs a Rod that comes down from the head, as
they are diffferent types of wells. I've included a screenshot for
reference. Thank you!

[image: image.png]

On Thu, Apr 14, 2022 at 1:47 PM Jory Raphael ***@***.***>
wrote:

[2022-10-11 07:54] mudit00 commented on #18859
Sure! This brand provide laptop, mobile, computer  and printer accessories.
There store website is techiestore.in . I believe multiple Indian companies
and users of this company will use to showcase if there products are used
in there devices.
I am a freelancer so while making the websites or web app of clients many
time i came to the projects  where i have to use it.

On Sun, 27 Mar 2022 at 4:28

[2022-10-11 08:04] Oliver-Saer commented on #3644
@cseymour

You are able to produce your own variants of icons, either by compositing together multiple FontAwesome icons or uploading one of your own design.

It's not very likely that FontAwesome will produce such a small variation on their icon based solely upon a technical difference between oil wells.  Remember that their objective is to expand their library of icons, not to be your company's

[2022-10-11 08:08] rjbalsi commented on #18937
HiUnfortunately  it's hosted in-house for an australia government website.It's all internal and not accessible by General public.Sent from my Galaxy
-------- Original message --------From: Geremia Taglialatela ***@***.***> Date: 23/4/22  6:20 pm  (GMT+10:00) To: FortAwesome/Font-Awesome ***@***.***> Cc: rjbalsi ***@***.***>, Author ***@***.***> Subject: Re: [FortAwesome/Font-Awesome] Icons show in

[2022-10-11 08:17] jdlsc commented on #19238
***@***.******@***.***> for my purchase.

It’s possible my reply address shows ***@***.******@***.***>; both go to the same mailbox.

John Lester
803.356.7676 (office)
803.356.4942 (fax)
212 Palmetto Park Blvd.
Lexington, SC  29072
[escription: ***@***.***<http://www.teamia.com/>
For new support issues, please
contact ***@***.******@***.***>

From: Jory Raphael ***@***.***>
Sent: Tuesday, August 1

[2022-10-11 08:38] tagliala commented on #19362
Hi, I know that the teams like `<i>` and it's shorter, but I will take this opportunity to say once again that I personally still think that the default `HTML` documentation should have the accessible version with `<span>` by default, without the need of a specific A11Y pill 😁

[2022-10-11 08:38] jfagner commented on #4325
Jory,
This is great. Thanks so much for the follow up.

Sincerely,
J.

J. Fagner
Assistant Creative Director,
Digital Marketing Operations
Division of Marketing and Communications
One Bear Place #97024
Waco, TX 76798-7024
t: (254) 710-4795 | baylor.edu<http://baylor.edu>

***@***.***

On Mar 16, 2022, at 12:25 PM, Jory Raphael ***@***.******@***.***>> wrote:

We don't yet have a caduceus, but we d

[2022-10-11 09:17] shukrp commented on #18988
Any update on this?

On Mon, May 2, 2022 at 1:59 PM Geremia Taglialatela <
***@***.***> wrote:

[2022-10-11 10:49] sensibleworld commented on #19238
Hey John - This issue has been closed, and we've had some back and forth already via our support email. If you're still having trouble, please reach out there. Thanks!

[2022-10-11 10:53] sensibleworld commented on #1125
I'll get this in the queue!

[2022-10-11 10:53] sensibleworld commented on #3644
@cseymour Is the icon we added technically wrong, or is there a variation needed on it?

[2022-10-11 10:54] TCB13 commented on #1125
Thank you!

[2022-10-11 11:38] sensibleworld commented on #1033
@hexandcube The simple answer is that we'll always have and always support a free version of Font Awesome. As of this writing, Font Awesome Free includes over 2,000 icons. There's no grand plan of excluding icons from the Free set, only that we have to draw the line somewhere, and there will always be some tension there. (Version 6 already includes over twice the number of free icons than version

[2022-10-11 13:44] cyleolson-viavi opened #19372 "Icon request: Country Flags"
Would be great to see an option to use country flags for something like a website language switcher.

[2022-10-11 14:34] tagliala commented on #19372
Hi!

Thanks for being part of the Font Awesome Community.

Flags are out of scope, more information at https://github.com/FortAwesome/Font-Awesome/issues/13944#issuecomment-774090007

Please consider an alternative like https://flagicons.lipis.dev/

Closing here

[2022-10-11 14:34] #19372 closed, assigned to nobody

[2022-10-11 14:44] couzic opened #19373 "Icon request: circle-euro"
Just like ```circle-dollar``` https://fontawesome.com/icons/circle-dollar

But with a "euro" (€) sign

[2022-10-11 15:10] tagliala commented on #19373
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #4546, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons)

[2022-10-11 15:10] #19373 closed, assigned to nobody

[2022-10-11 15:11] tagliala commented on #4546
This request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/173/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.com/docs/web/style/mask
https://fontawesome.com/docs/web/sty

[2022-10-11 17:03] daven97 commented on #18788
Sorry I missed that this issue had been closed. This is working for me now in 6.2.0! Thanks!

[2022-10-11 20:28] paquinmathieu opened #19374 "Icon request: conversation - meeting"
There are icon with "bubble" already, but I would make good use of a icone that shows 2 person actually talking together or representing meeting someone
Something like this for example , any better idea is welcomed
![image](https://user-images.githubusercontent.com/70521253/195191889-dbd812e9-8282-4b13-bc75-f670c63d1083.png)

[2022-10-11 21:53] bradherman opened #19375 "Icon request: shield-car"
Shield with a car inside to represent insurance policies.  Or potentially car-shield with car, and small shield on bottom right corner.

[2022-10-11 23:14] justinrest commented on #15906
agree

[2022-10-12 07:45] tagliala commented on #19375
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/174/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.c

[2022-10-12 07:52] comi91 commented on #19031
Hi, do we have some update on this?

[2022-10-12 07:57] comi91 opened #19376 "Bug: Font display property missing when using Font Awesome Kit"
### Bug description

Lighthouse reports: Ensure text remains visible during webfont load. This can be solved with font-display:swap for @font-face. See https://web.dev/font-display/?utm_source=lighthouse&utm_medium=devtools
When using a kit with web font, we can not set this property.

### Reproducible test case

_No response_

### Screenshots

_No response_

### Font Awesome version

latest 6.x v

[2022-10-12 08:16] tagliala commented on #19376
Hi!

This is a false positive and we cannot fix it on our side. Having `font-display:swap` is wrong with icon fonts

In the past I think someone on lighthouse side added FontAwesome to an allowlist of fonts.

Ref: #16077

Closing here, but feel free to comment

[2022-10-12 08:16] #19376 closed, assigned to nobody

[2022-10-12 11:17] justinkruit opened #19377 "Bug: Sharp cloud-slash looks weird on bottom right"
### Bug description

https://fontawesome.com/icons/cloud-slash?s=solid&f=sharp

The Sharp version of cloud-slash has a weird look on the bottom right.

### Reproducible test case

_No response_

### Screenshots

![image](https://user-images.githubusercontent.com/1642830/195328969-3b76721f-f60a-467d-be85-2f9093f77f71.png)

### Font Awesome version

v.6.2.0

### Serving

Kit

### Implementation

SVG

[2022-10-12 15:05] NargiT commented on #13331
![20221012_170504](https://user-images.githubusercontent.com/3153333/195379171-c6a7f1e0-317d-482a-9c73-5a85f5492aaf.jpg)

[2022-10-12 17:43] bradherman commented on #19375
Oh cool, it looks like Power Transforms and Masking are both possible in React Native as well, which is where we're using this.  Will give it a shot!

[2022-10-12 17:50] saidbenmoumen commented on #7326
+1

[2022-10-12 18:33] mindersw opened #19378 "Icon request: Locals.com"
[Locals.com](http://www.locals.com) is a new site similar to Patreon. Would be great to have an icon.

Attaching an SVG of their logo.

![locals-icon](https://user-images.githubusercontent.com/3865287/195421616-c88b1d32-8a4b-4143-b8e3-ef0da517c2c9.svg)

[2022-10-13 04:50] saransh-malik commented on #19272
Do we have any updates?

[2022-10-13 14:28] kwladyka commented on #12509
http://fizzed.com/oss/font-mfizz/icon-clojure
here is ready vector font example of black-white

Clojure is programming language https://clojure.org/

[2022-10-13 17:02] lnmezz opened #19380 "Icon request: Greenhouse Gas, Greenhouse Gas Reduction, general Sustainability"
Lots of work happening in the world to save the planet, hoping you guys will jump on this for some greenhouse gas icons!

[2022-10-13 20:45] paaljoachim commented on #19370
Hi @tagliala Geremia.

Thank you for your followup! It is much appreciated!
It is as you say likely not a bug, but I did not know what to call it. I just know that I am not able to get it working correctly with Full Site Editing in WordPress and need some advice on how to get it working correctly. This way we can use Font Awesome icons in the up and coming Full Site Editing in WordPress. Thanks fo

[2022-10-14 08:32] tagliala commented on #19380
Hi!

Thanks for being part of the Font Awesome Community.

Quoting from our [new icon request form](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+):

Sorry, requests for icon sets are not allowed by our contributing guidelines.

Feel free to open individual requests for the icons you want to request, having car

[2022-10-14 08:32] #19380 closed, assigned to nobody

[2022-10-14 12:37] mshababR commented on #19094
Hi

Any chance to have this icon in the near future?

[2022-10-14 13:01] tagliala commented on #19094
Hi!

You be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons), they contain a lot of information about how requests work

Another useful resource is our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new)

A workaround that does not look good because of the different font-weight, may be the following: https://jsfiddl

[2022-10-14 13:13] mshababR commented on #19094
Thank you tagliala for the useful information!

[2022-10-14 15:34] garretwilson commented on #8884
Any thoughts on a "Unicode" or "character" icon? It's a tiny bit ironic that the most fundamental specification the library is based upon (the mapping from bit sequences to characters—the Universal Coded Character Set (UCS), that is, Unicode) doesn't have its own brand icon in your library. 😉

[2022-10-14 16:21] gersongoulart opened #19383 "Unable to access the public website from Brazil: Error 1016 (Origin DNS error)"
I am a paying PRO customer, and I am unable to access the public website from Brazil: Error 1016 (Origin DNS error). I know my peers in NY are able to open the website, and I've been trying for days now without success, so this is not just a temporary issue. I also tried from several different devices. Did you just block access from outside the US altogether? VPN is not working either.

<img width

[2022-10-14 16:47] tagliala commented on #19383
Hi!

Thanks for being part of the Font Awesome Community and apologies for the inconvenience.

This is a known issue, please keep an eye on https://status.fortawesome.com/

[2022-10-14 18:17] NBCush commented on #8730
+1

[2022-10-15 05:11] nothing-personal-gh opened #19384 "Bug: droplet-percent is smaller than other related icons in height (not occupying the full height)"
### Bug description

This icon https://fontawesome.com/icons/droplet-percent?s=solid&f=classic is not occupying the full height and this looks smaller than its related icons. See the red lines in the screenshot and details.

When this icon is placed next to other Font Awesome icons, it looks smaller and out of scale.

Expected - It needs to be of the same size as the rest of the FA icons.

### Rep

[2022-10-15 10:19] tagliala commented on #19384
Hi!

Thanks for being part of the Font Awesome Community.

@sensibleworld could you please take a look if the grid is respected for this icon? I can see that it is smaller than [droplet](https://fontawesome.com/icons/droplet?s=solid&f=classic) but has the same size as [droplet-degree](https://fontawesome.com/icons/droplet-degree?s=solid&f=classic)

It is legit to think that `droplet` and `droplet-

[2022-10-15 11:25] GashyDev commented on #19362
I agree, having it as a default standard would be even better!
I just concepted it as an addition as opposed to converting the base in case there was a reason for the original structure

[2022-10-15 14:34] tskxz commented on #2076
After 9 years, stil doesn't exists

[2022-10-15 23:17] Kerumen opened #19385 "Brand request: polarsteps"
### Description

I have a travel blog and I would like to display my social medias. Instagram, YouTube, but also my Polarsteps, a social media very popular among the travel community!

### Official website

https://www.polarsteps.com/

### Brand guidelines

https://press.polarsteps.com/media_kits/215014/

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the

[2022-10-16 13:40] TimFL commented on #18841
Is there any additional info we can provide to get this issue looked at?

[2022-10-17 01:27] raymukh commented on #5970
+1

[2022-10-17 10:13] svenjacobs commented on #3190
@theadorabledev

Unfortunately this solution only works with SVG + JavaScript. I use Web Fonts + CSS and therefore would really like to have a "native" square icon without needing to use a JavaScript solution. Even @sealocal CSS solution above is not perfect because the symbol is not transparent, so it's not adapting to my background color.

I mean, this request is now 8 years old 😳 ...

[2022-10-17 14:20] julianmateu commented on #17069
I would love this too!

[2022-10-17 19:49] monta990 opened #19386 "Icon request: file-txt"
### Use case

to identificate .TXT extension files
if it made please release it in free icons.

### Example image

I don't have image, but can be like CSV icon but changeing the text to TXT
https://fontawesome.com/icons/file-csv?s=solid&f=classic

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a

[2022-10-17 20:16] matkoniecz opened #19387 "Icon request: beer"
### Use case

It is clearly popular icon for many purposes, starting with pub POIs

### Example image

https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/beer.svg (it is gone from v6 release)

See also https://github.com/FortAwesome/Font-Awesome/issues/49 - previous beer icon request

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed

[2022-10-17 21:10] rayman02 commented on #18701
We're also seeing the same behavior.   After we upgraded to 6.2, we noticed that whenever we use `addClass/removeClass` on the svg, the `data-prefix` gets reset to `far` (or whatever the configured default values is)

[2022-10-18 03:52] brendanahart commented on #19358
what font is this?

[2022-10-18 05:45] vinaysreddy opened #19388 "UI/bug SignIn in your website Website"
Hello ! FontAwesome !

Hi I'm Vinay from Hyderabad,India.
My Contact :
mail: omitted
LinkedIn : omitted

I'd like to inform you that there is a UI issue/bug on your website.
Your sign in page functions correctly, however when you follow my steps, a UI issue occurs.
I've provided you with the steps to reproduce the problem/Issue.

steps to reproduce the problem :
1. Go to https://fontawesome.com/
2

[2022-10-18 07:24] tagliala commented on #19388
Hi!

Thanks for being part of the Font Awesome Community and thanks for reporting this.

@talbs it is reproducible by navigating to https://fontawesome.com/kits in an incognito window (= not logged in), I think the style got messed up during the redirect

[2022-10-18 07:27] tagliala commented on #19387
Hi!

Thanks for being part of the Font Awesome Community.

You can find the icon with the new name https://fontawesome.com/icons/beer-mug-empty?s=solid&f=classic, but `beer` should still be an alias: https://jsfiddle.net/tagliala/wr154e6x/17/

Hope it helps

Closing here but feel free to comment

[2022-10-18 07:27] #19387 closed, assigned to nobody

[2022-10-18 07:44] vinaysreddy commented on #19388
Thank You

[2022-10-18 07:46] tagliala commented on #19388
Correct. I've asked to check in incognito because this does not affect logged in users

[2022-10-18 11:01] Hakim32 commented on #19355
You need to update your font files make sure you have **fa-sharp-xxx.woff2**

[2022-10-18 12:33] matkoniecz commented on #19387
Sorry that I missed it!

[2022-10-18 14:09] knightjdr commented on #19348
The latest version of NextJS (`12.3.1`) and FontAwesome `6.1.2` does not cause this problem, but upgrading to `6.2.0` does. The require fix does resolve it for me as well.

[2022-10-18 15:13] Sea-n commented on #1902
+1

[2022-10-18 15:38] szczemp opened #19389 "Icon request: blik payment"
### Use case

Need icon for blik payment.
https://blik.com

### Example image

_No response_

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or matched pair (Ex: `lock` / `unlock`)
- [X] The request is for a concrete object, or I've included an example image
-

[2022-10-19 09:02] catrawalkar commented on #18049
Please add Koo app icon

[2022-10-19 09:59] RaffaeleBianc0 commented on #13402
+1

[2022-10-19 12:15] david-esq commented on #13358
Hi FA team,
The XRP request is now the one with the highest number of reactions in the [Icon leaderboard request](https://fontawesome.com/community/leaderboard/brands)

Please consider adding this icon to the next batch.
The whole XRPL developer community would appreciate it.

[2022-10-19 14:26] Isaac-Tait commented on #19348
I was having this same issue when upgrading to `next 12.3.1` and `font-awesome-{icons} >6.0.2` I was able to resolve by following @johndalvik suggestion, which for me was found at `pages/_app.js` (change-log viewable [here](https://github.com/Isaac-Tait/ilovetofish/commit/96bba9570731c3d52ebe5bb2cd3f6c0c36733351))

[2022-10-20 04:53] seyyed-sina opened #19390 "Icon request: flip image horizontal / vertical"
This is sample of what it could be:

![image](https://user-images.githubusercontent.com/2351721/196859265-0d33e9bb-6263-4895-b72b-ea2b4a535330.png)

[2022-10-20 04:57] seyyed-sina commented on #19390
Close in favor of  #14426

[2022-10-20 04:57] #19390 closed, assigned to nobody

[2022-10-20 15:22] angelabatterson opened #19392 "Icon request: Alignable Brand Icon"
### Use case

Alignable is a new social networking platform for individuals and businesses. This would be like a social media icon for use on websites for potential customers to connect.

<img width="56" alt="Screen Shot 2022-10-20 at 11 21 30 AM" src="https://user-images.githubusercontent.com/116292821/196990348-44c87532-bd7d-4335-9154-752347da339f.png">

### Example image

_No response_

### Ico

[2022-10-20 15:30] tagliala commented on #19392
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #11602, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons

[2022-10-20 15:30] #19392 closed, assigned to nobody

[2022-10-20 20:11] spidermax89 opened #19393 "URL is not a constructor"
I keep getting this error appearing in the console, I'm not sure why because I have changed nothing.

![image](https://user-images.githubusercontent.com/59122926/197048137-2c9a62f0-6bfd-485c-b8e7-0b4832d6d652.png)

I only get this error on my home page, so I don't know what the issue is.

[2022-10-20 21:26] jwp528 commented on #15692
This is exactly the icon I was looking for. good to know someone already suggested it. I'll try to find something else in the meantime.

![image](https://user-images.githubusercontent.com/2299134/197061921-e653ae86-d58e-4ce3-8e3e-746ee4d0025e.png)

[2022-10-21 05:36] smondrup commented on #19213
It also doesn't work for me in web components. dom.i2svg works the first time it's called but not the next time (unless I remove the data-fa-i2svg attribute first).

[2022-10-21 09:00] thestepafter commented on #1580
Long live dinos. +1

[2022-10-21 17:19] Pyvonix commented on #19341
@maxresnikoff Something like that?

Solid icon:
![image](https://cdn-icons-png.flaticon.com/512/483/483968.png)

Light icon:
![image](https://cdn-icons-png.flaticon.com/512/481/481321.png)

[2022-10-21 18:15] javier-godoy opened #19394 "Bug: notdef icon removed in 6.2.0"
### Bug description

[Notdef](https://github.com/FortAwesome/Font-Awesome/blob/6.1.2/svgs/solid/notdef.svg) icon from 6.1.2 was removed in version 6.2.0 (or, according to https://fontawesome.com/icons/notdef?s=solid it was moved to the Pro library). If it's an intended breaking change, it's not mentioned in the release notes.

### Font Awesome version

v6.2.0

### Application and Operating System

[2022-10-21 19:05] tagliala commented on #19394
Hi!

Thanks for reporting this issue.

@sensibleworld @robmadole could you please take a look?

[2022-10-21 23:09] trueIoV commented on #13358
Need this => XRP icon.
Thanks.

[2022-10-22 11:10] mohsinamerriaz commented on #5970
+1

[2022-10-22 14:33] bc-devle commented on #10922
fa-blanket should be tagged in "towel" and "bath"

[2022-10-22 15:40] tagliala commented on #10922
@bc-devle thanks for the suggestion

Closing here because this available in FA Pro starting from version 5.0.9, ref #12383

https://fontawesome.com/icons/blanket?s=solid&f=classic

@talbs any chance to add a couple of search terms?

[2022-10-22 15:40] #10922 closed

[2022-10-22 22:36] netdjw opened #19395 "Icon request: baby-bottle"
It would be nice if there would be added a collection of icons in baby topic.

For example:
- baby bottle
- baby swing
- baby bed
- baby monitor
- diaper
- nappy

...and some other basic things

[2022-10-23 09:35] tagliala commented on #19395
Hi!

Thanks for being part of the Font Awesome Community.

Quoting from our [new icon request form](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+):

Sorry, requests for icon sets are not allowed by our contributing guidelines.

Feel free to open individual requests for the icons you want to request, having car

[2022-10-23 09:35] #19395 closed, assigned to nobody

[2022-10-23 14:40] vilkinsons commented on #14809
+1 for base kit inclusion. Excluding Chinese SOEs, Chase are the largest bank in the world, as well as the no.1 retail bank in America, and are entering new markets including the UK with gusto. It would be helpful to have them included.

[2022-10-23 19:13] netdjw commented on #19395
@tagliala Thank you for the informations.

It's just a single icon request, the other commented examples are just other ideas. Please feel free to ignore it.

[2022-10-23 20:30] tagliala commented on #19395
Hi @netdjw ,please add a 👍🏼 reaction to this request: #12752

[2022-10-24 09:32] notedwin-dev opened #19396 "Icon request: autocode.com"
Please add the svg for Autocode.com. I need it for coding my react.js portfolio using react-icons and font awesome. Pleeasseee:)

[2022-10-24 14:19] maxresnikoff commented on #19341
Lovely! Will do the trick thanks!

[2022-10-24 19:06] eliotcarlsen opened #19397 "Bug: Icon styling changes after JS class manipulation"
### Bug description

My company is upgrading to version 6 using the web kit.  For the most part the upgrade went fine however, we ran into an issue manipulating classes on our icons via javascript.  It could be similar to this [issue](https://github.com/FortAwesome/Font-Awesome/issues/18841) but not 100% sure so wanted to open a new issue to investigate.

The problem is, we have tooltips in our ap

[2022-10-24 19:23] daniloribeiro00 opened #19398 "Bug: Type error "{ icon: IconDefinition } is not assignable to type 'ComponentProps<ComponentPublicInstance<FontAwesomeIconProps, {}, {}, {}, {}, {}, FontAwesomeIconProps, {}, false, ComponentOptionsBase<any, any, any, any, any, any, any, any, any, {}>>>""
### Bug description

I'm having an odd issue after updating to v6 in Vue.js.
It seems VSCode (with Volar extension) does not recognise the FontAwesomeIcon component types.

It shows the following message but it works normally on the browser without any warning on the console.
`"{ icon: IconDefinition } is not assignable to type 'ComponentProps<ComponentPublicInstance<FontAwesomeIconProps, {}, {},

[2022-10-24 23:51] nateobray commented on #2117
+1

[2022-10-25 00:53] pnacelli commented on #4815
+1 Emergency Services set:
 - firefighter
 - firetruck
 - firehouse
 - fire helmet
 - ambulance
 - police car

[2022-10-25 11:34] LevaCompany opened #19399 "Icon request: animated-loader (duplicate)"
Original: [https://github.com/FortAwesome/Font-Awesome/issues/19371](https://github.com/FortAwesome/Font-Awesome/issues/19371)

[2022-10-25 11:35] LevaCompany commented on #19399
ADD THE 100% REQUEST

[2022-10-25 12:51] #19399 closed, assigned to nobody

[2022-10-25 12:53] LevaCompany commented on #19371
Animated loader on font awesome added

[2022-10-25 12:53] #19371 closed, assigned to nobody

[2022-10-25 18:52] LevaCompany opened #19401 "Please add color version (Font Awesome 8.0.0)"
Please add color version (Font Awesome 8.0.0)
Discussion: [#19400](https://github.com/FortAwesome/Font-Awesome/discussions/19400)

[2022-10-25 20:06] olmobrutall commented on #19063
I'm also intereseted in a solution for this.

This specially annoying because the sintax "fa-familyname fa-iconname" is used in the website when selecting react! (example
https://fontawesome.com/icons/clock?s=solid&f=classic)

I think using https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html could help here:

[code]
With this change there will be no compile time errors... an

[2022-10-26 07:33] tagliala commented on #19063
Hi @olmobrutall, thanks for the feedback

I'm not familiar with VSCode/VS. Is it possible that #19398 is a duplicate of this issue?

[2022-10-26 08:59] olmobrutall commented on #19063
I don't think so. This is an error for the vue type definitions. I'm using React type definitions here.

[2022-10-26 10:40] aastrouski commented on #14343
Any plans to add this icon? Current language icon is terrible. We have to use our own icon, similar to the one suggested above.

[2022-10-26 17:10] anschm opened #19402 "Feature request: Add custom icon as svg file within typescript"
### Is your feature request related to a problem?

_No response_

### Feature description

It would be create to have a registration service to add custom icons as a svg file to fontawsome to use it the the fa-icon angular component. This could be like angular material provides a MatIconRegistry:

export class MaterialIconsRegistryService {

  constructor(private readonly matIconRegistry: MatIconR

[2022-10-26 22:21] noway commented on #19272
Experiencing this as well, any workarounds?

[2022-10-27 00:12] gyto23 opened #19403 "Icon request: Airplane Tug"
### Use case

An airplane tug is used to prepare an aircraft for take-off or transport a craft for regular maintenance and repair. It's a crucial component of any airport or hangar's ground support equipment (GSE)

### Example image

![image](https://user-images.githubusercontent.com/54277098/198161426-b409ad40-c75a-4503-a293-fbed3768b684.png)

![image](https://user-images.githubusercontent.com/54

[2022-10-27 09:58] ackava opened #19404 "Icon request: icon-calendar-question"
Calendar with question mark in between.

[2022-10-27 10:03] ackava commented on #16225
This is by far the most important feature when we are using some framework, where we want to use class name in an expression such as ..

[code]

We can't copy and paste entire tag and remove all the surrounding. It doesn't seem too big of a feature.

[2022-10-27 17:33] tagliala commented on #3366
I think this has been implemented a while ago with the JSON icon file

It's available in the metadata folder: https://github.com/FortAwesome/Font-Awesome/tree/6.x/metadata

[2022-10-27 17:33] #3366 closed

[2022-10-27 17:37] tagliala commented on #8079
Hello,

I'm doing some maintenance

The official website changed a lot since 2015, but the fixed navbar is not yet here.

Feel free to comment again if you think this is still needed, please also clarify why

[2022-10-27 17:37] #8079 closed

[2022-10-27 17:38] tagliala commented on #7932
Hi, there are now 200M+ websites using FA 😅

Here it is a small list: https://fontawesome.com/#logos

[2022-10-27 17:38] #7932 closed

[2022-10-27 17:39] tagliala commented on #9505
Hi, documentation changed a lot in these 6 years

There isn't a search bar, but there is a magnification glass that should address this use case

Closing here, but feel free to comment if this is still an issue

[2022-10-27 17:39] #9505 closed

[2022-10-27 17:42] tagliala commented on #1773
The font subsetter is available in FA Pro

The built in tree-shaking functionality of many asset bundlers to reduce the output font size

Feel free to use other alternatives to create custom webfont files

[2022-10-27 17:42] #1773 closed

[2022-10-27 17:43] tagliala commented on #4339
Closing here, there is also a wiki to implement this functionality

It is worth to mention that now Font Awesome has its own font :)

[2022-10-27 17:43] #4339 closed

[2022-10-27 17:44] tagliala commented on #4700
I think this is done, there are official npm packages  :)

[2022-10-27 17:44] #4700 closed

[2022-10-27 17:59] davidcawork commented on #541
+1, google scholar please!!!

[2022-10-27 21:34] newbold opened #19405 "Icon request: fa-passkey"
As the Passkey standard is being adopted by Apple, Google, and Microsoft, it would be nice to have an icon for it. There isn’t yet an official “brand” icon for it, but it appears that a consistent icon pattern of "user icon + vertical key" is emerging. The icon could be created relatively easily by combining fa-user and fa-key (with the key rotated slightly in a vertical orientation).

Reference i

[2022-10-27 22:29] newbold commented on #19405
Also, apologies for not using the correct template — I followed the link from [https://github.com/FortAwesome/Font-Awesome/blob/6.x/CONTRIBUTING.md](this page) and wound up on the issue submission form without the intended template. Sorry!

[2022-10-27 23:30] andreashe commented on #19030
I like the idea (even if I dont need it). Checked existing icons for Wind, Coal, Solar, Gas, Oil - but hmmm.

A kind of unique "source of energy / power plant" icons would be nice. Maybe also with a "flash" to indicate electricity?

And the existing for solar looks terrible - IMHO a sun in the icon would indicate what it is.

[2022-10-28 08:14] tagliala commented on #19405
No problem, Thanks for spotting the wrong link!

[2022-10-28 08:14] tagliala opened #19406 "Wrong link to issue templates in contributing guidelines"
Also, apologies for not using the correct template — I followed the link from [https://github.com/FortAwesome/Font-Awesome/blob/6.x/CONTRIBUTING.md](this page) and wound up on the issue submission form without the intended template. Sorry!

_Originally posted by @newbold in https://github.com/FortAwesome/Font-Awesome/issues/19405#issuecomment-1294190475_

[2022-10-28 14:36] Jkdrumm commented on #19348
I'm still experiencing this issue in NextJS `13.0.0` and FontAwesome `6.2.0`. Using the `require` workaround did fix the issue however.

[2022-10-29 13:01] khnaum5 opened #19407 "RÉFRIGÉRATEUR"

[2022-10-29 14:28] septatrix opened #19408 "Icon request: Regex (dot-asterisk)"
### Use case

This can be used for especially for search fields either as a toggle or to signal that the input is interpreted as a regex.

### Example image

E.g.: ![image](https://user-images.githubusercontent.com/24257556/198836791-507d0792-c022-426d-8bb1-76335e7ebf8f.png)

From Wikimedia: https://commons.wikimedia.org/w/index.php?title=File:OOjs_UI_icon_regular-expression.svg&oldid=691058365

O

[2022-10-29 16:39] tagliala commented on #19407
Hi!

Thanks for being part of the Font Awesome Community.

Is this a request for a refrigerator/fridge?

If it is, it's already here in FA Pro: https://fontawesome.com/icons/refrigerator

Closing here, but feel free to comment

[2022-10-29 16:39] #19407 closed, assigned to nobody

[2022-10-29 16:55] tagliala opened #19409 "Bug: Font Awesome logo duotone"
### Bug description

Hi @sensibleworld,

Screenshot of the search results:

https://fontawesome.com/search?q=font-awesome&o=r&f=classic%2Csharp%2Cbrands

![image](https://user-images.githubusercontent.com/556268/198843653-4958af24-6729-4912-8ca3-027245acca75.png)

I can understand that the Font Awesome logo belongs to both `fa-brands` **and** standard `fa-*` sets, but if you try to get the icon de

[2022-10-29 16:55] tagliala commented on #1098
Font-case is available in FA Pro >= 5.9.0: https://fontawesome.com/icons/font-case?s=solid&f=classic

[2022-10-29 16:56] tagliala commented on #19408
Subset of #1098, I prefer to keep this open

[2022-10-29 19:21] muelleme commented on #14818
FWIW, I have only seen this logo in the wild, which is also shown in [this blog post mentioned above](https://www.atlassian.com/blog/announcements/our-bold-new-brand):
![Screenshot from 2022-10-29 21-18-54](https://user-images.githubusercontent.com/8862196/198849104-51c69b1c-cf76-4a84-b51d-f5ac94f82424.png)

Would love to have this one added.

[2022-10-29 20:00] sausagenoods commented on #12808
Still waiting for you to add Matrix icon.

Edit: Switched to forkawesome instead. https://forkaweso.me/Fork-Awesome/icon/matrix-org/

[2022-10-30 06:10] tomasp1189 commented on #17553
Hey, was this ever solved? My team and I have paid for premium FontAwesome and we can't integrate it with our solution.

[2022-10-30 13:36] lensbart commented on #18803
@tagliala in the [linked issue](https://github.com/FortAwesome/Font-Awesome/issues/19243#issuecomment-1206689375) you said:

However this doesn’t seem to have been fixed in 6.2?

Thanks @robmadole — any chance this will get fixed?

[2022-10-31 08:30] wottpal commented on #19312
@robmadole facing the same issue, can't use `6.2.0` for almost 2 months now 😥

[2022-10-31 19:31] bmull commented on #18423
It's a bit insane this icon isn't supported yet tbh. there are so many less popular sites/brands represented.

[2022-11-01 07:42] 1Map opened #19411 "Bug: Only string literals are supported for the name property"
### Bug description

MacroError: C:\VB Apps\react-mui\src\App.tsx: Only string literals are supported for the name property (use a string here instead)

[code]

### Reproducible test case

_No response_

### Screenshots

_No response_

### Font Awesome version

v6.2.0

### Serving

Other (as specified in the bug description)

### Implementation

Other (as specified in the bug description)

### Bro

[2022-11-01 14:19] albertogallen commented on #4771
+1

[2022-11-01 14:38] Sarthak-Sidhant commented on #14101
For Me, Discord's Old Icon Show Up.

[2022-11-01 14:47] tagliala commented on #14101
@Sarthak-Sidhant probably your application is using (directly or indirectly - via a third party library) an outdated version of Font Awesome.

Please make sure that you are using FA >= 5.15.4

Ref: https://github.com/FortAwesome/Font-Awesome/issues/18171#issuecomment-899420582

[2022-11-01 20:09] robmadole commented on #19394
@javier-godoy I think this is just a bug. We'll get it added back into the free subset.

[2022-11-01 22:11] andreashe opened #19412 "Feature request: show js importline on icon website"
### Is your feature request related to a problem?

If using an icon with a js import like:

`import { faArrowUpRightFromSquare } from '@fortawesome/sharp-solid-svg-icons'`

the name "_faArrowUpRightFromSquare_" is defined in the package and you must search for it or transform it by hand.

### Feature description

It would be great if on the [website](https://fontawesome.com/icons/arrow-up-right-fr

[2022-11-01 22:34] femmon commented on #19272
We are importing everything and Metro's minification step is taking a lot of time for us. So we use this patch to skip it for Font Awesome:
[code]

[2022-11-02 01:15] nothing-personal-gh commented on #19384
@tagliala @sensibleworld Is there an update on this issue? We can submit an issue through a different channel if you prefer as we have a 'Pro' plan.

[2022-11-02 12:30] sensibleworld commented on #19384
Thanks for the reminder, @nothing-personal-gh. I'm looking into it now.

[2022-11-03 04:14] jontsai commented on #6422
+1

[2022-11-03 16:32] qpham2017 opened #19413 "Icon request: contact (contact-us)"
### Use case

A "contact us" icon (FA4) that can use for both email and phone contact information.

### Example image

![contact](https://user-images.githubusercontent.com/24920499/199778439-986183b5-807e-4766-a450-5e77abf0d7e7.png)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] T

[2022-11-04 11:33] lbirkert commented on #14021
+1

[2022-11-04 11:34] lbirkert commented on #11890
+1

[2022-11-04 14:30] henningway commented on #19398
I have the same problem after updating vue-tsc from 0.40.9 to 1.0.9.

[code]

[2022-11-05 01:51] S1983tt opened #19414 "nope"

[2022-11-05 01:52] S1983tt commented on #19414
nope

[2022-11-05 05:08] mimicpublishing commented on #16586
Hello folks. It's been like 2 years. Substack is huge. It's one icon. Let's add it please!

[2022-11-05 09:27] #19414 closed, assigned to nobody

[2022-11-05 14:37] meiyasan commented on #18662
Hi @denny99
By any chance, do you have kind of a practical example to run with FA graph ql ?
I saw that FA team provides some kind of metadata.json, I would like to reproduce. I wonder if we can get some search term out of it.

[2022-11-05 14:45] KALIPEM commented on #9294
anchor fm icon needed

[2022-11-05 14:57] denny99 commented on #18662
@xKZL I can construct you one on Monday with stackblitz if you want to

[2022-11-06 15:27] gabrielrosset commented on #8365
Here is one simplified (one path, no transform) :
`<svg viewBox="0 0 1343 1471.2"><title>csharp</title><path d="M653.3 1.3C641 3 630.5 5.9 619 10.7c-4.9 2.1-63.7 34.5-130.5 72.1l-182 102.3-153 86-99 56.5c-8.8 6.2-25.4 23-31.6 32.2-10 14.6-17.1 31.5-21.1 50-1.7 8.1-1.8 23-1.8 326l1.8 326c7.4 34.5 27.1 64.7 54.1 83 3.9 2.6 41.5 24.1 83.6 47.7l484 270.1c15.3 6 29.6 8.5 48 8.6 22 0 41.1-4.4 59.4-13.6

[2022-11-07 08:26] gwainor commented on #6422
+1

[2022-11-07 08:49] nikimol opened #19415 "Icon request: swan"
### Use case

There are 366 animals in FA and a swan would be a lovely addition. It's included in emoticon animals so it must be popular(!)

### Example image

![swan-icon-64](https://user-images.githubusercontent.com/6474803/200266121-1dd6402a-7acc-4bff-8571-a509f643fe91.png)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X]

[2022-11-07 09:06] Gnietschow opened #19416 "Icon request: shield-crack"
The existing icon "shield" but with a crack in it like "heart-crack"

[2022-11-07 09:18] denny99 commented on #18662
@xKZL
https://stackblitz.com/edit/primeng-autocomplete-demo-ugd3lm?file=src%2Fapp%2Fapp.component.html,src%2Fapp%2Fapp.component.ts,package.json,src%2Fapp%2Fapp.module.ts,angular.json

Here you go. I abused the primeng autocomplete demo for this :D it's not exactly what we are doing (our picker can also select style, animations etc.) But for the basics this should be it.

You can type into the inp

[2022-11-07 10:11] nickdring commented on #541
wow, how many +1's do we need to get before it gets added to the library? Anyway here is mine.

[2022-11-07 19:28] pmbrent commented on #16252
Wanted to ➕ this as instability at Twitter is making Fediverse/Mastodon a more common link-out destination for people's social media link sections. I use Font-Awesome icons for my others and would be happy to seamlessly include this one.

[2022-11-07 19:28] wznmickey commented on #16252
自动回复：已收到，谢谢。

[2022-11-08 07:11] Kokoro528 opened #19417 "Icon request: icon-name"
Would be great if wechat icon is added

[2022-11-08 08:36] tagliala commented on #19417
I think it is already here: https://fontawesome.com/icons/weixin?s=&f=brands

[2022-11-08 09:58] vertic4l opened #19418 "Bug: compilation issues when using dart-sass"
### Bug description

there are a lot of issues inside of _variables.scss due to missing usage of sass math which should be considered asap.

### Reproducible test case

_No response_

### Screenshots

_No response_

### Font Awesome version

v6.2.0

### Serving

Self-hosted

### Implementation

CSS

### Browser and Operating System

doesn't matter

### Web bug report checklist

- [X] I have includ

[2022-11-08 10:48] tagliala commented on #19418
Hi, are you referring to FA5? Could you please provide the output of the issues?

[2022-11-08 10:57] vertic4l commented on #19418
[code]

[2022-11-08 11:00] vertic4l commented on #19418
So your sass code is not compliant which is really bad, see https://sass-lang.com/d/slash-div

[2022-11-08 11:02] tagliala commented on #19418
Hi, this has been fixed a while ago

https://github.com/FortAwesome/Font-Awesome/blob/d3a7818c253fcbafff9ebd1d4abb2866c192e1d7/scss/_variables.scss#L10

Could you please double check that the npm repo is up to date and that there are no custom overrides of that file?

[2022-11-08 11:06] vertic4l commented on #19418
Ya, sure here you go:

[code]

[2022-11-08 11:18] tagliala commented on #19418
Could you please make sure that `functions` is imported before `variables` ?

Ref:

https://github.com/FortAwesome/Font-Awesome/blob/d3a7818c253fcbafff9ebd1d4abb2866c192e1d7/scss/fontawesome.scss#L9

[2022-11-08 11:22] vertic4l commented on #19418
i see, my colleague simply imported _variables.scss -.-

thanks for clarifying!

[2022-11-08 11:22] #19418 closed, assigned to nobody

[2022-11-08 11:42] tagliala commented on #19418
Welcome. Glad you have solved

That was the correct approach. In order to fix this deprecation issue, we had to introduce this new `functions` partial and probably this is an undocumented breaking change for scss customizations, sorry

[2022-11-08 23:13] mpe85 commented on #7057
Are there any news on this?

[2022-11-09 03:29] guillegette commented on #18423
+1

[2022-11-09 12:57] ksddesigner opened #19420 "Icon request: api"
### Use case

API icons can be used in many no-code tools, admin panels, tools for developers, etc.

### Example image

<img width="194" alt="image" src="https://user-images.githubusercontent.com/70767243/200835901-aed8ab21-643f-4342-ba9d-f76ff7664231.png">

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not

[2022-11-09 13:27] daniloribeiro00 commented on #19398
Fixed in @fortawesome/vue-fontawesome v3.0.2

[2022-11-09 13:27] #19398 closed, assigned to nobody

[2022-11-09 14:16] tagliala commented on #19398
thanks for the heads-up

[2022-11-09 14:16] tagliala commented on #8691
This may have been fixed by https://fontawesome.com/icons/outlet?s=solid&f=classic

The example does not work anymore, if this is not fixed feel free to open a new issue by filling out our [new icon request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+)

[2022-11-09 14:22] mattvaccoda commented on #8691
That is an American style plug rather than a UK plug. A UK plug socket looks like this - https://www.istockphoto.com/photo/british-plug-and-socket-on-white-gm157589656-12803675

[2022-11-09 14:23] tagliala commented on #8691
Thanks, reopening

[2022-11-09 17:24] nicholas-eras commented on #6883
+1

[2022-11-09 19:12] laurenclark commented on #19411
I have the same error. This shouldn't throw an error.

[2022-11-10 11:30] pmweeks98 opened #19421 "Generic font family for FontAwesome font"
Whats is the correct generic font family for font awesome font?
serif, sans-serif, cursive, fantasy or monospace?
https://www.w3.org/TR/CSS2/fonts.html#generic-font-families

[2022-11-10 14:01] verenya opened #19422 "Interview partners for research about communication in GitHub projects wanted"
Hi. My name is Verena Ebert, and I am a PhD student at the University of Stuttgart in Germany.
A few months ago, I have examined 90 GitHub projects to see what communication channels they use and how they write about them in the written documents, for example README or wiki. If you are interested in the previous results, you can find them here:
https://arxiv.org/abs/2205.01440
Your project was one

[2022-11-10 15:39] bluedirtwp commented on #6687
+1

[2022-11-11 07:49] Madhavkabra commented on #6537
Add it please

[2022-11-11 11:04] andy-guttridge opened #19423 "Bug report: font-awesome script causes error in W3C HTML validator"
Tested using Google Chrome on Mac OS Monterey.
Script tag in head of HTML is `<script src="https://kit.fontawesome.com/8e1ff888c3.js" crossorigin="anonymous"></script>`.
The error flagged in the validator is **Error: CSS: transform: var(--fa-rotate-angle, none) is not a transform value**.

[2022-11-12 07:21] akibe commented on #18423
+1

[2022-11-12 11:10] anfha1 opened #19424 "I didn't find icon "fa-presentation-screen""
Node: v16.18.0
Npm: 8.19.2

Vite: 3.0.9
Vue-tsc: 0.40.7
Vue:  3.2.38

<font-awesome-icon icon="fa-solid fa-presentation-screen" />

I Use
import { library } from '@fortawesome/fontawesome-svg-core'
import {
  faUser, // OK
  faPresentationScreen, // ERROR
  // 'faPresentationScreen' is declared but its value is never read.ts(6133)
  // Module '"@fortawesome/free-solid-svg-icons"' has no exported m

[2022-11-12 11:21] tagliala commented on #19424
Hi!

Thanks for being part of the Font Awesome Community.

I can see that your application is using `@fortawesome/free-solid-svg-icons` but `presentation-screen` is only available in Font Awesome Pro

https://fontawesome.com/icons/presentation-screen?s=solid&f=classic

Hope it helps

Closing here but feel free to comment

[2022-11-12 11:21] #19424 closed, assigned to nobody

[2022-11-12 14:39] yashkoli44 opened #19425 "Icons related to stock market"
Icons like bull, bear, stoploss, entry, exit

[2022-11-12 16:10] tagliala commented on #19425
Hi!

Thanks for being part of the Font Awesome Community.

Quoting from our [new icon request form](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+):

Sorry, requests for icon sets are not allowed by our contributing guidelines.

Feel free to open individual requests for the icons you want to request, having car

[2022-11-12 16:10] #19425 closed, assigned to nobody

[2022-11-12 17:15] Trillyy opened #19426 "Brand request: Thymeleaf"
### Description

It's not super popular, but I can guarantee is being used in a lot of java web applications

### Official website

https://www.thymeleaf.org/

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existing issues](https://github.com/FortAwesome/Font-Awesome/

[2022-11-13 07:39] audn commented on #19312
So brands are basically unusable until a fixed is rolled out? 🙄

[2022-11-13 10:34] wottpal commented on #19312
yep :/

[2022-11-13 13:07] yiminglin-ai commented on #541
mine too

[2022-11-13 17:02] LevaCompany opened #19427 "Feature request: Add Unicode 15.0"
### Is your feature request related to a problem?

_No response_

### Feature description

add new unicode version

### Alternatives

_No response_

### Additional context

_No response_

### Feature request checklist

- [X] The title starts with "Feature request: " and is followed by the requested feature description
- [X] This is a single feature
- [X] I have [searched for existing issues](https

[2022-11-13 20:13] amineHY commented on #541
+500 for google-scholar

[2022-11-13 21:45] timmeade commented on #19348
Agreed same issue.  Next 13.03.  require fixed but seems hacky

[2022-11-14 11:09] gringer opened #19428 "Icon request: fa-content-notice"
### Use case

Button for adding a content notice to a post (e.g. to indicate that the post contains political content)

### Example image

![content_notice_small_grey_noPageBorder_16_pixelArt](https://user-images.githubusercontent.com/856314/201645194-9f88ca3b-1228-41bb-a163-6198b92f6adb.png)
![content_notice_small_grey_noPageBorder_32](https://user-images.githubusercontent.com/856314/201645201-76

[2022-11-14 15:08] k4pu77 commented on #7057
+1

[2022-11-14 16:20] #16156 closed

[2022-11-14 16:24] corsair commented on #3643
+1

It has been eight years since this was first requested. This icon is still a major interest as the number of websites, apps, and marketing materials relating to Tesla / Tesla vehicles has substantially increased.

My service (an analysis platform for vehicle owners) receives millions of pageviews a month and is actively used by tens of thousands of vehicle owners daily. Font Awesome is a bless

[2022-11-14 22:13] idnorton commented on #16252
A Mastodon icon was added some time ago - details in https://github.com/FortAwesome/Font-Awesome/issues/10897

[2022-11-14 23:04] alexlancaster commented on #16252
this is true, but Fediverse =/= Mastodon. I think the OP was suggesting adding an icon for a generic Fediverse link

[2022-11-14 23:20] psharma04 opened #19429 "Brand request: UNSW"
### Description

I am requesting an icon for the University of New South Wales, proposed class name `fa-unsw`.

![Original UNSW Logo](https://www.unsw.edu.au/content/dam/images/graphics/logos/unsw/unsw_0.png)

### Official website

https://www.unsw.edu.au/

### Brand guidelines

https://taggi.cse.unsw.edu.au/FAQ/UNSWStarterKit.pdf

### Icon request checklist

- [X] The title starts with "Brand req

[2022-11-15 15:39] piyushpranjal03 opened #19430 "Icon request: Kabbadi"
https://en.wikipedia.org/wiki/Kabaddi at least two players in the icon

[2022-11-15 20:09] serbixote commented on #8931
Hey guys, is this still the case?

[2022-11-15 20:31] sensibleworld commented on #19394
This should now be fixed!

https://fontawesome.com/icons/notdef?s=solid

[2022-11-15 20:31] #19394 closed, assigned to sensibleworld

[2022-11-15 20:32] sensibleworld commented on #19384
The droplet icons should now be standardized: https://fontawesome.com/icons/droplet-percent?s=solid&f=classic

[2022-11-15 20:32] #19384 closed, assigned to sensibleworld

[2022-11-15 20:32] sensibleworld commented on #19377
This should now be fixed: https://fontawesome.com/icons/cloud-slash?s=solid&f=sharp

[2022-11-15 20:32] #19377 closed, assigned to sensibleworld

[2022-11-15 20:33] sensibleworld commented on #19340
This should be fixed in the 6.2.1 release.

[2022-11-15 20:33] #19340 closed, assigned to sensibleworld

[2022-11-15 20:33] sensibleworld commented on #19334
We've got this fixed up in 6.2.1 https://fontawesome.com/icons/tower-broadcast?s=solid&f=sharp

[2022-11-15 20:33] #19334 closed, assigned to sensibleworld

[2022-11-15 20:34] sensibleworld commented on #19295
This should be fixed in 6.2.1: https://fontawesome.com/icons/album-collection?s=regular

[2022-11-15 20:34] #19295 closed, assigned to sensibleworld

[2022-11-15 20:34] sensibleworld commented on #19220
This is fixed in 6.2.1 https://fontawesome.com/icons/bangladeshi-taka-sign?s=solid&f=classic

[2022-11-15 20:34] #19220 closed

[2022-11-15 20:35] sensibleworld commented on #19155
The ethernet icon is now in the connectivity category, as well: https://fontawesome.com/icons/ethernet?s=solid&f=classic

[2022-11-15 20:35] #19155 closed, assigned to sensibleworld

[2022-11-15 21:33] #16492 closed

[2022-11-15 21:33] sensibleworld commented on #3356
https://fontawesome.com/icons/mustache?s=solid&f=classic

[2022-11-15 21:33] #3356 closed

[2022-11-15 21:34] sensibleworld commented on #1680
https://fontawesome.com/icons/pickaxe?s=solid&f=classic

[2022-11-15 21:34] #1680 closed

[2022-11-16 00:10] edi commented on #17587
bump :)

[2022-11-17 10:35] blitzwas commented on #541
+1000n for google scholar icon -- looking forward to it.

[2022-11-17 13:44] robertdsandler commented on #541
For anyone awaiting this in need of a solution, `\faGraduationCap` is a good workaround for now

[2022-11-17 17:01] mehdibenhamouche commented on #14199
try some thing like this,

`public analysisIcon = (['fac', 'analysis'] as unknown) as [IconPrefix, IconName];` TS

`<fa-icon [icon]="analysisIcon"></fa-icon>` HTML

It works for me!

[2022-11-17 21:55] bcorcoran opened #19434 "Icon request: Chevron Up Down"
### Use case

I'd like to request a chevron-up-down that is an upward-facing chevron placed above a downward-facing chevron, like "chevron-up-down" on https://heroicons.com/

The most common use case is for a select menu handle.

Although it's *possible* to use layers to create this concept, chevrons are centered which make icon generation with layers a little less than straightforward (you have t

[2022-11-18 09:49] himanshu007-creator commented on #19434
Hi, i would like to work on this issue

[2022-11-18 16:49] SuperKirbylover commented on #5569
+1 for fa-newgrounds

[2022-11-19 01:28] Rilnaista opened #19435 "Icon request: (general/gas/oil/water) tank (full/half/quarter/three-quarters/empty)"
### Use case

Due to the gas crisis in germany I add a digital meter to my gas tank in the yard. I would like to display the current level on my smarthome dashboard by the same way as I display the current level of other items. There I use the battery icon and thats fits for me.

I don't wan't to use the battery icon for tanks. It's similar, but not the same.

On my way to search for a usefull ite

[2022-11-19 12:55] mardocksteve opened #19436 "Icon request: I want to create a unique icons for my bitcoin cryptocurrency website."
### Use case

I have a website based on Bitcoin Recovery Tools
Bitcoin recovery tools For seed-based recovery, this is primarily useful in situations in [best bitcoin cash wallet](https://bitrecoverytools.com/) where you have lost/forgotten parts of your mnemonic, or have made an error transcribing it.
I want to create high quality icons for my site.
Please suggest me some new premium as I didnt l

[2022-11-19 19:21] prankush-sharma opened #19437 "I found bug in font awesome."
I found a bug in the icon for example if you copy direct code from the font awesome website and You use that then the font awesome icon does not work. But if add just fa in last then it worked fine. See below  I added a screenshot of that bug.

![image](https://user-images.githubusercontent.com/60103497/202867818-0c63cc3f-53c5-4ac0-bc61-9306a570d247.png)
The above Image is without adding fa in las

[2022-11-20 03:23] EvanCarroll commented on #8254
The other requests are too targeted. A couple dancing is useful, but this is a better proposal.

"icon-single dance" sounds like it would cover strip dancing, or pole dancing at least somewhat. This would be useful for the i3 editor for OSM where Strip Clubs are included. In addition to bringing a better icon than a cocktail glass for a regular nightclub.

[2022-11-20 18:37] StoneCypher commented on #14348
Hi, I am a pro backer, but I can't see that repository, @tagliala

I tried following the `account/services` link, but searching that page for `github` only shows the generic footer link.  Are these instructions out of date?  Would be reasonable, they're four years old

As the creator of the `cthulhu` issue, I would like to request it in the pro repo, but I don't know how to get access

[2022-11-20 19:30] tagliala commented on #14348
Hi @StoneCypher ,

things have changed in the laste few months, and this repository is currently being used for both Pro and Free requests

[2022-11-20 20:30] StoneCypher commented on #14348
Understood.  Thanks.

[2022-11-20 20:30] StoneCypher commented on #9351
@tagliala - as of today, this is a pro request.

[2022-11-21 00:40] septatrix opened #19438 "Brand request: Grafana"
### Description

Grafana is a popular tool to generate dashboards for all kinds of metrics, logs, traces etc.

### Official website

https://grafana.com/

### Brand guidelines

This seems to be the best resource I could find: https://grafana.com/trademark-policy/

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [search

[2022-11-21 01:48] yaozy003 commented on #8491
+9999

[2022-11-21 08:44] tagliala commented on #19438
Hi!

Thanks for being part of the Font Awesome Community.

Please split this request into two separate ones, one for each brand

[2022-11-21 11:15] pascalwengerter commented on #18656
@robmadole @jasonlundien don't have to time to check it out but I suppose this may have been fixed in the meantime? :)

[2022-11-21 11:17] tagliala commented on #18656
Yes thanks, fixed in 6.1.0

[2022-11-21 11:17] #18656 closed, assigned to jasonlundien

[2022-11-21 13:48] septatrix opened #19439 "Brand request: Prometheus"
### Description

Prometheus is a popular time series database to collect monitoring data from software exporting metrics in their format.

### Official website

https://prometheus.io/

### Brand guidelines

I am not sure about more concrete guidelines but I found a branding guide: https://cncf-branding.netlify.app/projects/prometheus/

### Icon request checklist

- [X] The title starts with "Brand

[2022-11-21 13:48] septatrix commented on #19438
Split of to #19439

[2022-11-21 17:19] RustyTruck commented on #17646
We are interested in sponsoring an icon. How may we proceed?

[2022-11-21 17:46] tagliala commented on #17646
Hi, feel free to take a look at https://fontawesome.com/#commissions or send an email to hello@fontawesome.com

[2022-11-21 19:07] yannicka commented on #16252
With the increasing importance of ActivityPub, it would be nice to have a dedicated icon for the Fediverse/ActivityPub.

[2022-11-21 20:55] ThatOneCalculator commented on #16252
Also to clarify, there's more than just ActivityPub on the Fediverse 😌

[2022-11-21 22:56] fundor333 opened #19440 "Brand request: Hive Social"
### Use case

If I need to put a social from Hive Social

### Example image

Here link to the social https://www.hivesocial.app/

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or matched pair (Ex: `lock` / `unlock`)
- [X] The request is for a concrete object,

[2022-11-21 23:04] NuLL3rr0r commented on #14021
+1

[2022-11-22 09:58] LevaCompany opened #19441 "Brand request: New Windows Logo"
### Description

Please add new Windows 11 Logo!

### Official website

https://windows.com/

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existing issues](https://github.com/FortAwesome/Font-Awesome/issues) and to the best of my knowledge this is not a duplicate
-

[2022-11-22 10:05] tagliala commented on #19441
Hi!

Is it the same as `fa-microsoft`?

https://fontawesome.com/icons/microsoft?s=&f=brands

If it isn't, please provide a single color icon of the windows 11 logo

[2022-11-22 16:09] maupin opened #19443 "Bug: FA CDN is timing out"
### Bug description

Requests to URLS such as

https://ka-f.fontawesome.com/releases/v5.15.4/css/free.min.css
https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-solid-900.woff2

are not responded to.

### Reproducible test case

See above

### Screenshots

_No response_

### Font Awesome version

v5.15.4

### Serving

Font Awesome CDN

### Implementation

CSS

### Browser and Operating

[2022-11-23 01:10] maupin commented on #19443
Appears to be working now.

[2022-11-23 06:36] Indranil2501 commented on #15337
Any update on this? I need to use leetcode fa-icon in latex

[2022-11-23 08:31] pstranghoener opened #19445 "Brand request: Matomo"
### Description

Matomo is an open source and self hosted analytics software for web and mobile tracking

### Official website

https://matomo.org/

### Brand guidelines

https://matomo.org/media

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existing issues](https://github.com/FortAwesome/Font-Awesome/

[2022-11-23 08:37] tagliala commented on #19443
Thanks for the heads-up

[2022-11-23 08:37] #19443 closed, assigned to nobody

[2022-11-23 08:37] tagliala commented on #19445
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #14178, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons

[2022-11-23 08:37] #19445 closed, assigned to nobody

[2022-11-23 12:23] latere-a-latere commented on #3596
I really like the idea and see a lot of use in it but I suggest naming it "toy-brick" instead:

1. LEGO is a registered trademark
3. The correct term is brick, not block
4. There are various other brand selling similar bricks ever since LEGO lost the patent on theirs.

[2022-11-23 14:40] GoGurtPrime commented on #3596
Oh hey, looks like this went to the wrong recipient!

On Wed, Nov 23, 2022, 7:23 AM MarNicGit ***@***.***> wrote:

[2022-11-23 14:41] GoGurtPrime commented on #3596
NVM whoops, I'm old. Don't mind me. Carry on lol

On Wed, Nov 23, 2022, 9:40 AM Colin ***@***.***> wrote:

[2022-11-23 15:19] link2ash commented on #9655
+1

[2022-11-23 16:53] iamaamir commented on #17275
any update here ?

[2022-11-24 00:27] lucianobosco commented on #11449
Any updates about this? This is the only one missing square layout

[2022-11-24 02:32] bean-frog commented on #2530
+1 after 9 years

[2022-11-24 05:28] sayeemabdullah commented on #6537
+1

[2022-11-24 06:20] josephmasongsong commented on #19348
Also experienced the same issue using Next 13 and FA 6.2.0. Require seems to do the trick although not ideal.

[2022-11-24 07:05] f-bog commented on #17553
Asking for an update on this as well

[2022-11-25 02:02] confused-Techie commented on #14475
Fingers are crossed this can be added in some day, would be awesome to be able to use on our project website

[2022-11-25 05:21] rdela commented on #14475
@robmadole is there anything I can do to make this easier for you? Prepare SVG(s) a certain way?

[2022-11-25 07:17] ArniPL commented on #16050
I was just searching for this, and I think this is something worth exploring.

[2022-11-25 10:30] kson-sch opened #19446 "Icon request: logical tree icons"
'Example text in List'
┠ 'Example text in List'
┠ 'Example text in List'
┠ 'Example text in List'
┠ 'Example text in List'
┗ 'Example text in List'

[2022-11-25 12:16] beyond9thousand opened #19447 "Bug: Unable to host fontawesome on website"
### Bug description

Followed all the instructions on this page
https://fontawesome.com/v6/docs/web/setup/host-yourself/webfonts

icons do not render at all

### Reproducible test case

_No response_

### Screenshots

_No response_

### Font Awesome version

v6.2.1

### Serving

Self-hosted

### Implementation

CSS

### Browser and Operating System

- Firefox on Arch Linux

### Web bug report chec

[2022-11-25 12:54] beyond9thousand commented on #19370
Please mark as closed if resolved

[2022-11-25 13:19] tagliala commented on #19447
Hi!

Thanks for being part of the Font Awesome Community.

Could you please provide a reproducible test case?

[2022-11-26 17:58] rmgodfrey opened #19448 "Bug report: Auto-accessibility with JS kits based on webfonts doesn't work with full-style class names"
When I try copying the examples from [the documentation](https://fontawesome.com/docs/web/dig-deeper/accessibility#auto-accessibility-with-kits), auto-accessibility doesn't work. But when I replace `fa-solid` with `fas`, it works as advertised. Note that my kit is set to version 6.x, so it's not simply a matter of using a version 5 kit.

[2022-11-26 20:51] tagliala commented on #19448
Hi!

Thanks for being part of the Font Awesome Community and thanks for this report.

I can confirm and I was able to replicate: https://jsfiddle.net/tagliala/3otv4hs5/3/

It only happens with CSS implementation

Let's assign @robmadole

[2022-11-27 20:41] sensibleworld commented on #19446
We have this icon already: https://fontawesome.com/icons/list-tree?s=duotone&f=classic

Does that work?

[2022-11-27 20:41] #19446 closed, assigned to nobody

[2022-11-27 20:45] sensibleworld commented on #19437
@prankush-sharma Hey there! In the example provided, it looks like you're referencing a Duotone icon. Is the kit you're loading a Pro kit, or a Free kit? If a Free kit, then the code you'd want to include is:

`<i class="fa-solid fa-briefcase"></i>`

[2022-11-27 20:52] frasurebuilds commented on #2623
+1

[2022-11-28 16:19] DJaeger commented on #371
+1

[2022-11-28 20:48] manjindersarkaria opened #19449 "Using the Font Awesome Pro 6.2.1 and instead of the icon it shows weird characters like "ï„…" "ï€•" "ï€Š""
I am Using the Font Awesome Pro 6.2.1 and instead of the icon it shows weird characters like "ï„…"   "ï€•"  "ï€Š".

This issue happens only sometime, and on reload page it goes away. I have seen some other people also reported the same in the past like the issue #14660
![Screenshot (49)](https://user-images.githubusercontent.com/21108847/204378198-80d4c1c5-b5d9-4115-b680-1ba47087096e.png)
![Screen

[2022-11-28 21:18] tagliala commented on #19449
Hi, I guess your application is using a self-hosted css file compiled from scss.

If it is the case, I recommend you to read throughout #17644

Most relevant comments should be:
- How a proper output css should look like: https://github.com/FortAwesome/Font-Awesome/issues/17644#issuecomment-1222170343
- Attempt to upgrade to dart-sass >= 1.38.0 https://github.com/FortAwesome/Font-Awesome/issues/17

[2022-11-28 21:18] #19449 closed, assigned to nobody

[2022-11-29 03:57] jim-knight commented on #19411
I'm facing the same issue, trying to build out a menu with variable icons that's mapped over and unable to currently do it.

Quick edit: Found someone asking the same question on Stack Overflow, and it's related to using a Babel macro, so Babel doesn't know what icons need to be compiled before runtime. Hope this helps.

https://stackoverflow.com/a/69472766/20104846

[2022-11-29 06:09] ZarminaAhmadi opened #19450 "rug icon"

[2022-11-29 08:48] tagliala commented on #19450
Hi!

Thanks for being part of the Font Awesome Community.

rug icon has been added to FontAwesome in version 6.1.0:
- https://fontawesome.com/icons/rug?s=solid&f=classic

If you have troubles in using or upgrading Font Awesome, please check our documentation

https://fontawesome.com/docs/web/add-icons/how-to

If this request is about something else, pleae fill out our [new icon request template](h

[2022-11-29 08:48] #19450 closed, assigned to nobody

[2022-11-29 09:13] yovantichrist opened #19451 "Icon request: user-microphone"
### Use case

I run a voice over related website and it would be very useful to have an icon referencing voice over actors.

### Example image

![user-microphone-icon-vector-filled-flat-sign-solid-pictogram-isolated-white-speaker-symbol-logo-illustration-104052349](https://user-images.githubusercontent.com/29682106/204487656-a9cd01c0-91dd-439a-a21c-2578d3128be3.jpg)

### Icon request checklist

-

[2022-11-29 18:17] karekauan opened #19453 "Icon request: chatbot v4/v5"
### Use case

Useful for situations where currently available robot icons are not clear enough to indicate that the robot references a chatbot.

### Example image

![chatbot](https://user-images.githubusercontent.com/71836200/204612942-96a6ca02-5396-470a-8ca9-769379c21f07.png)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X]

[2022-11-29 19:11] ziglertron commented on #16586
Piling on here - why isn't Substack a Font Awesome icon yet?

[2022-11-29 19:14] tagliala commented on #19453
Hi!

Thanks for being part of the Font Awesome Community.

There is already a chatbot icon available in FA Pro: https://fontawesome.com/icons/message-bot?s=solid&f=classic

[2022-11-29 22:44] DillonOCPlanet commented on #4340
+1

[2022-11-30 09:30] gringer commented on #19428
closing because the idea is close enough to [message-exclamation](https://fontawesome.com/icons/message-exclamation?s=solid&f=classic) that I don't think a different icon would be useful

[2022-11-30 09:30] #19428 closed, assigned to nobody

[2022-11-30 11:08] jeroenpelgrims commented on #19193
~~Is it possible to reopen this issue?
Updating the packages does not help.
SSR in NextJS still has an issue using icons dynamically and causes hydration errors since the SSR and client rendered html have a mismatch.~~

~~[This reply](https://github.com/FortAwesome/Font-Awesome/issues/19193#issuecomment-1265641156) works as a workaround for static icons, but doesn't help if you need to reference t

[2022-11-30 14:39] zcraber opened #19454 "Brand request: Pixelfed"
### Description

Pixelfed is an open-source federated image-sharing social network which is considered an alternative to Instagram.

![symbolic](https://user-images.githubusercontent.com/61133303/204825074-b41cea83-216c-4cb2-ae40-dcf7eb1ae84e.svg)
![pixelfed](https://user-images.githubusercontent.com/61133303/204911729-d04950a5-08d2-4676-891e-0677692678ba.svg)

### Official website

https://pixelf

[2022-11-30 15:43] tagliala commented on #19454
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #14220, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons

[2022-11-30 15:43] #19454 closed, assigned to nobody

[2022-11-30 15:50] zcraber commented on #14220
Brand assets: https://github.com/pixelfed/brand-assets

[2022-11-30 15:51] zcraber commented on #19454
Sorry about the duplicate post. For some reason, that request didn't show up when I searched before posting.

[2022-11-30 16:02] tagliala commented on #19454
No problem, it happens. I will improve my answer template because sometimes search may not work

[2022-11-30 18:45] carlin-q-scott commented on #4419
How is this closed if the icon is still only available in black and white?

[2022-11-30 18:48] My1 commented on #4419
Because fontawesome in the end is still a font.

[2022-11-30 23:41] amgauna commented on #18049
`<i class="fa fa-2x fa-fw fa-kooapp text-inverse fa-align-center"></i>`

[2022-11-30 23:45] amgauna commented on #18049
https://fontawesomeicons.com/svg/icons/koo-app