[2022-05-28 15:25] #19022 closed, assigned to nobody

[2022-05-28 15:27] tagliala commented on #18956
Hi!

Thanks for being part of the Font Awesome Community.

Unfortunately, I cannot leave this request open because it doesn't meet our [Contributing Guidelines](https://github.com/FortAwesome/Font-Awesome/blob/master/CONTRIBUTING.md#contributing-to-font-awesome).

Please make sure that your request follows our [new icon request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assig

[2022-05-28 15:27] #18956 closed, assigned to nobody

[2022-05-28 16:03] aethior commented on #18989
Also known as `boom barrier` and `boom gate` _(synonyms to optimize future searches)_.

[2022-05-28 16:27] aethior commented on #16221
@tagliala `devices-hardware (category)` and `music (category)` labels for this request?

[2022-05-28 20:27] Spomsoree opened #19083 "Icon request: badge-xmark"
I could need a `badge-xmark` but I'm unable to make one

<img width="275" alt="image" src="https://user-images.githubusercontent.com/14187981/170841394-d333661b-efa9-4686-a6c7-acee4a472a39.png">

Like the hexagon has for example:
<img width="282" alt="image" src="https://user-images.githubusercontent.com/14187981/170841385-3323e2c1-1829-4525-aa50-bc37c263e787.png">

Can be solved by stacking if an

[2022-05-28 20:38] tagliala commented on #19083
Hi!

Thanks for being part of the Font Awesome Community.

Also with masking (simpler markup, transparent background)

**in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/2s78abqk/22/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontaw

[2022-05-28 20:43] tagliala commented on #19031
Hi!

Thanks for being part of the Font Awesome Community and apologies for the late reply.

I can see that the option is missing in 6.x kits

@robmadole could you please take a look here?

[2022-05-28 20:46] tagliala commented on #18954
Apologies for the late reply

In Font Awesome 5+, the default font size changed from 14px to 16px. Other Pro styles will have the same behavior, thin in particular

You can still change the default size back to 14px, but icons will not look pixel perfect. SVG framework will help

[2022-05-29 00:39] thepra commented on #19074
Yep, just to adhere and have linters not complain about it

[2022-05-29 01:52] aethior commented on #17479
@tagliala `brand (category)` label for this request?

[2022-05-29 01:54] aethior commented on #17004
@tagliala `brand (category)` label for this request?

[2022-05-29 01:57] aethior commented on #17109
Hi @srisrim,

Something like https://fontawesome.com/icons/snowflake?
Or https://fontawesome.com/icons/temperature-snow?

Regards.

cc/ @tagliala

[2022-05-29 02:00] aethior commented on #17440
https://bernhard.com/

@tagliala `brand (category)` label for this request?

[2022-05-29 05:41] anthonypwinning commented on #19078
Apologies, I think this was a false alarm. I uninstalled and reinstalled the packages via yarn, and everything worked. Thank you for your assistance.

[2022-05-29 07:46] #19078 closed, assigned to nobody

[2022-05-29 10:22] pssolanki111 commented on #5970
+1

[2022-05-29 11:10] adamjimenez opened #19084 "Brand request: vultr"
### Description

To advertise stacks used for web development or inform clients of specific options. Similar to Digital Ocean / Linode.
![image](https://user-images.githubusercontent.com/573192/170864982-d95826ea-3a40-4865-a74b-cb2070e0a926.png)

### Official website

https://www.vultr.com/

### Brand guidelines

https://www.vultr.com/company/brand-assets/

### Icon request checklist

- [X] The ti

[2022-05-29 11:11] adamjimenez commented on #13205
done: https://github.com/FortAwesome/Font-Awesome/issues/19084

[2022-05-29 11:20] bzi-pro commented on #19047
Hi

The problem is, that I use this great fonts in a xamarin.forms application. Is there a similar function like the power transformation in c# or xaml?

Regards,
Bruno

Von: Geremia Taglialatela ***@***.***>
Gesendet: Samstag, 28. Mai 2022 17:25
An: FortAwesome/Font-Awesome ***@***.***>
Cc: Bruno Zimmermann ***@***.***>; Author ***@***.***>
Betreff: Re: [FortAwesome/Font-Awesome] Icon request: fa

[2022-05-29 20:47] ThatOneCalculator commented on #16252
+1 on this. It would also be nice to have other Fediverse services as icons (Misskey, OwnCast, PeerTube, PixelFed, Pleroma, etc), but at the *very* least a Fediverse icon should be added to represent the rest of the Fediverse (which can help clear up the misconception that the Fediverse is only Mastodon, which it isn't.)

[2022-05-30 07:21] giotissl commented on #17479
@aethior `brand icon`

[2022-05-30 12:15] viniciusdeliz commented on #17946
Can we get the fix officially implemented in V5?

[2022-05-30 12:50] shubhenducw opened #19085 "Bug: Remix Project : Using Macros (dynamic icon import) getting TypeError (0 , import_import2.solid) is not a function."
### Bug description

I have Font Awesome Pro license.

Followed the steps as mentioned in : [font awesome dynamic icons import steps](https://fontawesome.com/docs/web/use-with/react/add-icons) used babel macros plugin and react as preset.

here are my list of dependencies.

[code]

### Reproducible test case

import these two in any tsx/jsx file.

1. **import { solid } from '@fortawesome/fontaweso

[2022-05-30 17:09] MDaigleEpsilon commented on #6293
👍

[2022-05-30 18:57] CanineData opened #19086 "Icon request: fleur-de-lis"
I think that it's a cool symbol and should be added

[2022-05-30 18:57] ps-mattstuart commented on #13629
Ideally a switch to `fakit.com` or some other dedicated cookieless CDN domain would be ideal and would remove this. For those scanning our applications looking for cookies may not always know this and though easily proven it still requires our resources to "prove" to our customers that our tools are not the ones causing the cookie even by proxy due to FA use.

[2022-05-30 18:57] ps-mattstuart commented on #14681
Ideally a switch to `fakit.com` or some other dedicated cookieless CDN domain would be ideal and would remove this. For those scanning our applications looking for cookies may not always know this and though easily proven it still requires our resources to "prove" to our customers that our tools are not the ones causing the cookie even by proxy due to FA use.

[2022-05-30 18:57] #19086 closed, assigned to nobody

[2022-05-31 07:54] xeals commented on #14286
This was not resolved with FA6. Are there plans to visit this?

[2022-05-31 16:17] neoteknic commented on #11420
+1

[2022-05-31 17:10] ChosenSilver commented on #19039
@tagliala Is there any way for me to get the hash in the meanwhile manually?

[2022-05-31 20:36] andrewm-mitchells opened #19087 "Icon request: icon-sewing-machine"
An icon to indicate clothing alteration or manufacturing process

[2022-05-31 20:36] andrewm-mitchells opened #19088 "Icon request: icon-needle"
Sewing needle

[2022-05-31 20:41] andrewm-mitchells commented on #19087
Closing as duplicate

[2022-05-31 20:41] #19087 closed, assigned to nobody

[2022-05-31 20:41] andrewm-mitchells commented on #19088
Closing as duplicate

[2022-05-31 20:41] #19088 closed, assigned to nobody

[2022-06-01 06:42] victorwvieira opened #19089 "Broken links in Angular documentation."
There are some broken links in the Angular documentation (v6.1.1) https://fontawesome.com/docs/web/use-with/angular.
Follow below what I think should be the correct link:

- [the SVG+JS method of Font Awesome](https://fontawesome.com/docs/web/dig-deeper/webfont-vs-svg#svg-js)
- [Kit](https://fontawesome.com/docs/web/setup/use-kit)
- [self-hosting](https://fontawesome.com/docs/web/setup/host-yourse

[2022-06-01 07:09] ghost commented on #16995
@noelmccrory how to?

[2022-06-01 07:58] tagliala commented on #19089
Hi!

Thanks for being part of the Font Awesome Community and thanks for reporting this.

I can confirm, let's assign @talbs

[2022-06-01 08:36] yovantichrist commented on #17069
Yep, we need this! more and more people are using linktree!

[2022-06-01 09:21] yarinsa commented on #5139
+1

[2022-06-01 15:11] antonylineesh1 commented on #10704
+1

[2022-06-01 15:16] BTMDesign opened #19090 "'circle-info' not working"
The code 'circle-info' is not working. Seems to only pick up the 'info' part of the text.

[2022-06-01 15:22] tagliala commented on #19090
Hi!

Thanks for being part of the Font Awesome Community.

Please fill out our [bug report template for web applications](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=bug%2Cneeds-triage&template=100_web_bug_report.yml&title=Bug%3A+)

Closing here, but feel free to comment if I've missed something

[2022-06-01 15:22] #19090 closed, assigned to nobody

[2022-06-01 15:23] tagliala commented on #19085
@robmadole any thoughts?

[2022-06-01 15:26] BTMDesign opened #19091 "Bug: 'circle-info' not working"
### Bug description

Only the 'info' in the 'circle-info' works. It only shows the i without a circle. I use this in Sketch to show UI design.

### Reproducible test case

_No response_

### Screenshots

_No response_

### Font Awesome version

V6.0.0

### Serving

Kit

### Implementation

Other (as specified in the bug description)

### Browser and Operating System

SKETCH on a MacBook pro

### W

[2022-06-01 15:29] tagliala commented on #19091
Ah sorry, I've pointed you to the wrong template, because this is not about a web application but a desktop one

But ok, it is understandable

@sensibleworld I do not use Sketch, any chance to take a look?

[2022-06-01 16:05] sensibleworld commented on #19091
Without seeing your exact setup, my guess is that you have the version 5 font installed. In v5, that icon is named `info-circle`. Both `info-circle` and `circle-info` will work with version 6, but only the former works with v5.

[2022-06-02 04:37] ursjoss opened #19092 "org.webjars:font-awesome:6.1.1 not available on maven-central"
I would like to consume `org.webjars:font-awesome:6.1.1` from maven-central. Currently the latest version available there is 6.1.0 only.

Please publish version 6.1.1 to maven-central. Or point me to where to file this request, if it belongs somewhere else. Thanks a lot :-)

[2022-06-02 04:45] solomax commented on #19092
@ursjoss maybe the issue should be created here https://github.com/webjars/font-awesome :)

[2022-06-02 05:08] ursjoss commented on #19092
Yep, that sounds very fitting. Sorry for the noise over here...

[2022-06-02 05:08] #19092 closed, assigned to nobody

[2022-06-02 09:28] Ellen-Seghers opened #19093 "Tailwind, SQL"
Hi I really like font awesome but I miss some code icons like Tailwind and SQL. Maybe you could add them?

[2022-06-02 09:55] tagliala commented on #19093
Hi!

Thanks for being part of the Font Awesome Community.

Tailwind is a duplicate of #17012, please add a 👍 reaction to that request.
SQL is a duplicate of #9555, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon

[2022-06-02 09:55] #19093 closed, assigned to nobody

[2022-06-02 10:13] mshababR opened #19094 "Icon request: magnifying-glass-auto"
Hi

I think it would be good to have automatic zoom or automatic magnifying glass icon.
Example from:
https://www.iconfinder.com/icons/1386693/actual_auto_zoom_automatic_magnifier_magnifying_glass_scale_view_icon
![image](https://user-images.githubusercontent.com/69140730/171608089-fd027a9b-fea3-4ff2-97ef-c7e9415ca3c7.png)

Thank you!

[2022-06-02 10:37] tagliala commented on #19074
Apologies for the late reply

Could you please provide a reproducible test case or the linters reporting this issue?

I'm not able to reproduce with stylelint. Also, stylelint has a rule to omit unit on length unit when the length is 0. It clearly states that `seconds` is a dimension unit, so `0s` will not be marked as an offence, but I would like to know which linter is causing this issue before

[2022-06-02 11:55] ankan8145 opened #19095 "Request for icons"
c, c++ language  and machine learning icon please

[2022-06-02 12:12] tagliala commented on #19095
Hi!

Thanks for being part of the Font Awesome Community.

Please fill out our [new icon request form](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+) or [new brand request form](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=brand+icon&template=001_brand_request.yml&title=Brand+reques

[2022-06-02 12:12] #19095 closed, assigned to nobody

[2022-06-02 16:20] simecek-m opened #19096 "Bug: Missing icons in parse function"
### Bug description

I'm using FontAwesome library (v6.1.1) with React and I initialized it by [documentation ](https://fontawesome.com/docs/web/use-with/react/add-icons#add-icons-globally)like this:
[code]
When I want to use icon I can just call it by name like this:
[code]
But I found out that I'm getting `{ "prefix": "fas", "iconName": null }` error for few specific icons:

forward-fast
person-

[2022-06-02 16:27] tagliala commented on #19096
@robmadole any thoughts?

[2022-06-02 17:46] yagopajarino commented on #15830
New notion brand guidelines and mediakit
https://www.notion.so/Community-Brand-Guidelines-30a5510bc5644475a28844e427008bee

[2022-06-02 20:08] schmidetzki opened #19097 "Unable to compile scss with older Ruby SASS Compiler (fa 6.1.1)"
Compiling the scss code gives the following error:

    Sass::SyntaxError: Invalid CSS after "...style-family }"": expected "{", was ";"

The reason is the following code in solid.scss (and others) defining css variables:

    :root, :host {
      --#{$fa-css-prefix}-font-solid: normal 900 1em/1 "#{ $fa-style-family }";
    }

An easy fix would be to define and use a separate sass variable like th

[2022-06-02 20:18] tagliala commented on #19097
Hi!

Thanks for being part of the Font Awesome Community.

Which version of Ruby Sass this issue is related to?

[2022-06-02 22:57] schmidetzki commented on #19097
Hi,

We use JRuby.
As far as I can see the sass-gems is version 3.1.19

Regards
Wolfgang Schmidetzki

[2022-06-02 23:59] Lemmings19 commented on #16205
+1 for uses in certain thematic scenarios. [Flying spaghetti monster](https://fontawesome.com/v6/icons/spaghetti-monster-flying?s=solid) gets representation! Why no pentagram?

[2022-06-03 07:48] Tobbb opened #19098 "Bug: Differences between 'house' and 'house-light'"
### Bug description

Currently the house light icon looks very different from house light, making them very odd to toggle between for selected/ deselected

the suggestion here is to make house light a outlined version of house without the floor and lined roof.

also the rounding on the bottom looks off

![Webp net-gifmaker](https://user-images.githubusercontent.com/25905984/171811156-3fb560fb-5ffb

[2022-06-03 08:18] tagliala commented on #19097
Hi, sass 3.1.19 has been released in 2012:

[3.1.19](https://rubygems.org/gems/sass/versions/3.1.19) - May 26, 2012 (227 KB)

I cannot replicate this issue with Ruby Sass 3.7.4, released in 2019

@robmadole I would like to close this as wontfix, any thoughts?

[2022-06-03 08:36] tagliala commented on #19098
Hi!

Thanks for being part of the Font Awesome Community.

Only a small subset of icons is designed for this use case, so I think that this behavior is normal

@sensibleworld any thoughts?

[2022-06-03 11:34] MarkLyck commented on #1395
come on this ticket is from 2013 and there's still no Netflix icon with 75+ thumbs up?

[2022-06-03 16:09] wflieller commented on #18423
+1 Need this!

[2022-06-03 18:50] 1-0-1 opened #19099 "Icon request: square-half-stroke & square-half-stroke-diagonal"

[2022-06-03 19:10] Grinalbi opened #19100 "Brand request: Carrd.co"
### Description

Hello, everyone! I'd like to request that Carrd.co be added at some point. It's a useful tool for building compact personal pages that house things such as links, information, etc.
Images taken from https://carrd.co/docs/general/brand-assets

![symbol-light 2](https://user-images.githubusercontent.com/106837477/171931510-27c8e39c-9107-45f2-9713-1750aa337933.png)

![icon-light 2](h

[2022-06-03 21:18] kasabov opened #19101 "Icon request: komoot"
It's a popular app for adventurers. Please, add it to Font Awesome.

[2022-06-04 08:04] tagliala commented on #19101
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #15242, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-06-04 08:04] #19101 closed, assigned to nobody

[2022-06-04 16:10] CyberRex0 commented on #14754
what is happening now?

[2022-06-04 16:43] schmidetzki commented on #19097
I Know that this ruby-gem version is old but we can't change it because it's part of a larger architecture ...
And because the suggested fix is simple and effects only a few lines of code ...

Anyway. I tried to switch to LESS.
But also the .less files does not compile using the actual version 1.17.2 of less4j:

    no viable alternative at input '2xs' in abstract mixin or namespace (which started

[2022-06-04 16:48] forgetfulskybro commented on #2725
+1 mongodb

[2022-06-05 01:13] Biohazard90 opened #19102 "Icon request: list-plus, list-xmark"
Icons to manage list entries, similar to these Android playlist icons, just adjusted to match fa-list:

Material icon playlist add: https://fonts.google.com/icons?selected=Material%20Symbols%20Outlined%3Aplaylist_add%3AFILL%400%3Bwght%40400%3BGRAD%400%3Bopsz%4048
![image](https://user-images.githubusercontent.com/5513441/172030740-ff35f6eb-09a5-429c-9b9d-a3468bde1f88.png)

Material icon playlist r

[2022-06-05 20:35] gyli commented on #16766
V5 is available here https://pypi.org/project/fontawesome-free/#description

[2022-06-06 13:59] talbs commented on #19089
Hi, @victorwvieira! Thanks for bringing this to our attention.

I've got a PR that updates our Angular Docs with your suggestions. That should be merged in and pushed to fontawesome.com shortly. I'll let you know when that's live.

Please keep the good recommendations coming!

[2022-06-07 05:50] cashmo-hara opened #19103 "Brand request: Wantedly"
### Use case

It can be used on the corporate website to guide visitor to its page on Wantedly, a social-networking service for professionals.

### Example image

https://d1dlw0u96vqtxd.cloudfront.net/images/shared/wantedly-w-logo-v2.png

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
-

[2022-06-07 05:56] cashmo-hara opened #19104 "Brand request: Chatwork"
### Use case

It can be used to show a person/company can communicate using Chatwork, a business communication tool like Slack.

### Example image

https://go.chatwork.com/ja/image/download/img_mark_black.png

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or

[2022-06-07 06:53] victorwvieira commented on #19089
Thank you @talbs

[2022-06-07 07:22] tagliala commented on #19104
Hi!

Thanks for being part of the Font Awesome Community.

Ok, no need to open a new request, will fix title and label 😅

[2022-06-07 09:34] MudulOzan commented on #10704
bump

[2022-06-07 11:16] gosocialde opened #19105 "Icon request: odyssee"
Icon for the video platform odysee https://odysee.com

[2022-06-07 11:53] VasilKostadinov0104 commented on #15943
+1

[2022-06-07 13:27] fireballhh commented on #10704
Would definetly be great to have for my sites +1

Why got the new icon label removed? There is no Teams icon right? So its new or not? :D

[2022-06-07 15:15] sensibleworld commented on #18785
We've got this prepped for our next release.

[2022-06-07 15:15] #18785 closed, assigned to talbs, sensibleworld

[2022-06-07 15:15] sensibleworld commented on #18888
This'll be in the next release.

[2022-06-07 15:15] #18888 closed, assigned to nobody

[2022-06-07 15:17] sensibleworld commented on #18946
This will be in the next release.

[2022-06-07 15:17] #18946 closed, assigned to sensibleworld

[2022-06-07 15:18] sensibleworld commented on #18913
This'll be in the next release!

[2022-06-07 15:18] #18913 closed, assigned to nobody

[2022-06-07 15:18] sensibleworld commented on #18913
Oh, and yes the category label redirecting to the homepage is a bug. I'll open an internal issue.

[2022-06-07 20:57] taophp opened #19106 "Icon request: book-arrow-down"
### Use case

Link to download an ebook.

### Example image

_No response_

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or matched pair (Ex: `lock` / `unlock`)
- [X] The request is for a concrete object, or I've included an example image
- [X] I have [searc

[2022-06-08 06:03] Gannn0047 opened #19107 "Icon request: yahoo"

[2022-06-08 08:02] tagliala commented on #19107
Hi!

Thanks for being part of the Font Awesome Community.

Yahoo icon is already available:
- https://fontawesome.com/icons/yahoo?s=brands

If you have troubles in using or upgrading Font Awesome, please check our documentation

https://fontawesome.com/docs/web/add-icons/how-to

Hope it helps

Closing here, but feel free to comment and provide more information if I didn't get this request

[2022-06-08 08:02] #19107 closed, assigned to nobody

[2022-06-08 14:50] Vitcesar opened #19108 "Icon request: Function keys (60 icons)"
Just like there are letters and numbers icons I think it might be available simple alphanumeric icons like F1, F2, etc, for all twelve function keys.

[2022-06-08 16:56] jalechowicz opened #19109 "Icon request: Box"
Hi - our organization using Box.com for file sharing and storage. We would love a specific icon to use.

[2022-06-08 18:08] tagliala commented on #19109
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #1745, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-06-08 18:08] #19109 closed, assigned to nobody

[2022-06-08 18:17] jalechowicz commented on #1745
+1

[2022-06-08 19:16] tagliala commented on #19074
@thepra any update?

[2022-06-08 19:27] roalvesrj commented on #14095
@KevinvOosterhout  Excellent request! I need it too, but from what I could see, they haven't implemented it until today :(

[2022-06-08 19:33] roalvesrj commented on #13630
Hi,
I would like to register my request to include the WHM icon in the package. #17010

[2022-06-08 19:57] tagliala commented on #14095
Hi!

Thanks for being part of the Font Awesome Community.

Thisrequest is legit, but please keep in mind that **in a web application with Font Awesome Pro** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: http://jsfiddle.net/tagliala/2s78abqk/26/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
ht

[2022-06-09 01:29] achuinar opened #19110 "Icon request: escooter"
### Use case

E-scooters are everywhere. This icon could be used on any content touching on new mobility modes.

### Example image

![image](https://user-images.githubusercontent.com/26856205/172744860-37f0af05-f3aa-4fab-b6fa-668b51de45c1.png)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a br

[2022-06-09 06:01] haliphax commented on #12607
I took @paw's CSS and juiced it up a bit to require only a `fa-ko-fi` class. I'm also using _em_ units instead of pixels to avoid everything going pear-shaped at different sizes. I'm using the `coffee` icon and trimming the saucer off with some more styling.

https://haliphax.dev/2022/06/ko-fi-icon-for-fontawesome/

[2022-06-09 07:28] tagliala commented on #19110
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #15447, please add a 👍 reaction to that request.

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new#faqs), they contain a lot of information about how requests work

Closing here

[2022-06-09 07:28] #19110 closed, assigned to nobody

[2022-06-09 11:38] ammo8600 commented on #5797
Still awaiting

+1

[2022-06-09 11:38] ammo8600 commented on #11602
Still awaiting
 +1

[2022-06-09 14:55] jsodeman commented on #16101
I thought I was seeing the same issue, but it turned out to be a the wrong source maps option in webpack.

[2022-06-09 15:22] ghost opened #19111 "Icon Request: fa-icon-dividesymbol"

[2022-06-09 15:36] tagliala commented on #19111
Hi!

Thanks for being part of the Font Awesome Community.

Divide icon is already available:
- https://fontawesome.com/icons/divide?s=solid
- (or https://fontawesome.com/icons/slash-forward?s=solid)

If you have troubles in using or upgrading Font Awesome, please check our documentation

https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use

Hope it helps

Closing here, but fee

[2022-06-09 15:36] #19111 closed, assigned to nobody

[2022-06-09 16:47] Zak99099 opened #19112 "Icon request: icon-name"
[23](https://vimeo.com/718788536/2a8e8d0e33)

[2022-06-09 16:51] Zak99099 commented on #19112
23

[2022-06-09 16:51] tagliala commented on #19112
Hi!

Thanks for being part of the Font Awesome Community.

Please fill out our [new icon request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+)

Closing here, but feel free to comment if I've missed something

[2022-06-09 16:51] #19112 closed, assigned to nobody

[2022-06-09 16:56] tagliala commented on #19102
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/149/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.c

[2022-06-09 16:57] avery-cm opened #19113 "Icon request: IMDb (just logo, no outer square)"
The current IMDb icon available on Font Awesome has a square around it, making the text inside very small and difficult to tell what the icon represents. I'd like to request a version with just the logo text. All of us in the film community will thank you!

Example of what it could look like:
![imdb](https://user-images.githubusercontent.com/38542098/172901933-5d164e74-1635-4862-bdac-4c8529d235a7.

[2022-06-09 17:07] avery-cm commented on #998
Would love to see one with just the wordmark or with a rectangle (instead of a square) as the current one is barely legible

Made a request here: https://github.com/FortAwesome/Font-Awesome/issues/19114

[2022-06-09 17:10] avery-cm commented on #14606
Agree with filmfreeway icon, and also would like to request 2nd version of imdb icon (current one is too small to be legible next to other social icons)

[2022-06-09 17:12] avery-cm commented on #11662
I cannot thumbs up this enough!! This is my social bar and as you can see, the imdb icon is barely recognizable
<img width="239" alt="Screen Shot 2022-06-09 at 10 12 04 AM" src="https://user-images.githubusercontent.com/38542098/172905404-12144c99-78c5-4809-a5ca-ad9f4121b927.png">

[2022-06-09 17:40] tagliala commented on #11662
Hi,

we do our best to follow brand guidelines.

As a reference, IMDB's ones are here: https://brand.imdb.com/imdb

You can notice that the requested icon does not meet brand guidelines, however we keep track of this kind of requests without closing the issue

@avery-cm please consider using a bigger font size for your use case. I'm tracking internally an issue to update IMDB's logo, but at 16 px

[2022-06-09 18:05] avery-cm commented on #11662
Hi @tagliala , thanks for your quick reply. 

Would something like this be possible? Some of the issues with legibility stem from positioning the wordmark against a dark background, whereas a dark wordmark against a white/transparent bg would be easier to read. 
<img width="365" alt="Screen Shot 2022-06-09 at 11 03 00 AM" src="https://user-images.githubusercontent.com/38542098/172914346-7d3a51e7-f

[2022-06-09 18:32] tagliala commented on #11662
Feel free to open a new request for the rectangular version of the logo by filling our [new brand request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=brand+icon&template=001_brand_request.yml&title=Brand+request%3A+)

[2022-06-09 19:27] #19113 closed, assigned to nobody

[2022-06-09 19:42] avery-cm opened #19114 "Brand request: IMDb (rectangle or wordmark)"
### Description

The current IMDb icon available on Font Awesome has a square around it, making the text inside too small to read, which makes it difficult to tell what the icon represents. I'd like to request 1) A version with a rectangle and 2) A wordmark or similar with black text on a white/transparent background.

I build portfolio sites and many of my clients are filmmakers, and a functional

[2022-06-09 19:45] avery-cm commented on #11662
Thanks @tagliala, I created a new request for a rectangular version here: https://github.com/FortAwesome/Font-Awesome/issues/19114

[2022-06-09 20:08] CurtFarley opened #19115 "Icon request: VMware"
A brand icon for VMware would be great.

Thanks.
Curtis

[2022-06-09 20:11] tagliala commented on #19115
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #8137, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-06-09 20:11] #19115 closed, assigned to nobody

[2022-06-09 22:09] CurtFarley commented on #19115
Ok, thanks.  I did look for it, but I couldn't find it.  I also didn't see it in any of the existing, free libraries.

[2022-06-09 22:22] DrOverbuild commented on #18844
react-native-font v0.3.0 was released, with full support for FontAwesome 6. However, the warnings are still showing up.

The warning seems to be related to react-native-community/cli#1168. I think a simple fix would be to add `"./package.json": "./package.json"` to the `exports` property in the package.json off every icon npm package, as shown:

[code]

[2022-06-10 01:24] Gannn0047 opened #19116 "Icon request: Outlook, Outlook Express, Gmail, Hotmail, company, return item, special"

[2022-06-10 05:09] johnnymdoubleu commented on #16336
This should be enabled!!!

[2022-06-10 07:01] johnnymdoubleu commented on #3688
+1

[2022-06-10 07:05] johnnymdoubleu commented on #541
+1

[2022-06-10 07:43] bagewadi-akram commented on #10443
hi
Please add a Freelancer icon

[2022-06-10 07:52] tagliala commented on #19116
Hi!

Thanks for being part of the Font Awesome Community.

Please fill out our [new icon request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+) or [new brand request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=brand+icon&template=001_brand_request.yml&title=Bran

[2022-06-10 07:52] #19116 closed, assigned to nobody

[2022-06-10 14:31] lisaonline commented on #13615
+1

[2022-06-10 18:04] echayotte opened #19118 "library - libraries"
Is there any possibility to have an icon to design a library ? or a network of libraries ?
Thanks
echayotte

[2022-06-10 23:22] MMaazQureshi commented on #12996
+1

[2022-06-11 11:09] iandeveseleer commented on #13402
+1

[2022-06-11 11:50] KendallDoesCoding commented on #13402
Any update on this?

[2022-06-11 21:29] AlexAnimateMp4 opened #19119 "Icon request: fa-ghost-slash"
### Added the **fa-ghost** icon in crossed out version.

### Example image

[code]
![ghost-slash](https://user-images.githubusercontent.com/48261899/173205326-f4fe2916-e5af-454d-8d7c-603e3e633c4b.png)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or matched

[2022-06-11 23:28] Daarka commented on #15822
Sorry, I rarely use github; if there's a better way to upvote this, I can't seem to figure it out. But commenting to bump this because I would also very much appreciate this addition. Thanks!

[2022-06-12 06:18] sugawara-collective commented on #5188
+1

[2022-06-12 06:19] varghesejose2020 opened #19120 "Icon Update request: fa-gitlab"
Brand Name
GitLab

Official Resources for Icon and Color
https://about.gitlab.com/press/press-kit/

![GitLab New Icon](https://about.gitlab.com/images/press/logo/png/gitlab-logo-600.png)

[2022-06-12 08:22] tagliala commented on #19120
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #19015 and the update is in progress

Closing here

[2022-06-12 08:22] #19120 closed, assigned to nobody

[2022-06-12 08:24] tagliala commented on #15822
Add a 👍🏼  reaction on github on the opening post. Feel free also to also ask on your social media to developers interested in this request to upvote (by using reactions)

Note that commenting to upvote does not meet our contributing guidelines, please remember to specify this

[2022-06-12 08:24] tagliala commented on #19119
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/151/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.c

[2022-06-12 14:14] brielsilva opened #19121 "Font Awesome Website Sign In not loading correctly"
![Captura de Tela (3)](https://user-images.githubusercontent.com/56612216/173237336-7b6b66fc-f4b7-4239-ab49-88a55a8a9ba0.png)

When a click on "Set up a kit" on Get Started this page loads up

![Captura de Tela (4)](https://user-images.githubusercontent.com/56612216/173237359-e2b4b7e3-0aec-46ed-bfd1-08f88b7c829f.png)

And on refresh goes back to normal

![Captura de Tela (5)](https://user-images.g

[2022-06-12 14:18] dugnorth opened #19122 "Icon request: icon-name"
I was surprised that there is no icon for a butterfly. It probably isn't on the top tier of use-cases, but I was still hopeful!

[2022-06-12 14:20] tagliala commented on #19122
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #15399, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-06-12 14:20] #19122 closed, assigned to nobody

[2022-06-12 14:21] tagliala commented on #19121
Hi!

Thanks for being part of the Font Awesome Community.

Sorry, I'm not able to replicate

Could you please provide more information and try with a different browser / incognito window?

Please also check browser's development console if there are any errors

[2022-06-12 14:25] tagliala commented on #19121
Ok, ignore my previous message, replicated thanks

https://fontawesome.com/docs/web/setup/get-started

@talbs it happens on the above link when clicking on "Set up a kit" as an authenticated user. I can't see errors in the development console

[2022-06-12 17:11] Davipaulo9 commented on #18423
Where is our Icon? lol

[2022-06-12 17:53] brandonpeat commented on #16324
+1 to this, agree completely.

[2022-06-12 19:52] Jamalam360 commented on #14551
Deno's still going strong! This would be great!

Prior work: https://deno.land/artwork

![image](https://user-images.githubusercontent.com/56727311/173250758-705be50e-549f-4e77-abbd-be0574d8d649.png)

[2022-06-13 09:19] ankushquickit commented on #4121
thanks

[2022-06-13 10:32] robbert-ef opened #19123 "Bug: primary unicode glyph incorrect (same as solid)"
### Bug description

In our custom Windows 10 application we use GDI/GDI+ to render icons using the desktop otf font files and unicode characters.
Today I noticed some duotone icons not rendering correct, for example **highlighter**:
![duotone-incorrect-result](https://user-images.githubusercontent.com/22441832/173331512-c3d856d3-eba8-4f13-af1a-32d3f6baf97e.jpg)

In comparison, the different style

[2022-06-13 12:44] dennisgeerts commented on #18841
Any update on this? Same issue here.

[2022-06-13 14:49] TimFL commented on #18841
This is still blocking me from upgrading my projects to FA6.x. I just now tried again on a new project I'm starting and the issue still persists with 6.1.1. The issue is so bad, it doesn't even work with the CRA hot-reload feature anymore (you need to completely reload the page to see changed icons).
Can we get some feedback on this from a developer?

[2022-06-13 14:50] TimFL commented on #18841
This is still blocking me from upgrading my projects to FA6.x. I just now tried again on a new project I'm starting and the issue still persists with 6.1.1. The issue is so bad, it doesn't even work with the CRA  @hot-reload feature anymore (you need to completely reload the page to see changed icons).
Can we get some feedback on this from a developer?

@tagliala sorry for the tag, but has any dev

[2022-06-13 15:00] robmadole commented on #18841
@TimFL @koendeschacht is there a reason why you are using `<i>` tags and the SVG core engine instead of the actual [`react-fontawesome` component](https://github.com/FortAwesome/react-fontawesome)?

[2022-06-13 16:17] TimFL commented on #18841
I am aware of that library but there is too much legacy code at my company to swap over to that (+ there's also vanilla HTML content using the svg+js library). Is there no other solution to our problem other than staying with 5.x or change libraries?

[2022-06-13 16:41] fgclue commented on #14021
+1

[2022-06-13 16:55] sensibleworld commented on #18972
This is due to how an SVG gets redrawn during the import process. We'll be doing a full re-draw pass at all of the regular icons soon which should hopefully fix this (and other similar issues).

[2022-06-13 16:55] #18972 closed, assigned to sensibleworld

[2022-06-13 17:03] koendeschacht commented on #18841
We use font awesome in a nuxt application... But I don't think this bug is framework specific, I have the feeling you could reproduce it in vanilla javascript if you update the DOM contents quickly enough...

[2022-06-13 17:28] TimFL commented on #18841
You can, one of my devs tried it a few months ago.

[2022-06-13 18:23] Jadesolax commented on #7064
Hi Community!
is there now an icon for wattpad?

[2022-06-13 19:13] MarkLyck opened #19124 "Icon request: ceiling-fan"
Icon for ceiling fan (useful for smart home controls)

[2022-06-13 19:26] MarkLyck opened #19125 "Icon request: toaster"
### Use case

icon of a toaster, similar to the style of "blender".

Used for general home icons, or in my case I want an icon for my smart home to turn on / off the toaster.

### Example image

_No response_

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or

[2022-06-13 19:28] MarkLyck opened #19126 "Icon request: light-strip"
### Use case

icon for a light strip. (LED light strip).

Great for smart home applications.

### Example image

_No response_

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or matched pair (Ex: `lock` / `unlock`)
- [X] The request is for a concrete object, o

[2022-06-13 19:37] unpococloco opened #19127 "No Report/Labels icons"
I am creating a UI where my users need to print reports and mailing labels.

Was shocked to discover FA had neither icon.

Please create some?

FWIW, I use FA dark icons.

Thanks!

Please see attached samples taken from Filemaker Pro

![sample_labels_icon](https://user-images.githubusercontent.com/61477993/173431057-2be84d03-f2b4-4c2e-9904-d8c4640fa364.png)
![sample_report_icon](https://user-image

[2022-06-13 20:42] tagliala commented on #19126
Hi!

Thanks for being part of the Font Awesome Community.

This is a duplicate of #16755. I've asked for a single color example there, but I didn't get one. Could you please go to https://github.com/FortAwesome/Font-Awesome/issues/16755 and add a single color, 16px icon size suitable example of how a light strip / led strip should look like?

[2022-06-13 20:42] #19126 closed, assigned to nobody

[2022-06-13 23:38] slinkywhat opened #19128 "Brand request: Society6"
### Description

Request to add the icon version of the Society6 logo.

Society6 permits artists to monetize and sell their artwork for print on a variety of merchandise; I'm seeking to add a footer link to my website that links to my Society6 store as a method of promotion.
![society6_400x400](https://user-images.githubusercontent.com/107443828/173464558-ca422577-38a4-4be3-b3a1-ec4b9d78b83c.png)

[2022-06-14 13:45] MarkLyck opened #19129 "Icon request: atmospheric-pressure"
### Use case

This can be used for smart home, sensors and weather.

In my case I have air pressure sensors in my house I use in my smart home and I can't find a useful icon in font awesome for this.

But I imagine it would be used more often in weather applications.

### Example image

_No response_

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the r

[2022-06-14 14:37] tagliala commented on #19129
Hi!

Thanks for being part of the Font Awesome Community.

I think this is a duplicate of #16994, and probably an icon fitting the use case is already in Font Awesome

https://fontawesome.com/icons/gauge-high?s=solid

Could you please confirm or provide an example of the requested icon?

[2022-06-14 16:12] soyXander opened #19130 "Icon request: icon-mercadolibre & icon-mercadopago"
MercadoLibre and MercadoPago are equivalent to Amazon and Paypal in Latin America

[2022-06-14 16:28] tagliala commented on #19130
Hi!

Thanks for being part of the Font Awesome Community.

mercadolibre is a duplicate of #14846, please add a 👍 reaction to that request.
mercadopago is a duplicate of #10072, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look

[2022-06-14 16:28] #19130 closed, assigned to nobody

[2022-06-14 17:27] tagliala commented on #19123
Hi!

Thanks for being part of the Font Awesome Community.

Sorry, I cannot get the issue here

@sensibleworld any thoughts?

[2022-06-14 17:34] tagliala commented on #19127
Hi!

Thanks for being part of the Font Awesome Community.

I think that https://fontawesome.com/icons/table-cells?s=solid or https://fontawesome.com/icons/table?s=solid may fit the use case for "labels"

https://fontawesome.com/icons/file-lines?s=solid may fit the use case for person list report. There are other files related icons at https://fontawesome.com/icons/categories/files

Please open two

[2022-06-14 17:34] #19127 closed, assigned to nobody

[2022-06-14 17:59] sensibleworld commented on #19123
Unfortunately, some applications don't fully support multi-color typefaces. For those applications, we default to using the solid glyph within the Duotone typeface so that something is displayed (as opposed to just a strange primary glyph which would only be a partial image, and could potentially be blank for those duotone icons that don't have a primary layer).

[2022-06-14 18:27] unpococloco opened #19131 "Icon request: printed-report or printed-document"
### Use case

In any menu where a printed report is an option.

Your existing fa-file-lines doesn't render well at the sizes I will be using them, specifically the lines blur into obscurity.

### Example image

![173431059-0b2978ef-dab4-4990-be53-71aeea8b4b45](https://user-images.githubusercontent.com/61477993/173661748-12750ce5-6272-4fb3-87bd-3bfbd360e440.png)

### Icon request checklist

- [X] T

[2022-06-14 18:36] unpococloco opened #19132 "Icon request: mailing-labels"
### Use case

In any menu where printed mailing labels is an option.

Your existing fa-table and fa-table-cells are marginally acceptable for this, but I feel they should be inverted (black cells on white) to better indicate a page of labels, rather than table cells.

To further indicate this is printed output, you could add a turned-down corner at upper-left.

Just some ideas. You folks are the i

[2022-06-14 18:46] talbs commented on #19089
Thank you for the heads up. Those linkies on https://fontawesome.com/docs/web/use-with/angular should be less stinky now.

[2022-06-14 18:46] #19089 closed, assigned to talbs

[2022-06-14 18:47] #18908 closed, assigned to nobody

[2022-06-14 19:16] talbs commented on #19121
Thanks for making us aware of this. Looks like that page ran out of the server without its CSS on. After chatting with @robmadole, this looks like a deeper issue that we'll looking into.

I'm assigning this to him with that in mind. We'll post progress as we make it.

[2022-06-14 19:42] unpococloco commented on #19127
I have complied with your new icon request instructions.

In the mean time, your suggestions are acceptable compromises until FA releases better alternatives.

Thanks!

Steve
	Mark Stevens (Steve) Willis, PhD
Director of Software Development
Life Christian University
	(813) 909-9720 x777

	(813) 909-9730

	(928) 899-9895
	lcus.edu <https://cookiefree.lcus.edu/>
	***@***.*** ***@***.***>
CONFIDENTI

[2022-06-14 21:59] robbert-ef commented on #19123
Just tested with 5.15.3, duotone icon works as expected.
I noticed some differences between the unicode values for the secondary layer in the gallery, maybe that has to do something with it
For example highlighter on 5.15.4 : primary f591, secondary 10f591, highlighter on 6.1.1: primary f591, secondary f591\f591 (which is impossible, unicode range includes U+0000 to U+10FFFF)

I've done some resea

[2022-06-14 22:24] sensibleworld commented on #19123
Pinging @mlwilkerson here, as this is more his bailiwick.

[2022-06-15 03:25] LauraRLT commented on #12649
This worked for me:
brands fa-linkedin

[2022-06-15 13:47] Mourat opened #19133 "Bug: Wrong code for Linkedin square icon"
### Bug description

Hello.
I see wrong html code for Linkedin square icon in 5 and 6 versions.

### Reproducible test case

https://fontawesome.com/icons/linkedin?s=brands

### Screenshots

![image](https://user-images.githubusercontent.com/2405030/173842754-c9c086e2-8fd4-45f7-ae5c-ed44a1ca4fa0.png)

### Font Awesome version

v6 v5

### Serving

Other (as specified in the bug description)

### Im

[2022-06-15 14:43] abdulqadir7780 commented on #3746
I have the same issue it's working, I have tried different CDNs results are same. :-(

[2022-06-15 15:41] parkerscobey opened #19134 "[Hosted Font Awesome Free 6.1.1] file-pen, clipboard-user, file-circle-plus showing box with X"
Self hosted Sass configuration. I see the unicode for the icons in `_variables.sass`. Other icons are working fine.

[2022-06-15 16:06] tagliala commented on #19134
Hi!

Thanks for being part of the Font Awesome Community.

I'm thinking that font files (woff / woff2) may have not be updated, or they are cached on the browser causing it to use the old versions

Sorry but there are too few details to debug this issue, please fill out our [bug report template for web applications](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=bug%2Cnee

[2022-06-15 16:06] #19134 closed, assigned to nobody

[2022-06-15 16:15] tagliala commented on #19133
Hi!

Thanks for being part of the Font Awesome Community.

Actually the code is correct. `fa-linkedin-square` is the class name from V4, please double check the syntax used in your application

### v6

As per documentation at https://fontawesome.com/icons/linkedin?s=brands, the proper syntax for V6 is

[code]

The old V5 syntax also works on V6

[code]

Demo: https://jsfiddle.net/tagliala/bfa6uhse

[2022-06-15 16:15] #19133 closed, assigned to nobody

[2022-06-15 16:16] tagliala commented on #19118
Hi!

Thanks for being part of the Font Awesome Community.

Any single color, suitable for 16px icon size example?

[2022-06-15 16:31] susannuccio opened #19135 "Icon request: box"

[2022-06-15 16:31] susannuccio opened #19136 "box.com icon request"

[2022-06-15 16:33] susannuccio commented on #1745
The company I work for is a customer of Box and we would love to have their logo available for our use on our company's intranet page. Please add the box.com logo to your logo library!

[2022-06-15 16:35] tagliala commented on #19136
Duplicate of #1745

[2022-06-15 16:35] #19136 closed, assigned to nobody

[2022-06-15 16:35] tagliala commented on #19135
Duplicate of #1745

[2022-06-15 16:35] #19135 closed, assigned to nobody

[2022-06-16 07:32] Asikpalysik commented on #8942
Hello, I looking for fa-tableau so long can't find anything

[2022-06-16 08:33] robibi78 opened #19137 "Brand request: New logo HAL Archives ouvertes"
### Description

Hello,

HAL is an open archive where authors can deposit scholarly documents from all academic fields.

It's use for French universities to expose researches and it's really useful.

Thks

### Official website

https://hal.archives-ouvertes.fr/

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the reques

[2022-06-16 08:57] matoeilD commented on #19137
+1

[2022-06-16 10:56] bcftv opened #19138 "Brand request: servicenow"
Would be great to add ServiceNow to the brands library

![ServiceNow color round logo 64px](https://user-images.githubusercontent.com/72945596/174055608-36f8047f-32da-4d88-94c0-a91cfa2227fd.png)

Official website: https://www.servicenow.com/

Logo Download: https://www.servicenow.com/company/servicenow-logo.html
Trademark guidelines: https://www.servicenow.com/trademarks.html
.

[2022-06-16 19:18] rcoundon opened #19139 "Icon size difference between v5 and v6"
### Bug description

Upgrading from v5 to v6 using npm in a Vue application with Buefy causes the icon to fill the input whereas with v5 there was breathing space around it.

Demonstrated here:
https://codesandbox.io/s/fervent-smoke-30ibf3?file=/src/components/HelloWorld.vue

I'm not sure where this issue lies - i.e. with Buefy or Fontawesome but the behaviour is different and so have raised it in

[2022-06-16 20:52] jasonlundien commented on #18577
Hey @iwosid ---

We have a new release of Font Awesome that should have fixed this problem up.  I will go ahead close this issue.  If you run into any other problems on this let us know and we can open it back up.

[2022-06-16 20:52] #18577 closed

[2022-06-17 11:32] PaddyThorne commented on #4266
+1

[2022-06-17 12:46] Coops9 commented on #11947
This looks like an old thread but I would also love this icon to be added

[2022-06-18 11:04] Jukien opened #19140 "Icon request: Sunbed"
### Use case

Add a sunbed or a deckchair, first variant.

This icon can be useful for holidays and beach context. You already have the umbrella-beach. It could be great to have the sunbed too :sunglasses:

### Example image

First variant, a simple sunbed where we could change the color of the tissue.
Having it diagonally would be nice I think.

![image](https://user-images.githubusercontent.com/

[2022-06-18 11:07] Jukien opened #19141 "Icon request: umbrella-sunbed"
### Use case

Add a sunbed or a deckchair, second variant.

This icon can be useful for holidays and beach context. You already have the umbrella-beach. It could be great to have the sunbed too 😎

### Example image

It's more popular on icon platforms so it's easy to have some example.
It's another style.

![image](https://user-images.githubusercontent.com/32452023/174434179-05f72c07-9fba-4a68-bbd

[2022-06-18 23:55] rwsalie commented on #5345
+1

[2022-06-19 20:39] TLCPlusPlus opened #19142 "Problem installing one of the .otf files on Pop_OS"
I have put all 3 free .otf files in ~/.fonts and the gnome-font-viewer sees that its there and where its located on the drive.

All but "Font Awesome 6 Free-Solid-900.otf" install correctly and gnome-font-viewer says "Install" whereas the other two say "Installed".

Testing via the cheatsheet into gedit, most icons work unless they are from Solid.

I am only using gnome-font-viewer as a means to s

[2022-06-20 09:30] pedrolamas commented on #18663
I just noticed that though this issue is marked as being 5.x, it is actually happening on 6.x too!

Can someone update this or should a new issue be open?

[2022-06-20 16:21] ericonchain opened #19143 "Icon request: Leo Finance"
# PLEASE STOP BEFORE COMMENTING! ✋🏼✋🏼✋🏼
## Read this: https://github.com/FortAwesome/Font-Awesome/issues/19143#issuecomment-1266718080

---

Please add the Leo Finance icon to the brands category

Leo Finances is a social media platform like Medium or Hive.

The Leo Finance Logo belongs to https://leofinance.io

Suggestion: <i class="fa-brands fa-leo"></i>

The Logo has already been converted to .

[2022-06-20 16:42] Bitcoinflood commented on #19143
Would love seeing this added to the brands category!

[2022-06-20 17:58] myfreebtc commented on #19143
Hope they add it!

[2022-06-20 18:44] niftyphill commented on #19143
This will look awesome in the brands category!

[2022-06-20 18:49] tagliala commented on #19142
Hi!

Thanks for being part of the Font Awesome Community.

I cannot help directly, I do not know this OS

By all you mean Regular and Brands?

[2022-06-20 19:13] finguru6 commented on #19143
Add this logo to the brands category!

[2022-06-20 19:14] TLCPlusPlus commented on #19142
Thank you 😊

Pop!_OS is a popular-ish Linux distribution based on Debian, like Ubuntu is. System76 made it and sells it with their computers, but isn't limited to just their computers as any who wish to install it on any computer, can. TLDR, if Ubuntu can run it, Pop!_OS should too.

Yes, I unzipped the (free) Regular, Brands, and Solid in the meantioned folder with no other modification. The conf

[2022-06-20 20:34] idiosyncratic1 commented on #19143
Leo must be there for sure!
Waiting for it 🔥

[2022-06-21 06:49] tagliala commented on #19142
Just some attempts:

- Any chance there is a log somewhere explaining why font fails to install?
- `Free-Solid-900` among the three font is the only one using a font weight different from 400. May this be a problem?

[2022-06-21 06:56] crocodiledundalk opened #19144 "Bug: Wide custom icons cropped on mobile display"
### Bug description

I've created some wide custom icons in my kit and they're working great on desktop, however when testing my site on mobile devices, these icons are being cropped horizontally and only displaying the first 'square' cropped section of the graphic.

### Reproducible test case

Kit: c36de1e5d0

### Screenshots

How they should look (and are displaying on a desktop device)
![image]

[2022-06-21 16:48] TLCPlusPlus commented on #19142
Only log I am aware of is fontconfig.log in /var/log and it displays that it successfully cached 3 fonts in ~/.fonts so the log sees 3 fonts are there and are cached, but this has not solved the problem as Solid isnt loading its icons still.

Heres the log:
[code]

I noticed that too in the filename. Based on limited output, I think thats probably the best assumption I have at the moment. I am sti

[2022-06-21 16:50] aready87 opened #19145 "Icon request: icon-Square-Pay brand icon"
A lot of people use Square for in-store credit card payments. (https://squareup.com/us/en).

I'm actually surprised one doesn't already exist!

![square](https://user-images.githubusercontent.com/33583755/174854195-c761aeed-f879-4016-8bae-14302e3612ae.svg)

[2022-06-22 02:58] mikesz88 opened #19146 "Typescript"
We need a typescript font awesome icon similar to javascript, please!

[2022-06-22 13:13] okieh11 opened #19147 "Icon request: 42"
Most of us are nerds, and nerds love Douglas Adams. So the number "42" is a **MUST** as an icon.

[2022-06-23 09:45] PhilBrk8 commented on #8664
https://www.youtube.com/watch?v=hAwWtLukePc

[2022-06-23 13:21] bloggrammer commented on #8365
I can't believe the C# icon was not added to font-awesome after how many years. @tagliala is there any challenge with this request?

[2022-06-23 14:30] tagliala commented on #8365
Hi, there is not an official logo for C#

Ref: https://github.com/FortAwesome/Font-Awesome/issues/8365#issuecomment-742870065

[2022-06-23 15:01] cilerler commented on #8365
@BethMassi 👆🏻 I firmly believe the foundation can do something about this 😉 Thanks in advance... 🤗

[2022-06-23 15:39] BethMassi commented on #8365
When I was on the BoD of the foundation years ago, I did reach out and was told to upvote this issue.

[2022-06-23 15:41] nyrivera commented on #8365
I'm just a random dude, but is there anything I could do to help?

[2022-06-23 17:04] tagliala commented on #8365
I've found this on [microsoft website](https://docs.microsoft.com/en-us/dotnet/)

https://docs.microsoft.com/en-us/media/logos/logo_Csharp.svg

Maybe can be accepted as unofficial logo

[2022-06-23 18:43] BethMassi commented on #8365
@tagliala I'm not in marketing anymore so I'm not going to police that ;-)

[2022-06-24 01:24] spmsh commented on #9495
the usual bump. this is much needed in the post pandemic word where desk hoteling becomes more popular in the office world.

[2022-06-24 01:26] spmsh commented on #13424
the usual bump. this is much needed in the post pandemic word where employees only go to office for meetings.

[2022-06-24 05:10] iDustbin commented on #17057
ansible not existend ? when do you plan to include it ?

[2022-06-24 05:11] iDustbin commented on #17053
when do you plan to include it ?

[2022-06-24 14:13] plachta-zabatt opened #19149 "Icon request: Switch all hand icons to 4 fingers"
### Use case

I believe that as is most hand icons look 'too wide' 5 fingers is too many for the icon, or there is simply too much space b/w fingers! The Simpsons knew what they were doing, give us 4 fingers, or go back to the more tightly spaced fingers, please!

Thank you for your time.

### Example image

**v5.15.4**
![image](https://user-images.githubusercontent.com/67343014/175552877-41a7167c

[2022-06-24 16:23] auberryberry opened #19150 "Bug: 401 Access Denied to free assets"
### Bug description

Not sure if this is a transative error but font-awesome is coming into our build via TailwindCSS, we're seeing 401 access denied for all of our users on free assets via fontawesome npm CDN.

Looks like permissions on endpoints have been changed by mistake.

### Reproducible test case

https://npm.fontawesome.com/@fortawesome/free-regular-svg-icons/-/6.1.1/free-regular-svg-icon

[2022-06-24 16:25] anixan commented on #19150
I also getting this issue, failing as auth seems to now be required :/

[2022-06-24 16:31] tagliala commented on #19150
Hi!

Thanks for being part of the Font Awesome Community.

I can see that this example is using the private NPM repository `https://npm.fontawesome.com`, which is restricted to Pro Users

Since it is not specified in the opening post, could you please confirm that you are a Pro user?

[2022-06-24 16:33] auberryberry commented on #19150
Hola amigo,

Not using pro at all.

[2022-06-24 16:46] auberryberry commented on #19150
I've told a lie, it was coming in via babylonJS inspector, I've removed it for now. I'm sure it's a transitive issue.

[2022-06-24 16:48] tagliala commented on #19150
Hi, my question is that if you are a Font Awesome Pro user, then you can use the pro private npm repository to download Font Awesome Free, otherwise you should use the public npm / yarn repository

In case that you are not a Font Awesome Pro User, probably there is a misconfiguration

Please check your `.npmrc` files, there should be an entry pointing the `@fortawesome` namespace to the NPM pro re

[2022-06-24 16:51] auberryberry commented on #19150
Well played, a little cross-pollination going on there, thank you.

[2022-06-24 16:51] #19150 closed, assigned to nobody

[2022-06-24 17:41] #17481 closed

[2022-06-24 19:02] lenargasimov commented on #5111
+1

[2022-06-24 21:05] nyrivera commented on #8365
I always thought the official color was purple.

[2022-06-24 21:07] delphiassistant commented on #8365
It's purple.

در تاریخ شنبه ۲۵ ژوئن ۲۰۲۲،‏ ۰۱:۳۵ nyrivera ***@***.***> نوشت:

[2022-06-25 02:50] lithxe commented on #13163
+1

[2022-06-26 11:50] Minakie opened #19151 "Icon request: multiple icons"
Hello everyone!

I would like to suggest a few icons that I noticed were missing:
- ferret
- maze
- mouse (the animal, not the peripheral)
- pixie/fairy
- raccoon
- thief

[2022-06-26 11:58] tagliala commented on #19151
Hi!

Thanks for being part of the Font Awesome Community.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

In example - please search for others - mouse has been requested at #14246. Please add a 👍🏼 reaction to that request

If there isn't already a request for the icon you need, feel free to fill out individu

[2022-06-26 11:58] #19151 closed, assigned to nobody

[2022-06-26 22:04] Dhermann27 commented on #17984
+1, about to spend 20 minutes making this with layers

[2022-06-26 22:39] mpe85 commented on #7434
@tagliala Any news on this?

[2022-06-27 04:30] kolemae commented on #8942
+1

[2022-06-27 08:58] andreacfromtheapp commented on #2871
+1

[2022-06-27 12:22] shkate10 opened #19152 "Icon request: tablet-slash"
### Use case

It would be nice to add an icon that represents that a feature/view is not available (or not supported) on tablet devices.

### Example image

![tablet-slash](https://user-images.githubusercontent.com/22520292/175939630-168a3a58-b79d-4b5b-beae-98bffb13d5d0.svg)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] T

[2022-06-27 12:49] tagliala commented on #19152
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/155/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.c

[2022-06-27 16:14] villelahdenvuo commented on #16005
This issue also appears with @fortawesome/angular-fontawesome when updating @fortawesome/fontawesome-svg-core from 1.2.36 to 6.1.1

[2022-06-27 19:49] iz65535 commented on #9523
+1

[2022-06-27 20:18] tagliala commented on #19146
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #11890, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-06-27 20:18] #19146 closed, assigned to nobody

[2022-06-27 20:19] #15086 closed

[2022-06-27 20:19] tagliala commented on #19145
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #2477, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-06-27 20:19] #19145 closed, assigned to nobody

[2022-06-28 11:00] villelahdenvuo commented on #16005
I did some webpack debugging with angular-fontawesome and found this in the stats:

[code]

Looking at that line it seems to be indeed causing some side effects using the window object:
<img width="868" alt="image" src="https://user-images.githubusercontent.com/633524/176162927-15f77f29-9b86-4ffb-a873-f14e6c33136b.png">

I think the best solution would be to separate the library functions to a sep

[2022-06-28 11:32] tagliala commented on #16005
Hi @villelahdenvuo, thanks for the insights

Is this issue exclusively related to the `@fortawesome/angular-fontawesome` package?

[2022-06-28 15:17] talbs commented on #18874
Thanks for bringing this to our attention and apologies for the less than awesome Less compilation.

I've taken this off of @alexpoiry's hands and have a fix up for review. This should be fixed in our next release shortly. I'll keep you folks posted once that's on its way out the door.

[2022-06-28 15:22] talbs commented on #18835
Thanks for bringing this to our attention and apologies for the less than awesome Less compilation.

I've taken this off of @alexpoiry's hands and have a fix up for review. As @robmadole mentioned, this should be fixed in our next release shortly. I'll keep you folks posted once that's on its way out the door.

[2022-06-28 15:26] duhast commented on #12808
+1

[2022-06-28 15:36] talbs commented on #18874
Hey, @HereThereBDragons (cool username, BTW)!

I've checked the `spin-reverse` CSS rule you raised earlier and all seems to be working as intended. The CSS rule targeting `-spin-reverse` correctly sets the `--fa-animation-direction` to `reverse` which controls the [animation direction](https://developer.mozilla.org/en-US/docs/Web/CSS/animation-direction) property.

FYI - You'll need both the `-spi

[2022-06-28 15:38] villelahdenvuo commented on #16005
@tagliala I haven't tried, but based on what I have seen it seems to be a problem with the svg-core, so even if I used the `icon` function from svg-core manually it would bundle the whole svg-core module.

It would be great to break the svg-core into tiny modules each implementing a feature/mixin so that libraries/consumers can only import what's needed. For example if I don't use transforms or ma

[2022-06-28 16:21] robmadole commented on #16005
@villelahdenvuo please check out this: https://fontawesome.com/docs/apis/javascript/plugins

Let us know what you think.

[2022-06-28 16:36] HereThereBDragons commented on #18874
Regarding the 'spin-reverse' - the syntax in the LESS file is:
[code]
but the --@(fa-css-prefix) portion is normally within an ~'var()', which the above is missing. It also is assuming the CSS instruction will have a fa-css-prefix, which doens't make sense.. It also does not compile this way.

it should probably be:
[code]
or
[code]

[2022-06-28 18:00] nburlett opened #19153 "Icon request: tau"
### [Happy Tau Day!](https://tauday.com/tau-manifesto)

Font Awesome has [π](https://fontawesome.com/search?q=pi&c=mathematics), but to properly celebrate Tau Day, we could really use a **τ** icon.

[2022-06-29 00:28] somethingSTRANGE commented on #8365
+1   This would be very useful.

[2022-06-29 00:32] somethingSTRANGE commented on #12607
+1 I can certainly use this. I've seen a few posts from users that combined existing icons to get something similar to the brand logo, but that solution isn't as useful when using icons in non-web applications.

[2022-06-29 00:38] fretnoize commented on #17266
Yeah, this would be cool!

[2022-06-29 00:53] somethingSTRANGE commented on #17069
This would be very useful!

[2022-06-29 00:55] timfarrar commented on #17266
This would be useful

[2022-06-29 00:57] somethingSTRANGE commented on #17069
Actually, it looks like the website has changed its logo.

![logo from twitter](https://pbs.twimg.com/profile_images/1534529929341063168/NsZ0U3iG_400x400.png)

![logo from wikipedia](https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/Linktree_logo.svg/1920px-Linktree_logo.svg.png)

[2022-06-29 01:08] fretnoize commented on #17069
I use linktree too so this would be helpful!

[2022-06-29 01:27] somethingSTRANGE commented on #9351
This would be useful on blog posts as a warning. "Read at your own risk! May cause insanity." +1

[2022-06-29 02:04] StoneCypher commented on #9351
I honestly forgot about this issue.

S͕͓͚̦̗͖t̰̞͉̯i͚̮͔͚̺ll̪̮̯̱̣̱̦, I think it would be a good idea, given that the other R̅̌͐ͮẺLI̍̈͆̃ͥ̚Gͮ̽̑IÒͩ̇͋͗Nͣ̇S̉̉ͯ have been shown respect, to pay heed

for lo, unicode will never make me crack.  the `<center>` cannot hold

tony is at T̥̟̖̭͎̟̻͕̱̺̹̠͉̜̺̑̄ͯ̃͂͆͐ͤ͋͒ͅH̲͔̞͑̄̓̀͑ͤ̅̽͂̑́ͨ̾ͨE̻̺̞̖̰̠̖̼͓͗ͤ́̂̿̔ ͈̙̙̗̯̰̘̟͈̞̩̻̱̠͚̰̜̰̣͋͋ͩͣͯ͑ͩͣ͒̆̓̃͌Ḋ̦̮͕̭̣̩̠̹͇̟̜̯̱̾̄ͤ̀͆ͬ͛̃͊ͬ̈̄̓̓̈́̅ͫ

[2022-06-29 07:12] tbysctt opened #19154 "Brand request: Square"
### Description

I'd like to request the addition of the Square, Inc. logo please. It's a popular billing platform used by myself and millions of other merchants to sell to ~24 million monthly active customers.

![image](https://user-images.githubusercontent.com/45221333/176374551-1682676f-c9f3-429b-b685-ef608bc3ef8f.png)

### Official website

https://squareup.com/

### Brand guidelines

https://

[2022-06-29 07:27] clipteez opened #19155 "Ethernet Icon should also be part of the Connectivity category"
Just a tiny little hint, I was looking for the ethernet icon and couldn't find it under the connectivity category. Turns out it was under the devices category. It should definately also be in the connectivity category.

[2022-06-29 07:39] tagliala commented on #19154
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #2477, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-06-29 07:39] #19154 closed, assigned to nobody

[2022-06-29 09:30] robertsliwinski commented on #18844
I still have this error. Can't build v6 using expo for android.

[2022-06-29 09:31] likon416 commented on #18844
I still have this error. Can't build v6 using expo for android.

[2022-06-29 11:20] villelahdenvuo commented on #16005
Hey @robmadole thanks for the link! I didn't find that before. However, I cannot directly benefit from that since I am using the angular-fontawesome library.

Furthermore the example says that the "lite" version is **only** 45k. I understand the library has a lot of functionality and it needs to be refactored into smaller plugins, but I think it's too bloated as-is. I decided to make my own icon c

[2022-06-29 11:27] likon416 commented on #18844
[stderr]
warn Package @fortawesome/free-brands-svg-icons has been ignored because it contains invalid configuration. Reason: Cannot find module '/home/expo/workingdir/build/node_modules/@fortawesome/free-brands-svg-icons/package.json.js'
[stderr]
warn Package @fortawesome/free-regular-svg-icons has been ignored because it contains invalid configuration. Reason: Cannot find module '/home/expo/worki

[2022-06-29 12:20] Guerillero commented on #16586
I would love to use this on my website

[2022-06-29 14:57] SsNiPeR1 commented on #13773
pls add it i really need

[2022-06-29 15:11] ps-devinsmith opened #19156 "fa-triathlon"
Hi, I am in need of a sport/event icon to represent a sporting event known as a triathlon which consists of running, biking, and swimming.

[2022-06-29 15:27] tagliala commented on #19156
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #14304, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-06-29 15:27] #19156 closed, assigned to nobody

[2022-06-29 15:41] kylesziv commented on #18844
Same here

[2022-06-29 15:42] likon416 commented on #18844
@robmadole any tips?

[2022-06-29 17:25] ps-devinsmith commented on #19156
Thanks.

[2022-06-29 21:34] Sportsa opened #19159 "Icon request: icon-pro"
Similar to the PRO icon - I think it would be great to have a BASIC word based icon and a PREMIUM word based icon

Pro is often used to denote a PRO level of service, however, PREMIUM is more often used - there is nothing other than crowns that could be used by a service to denote this as a badge

Thanks!

[2022-06-30 07:28] milk-XD opened #19160 "Bug:"
### Bug description

Hi,
I just downloaded the repository and copy & paste all the LESS files to my project, but somehow it failed because @fa-css-prefix is undefined in LESS files, can you please have a look?

Error Messages
[code]

### Reproducible test case

_No response_

### Screenshots

_No response_

### Font Awesome version

v6

### Serving

Font Awesome CDN

### Implementation

Other (as

[2022-06-30 18:11] cherinyy commented on #18760
The app has been renamed.
https://t.bilibili.com/677403135414632450

[2022-06-30 18:11] #18760 closed, assigned to nobody

[2022-06-30 20:20] 20jasper commented on #14266
We need font awesome racoon

[2022-07-01 08:57] serkanyazicioglu commented on #16495
Any update about this? Thanks...

[2022-07-01 10:32] thduttonuk commented on #4063
This would be great. We use https://www.highcharts.com/docs/chart-and-series-types/bell-curve-series

[2022-07-01 10:32] kqu-inn commented on #4063
Would be a great addition

[2022-07-01 14:53] amalricBzh opened #19161 "Icon request: scroll-feather (parchment)"
Something like https://www.flaticon.com/free-icon/parchment_1661185, at least two versions :
- parchment
- parchment-feather

[2022-07-01 15:27] apierri commented on #18662
Hello. Could you provide to your pro users (myself included) the reason behind the "business decision" to exclude search terms, even for Pro members? It would be useful information to consider next time we're deciding to continue (or not) backing this project.

[2022-07-01 16:38] AgentSmith0 commented on #18662
I also want the search terms back, they were very useful for out intern website builder, to quickly find icons. Very sad, you removed them.

[2022-07-02 01:31] #19160 closed, assigned to nobody

[2022-07-02 14:31] robmadole commented on #16495
We've got a released planned in the next two weeks.

[2022-07-02 17:51] cooperj opened #19163 "Bug: RFC5735 Loopback Addresses resolving CORS"
### Bug description

When using a kit which has been restricted to only some domains, `localhost` has been allowed by default.

However `127.0.0.0/8` as specifed in [RFC5735](https://datatracker.ietf.org/doc/html/rfc5735) for loopback addresses (such as `127.0.0.1`) are being blocked by CORS rules.

### Reproducible test case

_No response_

### Screenshots

![image](https://user-images.githubuser

[2022-07-03 07:15] #11506 closed

[2022-07-03 10:16] istiak101 opened #19164 "Brand request: fa-almalinux"
### Description

Linux distro similar to:

https://fontawesome.com/icons/centos?s=brands
https://fontawesome.com/icons/redhat?s=brands
https://fontawesome.com/icons/fedora?s=brands

https://upload.wikimedia.org/wikipedia/commons/e/ec/AlmaLinux_Icon_Logo.png

### Official website

https://almalinux.org/

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "B

[2022-07-03 12:57] istiak101 opened #19165 "Brand request: fa-nagad"
### Description

Bangladeshi Payment gateway Nagad.

https://nagad.com.bd/_nuxt/img/logo.a4624c6.svg

### Official website

https://nagad.com.bd/

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existing issues](https://github.com/FortAwesome/Font-Awesome/issues) and t

[2022-07-03 13:02] istiak101 opened #19166 "Brand request: fa-rockylinux (Rocky Linux)"
### Description

Linux distro similar to:

https://fontawesome.com/icons/redhat?s=brands
https://fontawesome.com/icons/centos?s=brands

https://avatars.githubusercontent.com/u/75713131?s=200&v=4

### Official website

https://rockylinux.org/

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X]

[2022-07-03 16:35] simPod opened #19167 "Feature request: Switch from Sass imports to Sass Module System (`@import` -> `@use`)"
### Is your feature request related to a problem?

Sass `@import` is deprecated. See https://sass-lang.com/documentation/at-rules/import

### Feature description

Current fontawesome sass is built around `@import` and should be migrated to `@use`.

### Alternatives

_No response_

### Additional context

_No response_

### Feature request checklist

- [X] The title starts with "Feature request: "

[2022-07-03 18:31] tagliala commented on #19167
Hi!

Thanks for this heads-up.

From [Sass docs](https://sass-lang.com/documentation/at-rules/import):

Font Awesome supports a variety of Sass compilers, including old ones and [scssphp](https://scssphp.github.io/scssphp/), so just switching from `@import` to `@use` would be a breaking change.

We were able to provide a backward-compatible version of the division deprecation #17946, but I don't k

[2022-07-03 18:36] tagliala commented on #19161
Hi!

Thanks for being part of the Font Awesome Community.

Scroll icon is already available:
- https://fontawesome.com/icons/scroll?s=solid
- https://fontawesome.com/icons/scroll-old?s=solid (FA Pro)

Leaving this open as `scroll-feather`

[2022-07-03 18:41] tagliala commented on #19159
Hi!

Thanks for being part of the Font Awesome Community.

We tend to avoid the use of words inside icons, for different reason. In this case in particular, words are subject to localization issues and having multiple letters in a single icon will reduce readability at small sizes

I will keep this request open, but please consider alternatives.

Also, FA6 comes with a font, so you can compose PRO

[2022-07-03 18:45] tagliala commented on #19147
Hi!

Thanks for being part of the Font Awesome Community.

I'm going to keep this request open, but I would definitely avoid to have a request for any number, so I may reconsider this choice in the future

Please also note that Font Awesome 6 is basically a font, and you have both 4 and 2 as icons or if you prefer you can use css like this: http://jsfiddle.net/tagliala/ex4hp3yn/8/

[2022-07-03 18:47] tagliala commented on #19163
Hi!

Thanks for being part of the Font Awesome Community.

Sorry, I didn't get if the solution would be to allow `127.0.0.1` by default

[2022-07-03 18:56] tagliala commented on #19144
Hi!

Thanks for being part of the Font Awesome Community and sorry for the late reply.

This could be expected, as per design guidelines the icon should respect a square(ish) grid 20x16 units, so it may be normal. But I may be wrong, so let's ask Jory

Ref: https://fontawesome.com/docs/web/add-icons/upload-icons/icon-design

@sensibleworld any thoughts?

[2022-07-03 19:25] cooperj commented on #19163
That would be correct.

[2022-07-03 20:19] robmadole commented on #19167
@tagliala I agree on postponing. We want to support as many compilers as possible. I don't think we'd introduce `@use` until FA version 7. The way I'm thinking about it right now is it requires a major version change. I guess we could start providing legacy and modern versions of our .scss files. But that complicates things for what return?

[2022-07-03 20:22] simPod commented on #19167
I did not actually expect this to land in v6 but wanted to raise issue so it's on a roadmap. It's obviously a BC, e.g. node-sass is already deprecated but since v6 supports it, it cannot be broken now.

I also think this should be reconsidered in the future and only those maintained ones should be supported.

[2022-07-03 23:27] yunfanjiang commented on #9399
want to bump this!

[2022-07-04 08:43] alexander-rebello commented on #17522
+1

[2022-07-04 09:01] fabien-michel opened #19168 "Icon request: Gas cylinder"
### Use case

Picture a propane or other gas energy source

### Example image

![gas-cylinder-bottle-icon-simple-style-vector-33864447](https://user-images.githubusercontent.com/1167556/177121063-e7ce6a1a-df2a-472e-b280-a58424fde021.jpg)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
-

[2022-07-04 10:16] 14sprouj opened #19169 "Brand request: Apple Podcasts"
### Description

This icon can be used as a link to a podcast on Apple Podcasts

### Official website

https://podcasts.apple.com/

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existing issues](https://github.com/FortAwesome/Font-Awesome/issues) and to the best of m

[2022-07-04 10:31] aagparekh opened #19170 "google mail: fa-gmail"

[2022-07-04 10:39] tagliala commented on #19170
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #4655, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new

[2022-07-04 10:39] #19170 closed, assigned to nobody

[2022-07-04 18:11] JcbPrn commented on #7030
did you find any nice icons?

[2022-07-04 18:17] tagliala commented on #7030
I'm going to consider this request closed by [ballot-check](https://fontawesome.com/icons/ballot-check?s=solid ), available in FA Pro

[2022-07-04 18:17] #7030 closed

[2022-07-05 13:31] devruhul opened #19171 "wrong npm and yarn typo command in font awesome doc"
In set up with react page which you can find font awesome doc all of the npm and yarn commands are like this npm i --save @**fortawesome**/fontawesome-svg-core
isn't fortawesome is the fontawesome? in my project it works with fortawesome. It should be fontawesome if I am wrong please correct me.

[2022-07-05 13:48] tagliala commented on #19171
Hi!

Apologies for the confusion

`foRtawesome` is correct and it's the name of the npm scope where `foNtawesome` packages are published

Closing here, but feel free to comment and provide more information if I didn't get this request

[2022-07-05 13:48] #19171 closed, assigned to nobody

[2022-07-05 16:52] liomar17 commented on #4655
+1
but, I recommend using this icon for the Gmail logo
![Gmail-Icon-01](https://user-images.githubusercontent.com/59314791/177377781-ccb54ff4-4ceb-444f-9ebb-6ff5579d9b67.png)

[2022-07-05 19:20] solteroluis35 commented on #15734
Yes, Acclaim is now Credly and they are using a different icon. Although since the original request was linking to a favicon, it has been updated automatically.

Before it was two chevrons pointing up stacked, it is now just a C.

[2022-07-06 05:00] PerseusTheGreat commented on #6660
Is there any plan to create/present it?
7 years past...

[2022-07-06 09:37] cgers opened #19172 "Connected // Disconnected Icon Requested"
Please could you look into creating an icon that shows if something is connected / disconnected.

An example can be found here: https://icon-library.com/icon/icon-connected-8.html

Kind regards

[2022-07-06 11:25] robertdsandler opened #19173 "Icon request: Google Scholar"
Google Scholar so that it can be added to CVs for academics

[2022-07-06 11:37] tagliala commented on #19173
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #541, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new#

[2022-07-06 11:37] #19173 closed, assigned to nobody

[2022-07-06 11:43] robertdsandler commented on #541
Google Scholar, yes please. so it can feature on academic CVs

[2022-07-06 14:23] #17651 closed

[2022-07-06 14:23] #18068 closed

[2022-07-07 07:52] Michael-Oxygen commented on #10991
Still no news to put a little square into a bigger one ?? 🙏 🙌

[2022-07-07 08:02] Michael-Oxygen opened #19174 "Icon request: icon-square-in-square ?"
Hey
Can it be possible to add a icon related to a picture in picture mode ?
Thx 🙏

[2022-07-07 08:12] tagliala commented on #19174
Hi!

Thanks for being part of the Font Awesome Community.

This is a duplicate of #10991, but I can see that you already commented there and for the moment it is the best thing you can do to express interest in the request

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/new#faqs), they contain a lot of information about how

[2022-07-07 08:12] #19174 closed, assigned to nobody

[2022-07-07 10:20] MarcoNeiko opened #19175 "Icon request: AR (Augmented Reality)"
AR (Augmented Reality) icon for 3D objects

[2022-07-07 10:22] MarcoNeiko opened #19176 "Icon request: gyroscope (motion sensor)"
Gyroscope (motion sensor) icon for mobile orientation sensor

[2022-07-07 12:20] maxresnikoff commented on #4574
+1 Any news on this Icon? Would be great to have it!

[2022-07-07 14:01] sensibleworld commented on #19144
This looks to be an issue with the container that's displaying the wide icons, not the icons themselves. @crocodiledundalk Do you have a live site we could take a look at, or some code related to this particular section?

[2022-07-07 15:42] likon416 commented on #18844
Anyone?

[2022-07-07 15:43] robmadole commented on #18844
We've got a fix for this that will be released in 6.1.2. No firm ETA on that yet but our aim is in the next 2 - 3 weeks.

[2022-07-07 19:15] wzwizu commented on #16050
Why is this from 2020 and still not even has one response? This should already be a feature right? I mean now the FA cdn is a dependency for all kit based projects....

[2022-07-07 19:40] likon416 commented on #18844
Great news. Would really appreciate fast release. Thanks

[2022-07-08 00:33] FabioPereira89 opened #19177 "Icon request: icon-iso9001"
### Use case

Hi,
Can it be possible to add a icon for ISO 9001 certificate company?

### Example image

![iso-9001-icon-standard-quality-symbol-vector-button-isolated-on-black-background-700-198119832](https://user-images.githubusercontent.com/108907062/177893117-f84e8e88-6d78-424a-a3b3-f7e136cb4244.jpg)

![ISO_9001-2015](https://user-images.githubusercontent.com/108907062/177893162-06733507-4332

[2022-07-08 08:45] medialogik commented on #18928
![Screenshot 2022-07-08 104737](https://user-images.githubusercontent.com/88838557/177954202-8917cca3-f209-4a16-bca9-93caa653ec12.png)

[2022-07-08 08:45] medialogik commented on #18928
The website of the brand holder https://www.zaikio.com/

[2022-07-08 08:51] tagliala commented on #19177
Hi!

Thanks for being part of the Font Awesome Community.

I've changed the label from `icon` to `brand`, but I can see that ISO 9001 does not have a specific logo and it is against ISO's logo use guidelines

Ref: https://www.iso.org/iso-name-and-logo.html

<img width="598" alt="image" src="https://user-images.githubusercontent.com/556268/177955440-2fdd211a-ec3d-4b08-a386-cc3cf6aeeff0.png">

[2022-07-08 10:31] analizator1g opened #19178 "Icon request: envelope-circle-exclamation"
Hi there! I found a new icon that can be helpfull - ex. for show some kind of errors with email inboxes - envelope-circle-check change to envelope-circle-exclamation (with "!") :)

[2022-07-08 15:14] ius opened #19180 "Configuration examples refer to hijacked domain"
I carelessly copy pasted a configuration example from the [documentation](https://fontawesome.com/docs/apis/javascript/configuration#setting-the-configuration), not realizing it refers to an example domain.

    <html>
      <head>
        <script src="https://your-site-or-cdn.com/fontawesome/v6.1.1/js/all.js" data-auto-a11y="true" ></script>
      </head>
      <body></body>
    </html>

Soon eno

[2022-07-08 15:24] tagliala commented on #19180
Hi!

Thanks for being part of the Font Awesome Community and thanks for this report.

This should be immediately addressed

[2022-07-08 15:54] robmadole commented on #19180
Yep, thanks @ius. This is highest priority and we'll get it fixed.

[2022-07-08 20:17] robmadole commented on #19180
This is now fixed on fontawesome.com. Thanks again @ius .

[2022-07-08 20:17] #19180 closed, assigned to robmadole

[2022-07-09 06:47] ashishRudder commented on #9473
+1

[2022-07-10 16:51] irmakcosarsahna commented on #18844
Same issue

[2022-07-10 22:41] james182 opened #19182 "Icon request: Gym equipment"
### Use case

In the fitness industry your icons while awesome lack variety in fitness particulary gym equipment, like free weights, treadmills, stationery bikes, bench press, dumbells, sauna, etc..

### Example image

<img width="669" alt="Screen Shot 2022-07-11 at 8 40 17 am" src="https://user-images.githubusercontent.com/415228/178164795-ac220a7b-6829-4c5c-8921-a3df27b2c67a.png">

### Icon requ

[2022-07-10 23:52] LeeOtts commented on #7625
Yes this needs to be a thing... having to use the scatterpoint until then

[2022-07-10 23:53] netpenthe commented on #7625
+1 please

[2022-07-10 23:57] LeeOtts opened #19183 "Icon request: 3d SLA printer icon"
### Use case

3d SLA printing has become cheaper and gaining attention. But you need a specific use case.. I need one for the menu on my react portfolio page showing off 3d SLA printed designs. Currently using <i class="fa-solid fa-chart-scatter-3d"> but would love to use a <i class="fa-solid fa-3dprinter-sla"></i> that could convey the message easier

### Example image

_No response_

### Icon re

[2022-07-11 07:27] tagliala commented on #19183
Hi!

Thanks for being part of the Font Awesome Community.

Is this a duplicate of #7625? If it isn't could you please provide an example and clarify why it is different?

[2022-07-11 07:30] tagliala commented on #19182
Hi!

Thanks for being part of the Font Awesome Community.

Quoting from our [new icon request template](https://github.com/FortAwesome/Font-Awesome/issues/new?title=Icon%20request:%20icon-name&template=icon-request.md):

Sorry, requests for icon sets are not allowed by our contributing guidelines.

Feel free to open individual requests for the icons you want to request. Please make sure to provide

[2022-07-11 07:30] #19182 closed, assigned to nobody

[2022-07-11 08:54] erogers6264 commented on #8689
I am working on replacing our current icon library with FontAwesome. This would be nice to have.

[2022-07-11 11:38] AndrewsGomesViamo commented on #18183
I'm having the same issue

[2022-07-11 11:56] tagliala commented on #18183
Hi @AndrewsGomesViamo

The source of this issue changes from case to case and we can't do too much on the free repo

I would suggest to take a second look at the docs: https://fontawesome.com/docs/web/setup/packages#installing-pro

Then please try to debug your configuration. Check your `.npmrc` files, there should be an entry pointing the `@fortawesome` namespace to the NPM pro repository.

You s

[2022-07-11 11:56] #18183 closed

[2022-07-11 20:20] septatrix opened #19184 "Feature request: Change default search filter from "s=solid,brand" to "m=free""
### Is your feature request related to a problem?

Every time when I search for icons on the fontawesome website I must change the search filter for relevant results.
In the best case this only wastes time. However there are also some solid icons which are not available in the free version and discovering that after having performed the search can be frustrating. Furthermore forgetting to change t

[2022-07-12 05:21] NewWorldMan commented on #3928
+1 please!

[2022-07-12 14:16] TylerMWise opened #19185 "Icon request: fa-gingerbread"
**Use case**
Myself and quite a few people are currently using gingerbread people images as icons, but it would be perfect to have a gingerbread person emoji we could use. This icon would be perfect for Cafés or other places which rely on food icons.

**Example image**
![image](https://user-images.githubusercontent.com/74430503/178511531-1c075e0a-aa74-4522-9048-380bd94b7337.png)

**Icon request ch

[2022-07-12 14:21] TylerMWise commented on #8365
+1 I use C# lots and this would be very useful!
![image](https://user-images.githubusercontent.com/74430503/178512870-f58e1b32-b738-4949-a566-be513f28d439.png)

[2022-07-13 14:08] emilyuhde commented on #11547
An RTL/BiDi friendly version of this would be great too. If the icon is mirrored/flipped RTL, then the letters will appear backwards.

[2022-07-13 14:13] emilyuhde opened #19186 "Icon request: fa-list-ol-RTL"
An RTL/BiDi language friendly version of an ordered list icon is needed. If the current list-ol is mirrored/flipped on the y-axis then the western numbers will appear backwards. The icon should look the same as the current one, but with the numbers on the right side and the lines representing text being on the left side.

Similar icon request issue that needs an RTL version too: https://github.com

[2022-07-13 14:22] himalczyk commented on #4655
+1, would also consider this:

https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/512px-Gmail_icon_%282020%29.svg.png?20201210105308

[2022-07-13 17:03] Jabronironi commented on #18514
It appears the vite configuration no longer has the ssr: noExternal option.  This is using vite 2.9.14.  I see this comment in the index.d.ts file:

/* Excluded from this release type: ssr */

[2022-07-13 17:18] wesdevpro opened #19187 "Font awesome icons fill screen on iphone with nuxtjs, sass, and SSR"
buefy/nuxt-buefy#124

[2022-07-13 17:55] thepra commented on #19074
Unfortunately other bundling tools see that as an error, making the bundling of the font-awesome.css impossible. Nothing to add here other than to replace that `0` with `0s`.

[2022-07-13 19:51] tagliala commented on #19074
Could you please clarify which bundling tool?

[2022-07-13 20:50] mimitch2 commented on #18844
Same issue

[2022-07-13 20:59] mimitch2 commented on #18844
This worked for me as a temp fix until a real fix is availalble.

[2022-07-14 09:50] thepra commented on #19074
https://github.com/failwyn/BundlerMinifier

[2022-07-14 20:04] imanerd opened #19188 "Brand request: Bigo Live"
### Description

Request for Bigo Live branding.

![icon-bigo](https://user-images.githubusercontent.com/123832/179073197-d2915729-871d-40e0-b398-c199ad3b1815.png)

### Official website

https://www.bigo.tv/

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existing iss

[2022-07-14 20:09] MonkeyTrainer12 opened #19189 "Bug: Missing certain icons in Chrome, with fix"
### Bug description

Several icons, **specifically fa-shopping-cart**, would display normally on all browsers **EXCEPT Chrome**.  These font-awesome icons would display normally on ALL other platforms, along with the rest of the font-awesome icon set.

I discovered that the template being used for the site had assigned a default **font-weight** of **500** to all divs in that section of the layout.

[2022-07-14 20:37] tagliala commented on #19189
Hi!

Thanks for being part of the Font Awesome Community.

This has already been discussed in the past, but we are not going to add `!important` to Font Awesome CSS

Please fix the template or feel free to add `!important` rule to your application stylesheet

Hope it helps

Closing here

Ref: https://github.com/FortAwesome/Font-Awesome/pull/15690#issuecomment-542206791

[2022-07-14 20:37] #19189 closed, assigned to nobody

[2022-07-14 22:37] wesdevpro commented on #19187
### CSS applied on Desktop Chrome.
[code]

### CSS applied on Iphone 11 IOS 15
[code]

[2022-07-14 23:43] wesdevpro commented on #19187
As of right now, I will be using MDI until this issue is resolved. MDI renders perfectly fine ✌🏼

[2022-07-14 23:43] #19187 closed, assigned to nobody

[2022-07-15 07:09] koendeschacht commented on #18841
Is there any progress on this issue? It still has the label waiting-for-feedback, can we provide any more details to help to triangulate it?

[2022-07-16 05:33] Pragyan14 opened #19190 "Icon request: vegetarian label"
### Use case

To show restaurant in veg or non veg

### Example image

![2560px-India_vegetarian_labels svg](https://user-images.githubusercontent.com/108871827/179341316-fcbdcab1-7016-485d-b45d-a91378d34a8f.png)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon

[2022-07-16 08:39] tagliala commented on #19190
Hi!

Thanks for being part of the Font Awesome Community.

This is a duplicate of #17404, please add a 👍🏼 to that request

[2022-07-16 08:39] #19190 closed, assigned to nobody

[2022-07-16 13:29] tnir opened #19191 "Bug: SVG code of free icons on fontawesome.com includes Pro license"
### Bug description

"Copy SVG code" feature from https://fontawesome.com/icons/magnifying-glass?s=solid (Font Awesome 6.1.3) gives us the code with Pro license as below while the icon has been included since 1.0.0 (formerly known as `search` in version 5) and (as far as I understand correctly) is Free in Font Awesome 6.

[code]

### The full code copied from the page
#### Current behavior

[code]

[2022-07-16 14:18] tagliala commented on #19191
Hi!

Thanks for being part of the Font Awesome Community and thanks for reporting this.

This is happening for every icon as far as I can see

[2022-07-16 15:23] tnir commented on #19191
@tagliala Thanks. Yes, as you are pointing out, I guess this happens to every Free icon of 1900+ while I did not check it.

So I think you need to visit https://github.com/FortAwesome/Font-Awesome/blob/b452a2c086a5e3f319df61b1ce1db7d8e1ad2b7c/js-packages/%40fortawesome/fontawesome-free/svgs/solid/magnifying-glass.svg to get a SVG code with the precise license, like I did.

[2022-07-16 16:02] tagliala commented on #19191
Yes, please use this workaround in the meanwhile

There is also an `/svgs` folder in the main repo: https://github.com/FortAwesome/Font-Awesome/blob/6.1.1/svgs/solid/magnifying-glass.svg

[2022-07-16 18:08] tnir commented on #19191
Thank you! The location you showed was not easily found just with GitHub search. 😍

[2022-07-16 21:33] futandrew commented on #16395
I am having the same problem. I think this is because of my server provider's problem.
`curl: (7) Failed to connect to api.fontawesome.com port 443: Connection refused`

However, is there a way I can bypass this and use my own API and or kit on the server instead? Thanks.

[2022-07-16 22:21] mlwilkerson commented on #16395
@futandrew no, this plugin requires connection to the Font Awesome API server to retrieve metadata about available icons and releases. It also uses the API server for icon search, and for discovering your kits and their configurations if you connect your Font Awesome account with an API token. If your webhost server configuration is such that it cannot connect to the Font Awesome API server, and y

[2022-07-16 22:21] #16395 closed

[2022-07-17 04:24] kuchaguangjie opened #19192 "Bug: error when: import faTrash from '@fortawesome/free-solid-svg-icons'"
### Bug description

Import:
[code]
or

[code]

When compile by `vite build`, get error.

Error log:
[code]

### Reproducible test case

_No response_

### Screenshots

_No response_

### Font Awesome version

v6.1.1

### Serving

Kit

### Implementation

CSS

### Browser and Operating System

- Chrome Version 102.0.5005.115 (Official Build) (64-bit)

### Web bug report checklist

- [ ] I have inc

[2022-07-17 04:37] davidkastner commented on #541
Hoping to see this soon!

[2022-07-17 09:19] tagliala commented on #19186
Hi!

Thanks for being part of the Font Awesome Community.

As we pay attention to internationalization, this is an interesting request

Is the reference correct? The mentioned issue is about adobe flash

[2022-07-17 09:29] tagliala commented on #19175
Hi!

Thanks for being part of the Font Awesome Community.

This request is either a duplicate of #11394 (please add a 👍 reaction to that request, if it is the case) or already addressed as [head-side-goggles](https://fontawesome.com/icons/head-side-goggles?s=solid)

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new on

[2022-07-17 09:29] #19175 closed, assigned to nobody

[2022-07-17 09:29] tagliala commented on #19176
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #14484, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-07-17 09:29] #19176 closed, assigned to nobody

[2022-07-17 09:36] tagliala commented on #19172
Hi!

Thanks for being part of the Font Awesome Community.

I'm pretty confident that this is a duplicate, but at the moment I'm not able to find the original  one

Partial duplicate of #10440

[2022-07-17 10:14] tagliala commented on #19106
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/157/

There are also other stacking options with Font Awesome Pro: https://jsfiddle.net/tag

[2022-07-17 15:38] tagliala commented on #19178
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/160/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.c

[2022-07-17 15:39] tagliala commented on #19099
Hi!

Thanks for being part of the Font Awesome Community.

Please fill out our [new icon request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+) and provide examples for the two requested icons

Closing here, but feel free to comment if I've missed something

[2022-07-17 15:39] #19099 closed, assigned to nobody

[2022-07-17 15:40] tagliala commented on #19077
Hi!

Thanks for being part of the Font Awesome Community.

Quoting from our [new icon request template](https://github.com/FortAwesome/Font-Awesome/issues/new?title=Icon%20request:%20icon-name&template=icon-request.md):

Sorry, requests for icon sets are not allowed by our contributing guidelines.

Feel free to open individual requests for the icons you want to request. Please make sure to provide

[2022-07-17 15:40] #19077 closed, assigned to nobody

[2022-07-17 15:40] #19071 closed, assigned to nobody

[2022-07-17 15:41] tagliala commented on #19006
No feedback, closing here but feel free to comment

[2022-07-17 15:41] #19006 closed, assigned to nobody

[2022-07-17 15:42] tagliala commented on #18927
No feedback, closing here

[2022-07-17 15:42] #18927 closed, assigned to nobody

[2022-07-17 15:53] emilyuhde commented on #19186
Sorry, that’s the wrong ticket number, not sure what happened there! The request I meant to list was for an alphabetical ordered list which would then require an RTL version if added, similar to this one.

https://github.com/FortAwesome/Font-Awesome/issues/11547

[2022-07-17 16:55] LolloDev5123 commented on #4317
+1

[2022-07-17 23:07] Stephcraft opened #19193 "Bug: Defining icons from strings in React works, but there is always the 'Could not find icon' error message"
### Bug description

When you do this for example:
[code]
and I even add every icon to the font awesome react `library` object. I've tried two different ways, same outcome:
[code]
[code]

The icons do display, but the error message is still present:
[code]

### Reproducible test case

_No response_

### Screenshots

_No response_

### Font Awesome version

v6.0.0

### Serving

Other (as specified

[2022-07-17 23:41] mikestopcontinues commented on #16439
This is becoming a bigger impediment as time goes on. Any movement?

[2022-07-18 10:28] LupusVII commented on #831
+1

[2022-07-18 10:41] sandermarechal opened #19194 "Bug: NPM EINTEGRITY during package install"
### Bug description

We have a FontAwesome PRO plan. I am trying to install FontAwesome Pro using NPM. It works fine on our dev machines, but
not in our CI/CD environment (gitlab). I get the following error:

[code]

The hash `sha512-ApO...` is the hash of the fontawesome-pro 5.15.4 package that
I installed in my dev environment. I have no idea where the `sha512-z4P...` hash
is coming from.

NPM i

[2022-07-18 10:43] sandermarechal commented on #19194
Also, I have tried contacting PRO support at the hello@ e-mail address multiple times over the last few weeks, but I have never received any reply or acknowledgement. Not even an automated confirmation.

[2022-07-18 11:27] likon416 commented on #18844
@mimitch2 yeah tried that but it doesn't work for me...

[2022-07-18 13:29] jonriec opened #19195 "Bug: duotone album-collection broken in safari"
### Bug description

album-collection is misaligned.
usage: fad fa-album-collection fa-fw

Installed using NPM (@fortawesome/fontawesome-pro)

### Reproducible test case

https://fontawesome.com/search?q=album-collection&s=brands%2Cduotone

### Screenshots

![image](https://user-images.githubusercontent.com/38163554/179520750-9bfe145a-3be7-4b31-ace8-69d8c89b0a1f.png)
![image](https://user-images.g

[2022-07-18 13:40] tagliala commented on #19195
Confirmed, thanks

[2022-07-18 13:45] danielswiatek commented on #19195
I got the same on macOS Catalina 10.15.4. with Safari 13.1

[2022-07-18 13:53] tagliala commented on #19194
Thanks for the heads-up, will escalate

[2022-07-18 14:23] 1-0-1 opened #19196 "Icon request: square-half-stroke & square-half-stroke-diagonal"
### Use case

As a developer I want some way to show that there is a mixture of available values in a group.  If all values are available I can use the solid square.  If no values are selected I can use the empty square.  If there are a mix, I would like a "half-stroke" square to use similar to the "circle-half-stroke".  Since the circle I can rotate to 45deg, there would need to also be a diagona

[2022-07-18 15:34] robmadole commented on #16439
How is this a bigger impediment? Has something changed?

[2022-07-18 15:40] robmadole commented on #19194
@sandermarechal we'll have to get sensitive information from you in order to continue. Stuff that you don't want to post in a public Github issue.

So let's figure out why we aren't getting your emails into Helpscout. Can you send me the email address that you used to email `hello@fontawesome.com` to rob at fontawesome.com?

[2022-07-18 16:06] mikestopcontinues commented on #16439
@robmadole I keep hitting on compatibility issues that require workarounds.

The most recent one was that I don't bundle `@fortawesome` packages in a lib that depends on them (and I shouldn't), however when referencing that library from another package for some `vitest` tests, the code breaks. I was forced to explicitly include `@fortawesome` elements in the library bundle.

It's difficult to say

[2022-07-18 16:25] ljharb commented on #16439
Precisely zero tools expect `.es.js` - all of them expect `.js` with type module, or `.mjs` always, to mean ESM - because that's what node does, and node's decision *defines* what's correct for the node ecosystem.

[2022-07-18 23:46] winzig commented on #13032
Ignore my comment from a few minutes ago, the icons that were not working in FA6 had an fa-sm style attached to them. Without that, it's working! Perhaps this is still considered a bug, but at least I know why it wasn't fully working.

Looks like the issue here is the `font-size` style on the fa-sm, fa-lg, etc classes. Not sure if that means it's still a Safari bug, or what. We'll need to figure o

[2022-07-19 07:10] sandermarechal commented on #19194
Yes. I sent the e-mails from sander (at) prezent.nl. Our pro support account is registered at projectmanagement (at) prezent.nl

[2022-07-19 07:12] sandermarechal commented on #19194
I previously sent e-mails on 29-06-2022 at 10:46 CET and 13-07-2022 at 11:36 CET

[2022-07-19 07:15] tagliala commented on #13032
Hi,

This is a reproducible test case without Font Awesome: https://jsfiddle.net/tagliala/f1Ljqk5b/3/

[2022-07-19 08:18] babakfp opened #19197 "Icon request: `user-without-bottom-line`"
### Use case

I don't like the current user icon because it looks old:
https://fontawesome.com/icons/user?s=light

### Example image

https://www.flaticon.com/free-icon-font/user_3917688

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or matched pair (Ex: `loc

[2022-07-19 16:25] likon416 commented on #18844
@robmadole how it's going with the fix? any release soon? it really blocks my android build

[2022-07-19 16:26] ashenthiwanka99 commented on #17402
This work for  me thanks

[2022-07-19 16:37] robmadole commented on #18844
The fix is done, we just haven't released it yet. I'm hoping to get to the 6.1.2 release next week.

[2022-07-19 16:48] loursbourg commented on #18844
For some reason, this happens only on macOS. It works fine on Windows.

[2022-07-19 17:03] loursbourg commented on #18844
@likon416
For now, downgrade to the following versions as a workaround until the proper fix gets merged. (may vary depending on whether you have the pro/free version)
[code]

[2022-07-19 17:04] likon416 commented on #18844
@loursbourg I don't want to do it as the naming of icons is different in v5. Would need to change them all.

[2022-07-19 17:05] mimitch2 commented on #18844
To be clear, this is only working for me in dev/local mode, and each time I run yarn install, I need to add this line back in. I'm not at the point where I am building it for real, in which case I'm sure this would not work.

[2022-07-19 21:05] aethior commented on #19168
Duplicate or related to #17574.
Regards.

cc/ @tagliala

[2022-07-19 21:05] aethior commented on #19061
Duplicate of #10594.
Regards.

cc/ @tagliala

[2022-07-19 21:21] aethior commented on #19185
Hi,

`gingerbread-man` was added in v5.6.0 as a `PRO` icon.
Check https://fontawesome.com/icons/gingerbread-man

Regards.

cc/ @tagliala

[2022-07-19 21:27] p-himik commented on #11614
Seems like #10184 is also a duplicate, albeit with a wider scope.

[2022-07-20 07:11] #19185 closed, assigned to nobody

[2022-07-20 07:11] #19061 closed, assigned to nobody

[2022-07-20 07:13] #19168 closed, assigned to nobody

[2022-07-20 07:16] aethior commented on #10594
Also known as `pet bowl` _(synonym to optimize future searches)_.

[2022-07-20 08:41] joachimjacob opened #19198 "New icon request: fa-van-cargo"
Hi,

Thanks for the awesome library!

We use <i class="fa-solid fa-van-shuttle"></i>  (see https://fontawesome.com/icons/van-shuttle?s=solid)

We are in need of a similar icon: a van without windows in the back. I provided an example in attach.

Would mind considering creating a derived icon? I propose to call it **fa-van-cargo**.

![afbeelding](https://user-images.githubusercontent.com/1138051/17

[2022-07-20 11:03] richardhedges opened #19199 "Bug: The requested module does not provide an export named 'faSausage'"
### Bug description

When attempting to import `faSausage` from `@fortawesome/free-solid-svg-icons`, the following error is produced:

**The requested module '/node_modules/.vite/deps/@fortawesome_free-solid-svg-icons.js?v=3db64a08' does not provide an export named 'faSausage'**

I have checked the `@fortawesome/free-solid-svg-icons` file and can confirm `faSausage` is omitted.

### Reproducible t

[2022-07-20 11:24] tagliala commented on #19199
Hi!

Thanks for being part of the Font Awesome Community.

I think this is expected

`fa-sausage` is a Pro icon and should be limited to the Pro set

Ref: https://fontawesome.com/icons/sausage?s=solid

Closing here, but feel free to comment and provide more information if I didn't get this request

[2022-07-20 11:24] #19199 closed, assigned to nobody

[2022-07-20 16:20] Pukimaa opened #19200 "Brand request: Ikea"
### Description

I am using a notes taking app which uses FontAwesome for it's Icons. I want one to label my "Ikea" folder which includes products I want from Ikea. It's a pretty big brand so it definetly should be included!

### Official website

https://ikea.com

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the req

[2022-07-20 16:20] Pukimaa opened #19201 "Brand request: Ikea"
### Description

I am using a notes taking app which uses FontAwesome for it's Icons. I want one to label my "Ikea" folder which includes products I want from Ikea. It's a pretty big brand so it definetly should be included!

### Official website

https://ikea.com

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the req

[2022-07-20 16:42] tagliala commented on #19201
Duplicate of #19200

[2022-07-20 16:42] #19201 closed, assigned to nobody

[2022-07-20 21:37] jottone commented on #6293
So this dates back to 2015, and there is obviously people wanting it, as there have been multiple threads and many users gave it a thumbs up. Are you guys going to add a couple of grill icons or what???

[2022-07-20 21:57] sensibleworld commented on #6293
We are indeed. They're actually (bb)queued up for our next release.

[2022-07-20 22:50] jottone commented on #6293
Its funny. I have done the same search sooo many times, looking for a fontawesome grill icon, and have always end up here, but have never commented on the post. I am so glad fontawesome finally decided to join the cookout...

[2022-07-21 04:35] RakenduR commented on #8942
+1

[2022-07-21 05:41] zvtoth commented on #541
+1, please.

[2022-07-21 09:07] Pukimaa commented on #19201
Probably a bug that it opened twice

[2022-07-21 09:09] Pukimaa commented on #19198
That looks nice! I would love that as it gives more customization. I have a van myself with windows (because it's a camper now) but without windows definetly exist (and my van had no windows at the beginning too). I am totally with you in this addition!

[2022-07-21 09:11] Pukimaa commented on #19197
I like your variant more but I would say it's probably a design choice. However adding it as an additional icon would make sense and I would like to see that too.

[2022-07-21 09:13] Pukimaa commented on #19196
That would be nice to see. Some people maybe have a more square-ish look instead of a cicular one so it would make sense to use a square there too.

[2022-07-21 10:29] jmb05 commented on #12990
+1

[2022-07-21 10:58] babakfp commented on #19197
Adding new variants (instead of replacing the current user icons with a bottomless version) will be expensive. I don't think FontAwesome will take that road🤷‍♂️.

I find a few user icons that don't have the bottom line:
- https://fontawesome.com/icons/book-user?s=thin
- https://fontawesome.com/icons/address-book?s=thin
- https://fontawesome.com/icons/id-badge?s=thin
- https://fontawesome.com/icons

[2022-07-21 17:04] ven commented on #13773
Any updates? This is dearly needed!

[2022-07-21 21:27] Iridium-again commented on #17644
Storefront theme is mainly working really well. But all 3 handheld footer bar icons disappear in Safari only.
When viewed on an iPhone, the Handheld footer bar icons are all visible in Opera, Vivaldi, Firefox, Chrome.
But in Safari they turn into tiny blank rectangles, with no indication to site visitors as to what they are for, unless the visitor happens to tap on one of them, then a little expla

[2022-07-21 22:38] Pukimaa commented on #19197
Why would it be *expensive*? I mean the fact that other icons dont have that line makes sense to just replace the current icon instead of adding a new one. But some people might like that bottom line so having an option open would be nice too.

[2022-07-22 07:16] babakfp commented on #19197
I meant maintaining them.

[2022-07-22 09:57] Pukimaa commented on #19197
In those icons there would not be much to maintain really. And if one icon changes then it shouldn't be that hard to change one more too.

[2022-07-22 10:05] babakfp commented on #19197
Cool👍

[2022-07-22 11:22] msays2000 opened #19202 "Brand request: oracle-object-storage"
### Use case

[Rclone documentation](https://github.com/rclone/rclone/blob/master/CONTRIBUTING.md) needs an icon for storage providers, oracle object storage is a new backend storage addition

### Example image

![image](https://user-images.githubusercontent.com/7993290/180428945-473a96a6-c075-42a7-8cc7-b693122e7705.png)

![image](https://user-images.githubusercontent.com/7993290/180429576-8c59535

[2022-07-22 11:34] tagliala commented on #19202
Hi!

Thanks for being part of the Font Awesome Community.

Could you please clarify is this is a brand, and, if it is not, how Oracle is related to this icon?

[2022-07-22 12:26] msays2000 commented on #19202
yes this is a brand, oracle object storage is provided by oracle cloud infrastructure :
https://docs.oracle.com/en-us/iaas/Content/Object/Concepts/objectstorageoverview.htm

if you are interested in including Oracle icons. Please consider to upload them from here:
https://docs.oracle.com/en-us/iaas/Content/General/Reference/graphicsfordiagrams.htm
https://docs.oracle.com/en-us/iaas/Content/Resourc

[2022-07-22 12:33] tagliala commented on #19202
I will change this request to a brand request

[2022-07-22 19:55] gonzonieto opened #19203 "Typo in Accessibility docs page"
Just reporting that in the first paragraph of the [Auto-Accessibility with Kits section on the Accessibility page](https://fontawesome.com/docs/web/dig-deeper/accessibility#auto-accessibility-with-kits), the word "accessibility" is misspelled as "accessiblity":
<img width="1080" alt="Screen Shot 2022-07-22 at 3 54 44 PM" src="https://user-images.githubusercontent.com/5186441/180517624-7bc6f96d-2ac

[2022-07-22 20:24] tagliala commented on #19203
Hi!

Thanks for being part of the Font Awesome Community and thanks for reporting this.

I can confirm and there are different typos

- 1 occurrence of `accessiblity`
- 4 occurrences of `accessiblility`

[2022-07-22 20:50] itsRealMarshall opened #19204 "Brand request: replit"
### Description

_No response_

### Official website

https://replit.com

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existing issues](https://github.com/FortAwesome/Font-Awesome/issues) and to the best of my knowledge this is not a duplicate
- [X] I have [understo

[2022-07-22 21:07] itsRealMarshall opened #19205 "Brand request: fiverr"
### Description

_No response_

### Official website

https://www.fiverr.com/

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existing issues](https://github.com/FortAwesome/Font-Awesome/issues) and to the best of my knowledge this is not a duplicate
- [X] I have [und

[2022-07-23 00:24] akScript commented on #12769
+1

[2022-07-23 09:02] tagliala commented on #19205
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #5970 , please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-07-23 09:02] #19205 closed, assigned to nobody

[2022-07-23 09:02] tagliala commented on #19204
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #14758 , please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/n

[2022-07-23 09:02] #19204 closed, assigned to nobody

[2022-07-23 09:11] tagliala opened #19206 "Bug: Google pay is now Wallet (but not the old wallet) - waiting for a link to an official single color logo"
### Bug description

Opening this to anticipate new requests and provide context

Google is now rolling out google wallet to replace google pay

The new google wallet icon is not the same as [the old one](https://fontawesome.com/icons/google-wallet?s=brands
), kept in the set for historical reasons

As far as I can see, the new icon does not play well with single color, so an official single color

[2022-07-23 11:33] complabs28 commented on #18827
Forgot to close issue 😜. Closing now.

[2022-07-23 11:33] #18827 closed, assigned to nobody

[2022-07-23 15:46] harbolaez commented on #18844
Any eta, when could the fix go out live @robmadole ? Thanks!

[2022-07-23 15:50] dannyloxavier commented on #14220
+1

[2022-07-23 22:53] itsRealMarshall opened #19207 "Brand request: throne gifts"
### Description

_No response_

### Official website

https://thronegifts.com

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existing issues](https://github.com/FortAwesome/Font-Awesome/issues) and to the best of my knowledge this is not a duplicate
- [X] I have [und

[2022-07-24 03:12] tyteen4a03 commented on #16156
This really should be on the Docs page.

[2022-07-24 07:17] tagliala commented on #16156
I can confirm

[code]

Also works on yarn 3.2

[2022-07-24 08:54] lonelil opened #19208 "Brand request: hey.com"
### Description

_No response_

### Official website

https://www.hey.com/

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existing issues](https://github.com/FortAwesome/Font-Awesome/issues) and to the best of my knowledge this is not a duplicate
- [X] I have [unders

[2022-07-24 10:25] likon416 commented on #18844
I'm waiting for this as well as it blocks my Android release. If everything is ready why you guys will just not release it? come on :)

[2022-07-24 19:09] Zeigfreid opened #19209 "react native fontawesome 5 assembleRelease bundleReleaseJsAndAssets"
assembleRelease crashes on windows, bundleReleaseJsAndAssets enters an eternal loop and windows stops responding after some minutes, I uninstalled everything, when fontawesome is installed, this issue happens

[will attempt to release memory](https://i.stack.imgur.com/Q0Zxx.jpg)

I followed this [tutorial](https://fontawesome.com/docs/web/use-with/react-native)

react-native 0.69.2
node version 16

[2022-07-25 05:49] aethior commented on #17574
Also known as `gas bottle` and `gas cylinder`  _(synonyms to optimize future searches)_.

[2022-07-25 05:52] aethior commented on #17574
@tagliala `energy (category)` label for this request?

[2022-07-25 05:52] aethior commented on #15032
@tagliala `energy (category)` label for this request?

[2022-07-25 07:59] sandermarechal commented on #19194
@robmadole I sent you an email on 20 july at 17:49 CEST. Did you recieve it? Or is there a problem sending mail from us to all fontawesome.com addresses? Below is the delivery line from out company maillogs (I munged your e-mail address):

[code]

[2022-07-25 08:11] ajithDCKAP commented on #15289
+1

[2022-07-25 10:36] aethior commented on #1698
cc/ @tagliala

[2022-07-25 10:45] aethior commented on #1433
GovDelivery was adquired by Granicus. After the merge, their social profiles were removed ([twitter](https://twitter.com/GovDelivery) and [facebook](https://www.facebook.com/govdelivery/)).

cc/ @tagliala

[2022-07-25 10:57] #1698 closed

[2022-07-25 10:58] #1433 closed

[2022-07-25 10:59] vadimpopa commented on #18662
We've decided not to upgrade to v6 cause of this. We will upgrade only if/when search terms will be added back.

[2022-07-25 11:13] aethior commented on #4570
cc/ @tagliala

[2022-07-25 11:25] aethior commented on #5487
cc/ @tagliala

[2022-07-25 11:34] aethior commented on #5769
cc/ @tagliala

[2022-07-25 11:51] aethior commented on #10479
cc/ @tagliala

[2022-07-25 11:59] #10479 closed

[2022-07-25 11:59] #5769 closed

[2022-07-25 11:59] #5487 closed

[2022-07-25 12:00] #4570 closed

[2022-07-25 12:05] aethior commented on #14444
`hockeycircles.com` has moved to `sportsa.com` (check the link redirection).

cc/ @tagliala

[2022-07-25 12:19] #14444 closed

[2022-07-25 13:55] robmadole commented on #19194
@sandermarechal the email was flagged as Spam by Google. I see it now. I just checked Helpscout for emails from you and none are making it through.

I've marked message from you as "Not Spam". So I'll follow up with a reply to your email from there.

[2022-07-25 16:08] aethior commented on #6106
Seene was adquired by Snapchat in 2016 ([source](https://techcrunch.com/2016/06/03/snapchat-secretly-acquires-seene-a-computer-vision-startup-that-lets-mobile-users-make-3d-selfies/)). The app is not avaible on Google Play ([link](https://play.google.com/store/apps/details?id=com.obviousengine.seene.android.core)).

cc/ @tagliala

[2022-07-25 16:16] #6106 closed

[2022-07-25 16:16] aethior commented on #6858
`evisionupdates.info` domain is currently down and twitter profile ([link](https://twitter.com/RevisionUpdates)) has no activity since 2016.

cc/ @tagliala

[2022-07-25 16:25] aethior commented on #7841
Today is the last day of Blab. We’re shutting down the website and app, and focusing 100% on our new project. ([source](https://shaanvp.medium.com/blab-is-dead-long-live-blab-d2f72449ddb8))

cc/ @tagliala

[2022-07-25 16:27] #7841 closed

[2022-07-25 16:27] #6858 closed

[2022-07-25 21:14] SentientStone commented on #16569
👍

[2022-07-25 21:15] SentientStone commented on #16569
Would love for this icon to be added, the only social media icon missing for our Website at the moment.  👍

[2022-07-26 05:32] ahmadraza348 commented on #15780
waste

[2022-07-26 06:49] #15780 closed

[2022-07-26 10:23] intgr opened #19211 "Bug: Missing changelog for version 6.1.2"
### Bug description

The GitHub release 6.1.2 at https://github.com/FortAwesome/Font-Awesome/releases/tag/6.1.2 points users to read changelog at https://fontawesome.com/docs/changelog/

The latter changelog however has not been updated and still shows 6.1.1 as the latest release.

### Reproducible test case

_No response_

### Screenshots

_No response_

### Font Awesome version

v6.1.2

### Serv

[2022-07-26 11:05] tagliala commented on #19211
Hi!

Thanks for being part of the Font Awesome Community and thanks for reporting this.

Usually the documentation is updated some hours after the, so this is not optimal but expected

[2022-07-26 13:39] laznic opened #19212 "Bug: Import.macro only accepts hardcoded strings"
### Bug description

The current import.macro implementation doesn't accept object properties as values due to it using [`t.isStringLiteral`](https://github.com/FortAwesome/Font-Awesome/blob/65f4bdb5025759ba25cd3432568de288b6a67527/js-packages/%40fortawesome/fontawesome-svg-core/import.macro.js#L82) to check that the value is in correct format. This is because object properties are `MemberExpressi

[2022-07-26 13:42] tagliala commented on #19212
@mlwilkerson could you please take a look?

[2022-07-26 17:30] lynchem opened #19213 "Bug: observeMutations broken in @fortawesome/fontawesome-svg-core 1.3.0-beta2"
### Bug description

We've been using FA5 with svg-core 1.2.36 without any issue and today wanted to upgrade to FA6 and saw that our icons no longer update when we switch the class in the `<i>` elements at runtime.
We're using MeteorJS v2.5.8 and Blaze

Our setup of FA is pretty straightforward.
[code]
This has worked fine until now but something introduced in 1.3.0-beta2 broke the observer. If we

[2022-07-26 19:13] vasc0x commented on #6225
+1

[2022-07-26 19:53] millertn commented on #1580
gotta leave a +1, keep the dino dream alive

[2022-07-26 21:14] My1 opened #19214 "Icon Request: spinner-alt (FA4 version)"
### Use case

basically a different style of spinner which isnt having a missing circle but rather circles of different sizes.

### Example image

https://fontawesome.com/v4/icon/spinner

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or matched pair (Ex: `loc

[2022-07-26 22:07] viniciusdeliz commented on #17644
I can confirm that this happening with sass versions `1.50.1` and `1.54.0`. With valuable information provided by @tagliala, I've also tested and confirmed that the issue doesn't happen with sass `1.10.3`.

I have tried inserting `@charset "UTF-8"` with webpack BannerPlugin at the beginning of the compiled CSS but that also haven't worked (meta charset was already in-place in the HTML). Apparently

[2022-07-26 23:25] wolfspyre opened #19215 "Icon request: PygmyGoat Hoof (GoatHoof, Hoof, PygmtGoat ¯\_(ツ)_/¯ )"
### Use case

Use case

Its a hoof print. it could also be stacked behind other icons to add horns :)

Icon request checklist

  ✔️  The title starts with "Icon request: " and is followed by the requested icon name
  ✔️  This icon does not represent a brand
  ✔️  This is a single icon or matched pair (Ex: lock / unlock)
  ✔️ The request is for a concrete object,  ✔️  I've included an example image

[2022-07-27 06:18] likon416 commented on #18844
After the update, my build pass the point when it was hanging, but still, all takes more than 45 min to build and expo is cancelling the build as it exceeds the time limit. Normally the build is 15 min, so I think there is still some problem. Do others have the same? Can you guys now do build for android using expo eas build?

[2022-07-27 06:32] Arjan-Zuidema commented on #18844
@likon416 Are you using [explicit imports](https://fontawesome.com/docs/web/use-with/react-native#_1-explicit-import)? That could also be the problem of your slow build when not used correctly.

[2022-07-27 06:48] tagliala commented on #19211
The changelog is available now

[2022-07-27 06:48] #19211 closed, assigned to nobody

[2022-07-27 07:31] likon416 commented on #18844
@Arjan-Zuidema no, I'm using normal strings

[2022-07-27 12:53] crimsonvspurple opened #19216 "Feature request: Add Official Flutter Support"
### Is your feature request related to a problem?

N/A

### Feature description

Please consider adding official support for [Flutter](https://flutter.dev/).

### Alternatives

Alternatively, consider contributing to https://pub.dev/packages/font_awesome_flutter
Duetone (best feature of FA) is missing. Also, using pro icons is a hassle.

### Additional context

You may also help with this issue: h

[2022-07-27 14:37] DrOverbuild commented on #18844
Yeah @likon416 from my testing it seems these warnings are unrelated to the long release build times, which are actually related to the bundler's tree shaking process.

Since you are using normal strings, I'd check where you're building your [library](https://fontawesome.com/docs/web/use-with/react-native#_2-build-a-library), and make sure that the imports are deep imports there.

[2022-07-27 14:42] likon416 commented on #18844
@DrOverbuild thanks I will try that. I'm building using expo and it's not showing what is the error or on what it has stuck.

[2022-07-27 15:15] niaskywalk commented on #9496
This icon is essentially two capital Bs together, which I currently do with Stacking. PLEASE make a single icon.

[2022-07-27 15:47] sensibleworld commented on #6293
Here they are!

https://fontawesome.com/icons/grill?s=solid
https://fontawesome.com/icons/grill-hot?s=solid
https://fontawesome.com/icons/grill-fire?s=solid

[2022-07-27 15:47] #6293 closed

[2022-07-27 17:03] tuxboy-international commented on #11602
I have needed this icon on several local business WP websites for clients. It's been a request for almost 5 years now; let's get it added!

[2022-07-27 20:44] jottone commented on #6293
Well, I like them... Thanks for following through on this one.

On Wed, Jul 27, 2022, 11:47 AM Jory Raphael ***@***.***>
wrote:

[2022-07-27 22:17] bkahl commented on #12609
Hey guys, seems like the proxy site is down and causing our build to fail. Any ideas
<img width="1137" alt="Screen Shot 2022-07-27 at 5 52 48 PM" src="https://user-images.githubusercontent.com/682453/181382168-3ba30a45-47ce-41f1-a18d-6d6e95a65d73.png">
?

[2022-07-27 23:21] calwarhurst commented on #2280
+1

[2022-07-28 11:46] Shashank-Bhatt1 commented on #17481
Hi all, I was also getting the strange scrollbar and after debugging for more than 5 hours, i was able to found this `sr-only` class.
As of now i have added position relative above the `sr-only` parent.
Can anyone please suggest what is the proposed solution for this?

[2022-07-28 12:43] BenCant commented on #11088
+1

[2022-07-28 12:45] NicMeadows commented on #11088
+1

[2022-07-28 12:47] aethior commented on #1390
@tagliala `devices-hardware (category)` label for this request?

[2022-07-28 12:48] Emptty0 commented on #17600
any updates?

[2022-07-28 12:55] aethior commented on #1390
cc/ @tagliala

[2022-07-28 12:58] #1390 closed

[2022-07-28 12:59] tagliala commented on #17600
You may be interested in taking a look at our [Brands Leaderboard](https://fontawesome.com/community/leaderboard/brands) and [Request FAQs](https://fontawesome.com/support#i-want-an-icon-to-be-added-to-font-awesome)

[2022-07-28 13:00] aethior commented on #7656
@tagliala `coding (category)` label for this request?

[2022-07-28 13:48] robmadole commented on #12609
Hi @bkahl. These are normally very short-lived errors with Cloudsmith. If you are still experiencing problems we'd prefer you send us an email to hello@fontawesome.com and we'll get it worked out.

[2022-07-28 13:58] robmadole commented on #18844
All, we've released 6.1.2 which includes a fix for this. Please let me know after you upgrade if that fixes things up.

[2022-07-28 14:20] DrOverbuild commented on #18844
Hi @robmadole, the warnings are resolved, at least in our project. Thank you for getting the release out and letting us know about the fix!

[2022-07-28 14:21] mimitch2 commented on #18844
Working great for me.

[2022-07-28 14:22] likon416 commented on #18844
@robmadole the projects are past the point where it hung before although the build is super long, I don't really know if that's fonts problem or not yet.

[2022-07-28 15:50] aethior commented on #17004
Press and Streamer kits _(icons, logos, backgrounds,...)_ available on: https://lichess.org/about

[2022-07-28 15:50] KA11I opened #19217 "Brand request: Fiverr"

[2022-07-28 15:52] aethior commented on #19217
Hi @KA11I,

This request is duplicate of #5970.
Please add a 👍 reaction to that request.

Regards.

cc/ @tagliala

[2022-07-28 15:57] aethior commented on #17864
https://coding.garden/

[2022-07-28 16:07] robmadole commented on #16439
All we are going to focus the conversation about this in the PR https://github.com/FortAwesome/Font-Awesome/pull/19041

[2022-07-28 16:08] robmadole commented on #18075
All we are going to focus the conversation about this in the PR https://github.com/FortAwesome/Font-Awesome/pull/19041

[2022-07-28 16:09] robmadole commented on #18677
All we are going to focus the conversation about `type: "module"` in the PR https://github.com/FortAwesome/Font-Awesome/pull/19041

[2022-07-28 16:16] aethior commented on #9369
@tagliala check here please.

[2022-07-28 16:33] #18237 closed

[2022-07-28 16:58] robmadole commented on #18068
This has been deployed. I'm going to close the ticket and we can re-open if needed.

[2022-07-28 18:11] robmadole commented on #17402
Our Kits service now supports access control headers for OPTIONS requests.

[2022-07-28 18:12] #17402 closed

[2022-07-28 19:23] Patriv06 opened #19218 "Icon Request: fa-cobol y fa-ruby"
Hi!
I will be very greatfull if you can bring me an icoon for "cobol"  and an other for "ruby", I need them fon my curriculum, in the same type and color as fab fa-java.
If you do it, how I can get notice?

[2022-07-28 19:28] tagliala commented on #19218
Hi!

Thanks for being part of the Font Awesome Community.

Ruby is a duplicate of #13553, please add a 👍 reaction to that request.

As per cobol, please fill out our [new brand request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=brand+icon&template=001_brand_request.yml&title=Brand+request%3A+)

Closing here

[2022-07-28 19:28] #19218 closed, assigned to nobody

[2022-07-28 19:40] #19217 closed, assigned to nobody

[2022-07-28 19:40] #9369 closed

[2022-07-28 21:44] robmadole commented on #18844
@likon416 can you take a look and make sure you are importing icons like we describe here. We call them "deep imports"?

https://fontawesome.com/v6/docs/web/use-with/react-native#same-icon-different-styles

[2022-07-28 22:47] glitch4347 opened #19219 "Icon request: icon-open-source"
Today we associate open source with github, but is it right? Is it actually the same? Maybe we can develop an icon for open source code or repository. It even not always git.

[2022-07-29 06:31] likon416 commented on #18844
@robmadole thanks for getting back to me. I'm not importing it icon by icon, I think it's not dynamic and specifying every single icon is a bit too much.
I'm doing general library.add(far, fas);

But I can try to specify single icons I'm using and try it that will help, but in the end that shouldn't be a solution.
I will try that and let you know.
Hard to read from android build logs what causes t

[2022-07-29 08:28] NickNiebling commented on #11088
~1.300 new icons later (in multiple styles - compared to v.5) and we still don't have a "json file" icon.

There are a lot of file icons suited for export/integration - and the only missing file format I can think of (that is used "everywhere") is json.

Look at what's already there:
![image](https://user-images.githubusercontent.com/11060565/181715514-cc34cd47-718d-4498-97d1-f31c9e2abb57.png) ![i

[2022-07-29 08:36] NickNiebling commented on #11088
Stack Overflow also [shows a clear trend](https://insights.stackoverflow.com/trends?tags=json%2Cxml%2Ccsv%2Csoap%2Cgrpc) - JSON is very popular:
![image](https://user-images.githubusercontent.com/11060565/181719349-86132322-d82b-447e-a9eb-728b5ac77e18.png)

[2022-07-29 08:52] cceuroform commented on #11088
+1

[2022-07-29 09:54] pedrolamas commented on #18663
I've now managed to fix this in my site, apparently now a `viewBox` is necessary on the `svg` element, once I added that in, everything worked fine with the latest versions!

Changes here:

https://github.com/pedrolamas/pedrolamas.com/commit/344f7e65339f4a33d69f7d1429251e51c0217ca8#diff-918eae342714b1d57ffcd0fba2da67b8dd051f811bdc97027a033d1e6459289cR15

Running here:

https://www.pedrolamas.com

[2022-07-29 22:07] robmadole commented on #18835
This fix is now released in 6.1.2. Give it a go everyone and let us know if you still have problems.

[2022-07-29 22:07] #18835 closed, assigned to talbs

[2022-07-30 11:25] istiak101 opened #19220 "Bug: BDT currency incorrectly being in pro pack"
### Bug description

Almost all the currency icons are in Free version but BDT is in Pro version. Is this intended or a bug?

https://fontawesome.com/icons/indian-rupee-sign?s=solid
https://fontawesome.com/icons/dollar-sign?s=solid
https://fontawesome.com/icons/euro-sign?s=solid
https://fontawesome.com/icons/lira-sign?s=solid
https://fontawesome.com/icons/baht-sign?s=solid

### Reproducible test c

[2022-07-30 12:08] devravimori opened #19221 "Bug: Main site pagination displaying incorrect page number"
### Bug description

I was searching font awesome icon for my project and in fontawesome.com site I have found that pagination displaying incorrect and repetitive page number [check this page](https://fontawesome.com/search?c=buildings), for better understanding check the screenshot attached, It happens when you select category it has only three pages ( Select anyone from this branding, coding, Sh

[2022-07-30 12:15] tagliala commented on #19220
Hi!

Thanks for being part of the Font Awesome Community and thanks for reporting this.

I think this is a bug

Let's confirm with @sensibleworld

[2022-07-30 12:16] tagliala commented on #19221
Hi!

Thanks for reporting this

I can replicate, it does look a minor issue, let's ask @robmadole the effort to fix  this

[2022-07-30 22:04] aethior commented on #19221
Also related with the pagination: currently it is not possible to click in the last page number (eg. the `3` number in the attached image in the first post). I think it is an interesting usability improvement.

[2022-07-30 22:33] vishnu-indusekharan commented on #6149
+1

[2022-07-30 23:27] yukisho commented on #4659
+1 eight years later

[2022-07-31 06:39] tushar0907 commented on #13084
Hii, can someone explain me the meaning of this icon-balance or justice icon showing in my github repo?

[2022-07-31 08:21] tagliala commented on #13084
Hi, If I've got this question correctly, it is an icon that indicates the software license

Anyway, GitHub icons are unrelated to Font Awesome

[2022-07-31 12:54] esviza opened #19222 "Feature request: be able to add *.localhost to kits for local development subdomains"
### Is your feature request related to a problem?

I have several sites on my local environment, but I'm using "subdomain.localhost" for each one, where subdomain is each project. For the kits to work, I need to add each rule to the kits settings.

### Feature description

I want to just add *.localhost to the enabled domains list.
OR
No need to adding nothing, since "localhost" is already support

[2022-07-31 14:13] esviza commented on #19222
I've tested adding "*localhost" and is working. That's not so clear on the page.
Anyway, I think is better to add *.localhost so is more strict.
Thanks

[2022-07-31 23:21] kctolli opened #19223 "Brand request: Kofi"
### Description

Kofi Donation service

### Official website

https://ko-fi.com/

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existing issues](https://github.com/FortAwesome/Font-Awesome/issues) and to the best of my knowledge this is not a duplicate
- [X] I have [

[2022-08-01 07:20] tagliala commented on #19223
Hi!

Thanks for being part of the Font Awesome Community.

I think this is a duplicate of #12607

[2022-08-01 09:57] SasaniP opened #19224 "Icon request: ResearchGate icon"

[2022-08-01 09:58] tagliala commented on #19224
Hi!

Thanks for being part of the Font Awesome Community.

Research Gate icon is already available:
- https://fontawesome.com/icons/researchgate?s=brands

If you have troubles in using or upgrading Font Awesome, please check our documentation

https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use

Hope it helps

Closing here, but feel free to comment and provide more informatio

[2022-08-01 09:58] #19224 closed, assigned to nobody

[2022-08-01 12:24] taophp commented on #19106
@tagliala Great ! I wasn't aware of all those transform possibilities ! Thanks for you help.

[2022-08-01 12:25] tagliala commented on #19106
Welcome!

Reopening for tracking purposes, this request is legit

[2022-08-01 18:36] Raphaww commented on #16787
can't believe this icon is not in the 'free' package, it used to be free in previous versions... having to load a complete package of 'solid' versions just to have something similar...

[2022-08-01 18:43] tagliala commented on #16787
Hi, as I mentioned before in https://github.com/FortAwesome/Font-Awesome/issues/16787#issuecomment-643362798, this icon was never been part of the free set.

If I'm missing something, please provide a link where `info-circle` is included in the free set

[2022-08-01 19:53] stephperillo commented on #8942
+1

[2022-08-01 23:25] sensibleworld commented on #19197
Hey folks, this is an interesting idea, and I'll discuss it with the team. As @babakfp mentioned, we'd need to update ALL of the user-based icons in the thin style... possibly in the regular + light styles, as well. Making a variant doesn't make a ton of sense to me, because we'd need to also make a LOT of variants, plus a version that works in the `solid` style. Not impossible, but I don't know t

[2022-08-02 01:25] VirtualHotBar opened #19226 "没有bilibili 图标"
如题建议加入bilibili 图标

[2022-08-02 07:53] tagliala commented on #19226
Hi!

Thanks for being part of the Font Awesome Community.

Bilibili icon is already available:
- https://fontawesome.com/icons/bilibili?s=brands

If you have troubles in using or upgrading Font Awesome, please check our documentation

https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use

Hope it helps

Closing here, but feel free to comment and provide more information if I di

[2022-08-02 07:53] #19226 closed, assigned to nobody

[2022-08-02 11:33] VirtualHotBar commented on #19226
谢谢，我当时用的v4版本，见谅

[2022-08-02 12:36] cohejh opened #19227 "Icon request: C#"
### Use case

This could be used in portfolios for example.

### Example image

![773626-removebg](https://user-images.githubusercontent.com/87650074/182376186-b09b1ac6-7cc7-4ffa-964a-dce0a65db2f6.svg)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or matched

[2022-08-02 12:40] tagliala commented on #19227
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #8365 , please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Icon Leaderboard FAQs](https://fontawesome.com/community/leaderboard/ne

[2022-08-02 12:40] #19227 closed, assigned to nobody

[2022-08-02 13:59] mehmoodakhter5 opened #19228 "Icon request: EasyPaisa"
### Use case

EasyPaisa is Pakistan's largest Fintech application used by many people and many websites have to used to display icons.

### Example image

![image](https://user-images.githubusercontent.com/22871297/182393162-ac26c033-a470-472e-acf9-48362c4e6c94.png)

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon

[2022-08-02 16:15] knoxjeffrey commented on #19078
Hello @tagliala , I just wanted to raise this issue again as I came across when upgrading to `v6.1.2`.  The source of the issue is the same for me:
[code]

I've done some digging into this and turns out the issue eventually lies with `postcss-values-parser`. See this issue https://github.com/shellscape/postcss-values-parser/issues/138. I can confirm that the fix is to swap the order:
[code]

I'm s

[2022-08-02 16:50] lcsrodriguez opened #19229 "Icon request: Open Access"
### Use case

**Open access** (OA) is a set of principles and a range of practices through which research outputs are distributed online, free of access charges or other barriers.

This logotype refers to unrestricted online access to published academic documents.

This icon could be used to denote and highlight OA-categorized documents on future web applications.

### Example image

<p align="cen

[2022-08-02 18:15] tagliala commented on #19078
Hi @knoxjeffrey , that issue is tracked at #18899 and it's planned for 6.2.0 release

[2022-08-02 18:16] tagliala commented on #19223
Closing, feel free to comment if this is not a duplicate

[2022-08-02 18:16] #19223 closed, assigned to nobody

[2022-08-02 19:17] jessycormier commented on #2729
I would like to add to this with another context which is using the [angular-fontawesome](https://github.com/FortAwesome/angular-fontawesome) tool, where simply using the idea of "fa-fw" isn't available in the traditional context.

A use cases where blank my be more useful than maintaining customized CSS codes for particular use cases:

When managing a menu that may or may not have icons for each

[2022-08-02 19:24] knoxjeffrey commented on #19078
Amazing @tagliala , thank you so much for proving this workaround! Sorry I didn't spot the issue being tracked.

[2022-08-02 19:36] alexandrejobin opened #19230 "fa-fw behavior is not the same when loading a page with Web Fonts versus SVG + JS"
### Bug description

Hi everyone!

When using the SVG + JS version, there's always a delay between when the page is shown and when the icons are printed. This is normal. The problem that I have is that it also have a delay for the icons to take the width that they need with the "fa-fw" class compared to the Web Fonts. For exemple, here's the html code that I use:

`<i class="fa-regular fa-user fa-

[2022-08-02 20:28] tagliala commented on #19230
Hi!

Thanks for being part of the Font Awesome Community.

I think this behavior should be expected when using the JS framework, out of the box, with async loading

However, it is possible to load the CSS on its own by disabling `autoAddCss` class and referencing it from a stylesheet tag

Ref: https://fontawesome.com/docs/apis/javascript/configuration#autoaddcss

@robmadole any thoughts?

[2022-08-02 23:23] mtotschnig opened #19231 "Feature request: Localized metadata"
### Is your feature request related to a problem?

I plan to include the free icons into an open source app and allow users to pick icons for categories. Usability would be immensely enhanced, if user were able to search icons by title. Using the icons.yml file, I can provide this functionality for English speaking users, but this would of course be of limited value for the rest of the world.
So m

[2022-08-03 01:04] testaccount00075433 opened #19232 "Bug: Unable to change icon color on click"
### Bug description

Hello,

I have Angular application with fontawesome icons (my own kit). It's impossiblet to change color after icons was rendered.
My boolean variables works well here.

Sample code:

[code]

### Font Awesome version

v.6

### Application and Operating System

- Angular
- HTML
-

### Web bug report checklist

- [ ] I have included a test case because my odds go _way_ up that t

[2022-08-03 05:33] Amermob commented on #10173
is there any update on this?
looking to work for an anime website

[2022-08-03 09:17] jonriec commented on #19195
It looks like the issue got fixed

[2022-08-03 09:17] #19195 closed, assigned to sensibleworld

[2022-08-03 14:19] alexandrejobin commented on #19230
The problem will still occur if you disable `autoAddCss` et add the stylesheet manually in the header. It's because there's no styling on the \<i\> tag so the first thing the user see when the page print is the \<i\> and then the javascript code replace it with the \<svg\> tag. This will create a flicker to the user.

I've made a few demos to see the problem:
* https://jsfiddle.net/6nb0qmpo/3/
On

[2022-08-03 19:09] ctr49 commented on #14220
There are official grey and black logos available from Pixelfed too:
![black](https://raw.githubusercontent.com/pixelfed/pixelfed/dev/public/img/pixelfed-icon-black.svg)
![gray](https://raw.githubusercontent.com/pixelfed/pixelfed/dev/public/img/pixelfed-icon-grey.svg)
![color](https://raw.githubusercontent.com/pixelfed/pixelfed/dev/public/img/pixelfed-icon-color.svg)
see: https://github.com/pixelf

[2022-08-04 04:02] DetectiveDecker opened #19235 "Icon request: icon-bonanza"
Please make an icon for Bonanza!!! It would be a huge help for online sellers! Thank you.
Bonanza website: https://www.bonanza.com/

[2022-08-04 09:14] Byloth opened #19237 "Bug: Invalid syntax in `_list.scss` on line 13"
### Bug description

I'm currently developing a web application using [Nuxt.js 2](https://nuxtjs.org/).

I just updated...
- [`@fortawesome/fontawesome-free`](https://www.npmjs.com/package/@fortawesome/fontawesome-free) package from `^5.15.4` to `^6.1.2`.
- [`sass`](https://www.npmjs.com/package/sass) package from `~1.32.13` to `^1.54.1`.
- [`sass-loader`](https://www.npmjs.com/package/sass-loader

[2022-08-04 09:52] Byloth commented on #19237
https://github.com/sass/sass/issues/3371
https://github.com/webpack-contrib/sass-loader/issues/1081

[2022-08-04 09:53] tagliala commented on #19230
Thanks, I can see the issue now

The problem is that the base classes like `fa-solid` do not have their style, so `display: var(--fa-display, inline-block);` is not applied.

A workaround for `fa-fw` would be:

[code]

Ref: https://jsfiddle.net/tagliala/2rankov6/

but the suggested solution requires that style to be applied to other classes (fa-light, fa-thin, fa-duotone)

@robmadole what do you t

[2022-08-04 09:54] tagliala commented on #19237
Hi, is this the same issue as #18899 ?

[2022-08-04 09:58] Byloth commented on #19237
Hi, @tagliala!

Oh, yes!
I didn't find it while searching... Sorry! 🥺

I'll close this as a duplicate! 👌

[2022-08-04 09:58] #19237 closed, assigned to nobody

[2022-08-04 10:05] tagliala commented on #19237
No problem. This is an issue on a third-side library but we will provide a workaround in 6.2

[2022-08-04 13:05] jdlsc opened #19238 "Bug: Unable to Finish Setting up my FontAwesome Account"
### Bug description

When I click on the "Set Up Your Account" link in the email sent to me after purchasing licenses, I get a message that the Link Isn't Valid so I'm unable to manage my team's licenses.

I've tried this link on both Chrome and Edge.

### Reproducible test case

_No response_

### Screenshots

![image](https://user-images.githubusercontent.com/110611561/182853770-794cd957-8477-4a

[2022-08-04 13:47] Pukimaa commented on #19197
Ok Updating seems fine then.

[2022-08-04 14:40] avcoder opened #19239 "Icon update: fa-question"
Hello Font Awesome

Is it possible for you to thicken the solidness of 'fa-question'.
Currently even with 'fas' applied, the question mark still looks too thin.

![image](https://user-images.githubusercontent.com/7874705/182875269-aceafa4d-ed5a-4945-a0f8-cf9fbef4ddd1.png)

[2022-08-04 17:21] timEulitz opened #19240 "Feature request: Allow copying of Font Awesome HTML classes on website"
### Is your feature request related to a problem?

Hey, the latest redesign of the Font Awesome website has made it impossible to just copy the Font Awesome classes that we need. Previously this was always possible but now the website only offers certain HTML snippets with an "i" class that are rarely relevant for our use-case. We are also not able to select and manually copy these classes anymore

[2022-08-04 20:03] sensibleworld commented on #19239
The issue is that the question mark thickness is now consistent with other "line-based" icons like `bars` `arrow`, etc. I could could see making a thicker variant, though.

For your use-case, though, would `circle-question` work?

[2022-08-04 20:09] tagliala commented on #19239
@sensibleworld it is also consistent with `I`, `1`, `!`, and other(s)

[2022-08-04 20:18] sensibleworld commented on #19239
@tagliala Yup. That's primarily why we made the change. But I can see a use case for thicker icons. Not to replace the current versions, but in addition to them. Kind of like the below:

<img width="911" alt="CleanShot 2022-08-04 at 16 15 29@2x" src="https://user-images.githubusercontent.com/529604/182944796-d86ae363-5be0-42d9-89ba-7263d78608c9.png">

[2022-08-04 20:27] ccorneliusHsv commented on #18844
@robmadole I **believe** I am importing all icons with deep imports..but I am getting some crazy long build times on Github Actions builds with updating to the latest. Over an hour for Android and over 3 hours for iOS. All of my imports are below as well as the packages I am using. Am I missing something??

    "@fortawesome/fontawesome-svg-core": "^6.1.2",
    "@fortawesome/free-brands-svg-icons"

[2022-08-04 20:30] robmadole commented on #18844
@ccorneliusHsv it might be this:

[code]

Try this instead:

[code]

[2022-08-05 02:52] alexandrejobin commented on #19230
Your workaround is only good for `fa-fw` class but you will still get the flickering effect on the other classes, for exemple, the `fa-5x` and all the others. My opinion would be that whenever you have the `svg-inline--fa` class, you should also have all the fa-light, fa-regular, fa-duatone, etc with it.

[2022-08-05 07:04] abraovic commented on #11763
+1

[2022-08-05 11:24] timvlek opened #19241 "Icon request: Codeacademy"
https://www.iconfinder.com/icons/4691345/codecademy_icon

[2022-08-05 11:44] tagliala commented on #19241
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #3320, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons)

[2022-08-05 11:44] #19241 closed, assigned to nobody

[2022-08-05 11:53] consideredcreative opened #19242 "Icon request: nintendo-switch"
For game developers, publishers and content creators to use to promote titles on this console.
SVG from Wikimedia Commons: https://commons.wikimedia.org/wiki/File:Nintendo_Switch_Logo_%28without_text%29.svg

![Nintendo_Switch_Logo_(without_text)](https://user-images.githubusercontent.com/25511867/183071992-73d8c841-b2fd-43f7-bfc8-727c56a924e3.svg)

[2022-08-05 12:40] tagliala commented on #19242
Sorry, this is not possible

https://github.com/FortAwesome/Font-Awesome/blob/5.x/UPGRADING.md#582-to-590

[2022-08-05 12:40] #19242 closed, assigned to nobody

[2022-08-05 14:17] ccorneliusHsv commented on #18844
@robmadole That did not fix the issue. Should I start a new issue to capture this? Any other ideas?

[2022-08-05 15:26] deepu105 opened #19243 "Bug: NPM install fails on windows due to post-install script from fontawesome-common-types"
### Bug description

When installing on windows, NPM install fails with the below error

[code]

### Reproducible test case

none since its an NPM install issue

### Screenshots

_No response_

### Font Awesome version

6.1.2

### Serving

Other (as specified in the bug description)

### Implementation

SVG+JS

### Browser and Operating System

Windows

### Web bug report checklist

- [X] I have i

[2022-08-05 15:26] qh-huang commented on #14021
+1

[2022-08-05 15:38] manattweb commented on #4084
+1 more construction equipment is needed.

[2022-08-05 15:42] manattweb opened #19244 "Icon request: cargo trailer - open/flatbed"
Wanting something like a landscape/cargo trailer. Double axle with low rails and a tongue. No top or cover.

[2022-08-05 16:08] jamesbiederbeck commented on #14021
![image](https://user-images.githubusercontent.com/643037/183117412-f9b014fe-8015-4ee7-aabf-2896f336c8ed.png)

[2022-08-05 17:35] tagliala commented on #19243
Hi,

I think this issue is the same as #18803, and the fix is planned for 6.2.0

Could you please confirm?

[2022-08-05 17:38] tagliala commented on #18571
I would close this in favor of #18803, which has more details and it is also planned for 6.2 release

Please comment if this is a different issue

[2022-08-05 17:38] #18571 closed

[2022-08-05 18:05] tagliala commented on #19244
Hi!

Is this request about one of the following icons?

- https://fontawesome.com/icons/truck-ramp?s=solid
- https://fontawesome.com/icons/truck-ramp-box?s=solid
- https://fontawesome.com/icons/truck-ramp-couch?s=solid

If it isn't, please open a new request by filling out our [new icon request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000

[2022-08-05 18:05] #19244 closed, assigned to nobody

[2022-08-05 18:33] manattweb opened #19245 "Icon request: cargo trailer"
### Use case

Used to depict trailers that are used to haul in the open air. These trailers are used from anything to moving one's house to picking up a load of landscaping mulch.

The current [trailer](https://fontawesome.com/icons/trailer) icon doesn't look like a trailer to me. It looks like a camper with weird stripes.

### Example image

![Trailer](https://user-images.githubusercontent.com/34

[2022-08-05 18:44] manattweb commented on #19245
![Trailer2](https://user-images.githubusercontent.com/3402707/183141615-c45c107f-4055-465b-abbe-2c624cc82a1c.svg)

Update: wheels not solid

[2022-08-05 18:46] manattweb commented on #19245
![Trailer-Duotone](https://user-images.githubusercontent.com/3402707/183141872-b4dc1896-49eb-4819-88b7-0af956b812f5.svg)

Duotone?

[2022-08-05 18:47] tagliala commented on #19245
Thanks for opening a new request

Could you please also clarify why the current trailer icon does not fit the use case?

https://fontawesome.com/icons/trailer?s=solid

Also, please notice that icons should fit a square-ish grid (20x16), and the above one's aspect ratio does not play well

Ref: https://fontawesome.com/v5/docs/web/use-kits/icon-design-guidelines

[2022-08-05 18:48] manattweb commented on #19245
Fine - close it then.

[2022-08-05 18:52] tagliala commented on #19245
Apologies, does it mean that `fa-trailer` is ok for this use case?

[2022-08-05 18:54] manattweb commented on #19245
No, it doesn't. That doesn't look like a trailer to me. It looks like a camper with weird stripes. It's clear though that the idea isn't going to get any traction

[2022-08-05 18:59] tagliala commented on #19245
Got it

That was not my intention

I'm reopening for tracking purposes and we can also get feedback or different design ideas from the community

[2022-08-07 07:21] sarwanthapa opened #19247 "Icon request: Tiktok Icon"
### Use case

Hello,
Greeting!!!
I found that the icon pack is missing icon of tiktok or I might not able to find it. Can someone guide me?

### Example image

_No response_

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or matched pair (Ex: `lock` / `unlock`

[2022-08-07 07:29] tagliala commented on #19247
Hi!

Thanks for being part of the Font Awesome Community.

TikTok icon has been added to Font Awesome in version 5.13.1:
- https://fontawesome.com/icons/tiktok?style=brands

If you have troubles in using or upgrading Font Awesome, please check our documentation

https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use

Hope it helps

Closing here, but feel free to comment and prov

[2022-08-07 07:29] #19247 closed, assigned to nobody

[2022-08-07 07:35] sarwanthapa commented on #19247
Thank-Q for feedback
I found that I am using an old version (v 5.4). Is there any possibility that I can use the icon in that version?

[2022-08-07 07:39] tagliala commented on #19247
Any reason why you can't update to the latest 5.x version?

If you are using SVG+JS Framework, it is easy: https://github.com/FortAwesome/Font-Awesome/wiki/Customize-Font-Awesome

[2022-08-07 07:56] sarwanthapa commented on #19247
Looks like there are no other options. I will update.
Thanks For help

[2022-08-07 15:11] louiealmeda opened #19248 "Icon request: user-laptop"
person using a computer

[2022-08-07 18:19] silasgcf commented on #18662
The search terms are very useful for our application. Please consider coming back with this resource.

[2022-08-07 18:43] tagliala commented on #19248
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/fuabr6x8/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.com/docs/web/s

[2022-08-08 09:15] ArmanPixel82 opened #19249 "Bug: I can't find free icons"
### Bug description

I can find the free icon on "fontawesome.com/search" also I checked that it wasn't pro icon but I can't find it in the NuGet package. I have installed "FontAwesome.Sharp" and "FontAwesome.Sharp.pro" and the free icon that I can't find it is "Bars"

### Font Awesome version

v6.1.1

### Application and Operating System

- Visual Studio 2019
- Windows 10

### Web bug report chec

[2022-08-08 09:35] ArmanPixel82 commented on #19249
Sorry guys, If you click on a icon in "fontawesome.com" you can see a green name under the icon picture, that's the name of the icon in NuGet package :)

[2022-08-08 09:35] #19249 closed, assigned to nobody

[2022-08-08 17:07] ghost commented on #4352
+1

[2022-08-09 01:40] mackreese opened #19250 "Icon request: itch-io + epic games"
would be nice to have itch.io and epic games icons to match the square-steam icon

[2022-08-09 06:27] tagliala commented on #19250
Hi!

Thanks for being part of the Font Awesome Community.

itch-io icon has been added to FontAwesome in version 5.8.0:
- https://fontawesome.com/icons/itch-io?s=brands

If you have troubles in using or upgrading Font Awesome, please check our documentation

https://fontawesome.com/docs/web/add-icons/how-to

epic games is a duplicate of #13724, please add a 👍 reaction to that request.

Please make

[2022-08-09 06:27] #19250 closed, assigned to nobody

[2022-08-09 11:18] Tostis commented on #18803
I've the same error due to Docker Desktop that changes the default wsl distro.
The command
`
bash -c node attribution.js
`
doesn't work.
If you call bash from dos prompt it says
`
An error occurred mounting one of your file systems. Please run 'dmesg' for more details.
`
So I listed the wsl distros
`wsl --list
Windows Subsystem for Linux Distributions:
docker-desktop-data (Default)
docker-desktop

[2022-08-09 12:26] #18954 closed, assigned to nobody

[2022-08-09 17:10] #4467 closed

[2022-08-09 17:10] sensibleworld commented on #16532
https://fontawesome.com/icons/mixcloud?s=brands

[2022-08-09 17:10] #16532 closed

[2022-08-09 17:11] sensibleworld commented on #18537
https://fontawesome.com/icons/fedora?s=brands

[2022-08-09 17:11] #18537 closed

[2022-08-09 17:12] sensibleworld commented on #16492
Does this work? https://fontawesome.com/icons/heart-circle-plus?s=solid

Or do you need a version that has a "+" embedded in the heart itself?

[2022-08-09 17:13] sensibleworld commented on #18481
https://fontawesome.com/icons/meta?s=brands

[2022-08-09 17:13] #18481 closed

[2022-08-09 17:13] sensibleworld commented on #16024
https://fontawesome.com/icons/cc-amex?s=brands

[2022-08-09 17:13] #16024 closed

[2022-08-09 17:14] sensibleworld commented on #19015
https://fontawesome.com/icons/gitlab?s=brands
https://fontawesome.com/icons/square-gitlab?s=brands

[2022-08-09 17:14] #19015 closed, assigned to sensibleworld

[2022-08-09 17:15] sensibleworld commented on #18982
This has been fixed!

[2022-08-09 17:15] #18982 closed, assigned to sensibleworld

[2022-08-09 17:15] sensibleworld commented on #18970
These have all been updated and should be more consistent now.

[2022-08-09 17:15] #18970 closed, assigned to sensibleworld

[2022-08-09 17:16] sensibleworld commented on #18952
These have been updated to be more consistent.

[2022-08-09 17:16] #18952 closed, assigned to sensibleworld

[2022-08-09 17:16] sensibleworld commented on #18975
These should be more consistent now.

[2022-08-09 17:16] #18975 closed, assigned to sensibleworld

[2022-08-09 17:33] jdvivar commented on #4467
8 years! Thanks @sensibleworld

[2022-08-09 20:29] superware opened #19251 "Icon request: SUV/off-road vehicle"

[2022-08-09 21:35] tagliala commented on #19251
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #6509, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons)

[2022-08-09 21:35] #19251 closed, assigned to nobody

[2022-08-10 03:44] gopikrishnan7 commented on #12677
It's working

[2022-08-10 04:53] bubba-123 opened #19252 "Outlook"
https://github.com/bubba-123

[2022-08-10 07:05] tagliala commented on #19252
Hi!

Thanks for being part of the Font Awesome Community.

Please fill out our [new icon request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+)

Closing here, but feel free to comment if I've missed something

[2022-08-10 07:05] #19252 closed, assigned to nobody

[2022-08-10 16:31] MythicManiac opened #19253 "Docs: Confusing wording in React usage guide"
There seems to be a minor mistake in the React usage info docs phrasing here: https://fontawesome.com/v5/docs/web/use-with/react

Specifically, I'm assuming:

should be:

![image](https://user-images.githubusercontent.com/8225825/183964047-44eafd7b-8c69-47c3-b0d7-4fdc2cdc62bd.png)

[2022-08-10 16:45] tagliala commented on #19253
Hi!

Thanks for being part of the Font Awesome Community and thanks for reporting this.

Let's assign @talbs

[2022-08-10 18:13] shawnphoffman opened #19254 "Feature request: Add support for custom uploaded duotone icons in kits"
### Is your feature request related to a problem?

Nope.

### Feature description

I would like to be able to upload custom duotone icons for kits. Ideally, we could upload an svg with solid shapes and something like 40% opacity shapes and have it render accordingly.

### Alternatives

I've tried achieving this by uploading 2 distinct custom icons, stacking them, and adjusting them each accordingl

[2022-08-10 18:26] shaktiDDM commented on #5139
+1

[2022-08-10 19:33] deepu105 commented on #19243
The issue we faced seems to be due ro presence of an npmrc file that forced using bash. So I'll close this

[2022-08-10 19:33] #19243 closed, assigned to nobody

[2022-08-11 04:28] prncoprs commented on #541
+1, google scholar

[2022-08-11 06:35] Dulux-Oz opened #19255 "Icon request: Ceph"
Hi All,

How about an icon for Ceph

https://ceph.io/en/logos/

Cheers

Dulux-Oz

[2022-08-11 06:37] Dulux-Oz opened #19256 "Icon request: Open vSwitch (OVS)"
Hi All,

How about an icon for Open vSwitch

https://github.com/openvswitch

Cheers

Dulux-Oz

[2022-08-11 06:39] Dulux-Oz opened #19257 "Icon request: oVirt"
Hi All,

How about an icon for oVirt

https://people.redhat.com/glesage/oVirt/logo/icon/

Cheers

Dulux-Oz

[2022-08-11 06:41] Dulux-Oz opened #19258 "Icon request: Gluster"
Hi All,

How about an icon for Gluster

https://www.gluster.org/wp-content/uploads/2016/03/gluster-ant.png

Cheers

Dulux-Oz

[2022-08-11 06:42] Dulux-Oz opened #19259 "Icon request: Rocky Linux"
Hi All,

How about an icon for Rocky Linux

https://seeklogo.com/vector-logo/409448/rocky-linux

Cheers

Dulux-Oz

[2022-08-11 06:45] Dulux-Oz opened #19260 "Icon request: HAProxy"
Hi All,

How about an icon for Ceph

https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/yroykjzjfi8lmeam58xp

Cheers

Dulux-Oz

[2022-08-11 07:45] tagliala commented on #19238
Sorry for the late reply, please get in touch with the Pro support Team at hello@fontawesome.com

Please feel free to comment if you don't receive an answer in 2 business days

[2022-08-11 10:16] ravenblackhart opened #19261 "Brand request: Unreal Engine"
### Description

To be used to indicate projects / games made with unreal engine

### Official website

https://nypost-com.cdn.ampproject.org/c/s/nypost.com/2022/08/05/malcolm-gladwell-slams-working-from-home/amp/

### Brand guidelines

_No response_

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existi

[2022-08-11 13:03] DerMicki opened #19262 "Icon not shown in JSF"
I can't explain myself, why this is happening.

pom.xml:
<dependency>
<groupId>org.webjars</groupId>
<artifactId>font-awesome</artifactId>
<version>6.1.2</version>
</dependency>

.xhtml:
<h:outputStylesheet library="webjars" name="font-awesome/6.1.2/css/fontawesome-jsf.css" />
<i class="fa-solid fa-house-chimney">XXXXXXXXXXX</i>

But the icon was not shown, only the unicode.
Would you please be so

[2022-08-11 15:02] irontitan76 opened #19263 "Icon request: brackets-slash"
There are several websites nowadays incorporating keyboard shortcuts for quicker traversal of the interface, such as a `/` for searching. I am requesting an icon similar to what is below (`[ / ]`) to alleviate the styling needed in code as well as give ample options to users (solid, thin, etc.).

<img width="516" alt="Screen Shot 2022-08-11 at 9 59 59 AM" src="https://user-images.githubusercontent

[2022-08-11 15:29] Tigitaal commented on #9336
+1 that would be very nice

[2022-08-11 15:33] benjamin-Keller commented on #9351
Any updates on this? We'd love to use it as an easter egg on our site!

[2022-08-11 15:37] Oviglo opened #19264 "Icon request: watering-can, watering-can-drip"
### Use case

Hello, I need 2 icons: a watering can  and other one inclined with water drops.

### Example image

https://www.vectorstock.com/royalty-free-vector/watering-can-icon-vector-8346781

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not represent a brand
- [X] This is a single icon or matched pair (

[2022-08-11 19:25] rlueder commented on #17789
@johnbaro I haven't used FontAwesome since, part of the decision to move away was the lack of support, I still think this is a valid request but obviously not a priority for FontAwesome.

[2022-08-11 19:26] #17789 closed

[2022-08-11 23:52] javierjpagan commented on #18423
This Icon would be nice....

[2022-08-12 03:28] istiak101 commented on #19259
Duplicate of https://github.com/FortAwesome/Font-Awesome/issues/19166

[2022-08-12 06:35] tagliala commented on #19259
thanks, searching by "Rocky Linux" does not bring up that result. Will edit #19166's title to improve search

[2022-08-12 06:35] #19259 closed, assigned to nobody

[2022-08-12 07:50] Artemka1806 opened #19265 "Brand request: Boosty"
### Description

_No response_

### Official website

https://boosty.to/

### Brand guidelines

https://boosty.to/app/brand

### Icon request checklist

- [X] The title starts with "Brand request: ", is followed by the requested brand name
- [X] I have [searched for existing issues](https://github.com/FortAwesome/Font-Awesome/issues) and to the best of my knowledge this is not a duplicate
- [X] I

[2022-08-12 08:57] vincenzo-caserta commented on #1906
+1 (I subscribed to Github to ask for it)

[2022-08-12 11:25] chriswilson1982 opened #19266 "Icon request: iv-infusion"
### Use case

An icon representing an intravenous infusion (or “drip”) would complement the existing medical icons. Most other routes of drug administration already have an icon (e.g. prescription-bottle, capsules, syringe, tablets).

The name could be “iv-infusion”, “iv-drip”, “giving-set” or something else, depending on what is thought to have the widest relatability.

### Example image

![D5693

[2022-08-12 12:40] TimFL commented on #18841
Is there no update to this issue yet? Even with a custom debouncer that slows down class changes v6 still locks up (class name is changed in page source but it wont update the visible icon to the new one, tested on v6.1.2). Only way to fix is to rewrite everything to unmount and mount icon elements, which is a pretty tedious workaround.

[2022-08-12 16:59] Zakaria-ouariti commented on #19262
helle

[2022-08-12 17:50] tagliala commented on #19262
Hi!

Thanks for being part of the Font Awesome Community.

I do not recognize this file. Is this related to any of the Font Awesome's official packages?

If it is, which one?

[2022-08-12 21:37] 2-5 opened #19267 "No TypeScript typing declarations for plugins api"
### Bug description

I'm using the plugins API from TypeScript. It works, but TypeScript is showing errors because there are no type definitions. Which also means that there is no IntelliSense.

[code]

### Reproducible test case

_No response_

### Screenshots

_No response_

### Font Awesome version

6.1.2

### Serving

Self-hosted

### Implementation

SVG+JS, SVG Sprites

### Browser and Operat

[2022-08-13 12:35] onlinetushar commented on #17121
Please add google news icon

[2022-08-14 03:32] ghost commented on #12990
100% +1

[2022-08-14 16:58] ailsablair opened #19270 "Icon request: icon-name"
I would like to see an icon pack for vets/vet clinics

[2022-08-14 17:09] tagliala commented on #19270
Hi!

Thanks for being part of the Font Awesome Community.

Quoting from our [new icon request form](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+):

Sorry, requests for icon sets are not allowed by our contributing guidelines.

Feel free to open individual requests for the icons you want to request, having car

[2022-08-14 17:09] #19270 closed, assigned to nobody

[2022-08-14 18:09] JohnMarsing commented on #9413
I would like a set of icons made up of the 22 Hebrew letters including the 5 _sofits_ (ending) letters, and the 4 letters that don't have a _dagesh_ (dot).

Here's a useful page that has more details...
https://myhebrewbiblecore.azurewebsites.net/Hebrew

maybe base if off of the [David Hebrew font](https://docs.microsoft.com/en-us/typography/font-list/david).

Thanks

[2022-08-15 20:54] PrinceOsagie opened #19271 "FONT AWESOME ICONS NOT LOADING ON WEBSITE"
1st: Successfully Added Kit code:  inside my head tag
2nd: Successfully Added my <i tag in my html webpage
font awesome icon did not load on my webpage

[2022-08-15 21:17] ccorneliusHsv opened #19272 "Bug: React Native build time significant build time increase with switch from v5 -> v6"
### Bug description

I believe I am importing all icons with deep imports..but I am getting significant increase in build times on Github Actions builds after updating to the latest version(v6.1.2) from version 5. Increase is over an hour for Android and over 3 hours for iOS. All of my imports are below as well as the packages I am using.

"@fortawesome/fontawesome-svg-core": "^6.1.2",
"@fortaweso

[2022-08-16 07:06] tagliala commented on #19271
Hi!

Thanks for being part of the Font Awesome Community.

Please fill out our [bug report template for web applications](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=bug%2Cneeds-triage&template=100_web_bug_report.yml&title=Bug%3A+)

Closing here, but feel free to comment if I've missed something

[2022-08-16 07:06] #19271 closed, assigned to nobody

[2022-08-16 10:50] #18602 closed, assigned to sensibleworld

[2022-08-16 14:26] jdlsc commented on #19238
I sent requests to hello@fontawesome.com on 8/2/22 and 8/3/22 and received no response.

[2022-08-16 14:31] tagliala commented on #19238
Apologies for that. Let me try to escalate this

[2022-08-16 14:34] sensibleworld commented on #19238
@jdlsc Can you share what email you sent your support requests from (and what email you're using for your account)? That'll help me track down the issue and see both why we haven't been receiving your requests and what the issue may be with the link. Thanks!

[2022-08-16 17:01] Marks12520 commented on #12990
Yes please

[2022-08-17 02:18] VoxelDoesCode opened #19273 "Icon request: keyboard-slash"
### Use case

An icon to pair with keyboard, to rather indicate that your key inputs would be ignored, or your keyboard is not connected or is incompatible. Would be cleanly used as a toggle switch as well to turn on and off key inputs.

Would work well with the other hardware/programming icons, since a lot of them do have a slash variant.

### Example image

![keyboard-slash](https://user-images.

[2022-08-17 08:25] tagliala commented on #19273
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/162/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.c

[2022-08-17 21:13] robmadole commented on #18844
@ccorneliusHsv yes, please, let's start a new issue at https://github.com/FortAwesome/react-native-fontawesome. I think we'll have to have a good reproducible test case to continue. I know that can be challenging for a mobile app. Is this something you can help us create?

[2022-08-17 21:14] #18844 closed, assigned to nobody

[2022-08-17 21:16] EleoXDA commented on #4114
I am confused @tagliala how many years should pass by for this icon to be implemented? This was requested over and over for last 8 years and everytime the new requests was closed saying there is already one. Is it just that there is something personal between FA devs and XDA so that you dont ever think of adding it? If yes, please say so.

[2022-08-18 01:11] flortsch opened #19274 "Feature request: Allow disabling htmlEscape in the toHTML function"
### Is your feature request related to a problem?

I am currently using the JavaScript API of FontAwesome in a static site generator (Eleventy), where I have defined a custom shortcode in Nunjucks for emitting FontAwesome SVGs. The shortcode implementation uses the html attribute of an icon, which is an escaped HTML string. In specific cases, this is problematic and the escaped HTML string does no

[2022-08-18 08:40] aethior commented on #19261
Hi @ravenblackhart,

Duplicate of #11420.
Please add a 👍 reaction to that request.

Regards.

cc/ @tagliala

[2022-08-18 08:41] #19261 closed, assigned to nobody

[2022-08-18 13:02] SebZar opened #19275 "Icon request: gauge-ampere, circle-ampere, circle-bolt-ampere, square-bolt-ampere ..."
### Use case

Hi,
I'm looking for some icons to electical values/units looking awesome:

- Electric current, Ampre
1. gauge with A in small circle
2. circle with A
3. circle-bolt with A in small circle
4. square-bolt with A in small circle

- Electric potential, Volt
1. gauge with V in small circle
2. circle with V
3. circle-bolt with V in small circle
3. square-bolt with V in small circle

- Powe

[2022-08-18 13:16] tagliala commented on #19275
Hi!

Thanks for being part of the Font Awesome Community.

Please fill out our [new icon request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+) or [new brand request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=brand+icon&template=001_brand_request.yml&title=Bran

[2022-08-18 13:17] tagliala commented on #19275
Hi!

Thanks for being part of the Font Awesome Community.

Quoting from our [new icon request form](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+):

Sorry, requests for icon sets are not allowed by our contributing guidelines.

Feel free to open individual requests for the icons you want to request, having car

[2022-08-18 13:17] #19275 closed, assigned to nobody

[2022-08-18 16:35] ccorneliusHsv commented on #18844
@robmadole  I have submitted a new issue https://github.com/FortAwesome/Font-Awesome/issues/19272. Will do what I can to create a reproducible test case..it will be a lower priority as updating this package is not on the critical path. Will update the new issue with info when available. Thanks!

[2022-08-18 19:21] boutzamat commented on #4681
At this point i think we have to realise that this is not going to happen. Very unfortunate

[2022-08-19 12:58] lenamtl opened #19276 "Icon request: v4 life-ring back"
### Use case

Hi,

Can you add the life-ring icon from v4 as an alternative
https://fontawesome.com/v4/icon/life-ring

The new one does not look like a life ring, it look more like a taget.

### Example image

https://fontawesome.com/v4/icon/life-ring

### Icon request checklist

- [X] The title starts with "Icon request: " and is followed by the requested icon name
- [X] This icon does not repres

[2022-08-19 19:40] sensibleworld commented on #19240
Thanks for the feedback! I'll bring this up with the team.

[2022-08-19 19:47] sensibleworld commented on #4963
https://fontawesome.com/icons/ring-diamond?s=solid
https://fontawesome.com/icons/rings-wedding?s=solid

[2022-08-19 19:47] #4963 closed

[2022-08-19 19:51] sensibleworld commented on #6612
We now have this icon: https://fontawesome.com/icons/angle?s=solid

[2022-08-19 19:51] #6612 closed

[2022-08-20 04:51] Vedant-Manjrekar commented on #19232
Fixes #19232

[code]

It should be `(onclick)` instead of `(click)`, syntax error from your side.

[2022-08-20 10:16] karlemilnikka opened #19277 "Feature request: Add versioning to exported subset fonts"
### Is your feature request related to a problem?

_No response_

### Feature description

When we create our custom fonts using the Font Awesome 6 Subsetter app, it would be great if the generated CSS added version parameters to the fonts. That way, it’s easy to update the fonts with new subsets without running into browser caching issues.

### Alternatives

_No response_

### Additional context

[2022-08-20 11:32] aethior commented on #19263
Hi @irontitan76,

This request is a duplicate of #1465.
Please add a 👍 reaction to that request.

Regards.

cc/ @tagliala

[2022-08-20 12:27] nadaworks opened #19278 "Icon request: icon-name"
Hello! I would love to have the magicaVoxel icon "cat-girl" available,
![catgirl](https://user-images.githubusercontent.com/103444407/185746046-005c1fd1-e21b-4395-829e-9cc293f932c9.png)

Happy coding!

[2022-08-20 17:44] yashikabhargava opened #19279 "Bug: Carbon Ad card's text overlaps"
### Bug description
The text of the Carbon Ad card in the categories page overlaps when the website is opened using Mozilla Firefox Browser.

### Link to the page
https://fontawesome.com/icons/categories

### Screenshots
![fa (2)](https://user-images.githubusercontent.com/76060661/185759486-b8c04774-fcab-4cc2-b75e-ddb3ec79e7c3.PNG)

![fa2](https://user-images.githubusercontent.com/76060661/1857594

[2022-08-20 17:44] tagliala commented on #19278
Hi!

Thanks for being part of the Font Awesome Community.

Please fill out our [new icon request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=new+icon&template=000_icon_request.yml&title=Icon+request%3A+) or [new brand request template](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=brand+icon&template=001_brand_request.yml&title=Bran

[2022-08-20 17:44] #19278 closed, assigned to nobody

[2022-08-20 17:47] tagliala commented on #19279
Hi!

Thanks for being part of the Font Awesome Community and thanks for reporting this.

I can also replicate on Chrome macOS, it depends on the paragraph length of the Ad
<img width="201" alt="image" src="https://user-images.githubusercontent.com/556268/185759849-b1901d4d-13e3-4c35-9901-0ca717f1a6c8.png">

[2022-08-20 17:53] yashikabhargava commented on #19279
Yes, that's a possibility.

[2022-08-21 08:09] tagliala commented on #19263
Edited #1465's title to improve search

[2022-08-21 08:09] #19263 closed, assigned to nobody

[2022-08-21 13:16] zatmar commented on #1741
Up

[2022-08-21 22:25] PatrickRose commented on #18678
I was having this issue when letting Dependabot upgrade, because Dependabot upgraded `@fortawesome/free-solid-svg-icons` to 6.1.2 but didn't upgrade `@fortawesome/fontawesome-svg-core` to `6.1.2`

Just including this here in case anyone else has this issue - _hopefully_ it won't be a regular occurrence but it should help if so!

[2022-08-22 06:43] flora-le commented on #12625
The problem still exists til this day. I **can** transform the svg with **rotate**() but there is **no transition working**.

`<svg class="svg-inline--fa fa-angle-right dropdown" data-v-3eca7188="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M64 448c-

[2022-08-22 10:37] nirt04 commented on #17644
Hey guys, we don't use font-awesome but we came across your issue while trying to solve this problem with our own library
so how you realized sass is decoding the Unicodes in build time and causing broken content to the classes

we work around this by importing the CSS icons files directly to js and skipping the sass-loader.

before:
<img width="215" alt="image" src="https://user-images.githubuser

[2022-08-22 11:02] dhairya-eng commented on #19232
change the click button to onclick

[2022-08-22 17:52] Larissa-Cury commented on #6883
+1

[2022-08-22 20:41] PibbzTV opened #19280 "Icon request: Periodic table of the elements"
Hey! Would love icons for each symbol of the elements in the periodic table.

![U](https://user-images.githubusercontent.com/51060651/186015306-d7d7e072-d261-486a-8c91-25a0bde92487.png)

![Li](https://user-images.githubusercontent.com/51060651/186015462-63184531-04b8-43c9-b0f0-c14cad84d690.png)

[2022-08-22 20:49] tagliala commented on #19280
Hi!

Thanks for being part of the Font Awesome Community.

This is actually a request for more than 400 icons and is a duplicate of #9020, labeled with wontfix at the time

I'm going to post a comment there

[2022-08-22 20:49] #19280 closed, assigned to nobody

[2022-08-22 20:51] tagliala commented on #9020
Hi @sensibleworld, this has been requested again in #19280, and at the time I've labeled as wontfix since it was a request for at least 100 icons (now 400+, if we don't count duotone or sharp)

Do you want to keep this open for tracking reasons?

[2022-08-22 20:56] pixiekat commented on #9020
There are a bunch of fonts that offer this same thing here, instead of putting them in FA.

https://www.flaticon.com/free-icons/periodic-elements

https://www.cufonfonts.com/font/periodic-table-of-elements

https://www.onlinewebfonts.com/icon/532467

https://www.myfunstudio.com/font/

[2022-08-23 04:16] istiak101 commented on #19220
Any update on this?

[2022-08-23 06:56] nadaworks opened #19281 "Brand request: magica-voxel"
### Description

Important voxel art editor

This is an idea already in 16px:
![cat-girl-b w](https://user-images.githubusercontent.com/103444407/186091296-c4448d09-1548-402f-a6e8-ee992e79f595.png)

Original logo:
![Screenshot 2022-08-20 at 22 49 09](https://user-images.githubusercontent.com/103444407/186091157-26eac900-5cfd-4877-ac9a-44be9687f327.png)

### Official website

https://ephtracy.githu

[2022-08-23 10:56] leanda opened #19282 "Icon request: alarm-minus"
Would be great to have alarm-minus to toggle with alarm-plus

[2022-08-23 12:00] jdlsc commented on #19238
Any update on this issue?  I am still unable to login and manage my licenses.  If I can’t get this resolved, I am going to have no choice but to dispute the charge on my credit card.

John Lester
803.356.7676 (office)
803.356.4942 (fax)
212 Palmetto Park Blvd.
Lexington, SC  29072
[escription: ***@***.***<http://www.teamia.com/>
For new support issues, please
contact ***@***.******@***.***>

From:

[2022-08-23 12:08] sensibleworld commented on #19238
Hey John! In my message above, I asked if you could share the email address for your account and the one you used (if different) to send the support message. That'll help me track it down in our system. Thanks!

[2022-08-23 12:12] jdlsc commented on #19238
I sent that.  The address used for the purchase is ***@***.******@***.***>.  The support one might show up as ***@***.******@***.***>.  Both to the same mailbox.

John Lester
803.356.7676 (office)
803.356.4942 (fax)
212 Palmetto Park Blvd.
Lexington, SC  29072
[escription: ***@***.***<http://www.teamia.com/>
For new support issues, please
contact ***@***.******@***.***>

From: Jory Raphael ***@***

[2022-08-23 12:19] sensibleworld commented on #19238
Hey John, sorry about that. It looks like Github hides email address (rightly so!), so I can't see them from my end. I was, however, able to track down your account on our end. I'll send you an email directly.

[2022-08-23 12:20] jdlsc commented on #19238
Thanks!

John Lester
803.356.7676 (office)
803.356.4942 (fax)
212 Palmetto Park Blvd.
Lexington, SC  29072
[escription: ***@***.***<http://www.teamia.com/>
For new support issues, please
contact ***@***.******@***.***>

From: Jory Raphael ***@***.***>
Sent: Tuesday, August 23, 2022 8:20 AM
To: FortAwesome/Font-Awesome ***@***.***>
Cc: Lester, John ***@***.***>; Mention ***@***.***>
Subject: Re: [F

[2022-08-23 12:33] #19238 closed, assigned to nobody

[2022-08-23 15:29] LeviSnoot commented on #16573
![fa-logo](https://user-images.githubusercontent.com/13402525/186199303-7e81667e-b9a4-4d9a-b227-1e64fffa3946.svg)
Here's an svg I made

[2022-08-24 13:45] djv-shyfoundry opened #19284 "Icon request: heart-bolt and heart-bolt-lightning"
Would it be possible to get a heart-bolt and a heart-bolt-lightning icon? There's currently the heart-circle-bolt, but it would be nice to have the bolt placed inside of the heart for an AED icon.

![heart-bolt-lightning](https://user-images.githubusercontent.com/7468760/186434079-03a49f36-afed-4ecf-90ea-0b73277405e8.svg)
![heart-bolt](https://user-images.githubusercontent.com/7468760/186434084-eb

[2022-08-24 16:50] tagliala commented on #19284
Hi!

Thanks for being part of the Font Awesome Community.

Your request is legit, but please keep in mind that **in a web application** it is possible to create the requested icon by using power transforms, masking, and layering features of the JS+SVG Framework.

Demo: https://jsfiddle.net/tagliala/bfa6uhse/164/

Ref:

https://fontawesome.com/v6/docs/web/style/power-transform
https://fontawesome.c

[2022-08-24 18:01] aethior commented on #19284
Duplicate or related? #4415

cc/ @tagliala

[2022-08-24 18:17] tagliala commented on #19284
Thanks. Going to considerate this a duplicate of #4415

Ref: https://en.wikipedia.org/wiki/Automated_external_defibrillator

[2022-08-24 18:17] #19284 closed, assigned to nobody

[2022-08-25 04:08] vishnu4 opened #19285 "Issue with @fortawesome/react-fontawesome, dynamic icons, pro license, and jest"
Following the directions here https://fontawesome.com/docs/web/use-with/react/ , i have a package.json with imports like:
"@fortawesome/fontawesome-svg-core": "^6.1.2",
    "@fortawesome/pro-regular-svg-icons": "^6.1.2",
    "@fortawesome/pro-solid-svg-icons": "^6.1.2",
    "@fortawesome/react-fontawesome": "^0.2.0",

, and using dynamic icons described in https://fontawesome.com/docs/web/use-with

[2022-08-25 10:15] vectorjedi commented on #18812
Yes, it still seems to be an issue. I'm using the free "@fortawesome/free-solid-svg-icons" in Vue, and could ot import the faListCheck icon from this Library, it doesn't seem to exist.

[2022-08-25 10:25] tagliala commented on #18812
Hi, I cannot replicate

Demo using Vue 2.0 and latest FA: https://codesandbox.io/s/elated-smoke-iuymr?file=/src/App.vue

I've followed instructions at https://fontawesome.com/docs/web/use-with/vue/add-icons

If you still have issues, please fill out our [bug report template for web applications](https://github.com/FortAwesome/Font-Awesome/issues/new?assignees=&labels=bug%2Cneeds-triage&template=10

[2022-08-25 10:25] #18812 closed, assigned to nobody

[2022-08-25 14:10] kekev2001 opened #19286 "Icon request: fa-bancontact"
is it possble to add this
![image](https://user-images.githubusercontent.com/56051728/186687843-6033aece-5b2f-4f3b-b7f9-f6e0a31f17b5.png)

[2022-08-25 14:12] tagliala commented on #19286
Hi!

Thanks for being part of the Font Awesome Community.

This request is a duplicate of #4817, please add a 👍 reaction to that request.

Please make sure you [search existing requests](https://github.com/FortAwesome/Font-Awesome/search?type=Issues) before opening new ones

You may also be interested in taking a look at our [Requesting Icons FAQs](https://fontawesome.com/support#requesting-icons)

[2022-08-25 14:12] #19286 closed, assigned to nobody

[2022-08-25 14:21] yaaax commented on #19074
Hi there,
The [W3C validator](thttps://validator.w3.org/) also complains :

You should (I think) replace this code by `animation-delay: var(--fa-animation-delay, 0s)`

Initial value is actually 0s.
(see [The animation-delay property](https://drafts.csswg.org/css-animations-1/#animation-delay))

[2022-08-25 14:24] tagliala commented on #19074
@yaaax thanks!

[2022-08-25 14:27] tagliala commented on #19074
So I assume that there is some plugin making a CSS validation on the W3C service and that is triggering the issue.

It was not clear before, @robmadole I think this should be fixed

[2022-08-25 14:29] robmadole commented on #19074
@tagliala agreed. We'll take a look!

[2022-08-25 14:34] ghost opened #19287 "Failed to load resource: https://kit.fontawesome.com/e0b350f5b8.js"
It was working great all this time, but I am getting this error today in PROD and other environments,  Failed to load resource https://kit.fontawesome.com/e0b350f5b8.js

Can someone help me to figure out what's going on?

[2022-08-25 14:35] tagliala commented on #19287
Hi!

Thanks for being part of the Font Awesome Community.

Is this your kit?

[2022-08-25 16:01] tagliala commented on #19097
Sorry closing here

[2022-08-25 16:01] #19097 closed, assigned to nobody

[2022-08-26 00:20] PsuFan opened #19288 "Icon request: baseball-glove"
### Use case

Hi, I need a baseball glove to go along with the baseball, baseball bat! I noticed there's a boxing glove but no baseball glove. Would use this for a Miracle League website, baseball for kids with disabilities.

### Example image

https://flyclipart.com/thumb2/cartoon-baseball-glove-free-download-clip-art-533911.png

### Icon request checklist

- [X] The title starts with "Icon reque